<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDapIRLabel" jhiTranslate="sccmApp.dapIR.home.createOrEditLabel">Create or edit a Dap IR</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dapIR.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dapIR.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapIR.folio" for="field_folio">Folio</label>
            <input type="number" class="form-control" name="folio" id="field_folio"
                [(ngModel)]="dapIR.folio"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapIR.codMon" for="field_codMon">Cod Mon</label>
            <input type="number" class="form-control" name="codMon" id="field_codMon"
                [(ngModel)]="dapIR.codMon"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapIR.fechaPago" for="field_fechaPago">Fecha Pago</label>
            <div class="input-group">
                <input id="field_fechaPago" type="text" class="form-control" name="fechaPago" ngbDatepicker  #fechaPagoDp="ngbDatepicker" [(ngModel)]="dapIR.fechaPago"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaPagoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapIR.intReal" for="field_intReal">Int Real</label>
            <input type="number" class="form-control" name="intReal" id="field_intReal"
                [(ngModel)]="dapIR.intReal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapIR.intRealCal" for="field_intRealCal">Int Real Cal</label>
            <input type="number" class="form-control" name="intRealCal" id="field_intRealCal"
                [(ngModel)]="dapIR.intRealCal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapIR.diferencia" for="field_diferencia">Diferencia</label>
            <input type="number" class="form-control" name="diferencia" id="field_diferencia"
                [(ngModel)]="dapIR.diferencia"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapIR.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <input type="number" class="form-control" name="annoTributa" id="field_annoTributa"
                [(ngModel)]="dapIR.annoTributa"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
