<div>
    <h2>
        <span jhiTranslate="sccmApp.dapIR.home.title">Dap IRS</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <div class="row" *ngIf="annosTributarios">
        <div class="form-group col-lg-3">
            <span class="text-primary-sccm">Seleccione Año Tributario *</span>
            <select class="form-control" #idAnnoSelected>
                <option *ngFor="let anno of annosTributarios;" value="{{anno.id}}">
                    {{anno.annoT}}
                </option>
            </select>
        </div>
        <div class="form-group col-lg-3">
            <span class="text-primary-sccm">Seleccione Tipo Moneda</span>
            <select class="form-control" #selectedCurrencyTypeSel>
                <option value="{{SELECT_BLANK_OPTION}}">{{SELECT_BLANK_OPTION}}</option>
                <option *ngFor="let moneda of tablaMonedas;" value="{{moneda.codMon}}">
                    {{moneda.glosa}}
                </option>
            </select>
        </div>
        <div class="form-group col-lg-3">
            <button style="margin-top: 18px;" class="btn btn-primary" (click)="filterByAnnoTributarioAndCurrency(idAnnoSelected, selectedCurrencyTypeSel)"><span
                class="fab fa-searchengin"></span> <span>Buscar</span></button>
        </div>		
		
        <div class="col-lg-3">
            <button *ngIf="dapIrsFlag" style="margin-top: 18px;" class="btn btn-success float-right jh-create-entity" (click)="generateExcel2()">
                <span class="fas fa-file-excel"></span>
                <span jhiTranslate="entity.action.exportToExcel">Export to Excel</span>
            </button>
        </div>
    </div>
    <div class="table-responsive" *ngIf="dapIrsFlag">
        <table class="table table-striped" id="main-data-table">
            <thead>
            <tr>
                <th><span jhiTranslate="sccmApp.dapIR.folio">Folio</span></th>
                <th><span jhiTranslate="sccmApp.dapIR.codMon">Moneda</span></th>
                <th><span jhiTranslate="sccmApp.dapIR.fechaPago">Fecha Pago</span></th>
                <th><span jhiTranslate="sccmApp.dapIR.intReal">Int Real</span></th>
                <th><span jhiTranslate="sccmApp.dapIR.intRealCal">Int Real Cal</span></th>
                <th><span jhiTranslate="sccmApp.dapIR.diferencia">Diferencia</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dapIR of dapIRS ;trackBy: trackId">
                <td>{{dapIR.folio}}</td>
                <td>{{convertCodMonToStr(dapIR.codMon)}}</td>
                <td>{{dapIR.fechaPago | date:PATTERN_DATE_SHORT}}</td>
                <td>${{dapIR.intReal | number}}</td>
                <td>${{dapIR.intRealCal | number}}</td>
                <td>
                    <span style="width:100%;" ngClass="{{dapIR.diferencia === 0 ? 'badge badge-pill badge-primary': 'badge badge-pill badge-danger' }}">
                        ${{dapIR.diferencia | number}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="dapIrsFlag">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>

    <div class="table-responsive" *ngIf="dapIrsFlagSinData">
        <div class="alert alert-danger alert-dismissible">
            No existen datos para año tributario seleccionado.
        </div>
    </div>
</div>
