
<div *ngIf="dapIR">
    <h2><span jhiTranslate="sccmApp.dapIR.detail.title">Dap IR</span> {{dapIR.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.dapIR.folio">Folio</span></dt>
        <dd>
            <span>{{dapIR.folio}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dapIR.codMon">Cod Mon</span></dt>
        <dd>
            <span>{{dapIR.codMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dapIR.fechaPago">Fecha Pago</span></dt>
        <dd>
            <span>{{dapIR.fechaPago | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dapIR.intReal">Int Real</span></dt>
        <dd>
            <span>{{dapIR.intReal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dapIR.intRealCal">Int Real Cal</span></dt>
        <dd>
            <span>{{dapIR.intRealCal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dapIR.diferencia">Diferencia</span></dt>
        <dd>
            <span>{{dapIR.diferencia}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dapIR.annoTributa">Anno Tributa</span></dt>
        <dd>
            <span>{{dapIR.annoTributa}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'dap-ir/'+ dapIR.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
