<div>
    <h2>Emisión Declaración Jurada - Inversiones 57 Bis</h2>
    <div class="row">
        <div class="form-group col-lg-3">
            <span class="text-primary-sccm">Seleccione Año Tributario</span>
            <select class="form-control" #idSelected>
                <option *ngFor="let anno of annosTributarios;" value="{{anno.id}}">{{anno.annoT}}</option>
            </select>
        </div>
        <div class="form-group col-lg-3">
            <button id='btnSend' style="margin-top: 18px;" class="btn btn-primary" (click)="certificados(idSelected)"><span class="fa fa-play"></span>
                <span>Emitir Declaración Jurada</span></button>
        </div>
    </div>
    <div class="table-responsive" *ngIf="flagResult">
        <div class="{{classType}}">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{resultType}}</strong>{{resultMsg}}
        </div>
    </div>
</div>
