
<div *ngIf="instrumento">
    <h2><span jhiTranslate="sccmApp.instrumento.detail.title">Instrumento</span> {{instrumento.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.instrumento.nombreInstrumento">Nombre Instrumento</span></dt>
        <dd>
            <span>{{instrumento.nombreInstrumento}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.instrumento.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="instrumento.annoTributa">
                <a [routerLink]="['/anno-tributa', instrumento.annoTributa?.id]">{{instrumento.annoTributa?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="sccmApp.instrumento.producto">Producto</span></dt>
        <dd>
            <div *ngIf="instrumento.producto">
                <a [routerLink]="['/producto', instrumento.producto?.id]">{{instrumento.producto?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'instrumento/'+ instrumento.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
