<div>
    <h2>
        <span jhiTranslate="sccmApp.instrumento.home.title">Instrumentos</span>
        <button class="btn btn-primary float-right jh-create-entity create-instrumento" [routerLink]="['/', { outlets: { popup: ['instrumento-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.instrumento.home.createLabel">
            Create new Instrumento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="instrumentos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="sccmApp.instrumento.nombreInstrumento">Nombre Instrumento</span></th>
            <th><span jhiTranslate="sccmApp.instrumento.annoTributa">Anno Tributa</span></th>
            <th><span jhiTranslate="sccmApp.instrumento.producto">Producto</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let instrumento of instrumentos ;trackBy: trackId">
                <td>{{instrumento.nombreInstrumento}}</td>
                <td>
                    <div *ngFor="let anno of annosTributarios">
                        <div *ngIf="instrumento.annoTributa.id === anno.id">
                            {{anno.annoT}}
                        </div>
                    </div>
                </td>
                <td>
                    <div *ngFor="let product of products">
                        <div *ngIf="instrumento.producto.id === product.id">
                            {{product.nombreProducto}}
                        </div>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../instrumento', instrumento.id ]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'instrumento/'+ instrumento.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-secondary btn-sm text-white">
                            <span class="fas fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'instrumento/'+ instrumento.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-trash-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
