<div>
    <h2>
        <span jhiTranslate="sccmApp.euro.home.title">Euros</span>
        <button class="btn btn-primary float-right jh-create-entity create-euro" [routerLink]="['/', { outlets: { popup: ['euro-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.euro.home.createLabel">
            Create new Euro
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="euros">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.euro.fecha">Fecha</span></th>
            <th><span jhiTranslate="sccmApp.euro.valor">Valor</span></th>
            <th><span jhiTranslate="sccmApp.euro.codMon">Cod Mon</span></th>
            <th><span jhiTranslate="sccmApp.euro.annoTributa">Anno Tributa</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let euro of euros ;trackBy: trackId">
                <td><a [routerLink]="['../euro', euro.id ]">{{euro.id}}</a></td>
                <td>{{euro.fecha | date:'mediumDate'}}</td>
                <td>{{euro.valor}}</td>
                <td>{{euro.codMon}}</td>
                <td>
                    <div *ngIf="euro.annoTributa">
                        <a [routerLink]="['../anno-tributa', euro.annoTributa?.id ]" >{{euro.annoTributa?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../euro', euro.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'euro/'+ euro.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'euro/'+ euro.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
