
<div *ngIf="euro">
    <h2><span jhiTranslate="sccmApp.euro.detail.title">Euro</span> {{euro.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.euro.fecha">Fecha</span></dt>
        <dd>
            <span>{{euro.fecha | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.euro.valor">Valor</span></dt>
        <dd>
            <span>{{euro.valor}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.euro.codMon">Cod Mon</span></dt>
        <dd>
            <span>{{euro.codMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.euro.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="euro.annoTributa">
                <a [routerLink]="['/anno-tributa', euro.annoTributa?.id]">{{euro.annoTributa?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'euro/'+ euro.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
