<form name = "editForm" role = "form" novalidate (ngSubmit) = "save()" #editForm = "ngForm">

    <div class = "modal-header">
        
		<h4 class = "modal-title" id = "myAnnoTributaLabel" jhiTranslate = "sccmApp.annoTributa.home.createOrEditLabel"> </h4>
        
		<button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true" (click)="clear()">&times; </button>
		
    </div>
	
    <div class = "modal-body">
	
        <jhi-alert-error> </jhi-alert-error>
        
		<div class = "form-group" [hidden] = "!annoTributa.id">
		
            <label for = "id" jhiTranslate = "global.field.id"> ID </label>
            
			<input type = "text" class = "form-control" id = "id" name = "id" [(ngModel)] = "annoTributa.id" readonly/>
			
        </div>
		
        <div class = "form-group">
		
            <label class = "form-control-label" jhiTranslate = "sccmApp.annoTributa.annoT" for = "field_annoT"> </label>
            
			<input type = "number" min = "2010" max = "2099" required class = "form-control" name = "annoT" id = "field_annoT"
            [(ngModel)] = "annoTributa.annoT"/>
			
        </div>
		
        <div class = "form-group">
		
            <label class = "form-control-label" jhiTranslate = "sccmApp.annoTributa.annoC" for = "field_annoC"> </label>
            
			<input type = "number" min = "2010" max = "2099" required class = "form-control" name = "annoC" id = "field_annoC"
            [(ngModel)] = "annoTributa.annoC"/>
			
        </div>
		
		<div class = "form-group">
		
            <label class = "form-control-label" jhiTranslate = "sccmApp.annoTributa.annoActivo" for = "field_activo"> </label>
        
			<select class = "form-control" name = "annoActivo" [(ngModel)] = "annoTributa.annoActivo" id = "annoActivo" >
                
				<option *ngFor = "let annoActivo of annosActivos;" [ngValue] = "annoActivo"> {{annoActivo}} </option>
				
            </select>
			
        </div>

    </div>
    
	<div class = "modal-footer">
	
        <button type = "button" class = "btn btn-secondary" data-dismiss = "modal" (click) = "clear()">
            
			<span class = "fa fa-ban"> </span>&nbsp;<span jhiTranslate = "entity.action.cancel"> </span>
			
        </button>
        
		<button type = "submit" [disabled] = "editForm.form.invalid || isSaving" class = "btn btn-primary">
            
			<span class = "fa fa-save"> </span>&nbsp;<span jhiTranslate = "entity.action.save"> </span>
			
        </button>
		
    </div>
	
</form>