<div>

    <h2>
        <span jhiTranslate = "sccmApp.annoTributa.home.title"> </span>
		
        <button class = "btn btn-primary float-right jh-create-entity create-anno-tributa" 
		[routerLink] = "['/', { outlets: { popup: ['anno-tributa-new'] } }]">
		
            <span class = "fa fa-plus"> </span>
            
			<span jhiTranslate = "sccmApp.annoTributa.home.createLabel"> </span>
			
        </button>
    </h2>
	
    <jhi-alert> </jhi-alert>
    
	<div class = "row"> </div>
	
    <br/> <div class = "table-responsive" *ngIf = "annoTributas">
	
        <table class = "table table-striped">
		
            <thead>
				
				<tr>
					<th> <span jhiTranslate = "global.field.id"> ID </span> </th>
					<th> <span jhiTranslate = "sccmApp.annoTributa.annoT"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.annoTributa.annoC"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.annoTributa.annoActivo"> </span> </th>
					<th> </th>
				</tr>
				
            </thead>
            
			<tbody>
			
				<tr *ngFor = "let annoTributa of annoTributas ;trackBy: trackId">
					
					<td> <a [routerLink] = "['../anno-tributa', annoTributa.id ]"> {{annoTributa[0]}} </a> </td>
					
					<td> {{annoTributa[1]}} </td>
					<td> {{annoTributa[2]}} </td>
					<td> {{annoTributa[3]}} </td>
					
					<td class = "text-right">
					
						<div class = "btn-group flex-btn-group-container">
						
							<button type = "submit" [routerLink] = "['../anno-tributa', annoTributa.id ]"
							class = "btn btn-primary btn-sm">
								
								<span class = "fa fa-eye"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.view"> View </span>
							
							</button>
							
							<button type = "submit" [routerLink] = "['/', { outlets: { popup: 'anno-tributa/'+ annoTributa[0] + '/edit'} }]"
							replaceUrl = "true" class = "btn btn-secondary btn-sm text-white">
							
								<span class = "fas fa-edit"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.edit"> Edit </span>
							
							</button>
							
							<button type = "submit" [routerLink] = "['/', { outlets: { popup: 'anno-tributa/'+ annoTributa[0] + '/delete'} }]"
							replaceUrl = "true" class = "btn btn-danger btn-sm">
								
								<span class = "fas fa-trash-alt"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.delete"> Delete </span>
								
							</button>
							
						</div>
						
					</td>
					
				</tr>
				
            </tbody>
			
        </table>
		
    </div>
	
</div>