<div *ngIf="annoTributa">
    <h2><span jhiTranslate="sccmApp.annoTributa.detail.title">Anno Tributa</span> {{annoTributa.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.annoTributa.annoT">Anno T</span></dt>
        <dd>
            <span>{{annoTributa.annoT}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.annoTributa.annoC">Anno C</span></dt>
        <dd>
            <span>{{annoTributa.annoC}}</span>
        </dd>
    </dl>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'anno-tributa/'+ annoTributa.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
