<div>
    <div class="row">
        <div class="col-lg-9">
            <h2><span jhiTranslate="sccmApp.cert57B.home.title">Cert 57 BS</span></h2>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-primary float-right jh-create-entity create-cert-57-b" [routerLink]="['/', { outlets: { popup: ['cert-57-b-new'] } }]">
                <span class="fa fa-plus"></span>
                <span jhiTranslate="sccmApp.cert57B.home.createLabel">Create new Cert 57 B</span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-lg-3">
            <span class="text-primary-sccm">Seleccione Año Tributario</span>
            <select class="form-control" #idAnnoSelected>
                <option *ngFor="let anno of annosTributarios;" value="{{anno.id}}">{{anno.annoT}}</option>
            </select>
        </div>
        <div class="form-group col-lg-3">
            <button style="margin-top: 18px;" class="btn btn-primary" (click)="filterByAnooTributario(idAnnoSelected)">
                <span class="fab fa-searchengin"></span> <span>Buscar</span>
            </button>
        </div>
        <div class="col-lg-3">
            &nbsp;
        </div>
        <div class="form-group col-lg-3" *ngIf="cert57Flag">
            <button style="margin-top: 18px;" class="btn btn-success float-right jh-create-entity create-entrada-57-b" (click)="generateExcel()">
                <span class="fas fa-file-excel"></span>
                <span jhiTranslate="entity.action.exportToExcel">Export to Excel</span>
            </button>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <div class="table-responsive" *ngIf="cert57Flag">
        <table class="table table-striped" id="table">
            <thead>
            <tr>
                <th><span jhiTranslate="sccmApp.entrada57b.rutCliente">Rut Cliente</span></th>
                <th><span jhiTranslate="sccmApp.entrada57b.clienteBice">Nombre</span></th>
                <th><span jhiTranslate="sccmApp.cert57B.saldoNetoPer">Saldo Neto Per</span></th>
                <th><span jhiTranslate="sccmApp.cert57B.montoRentabilidad">Monto Rentabilidad</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cert57B of cert57BS ;trackBy: trackId">
                <td>
                    <div *ngFor="let cliente of clientesList">
                        <div *ngIf="cert57B.clienteBice.id === cliente.id">
                            {{cliente.rut}}
                        </div>
                    </div>
                </td>
                <td>
                    <div *ngFor="let cliente of clientesList">
                        <div *ngIf="cert57B.clienteBice.id === cliente.id">
                            {{cliente.nombre}}
                        </div>
                    </div>
                </td>
                <td>${{cert57B.saldoNetoPer | number}}</td>
                <td>${{cert57B.montoRentabilidad | number}}</td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [routerLink]="['../cert-57-b', cert57B.id ]" class="btn btn-primary btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'cert-57-b/'+ cert57B.id + '/edit'} }]" replaceUrl="true"
                                class="btn btn-secondary btn-sm text-white">
                            <span class="fas fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'cert-57-b/'+ cert57B.id + '/delete'} }]" replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-trash-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive" *ngIf="cert57FlagSinData">
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error: </strong> No existen datos para año tributario seleccionado.
        </div>
    </div>
</div>
