<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="myCert57BLabel" jhiTranslate="sccmApp.cert57B.home.createOrEditLabel">Create or edit a Cert 57 B</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cert57B.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cert57B.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cert57B.saldoNetoPer" for="field_saldoNetoPer">Saldo Neto Per</label>
            <input type="number" class="form-control" name="saldoNetoPer" id="field_saldoNetoPer"
                   [(ngModel)]="cert57B.saldoNetoPer" max="10"/>
            <div [hidden]="!(editForm.controls.saldoNetoPer?.dirty && editForm.controls.saldoNetoPer?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.saldoNetoPer?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 10 }">
                    This field cannot be more than 10.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.saldoNetoPer?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cert57B.montoRentabilidad" for="field_montoRentabilidad">Monto Rentabilidad</label>
            <input type="number" class="form-control" name="montoRentabilidad" id="field_montoRentabilidad"
                   [(ngModel)]="cert57B.montoRentabilidad" max="10"/>
            <div [hidden]="!(editForm.controls.montoRentabilidad?.dirty && editForm.controls.montoRentabilidad?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.montoRentabilidad?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 10 }">
                    This field cannot be more than 10.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.montoRentabilidad?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cert57B.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="cert57B.annoTributa">
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === cert57B.annoTributa?.id ? cert57B.annoTributa : annoTributaOption"
                        *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.id}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cert57B.clienteBice" for="field_clienteBice">Cliente Bice</label>
            <select class="form-control" id="field_clienteBice" name="clienteBice" [(ngModel)]="cert57B.clienteBice">
                <option [ngValue]="null"></option>
                <option [ngValue]="clienteBiceOption.id === cert57B.clienteBice?.id ? cert57B.clienteBice : clienteBiceOption"
                        *ngFor="let clienteBiceOption of clientebices; trackBy: trackClienteBiceById">{{clienteBiceOption.id}}
                </option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
