<div *ngIf="cert57B">
    <h2><span jhiTranslate="sccmApp.cert57B.detail.title">Cert 57 B</span> {{cert57B.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.cert57B.saldoNetoPer">Saldo Neto Per</span></dt>
        <dd>
            <span>{{cert57B.saldoNetoPer}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.cert57B.montoRentabilidad">Monto Rentabilidad</span></dt>
        <dd>
            <span>{{cert57B.montoRentabilidad}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.cert57B.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="cert57B.annoTributa">
                <a [routerLink]="['/anno-tributa', cert57B.annoTributa?.id]">{{cert57B.annoTributa?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="sccmApp.cert57B.clienteBice">Cliente Bice</span></dt>
        <dd>
            <div *ngIf="cert57B.clienteBice">
                <a [routerLink]="['/cliente-bice', cert57B.clienteBice?.id]">{{cert57B.clienteBice?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cert-57-b/'+ cert57B.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
