<div>

    <h2>Emisión Certificados - Pago Dividendos</h2>
    
		<div class = "row">
		
            <div class = "form-group col-lg-3">
                
				<span> Seleccione Año Tributario </span>
                
				<select class="form-control" #idAnnoSelected>
				
                    <option *ngFor="let anno of annosTributarios;" value="{{anno.id}}"> {{anno.annoT}} </option>
					
                </select>
				
            </div>
			
            <div class = "form-group col-lg-2">
			
                <button class = "btn btn-primary" style = "margin-top: 18px;" (click) = "filterByAnooTributario(idAnnoSelected)">
                    
					<span class = "fab fa-searchengin"> </span> <span> Buscar </span>
				
				</button>
				
            </div>
			
            <div class = "form-group col-lg-2" *ngIf = "entPagdivsFlag">
                
				<span class = "text-primary-sccm"> Seleccione Tipo Cliente </span>
                
				<div style = "padding-top: 5px;">
                    
					<label class = "radio-inline">
					
                        <input class = "form-control" type = "radio" (click) = "validateAllMdfk()" [(ngModel)] = "tipo" 
						name = "tipo" value = "T" checked> Todos
                    
					</label>
                    
					<label class = "radio-inline" style = "margin-left: 30px;">
					
                        <input class = "form-control" type = "radio" (click) = "validateJustOne()" [(ngModel)] = "tipo" 
						name = "tipo" value = "U"> Uno solo
                    
					</label>
					
                </div>
				
            </div>
			
            <div class = "form-group col-lg-3" *ngIf = "entPagdivsFlag && isJustOne===true">
                
				<span> Seleccione Cliente </span>
                
				<select class = "form-control" [(ngModel)] = "rutSelected">
                    
					<option *ngFor = "let rut of certpagdivs;" value = "{{rut.rutAccionista}}"> {{rut.nombreAccionista}} </option>
					
                </select>
					
            </div>
			
            <div class = "form-group col-lg-2" *ngIf = "entPagdivsFlag">
			    
				<button style = "margin-top: 18px;" (click) = "certificados(idAnnoSelected)" class = "btn btn-primary">
                    
					<i class = "fas fa-play"> </i>&nbsp;Emitir Certificado
					
                </button>
				
            </div>
			
        </div>
		
    </form>
	
    <div class = "" *ngIf = "flagResult">
        
		<div class = "{{classType}}">
            
			<a class = "close" data-dismiss = "alert" aria-label = "close">&times;</a>
			
            <strong> {{resultType}} </strong> {{resultMsg}}
			
        </div>
		
    </div>
	
    <jhi-alert> </jhi-alert>
	

{{lista}}