<div>
    <h2>Emisión Certificados - Inversiones 57 Bis</h2>
    <form>
        <div class="row">
            <div class="form-group col-lg-3">
                <span class="text-primary-sccm">Seleccione Año Tributario</span>
                <select class="form-control" #idAnnoSelected>
                    <option *ngFor="let anno of annosTributarios;" value="{{anno.id}}">
                        {{anno.annoT}}
                    </option>
                </select>
            </div>
            <div class="form-group col-lg-3">
                <button style="margin-top: 18px;" class="btn btn-primary" (click)="filterByAnooTributario(idAnnoSelected)"><span class="fa fa-play"></span>
                    <span>Emitir Certificado</span></button>
            </div>
        </div>
    </form>
    <div class="" *ngIf="flagResult">
        <div class="{{classType}}">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{resultType}}</strong>{{resultMsg}}
        </div>
    </div>
</div>
