<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCliente1890Label" jhiTranslate="sccmApp.cliente1890.home.createOrEditLabel">Create or edit a Cliente 1890</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cliente1890.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cliente1890.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cliente1890.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="cliente1890.nombre"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cliente1890.nacionalidad" for="field_nacionalidad">Nacionalidad</label>
            <input type="text" class="form-control" name="nacionalidad" id="field_nacionalidad"
                [(ngModel)]="cliente1890.nacionalidad"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cliente1890.impto35" for="field_impto35">Impto 35</label>
            <input type="text" class="form-control" name="impto35" id="field_impto35"
                [(ngModel)]="cliente1890.impto35"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cliente1890.direccion" for="field_direccion">Direccion</label>
            <input type="text" class="form-control" name="direccion" id="field_direccion"
                [(ngModel)]="cliente1890.direccion"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cliente1890.comuna" for="field_comuna">Comuna</label>
            <input type="text" class="form-control" name="comuna" id="field_comuna"
                [(ngModel)]="cliente1890.comuna"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cliente1890.ciudad" for="field_ciudad">Ciudad</label>
            <input type="text" class="form-control" name="ciudad" id="field_ciudad"
                [(ngModel)]="cliente1890.ciudad"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
