
<div *ngIf="cliente1890">
    <h2><span jhiTranslate="sccmApp.cliente1890.detail.title">Cliente 1890</span> {{cliente1890.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.cliente1890.nombre">Nombre</span></dt>
        <dd>
            <span>{{cliente1890.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.cliente1890.nacionalidad">Nacionalidad</span></dt>
        <dd>
            <span>{{cliente1890.nacionalidad}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.cliente1890.impto35">Impto 35</span></dt>
        <dd>
            <span>{{cliente1890.impto35}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.cliente1890.direccion">Direccion</span></dt>
        <dd>
            <span>{{cliente1890.direccion}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.cliente1890.comuna">Comuna</span></dt>
        <dd>
            <span>{{cliente1890.comuna}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.cliente1890.ciudad">Ciudad</span></dt>
        <dd>
            <span>{{cliente1890.ciudad}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cliente-1890/'+ cliente1890.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
