<div>
    
	<h2>
        
		<span jhiTranslate="sccmApp.cliente1890.home.title"> Clientes Banco Bice (CIF) </span>
        
		<button class="btn btn-primary float-right jh-create-entity create-cliente-1890" [routerLink]="['/', { outlets: { popup: ['cliente-1890-new'] } }]">
            
			<span class = "fa fa-plus"> </span>
            <span  jhiTranslate="sccmApp.cliente1890.home.createLabel"> Create new Cliente 1890 </span>
			
        </button>
		
    </h2>
	
    <jhi-alert></jhi-alert>
    
	<div class = "row"> </div>
    
	<br/>
    
	<div class = "table-responsive" *ngIf = "cliente1890S">

        <div class = "row">
			
			<div class = "form-group col-lg-3">
			
				<span class = "text-primary-sccm"> Rut </span>
				
				<input type = "text" class = "form-control" [(ngModel)] = "rutFilterValue" placeholder = "Sin díjito verificador. Ej: 76055353" />
				
			</div>
			
			<div class = "form-group col-lg-2">
			
				<button style = "margin-top: 18px;" class = "btn btn-primary" (click) = "filterData()">
					
					<span class = "fab fa-searchengin"> </span> <span> Buscar </span>
				
				</button>
			
			</div>
			
		</div>
		
		<table class = "table table-striped">
            
			<thead>
				
				<tr>
					<th> <span jhiTranslate ="global.field.id"> </span> </th>
					<th> <span jhiTranslate ="sccmApp.cliente1890.nombre"> </span> </th>
					<th> <span jhiTranslate ="sccmApp.cliente1890.nacionalidad"> </span> </th>
					<th> <span jhiTranslate ="sccmApp.cliente1890.impto35"> </span> </th>
					<th> <span jhiTranslate ="sccmApp.cliente1890.direccion"> </span> </th>
					<th> <span jhiTranslate ="sccmApp.cliente1890.comuna"> </span> </th>
					<th> <span jhiTranslate ="sccmApp.cliente1890.ciudad"> </span> </th>
					<th> </th>
				</tr>
				
            </thead>
			
            <tbody>
				
				<tr *ngFor="let cliente1890 of cliente1890S ;trackBy: trackId">
					
					<td> {{cliente1890.id}} </td>
					<td> {{cliente1890.nombre}} </td>
					<td> {{cliente1890.nacionalidad}} </td>
					<td> {{cliente1890.impto35}} </td>
					<td> {{cliente1890.direccion}} </td>
					<td> {{cliente1890.comuna}} </td>
					<td> {{cliente1890.ciudad}} </td>
					<td> {{cliente1890.rut1890S}} </td> 
					
					<td class = "text-right">
						
						<div class = "btn-group flex-btn-group-container">
							
							<button type = "submit" [routerLink] = "['../cliente-1890', cliente1890.id ]" class = "btn btn-info btn-sm">
								
								<span class = "fa fa-eye"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.view"> </span>
							
							</button>
							
							<button type = "submit" [routerLink] = "['/', { outlets: { popup: 'cliente-1890/'+ cliente1890.id + '/edit'} }]"
							replaceUrl = "true" class = "btn btn-primary btn-sm">
							
								<span class = "fa fa-edit"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.edit"> </span>
								
							</button>
							
							<button type = "submit" [routerLink] = "['/', { outlets: { popup: 'cliente-1890/'+ cliente1890.id + '/delete'} }]"
							replaceUrl = "true" class = "btn btn-danger btn-sm">
								
								<span class = "fa fa-trash"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.delete"> Delete </span>
								
							</button>
							
						</div>
						
					</td>
					
				</tr>
				
            </tbody>
			
        </table>
		
    </div>
	
	<div *ngIf = "cliente1890Flag">
        
		<div class = "row justify-content-center">
		
            <jhi-item-count [page] = "page" [total] = "queryCount" [maxSize] = "5" [itemsPerPage] = "itemsPerPage"> </jhi-item-count>
        
		</div>
        
		<div class = "row justify-content-center">
		
            <ngb-pagination [collectionSize] = "totalItems" [maxSize] = "5" [pageSize] = "itemsPerPage" [(page)] = "page" 
			(pageChange) = "loadPage(page)"> </ngb-pagination>
        
		</div>
		
    </div>

    <div class = "table-responsive" *ngIf = "cliente1890FlagSinData">
	
        <div class = "alert alert-danger alert-dismissible"> No existen datos para el rut ingresado. </div>
		
    </div>
	
</div>