<div *ngIf = "directorios">
    
	<h2> <span jhiTranslate = "sccmApp.directorios.detail.title"> </span> {{directorios.id}}</h2> <hr>
    
	<jhi-alert-error></jhi-alert-error>
    
	<dl class = "row-md jh-entity-details">
        
		<dt> <span jhiTranslate = "sccmApp.directorios.ruta"> </span> </dt>
        
		<dd> <span>{{directorios.ruta}}</span> </dd>
		
        <dt> <span jhiTranslate = "sccmApp.directorios.descripcion"> </span></dt>
		
        <dd> <span>{{directorios.descripcion}}</span> </dd>
		
        <dt> <span jhiTranslate = "sccmApp.directorios.annoTributa"> </span> </dt>
		
        <dd>
            <div *ngIf = "directorios.annoTributa"> 
				
				<a [routerLink] = "['/anno-tributa', directorios.annoTributa?.id]">{{directorios.annoTributa?.annoC}}</a>
				
            </div>
        </dd>
		
        <dt> <span jhiTranslate = "sccmApp.directorios.producto"> </span></dt>
        
		<dd>
            <div *ngIf = "directorios.producto">
			
                <a [routerLink] = "['/producto', directorios.producto?.id]">{{directorios.producto?.nombreProducto}}</a>
				
            </div>
        </dd>
		
        <dt> <span jhiTranslate = "sccmApp.directorios.instrumento"> </span> </dt>
        
		<dd>
            <div *ngIf = "directorios.instrumento">
			
                <a [routerLink] = "['/instrumento', directorios.instrumento?.id]">{{directorios.instrumento?.nombreInstrumento}}</a>
				
            </div>
        </dd>
    </dl>

    <button type = "submit" (click) = "previousState()" class = "btn btn-info">
	
        <span class = "fa fa-arrow-left"> </span>&nbsp;<span jhiTranslate = "entity.action.back"> </span>
		
    </button>

    <button type = "button" [routerLink] = "['/', { outlets: { popup: 'directorios/'+ directorios.id + '/edit'} }]" replaceUrl = "true" class = "btn btn-primary">
        
		<span class = "fa fa-edit"> </span>&nbsp;<span jhiTranslate = "entity.action.edit"> </span>
		
    </button>
	
</div>