<div>
    
	<h2>
        
		<span jhiTranslate = "sccmApp.directorios.home.title"> Directorios </span>
        
		<!--<button class = "btn btn-primary float-right jh-create-entity create-directorios" 
		[routerLink] = "['/', { outlets: { popup: ['directorios-new'] } }]">
            
			<span class = "fa fa-plus"> </span>
			
            <span jhiTranslate = "sccmApp.directorios.home.createLabel"> </span>
			
        </button>-->
		
    </h2>
    
	<jhi-alert></jhi-alert>
    <div class = "row"> </div>
	
    <br/>
	
    <div class = "table-responsive" *ngIf = "directorios">
	
        <table class = "table table-striped">
		
            <thead>
				
				<tr jhiSort [(predicate)] = "predicate" [(ascending)] = "reverse" [callback] = "transition.bind(this)">
					
					<th jhiSortBy = "ruta"> <span jhiTranslate = "sccmApp.directorios.ruta"> </span> </th>
					<th jhiSortBy = "descripcion"> <span jhiTranslate = "sccmApp.directorios.descripcion"> </span> </th>
					<th jhiSortBy = "annoTributa.id"> <span jhiTranslate = "sccmApp.directorios.annoTributa"> </span> </th>
					<th jhiSortBy = "producto.id"> <span jhiTranslate = "sccmApp.directorios.producto"> </span> </th>
					<th jhiSortBy = "instrumento.id"> <span jhiTranslate = "sccmApp.directorios.instrumento"> </span> </th>
					<th> </th>
					
				</tr>
				
            </thead>
			
            <tbody>
				
				<tr *ngFor = "let directorios of directorios ;trackBy: trackId">
					
					<td> {{directorios.ruta}} </td>
					<td> {{directorios.descripcion}} </td>
					
					<td> 
						<div *ngIf = "directorios.annoTributa">
							
							<a [routerLink] = "['../anno-tributa', directorios.annoTributa?.id ]" >{{directorios.annoTributa?.annoC}}</a>
							
						</div> 
					</td>
					
					<td>
						<div *ngIf = "directorios.producto">
							
							<a [routerLink] = "['../producto', directorios.producto?.id ]" >{{directorios.producto?.nombreProducto}}</a>
							
						</div>
					</td>
					
					<td>
						<div *ngIf = "directorios.instrumento">
							
							<a [routerLink] = "['../instrumento', directorios.instrumento?.id ]" >{{directorios.instrumento?.nombreInstrumento}}</a>
							
						</div>
					</td>
					
					<td class = "text-right">
						
						<div class = "btn-group flex-btn-group-container">
							
							<button type = "submit" [routerLink] = "['../directorios', directorios.id ]" class = "btn btn-info btn-sm">
								
								<span class = "fa fa-eye"> </span>
								
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.view"> View </span>
								
							</button>
							
							<button type = "submit" [routerLink] = "['/', { outlets: { popup: 'directorios/'+ directorios.id + '/edit'} }]"
							replaceUrl = "true" class = "btn btn-primary btn-sm">
							
								<span class = "fa fa-edit"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.edit"> </span>
								
							</button>
							
							<!--<button type="submit" [routerLink] = "['/', { outlets: { popup: 'directorios/'+ directorios.id + '/delete'} }]"
							replaceUrl = "true" class = "btn btn-danger btn-sm">
							
								<span class = "fa fa-trash"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.delete"> </span>
								
							</button>-->
							
						</div>
						
					</td>
					
				</tr>
				
            </tbody>
			
        </table>
		
    </div>
	
	<div *ngIf = "directorios && directorios.length">
		
		<div class = "row justify-content-center">
			
			<jhi-item-count [page] = "page" [total] = "queryCount" [maxSize] = "5" [itemsPerPage] = "itemsPerPage"> </jhi-item-count>
			
		</div>
		
		<div class = "row justify-content-center">
		
			<ngb-pagination [collectionSize] = "totalItems" [maxSize] = "5" [pageSize] = "itemsPerPage" [(page)] = "page" (pageChange) = "loadPage(page)"></ngb-pagination>
		
		</div>
		
	</div>
	
</div>