<form name = "editForm" role = "form" novalidate (ngSubmit) = "save()" #editForm = "ngForm">

    <div class = "modal-header">
        
		<h4 class = "modal-title" id = "myDirectoriosLabel" jhiTranslate = "sccmApp.directorios.home.createOrEditLabel">Create or edit a Directorios</h4>
        
		<button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true" (click) = "clear()">&times;</button>
		
    </div>
	
    <div class = "modal-body">
        
		<jhi-alert-error></jhi-alert-error>
        
		<div class = "form-group" [hidden] = "!directorios.id">
            
			<label for = "id" jhiTranslate = "global.field.id"> ID </label>
			
            <input type = "text" class = "form-control" id = "id" name = "id" [(ngModel)] = "directorios.id" readonly />
			
        </div>
		
        <div class = "form-group">
            
			<label class = "form-control-label" jhiTranslate = "sccmApp.directorios.ruta" for = "field_ruta"> </label>
            
			<input type = "text" class = "form-control" name = "ruta" id = "field_ruta" [(ngModel)] = "directorios.ruta" />
			
        </div>
		
        <div class = "form-group">
            
			<label class = "form-control-label" jhiTranslate = "sccmApp.directorios.descripcion" for = "field_descripcion"> </label>
            
			<select class = "form-control" id = "field_descripcion" name = "descripcion" [(ngModel)] = "directorios.descripcion" disabled>
                
				<option [ngValue] = "null"> </option>
				
                <option [ngValue] = "descripcion" *ngFor = "let descripcion of descripciones;"> {{descripcion}} </option>
            
			</select>
			
			<!--<input type = "text" class = "form-control" name = "descripcion" id = "field_descripcion" [(ngModel)] = "directorios.descripcion"  /> -->
			
        </div>

        <div class = "form-group">
		
            <label class = "form-control-label" jhiTranslate = "sccmApp.directorios.annoTributa" for = "field_annoTributa"> </label>
            
			<select class = "form-control" id = "field_annoTributa" name = "annoTributa" [(ngModel)] = "directorios.annoTributa" >
                
				<option [ngValue] = "null"></option>
				
                <option [ngValue] = "annoTributaOption.id === directorios.annoTributa?.id ? directorios.annoTributa : annoTributaOption" 
				*ngFor = "let annoTributaOption of annotributas; trackBy: trackAnnoTributaById"> {{annoTributaOption.annoC}} </option>
            
			</select>
			
        </div>
		
        <div class = "form-group">
            
			<label class = "form-control-label" jhiTranslate = "sccmApp.directorios.producto" for = "field_producto"> </label>
            
			<select class = "form-control" id = "field_producto" name = "producto" [(ngModel)] = "directorios.producto" disabled>
                
				<option [ngValue] = "null"> </option>
                <option [ngValue] = "productoOption.id === directorios.producto?.id ? directorios.producto : productoOption" 
				*ngFor = "let productoOption of productos; trackBy: trackProductoById"> {{productoOption.nombreProducto}} </option>
				
            </select>
			
        </div>
		
        <div class = "form-group">
            
			<label class = "form-control-label" jhiTranslate = "sccmApp.directorios.instrumento" for = "field_instrumento"> </label>
            
			<select class = "form-control" id = "field_instrumento" name = "instrumento" [(ngModel)] = "directorios.instrumento" disabled>
                
				<option [ngValue] = "null"> </option>
                <option [ngValue] = "instrumentoOption.id === directorios.instrumento?.id ? directorios.instrumento : instrumentoOption" 
				*ngFor = "let instrumentoOption of instrumentos; trackBy: trackInstrumentoById"> {{instrumentoOption.nombreInstrumento}} </option>
				
            </select>
			
        </div>
		
    </div>
	
    <div class = "modal-footer">
	
        <button type = "button" class = "btn btn-secondary" data-dismiss = "modal" (click) = "clear()">
            
			<span class = "fa fa-ban"> </span>&nbsp;<span jhiTranslate = "entity.action.cancel"> </span>
			
        </button>
        
		<button type = "submit" [disabled] = "editForm.form.invalid || isSaving" class = "btn btn-primary">
		
            <span class = "fa fa-save"> </span>&nbsp;<span jhiTranslate = "entity.action.save"> </span>
			
        </button>
		
    </div>
	
</form>