<div>
    <h2>
        <span jhiTranslate="sccmApp.lHDCV.home.title">LHDCVS</span>
        <button class="btn btn-primary float-right jh-create-entity create-lhdcv" [routerLink]="['/', { outlets: { popup: ['lhdcv-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.lHDCV.home.createLabel">
            Create new LHDCV
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="lHDCVS">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.rut">Rut</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.dv">Dv</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.producto">Producto</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.corrMoneda">Corr Moneda</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.fechaPago">Fecha Pago</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.correlativo">Correlativo</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.fechaInv">Fecha Inv</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.folio">Folio</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.capital">Capital</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.capMon">Cap Mon</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.intNom">Int Nom</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.intReal">Int Real</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.monFi">Mon Fi</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.numGiro">Num Giro</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.codMon">Cod Mon</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.monPac">Mon Pac</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.monTasa">Mon Tasa</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.tasaEmi">Tasa Emi</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.nomCli">Nom Cli</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.codInst">Cod Inst</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.serieInst">Serie Inst</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.perTasa">Per Tasa</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.tipoInt">Tipo Int</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.codTipoInt">Cod Tipo Int</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.fecVcto">Fec Vcto</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.onp">Onp</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.estCta">Est Cta</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.fecCont">Fec Cont</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.bipersonal">Bipersonal</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.reajustabilidad">Reajustabilidad</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.plazo">Plazo</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.indPago">Ind Pago</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.extranjero">Extranjero</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.impExt">Imp Ext</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.numCupones">Num Cupones</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.numCuponPago">Num Cupon Pago</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.ctaCap">Cta Cap</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.ctaInt">Cta Int</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.ctaReaj">Cta Reaj</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.origen">Origen</span></th>
            <th><span jhiTranslate="sccmApp.lHDCV.annoTributa">Anno Tributa</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lHDCV of lHDCVS ;trackBy: trackId">
                <td><a [routerLink]="['../lhdcv', lHDCV.id ]">{{lHDCV.id}}</a></td>
                <td>{{lHDCV.rut}}</td>
                <td>{{lHDCV.dv}}</td>
                <td>{{lHDCV.producto}}</td>
                <td>{{lHDCV.corrMoneda}}</td>
                <td>{{lHDCV.fechaPago | date:'medium'}}</td>
                <td>{{lHDCV.correlativo}}</td>
                <td>{{lHDCV.fechaInv | date:'medium'}}</td>
                <td>{{lHDCV.folio}}</td>
                <td>{{lHDCV.capital}}</td>
                <td>{{lHDCV.capMon}}</td>
                <td>{{lHDCV.intNom}}</td>
                <td>{{lHDCV.intReal}}</td>
                <td>{{lHDCV.monFi}}</td>
                <td>{{lHDCV.numGiro}}</td>
                <td>{{lHDCV.codMon}}</td>
                <td>{{lHDCV.monPac}}</td>
                <td>{{lHDCV.monTasa}}</td>
                <td>{{lHDCV.tasaEmi}}</td>
                <td>{{lHDCV.nomCli}}</td>
                <td>{{lHDCV.codInst}}</td>
                <td>{{lHDCV.serieInst}}</td>
                <td>{{lHDCV.perTasa}}</td>
                <td>{{lHDCV.tipoInt}}</td>
                <td>{{lHDCV.codTipoInt}}</td>
                <td>{{lHDCV.fecVcto | date:'medium'}}</td>
                <td>{{lHDCV.onp}}</td>
                <td>{{lHDCV.estCta}}</td>
                <td>{{lHDCV.fecCont | date:'medium'}}</td>
                <td>{{lHDCV.bipersonal}}</td>
                <td>{{lHDCV.reajustabilidad}}</td>
                <td>{{lHDCV.plazo}}</td>
                <td>{{lHDCV.indPago}}</td>
                <td>{{lHDCV.extranjero}}</td>
                <td>{{lHDCV.impExt}}</td>
                <td>{{lHDCV.numCupones}}</td>
                <td>{{lHDCV.numCuponPago}}</td>
                <td>{{lHDCV.ctaCap}}</td>
                <td>{{lHDCV.ctaInt}}</td>
                <td>{{lHDCV.ctaReaj}}</td>
                <td>{{lHDCV.origen}}</td>
                <td>
                    <div *ngIf="lHDCV.annoTributa">
                        <a [routerLink]="['../anno-tributa', lHDCV.annoTributa?.id ]" >{{lHDCV.annoTributa?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../lhdcv', lHDCV.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lhdcv/'+ lHDCV.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lhdcv/'+ lHDCV.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
