
<div *ngIf="lHDCV">
    <h2><span jhiTranslate="sccmApp.lHDCV.detail.title">LHDCV</span> {{lHDCV.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.lHDCV.rut">Rut</span></dt>
        <dd>
            <span>{{lHDCV.rut}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.dv">Dv</span></dt>
        <dd>
            <span>{{lHDCV.dv}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.producto">Producto</span></dt>
        <dd>
            <span>{{lHDCV.producto}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.corrMoneda">Corr Moneda</span></dt>
        <dd>
            <span>{{lHDCV.corrMoneda}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.fechaPago">Fecha Pago</span></dt>
        <dd>
            <span>{{lHDCV.fechaPago | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.correlativo">Correlativo</span></dt>
        <dd>
            <span>{{lHDCV.correlativo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.fechaInv">Fecha Inv</span></dt>
        <dd>
            <span>{{lHDCV.fechaInv | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.folio">Folio</span></dt>
        <dd>
            <span>{{lHDCV.folio}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.capital">Capital</span></dt>
        <dd>
            <span>{{lHDCV.capital}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.capMon">Cap Mon</span></dt>
        <dd>
            <span>{{lHDCV.capMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.intNom">Int Nom</span></dt>
        <dd>
            <span>{{lHDCV.intNom}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.intReal">Int Real</span></dt>
        <dd>
            <span>{{lHDCV.intReal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.monFi">Mon Fi</span></dt>
        <dd>
            <span>{{lHDCV.monFi}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.numGiro">Num Giro</span></dt>
        <dd>
            <span>{{lHDCV.numGiro}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.codMon">Cod Mon</span></dt>
        <dd>
            <span>{{lHDCV.codMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.monPac">Mon Pac</span></dt>
        <dd>
            <span>{{lHDCV.monPac}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.monTasa">Mon Tasa</span></dt>
        <dd>
            <span>{{lHDCV.monTasa}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.tasaEmi">Tasa Emi</span></dt>
        <dd>
            <span>{{lHDCV.tasaEmi}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.nomCli">Nom Cli</span></dt>
        <dd>
            <span>{{lHDCV.nomCli}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.codInst">Cod Inst</span></dt>
        <dd>
            <span>{{lHDCV.codInst}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.serieInst">Serie Inst</span></dt>
        <dd>
            <span>{{lHDCV.serieInst}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.perTasa">Per Tasa</span></dt>
        <dd>
            <span>{{lHDCV.perTasa}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.tipoInt">Tipo Int</span></dt>
        <dd>
            <span>{{lHDCV.tipoInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.codTipoInt">Cod Tipo Int</span></dt>
        <dd>
            <span>{{lHDCV.codTipoInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.fecVcto">Fec Vcto</span></dt>
        <dd>
            <span>{{lHDCV.fecVcto | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.onp">Onp</span></dt>
        <dd>
            <span>{{lHDCV.onp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.estCta">Est Cta</span></dt>
        <dd>
            <span>{{lHDCV.estCta}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.fecCont">Fec Cont</span></dt>
        <dd>
            <span>{{lHDCV.fecCont | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.bipersonal">Bipersonal</span></dt>
        <dd>
            <span>{{lHDCV.bipersonal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.reajustabilidad">Reajustabilidad</span></dt>
        <dd>
            <span>{{lHDCV.reajustabilidad}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.plazo">Plazo</span></dt>
        <dd>
            <span>{{lHDCV.plazo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.indPago">Ind Pago</span></dt>
        <dd>
            <span>{{lHDCV.indPago}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.extranjero">Extranjero</span></dt>
        <dd>
            <span>{{lHDCV.extranjero}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.impExt">Imp Ext</span></dt>
        <dd>
            <span>{{lHDCV.impExt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.numCupones">Num Cupones</span></dt>
        <dd>
            <span>{{lHDCV.numCupones}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.numCuponPago">Num Cupon Pago</span></dt>
        <dd>
            <span>{{lHDCV.numCuponPago}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.ctaCap">Cta Cap</span></dt>
        <dd>
            <span>{{lHDCV.ctaCap}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.ctaInt">Cta Int</span></dt>
        <dd>
            <span>{{lHDCV.ctaInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.ctaReaj">Cta Reaj</span></dt>
        <dd>
            <span>{{lHDCV.ctaReaj}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.origen">Origen</span></dt>
        <dd>
            <span>{{lHDCV.origen}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHDCV.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="lHDCV.annoTributa">
                <a [routerLink]="['/anno-tributa', lHDCV.annoTributa?.id]">{{lHDCV.annoTributa?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'lhdcv/'+ lHDCV.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
