<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLHDCVLabel" jhiTranslate="sccmApp.lHDCV.home.createOrEditLabel">Create or edit a LHDCV</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!lHDCV.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="lHDCV.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.rut" for="field_rut">Rut</label>
            <input type="number" class="form-control" name="rut" id="field_rut"
                [(ngModel)]="lHDCV.rut"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.dv" for="field_dv">Dv</label>
            <input type="text" class="form-control" name="dv" id="field_dv"
                [(ngModel)]="lHDCV.dv"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.producto" for="field_producto">Producto</label>
            <input type="number" class="form-control" name="producto" id="field_producto"
                [(ngModel)]="lHDCV.producto"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.corrMoneda" for="field_corrMoneda">Corr Moneda</label>
            <input type="number" class="form-control" name="corrMoneda" id="field_corrMoneda"
                [(ngModel)]="lHDCV.corrMoneda"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.fechaPago" for="field_fechaPago">Fecha Pago</label>
            <div class="d-flex">
                <input id="field_fechaPago" type="datetime-local" class="form-control" name="fechaPago" [(ngModel)]="lHDCV.fechaPago"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.correlativo" for="field_correlativo">Correlativo</label>
            <input type="number" class="form-control" name="correlativo" id="field_correlativo"
                [(ngModel)]="lHDCV.correlativo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.fechaInv" for="field_fechaInv">Fecha Inv</label>
            <div class="d-flex">
                <input id="field_fechaInv" type="datetime-local" class="form-control" name="fechaInv" [(ngModel)]="lHDCV.fechaInv"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.folio" for="field_folio">Folio</label>
            <input type="number" class="form-control" name="folio" id="field_folio"
                [(ngModel)]="lHDCV.folio"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.capital" for="field_capital">Capital</label>
            <input type="number" class="form-control" name="capital" id="field_capital"
                [(ngModel)]="lHDCV.capital"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.capMon" for="field_capMon">Cap Mon</label>
            <input type="number" class="form-control" name="capMon" id="field_capMon"
                [(ngModel)]="lHDCV.capMon"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.intNom" for="field_intNom">Int Nom</label>
            <input type="number" class="form-control" name="intNom" id="field_intNom"
                [(ngModel)]="lHDCV.intNom"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.intReal" for="field_intReal">Int Real</label>
            <input type="number" class="form-control" name="intReal" id="field_intReal"
                [(ngModel)]="lHDCV.intReal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.monFi" for="field_monFi">Mon Fi</label>
            <input type="number" class="form-control" name="monFi" id="field_monFi"
                [(ngModel)]="lHDCV.monFi"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.numGiro" for="field_numGiro">Num Giro</label>
            <input type="number" class="form-control" name="numGiro" id="field_numGiro"
                [(ngModel)]="lHDCV.numGiro"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.codMon" for="field_codMon">Cod Mon</label>
            <input type="number" class="form-control" name="codMon" id="field_codMon"
                [(ngModel)]="lHDCV.codMon"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.monPac" for="field_monPac">Mon Pac</label>
            <input type="number" class="form-control" name="monPac" id="field_monPac"
                [(ngModel)]="lHDCV.monPac"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.monTasa" for="field_monTasa">Mon Tasa</label>
            <input type="number" class="form-control" name="monTasa" id="field_monTasa"
                [(ngModel)]="lHDCV.monTasa"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.tasaEmi" for="field_tasaEmi">Tasa Emi</label>
            <input type="number" class="form-control" name="tasaEmi" id="field_tasaEmi"
                [(ngModel)]="lHDCV.tasaEmi"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.nomCli" for="field_nomCli">Nom Cli</label>
            <input type="text" class="form-control" name="nomCli" id="field_nomCli"
                [(ngModel)]="lHDCV.nomCli"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.codInst" for="field_codInst">Cod Inst</label>
            <input type="number" class="form-control" name="codInst" id="field_codInst"
                [(ngModel)]="lHDCV.codInst"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.serieInst" for="field_serieInst">Serie Inst</label>
            <input type="text" class="form-control" name="serieInst" id="field_serieInst"
                [(ngModel)]="lHDCV.serieInst"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.perTasa" for="field_perTasa">Per Tasa</label>
            <input type="number" class="form-control" name="perTasa" id="field_perTasa"
                [(ngModel)]="lHDCV.perTasa"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.tipoInt" for="field_tipoInt">Tipo Int</label>
            <input type="text" class="form-control" name="tipoInt" id="field_tipoInt"
                [(ngModel)]="lHDCV.tipoInt"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.codTipoInt" for="field_codTipoInt">Cod Tipo Int</label>
            <input type="number" class="form-control" name="codTipoInt" id="field_codTipoInt"
                [(ngModel)]="lHDCV.codTipoInt"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.fecVcto" for="field_fecVcto">Fec Vcto</label>
            <div class="d-flex">
                <input id="field_fecVcto" type="datetime-local" class="form-control" name="fecVcto" [(ngModel)]="lHDCV.fecVcto"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.onp" for="field_onp">Onp</label>
            <input type="text" class="form-control" name="onp" id="field_onp"
                [(ngModel)]="lHDCV.onp"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.estCta" for="field_estCta">Est Cta</label>
            <input type="text" class="form-control" name="estCta" id="field_estCta"
                [(ngModel)]="lHDCV.estCta"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.fecCont" for="field_fecCont">Fec Cont</label>
            <div class="d-flex">
                <input id="field_fecCont" type="datetime-local" class="form-control" name="fecCont" [(ngModel)]="lHDCV.fecCont"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.bipersonal" for="field_bipersonal">Bipersonal</label>
            <input type="text" class="form-control" name="bipersonal" id="field_bipersonal"
                [(ngModel)]="lHDCV.bipersonal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.reajustabilidad" for="field_reajustabilidad">Reajustabilidad</label>
            <input type="text" class="form-control" name="reajustabilidad" id="field_reajustabilidad"
                [(ngModel)]="lHDCV.reajustabilidad"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.plazo" for="field_plazo">Plazo</label>
            <input type="number" class="form-control" name="plazo" id="field_plazo"
                [(ngModel)]="lHDCV.plazo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.indPago" for="field_indPago">Ind Pago</label>
            <input type="text" class="form-control" name="indPago" id="field_indPago"
                [(ngModel)]="lHDCV.indPago"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.extranjero" for="field_extranjero">Extranjero</label>
            <input type="text" class="form-control" name="extranjero" id="field_extranjero"
                [(ngModel)]="lHDCV.extranjero"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.impExt" for="field_impExt">Imp Ext</label>
            <input type="number" class="form-control" name="impExt" id="field_impExt"
                [(ngModel)]="lHDCV.impExt"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.numCupones" for="field_numCupones">Num Cupones</label>
            <input type="number" class="form-control" name="numCupones" id="field_numCupones"
                [(ngModel)]="lHDCV.numCupones"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.numCuponPago" for="field_numCuponPago">Num Cupon Pago</label>
            <input type="number" class="form-control" name="numCuponPago" id="field_numCuponPago"
                [(ngModel)]="lHDCV.numCuponPago"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.ctaCap" for="field_ctaCap">Cta Cap</label>
            <input type="number" class="form-control" name="ctaCap" id="field_ctaCap"
                [(ngModel)]="lHDCV.ctaCap"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.ctaInt" for="field_ctaInt">Cta Int</label>
            <input type="number" class="form-control" name="ctaInt" id="field_ctaInt"
                [(ngModel)]="lHDCV.ctaInt"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.ctaReaj" for="field_ctaReaj">Cta Reaj</label>
            <input type="number" class="form-control" name="ctaReaj" id="field_ctaReaj"
                [(ngModel)]="lHDCV.ctaReaj"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.origen" for="field_origen">Origen</label>
            <input type="text" class="form-control" name="origen" id="field_origen"
                [(ngModel)]="lHDCV.origen"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHDCV.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="lHDCV.annoTributa" >
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === lHDCV.annoTributa?.id ? lHDCV.annoTributa : annoTributaOption" *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
