
<div *ngIf="ultDiaHabMes">
    <h2><span jhiTranslate="sccmApp.ultDiaHabMes.detail.title">Ult Dia Hab Mes</span> {{ultDiaHabMes.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.ultDiaHabMes.mes">Mes</span></dt>
        <dd>
            <span>{{ultDiaHabMes.mes}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ultDiaHabMes.dia">Dia</span></dt>
        <dd>
            <span>{{ultDiaHabMes.dia}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ultDiaHabMes.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="ultDiaHabMes.annoTributa">
                <a [routerLink]="['/anno-tributa', ultDiaHabMes.annoTributa?.id]">{{ultDiaHabMes.annoTributa?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ult-dia-hab-mes/'+ ultDiaHabMes.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
