<div>

    <h2>
        
		<span jhiTranslate = "sccmApp.ultDiaHabMes.home.title"> </span>
        
		<button class = "btn btn-primary float-right jh-create-entity create-ult-dia-hab-mes" 
		[routerLink] = "['/', { outlets: { popup: ['ult-dia-hab-mes-new'] } }]">
            
			<span class = "fa fa-plus"> </span>
			
            <span  jhiTranslate = "sccmApp.ultDiaHabMes.home.createLabel"> </span>
			
        </button>
		
    </h2>
	
    <jhi-alert></jhi-alert>
    <div class="row"> </div> <br/>
    
	<div class = "table-responsive" *ngIf = "ultDiaHabMes">
	
        <table class = "table table-striped">
        
			<thead>

				<tr>
					<th> <span jhiTranslate = "sccmApp.ultDiaHabMes.dia"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.ultDiaHabMes.mes"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.ultDiaHabMes.annoTributa"> </span > </th>
					<th> </th>
				</tr>

            </thead>

            <tbody>
			
				<tr *ngFor = "let ultDiaHabMes of ultDiaHabMes ;trackBy: trackId">
					
					<td> {{ultDiaHabMes.dia}} </td>
					<td> {{ultDiaHabMes.mes}} </td>
					
					<td> <div *ngIf = "ultDiaHabMes.annoTributa">
						
						<a [routerLink]="['../anno-tributa', ultDiaHabMes.annoTributa?.id ]" >{{ultDiaHabMes.annoTributa?.annoC}}</a>
					
					</div> </td>
					
					<td class = "text-right">
						
						<div class = "btn-group flex-btn-group-container">
							
							<button type = "submit" [routerLink]="['../ult-dia-hab-mes', ultDiaHabMes.id ]" class="btn btn-info btn-sm">
							
								<span class = "fa fa-eye"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.view">View</span>
							
							</button>
							
							<button type = "submit" [routerLink]="['/', { outlets: { popup: 'ult-dia-hab-mes/'+ ultDiaHabMes.id + '/edit'} }]"
									replaceUrl = "true" class="btn btn-primary btn-sm">
									
								<span class = "fa fa-edit"> </span>
								<span class = "d-none d-md-inline" jhiTranslate="entity.action.edit"> </span>
								
							</button>
							
							<button type = "submit"
									[routerLink] = "['/', { outlets: { popup: 'ult-dia-hab-mes/'+ ultDiaHabMes.id + '/delete'} }]"
									replaceUrl = "true"
									class = "btn btn-danger btn-sm">
								
								<span class = "fa fa-trash"> </span>
								
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.delete"> </span>
								
							</button>
							
						</div>
						
					</td>
					
				</tr>
				
            </tbody>
			
        </table>
		
    </div>
	
</div>