<form name = "editForm" role = "form" novalidate (ngSubmit) = "save()" #editForm = "ngForm">

    <div class = "modal-header">
        
		<h4 class = "modal-title" id = "myUltDiaHabMesLabel" jhiTranslate = "sccmApp.ultDiaHabMes.home.createOrEditLabel"> </h4>
        
		<button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true" (click) = "clear()">&times;</button>
    
	</div>
	
    <div class = "modal-body">
	
        <jhi-alert-error></jhi-alert-error>
        
		<div class = "form-group" [hidden] = "!ultDiaHabMes.id">
            
			<label for = "id" jhiTranslate = "global.field.id"> ID </label>
            
			<input type = "text" class = "form-control" id = "id" name = "id" [(ngModel)] = "ultDiaHabMes.id" readonly />
			
        </div>
		
        <div class = "form-group">
            
			<label class = "form-control-label" jhiTranslate = "sccmApp.ultDiaHabMes.dia" for = "field_dia"> Día </label>
            
			<input type = "number" min = "0" max = "31" class = "form-control" name = "dia" id = "field_dia" [(ngModel)] = "ultDiaHabMes.dia" />
			
        </div>
		
        <div class = "form-group">
            
			<label class = "form-control-label" jhiTranslate = "sccmApp.ultDiaHabMes.mes" for = "field_mes"> Mes </label>
            
			<input type = "number" min = "0" max = "12" class = "form-control" name = "mes" id = "field_mes" [(ngModel)] = "ultDiaHabMes.mes" />
			
        </div>		

        <div class = "form-group">
            
			<label class = "form-control-label" jhiTranslate = "sccmApp.ultDiaHabMes.annoTributa" for = "field_annoTributa"> </label>
            			
			<select class = "form-control" id = "field_annoTributa" name = "annoTributa" [(ngModel)] = "ultDiaHabMes.annoTributa" >
                
				<option [ngValue] = "null"> </option>
                
				<option [ngValue] = "annoTributaOption.id === ultDiaHabMes.annoTributa?.id ? ultDiaHabMes.annoTributa : annoTributaOption" 
				*ngFor = "let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">
					
					{{annoTributaOption.annoC}}
				
				</option>
								
            </select> 
			
        </div>
    
	</div>
    
	<div class = "modal-footer">
        
		<button type = "button" class = "btn btn-secondary" data-dismiss = "modal" (click) = "clear()">
            
			<span class = "fa fa-ban"> </span>&nbsp;<span jhiTranslate = "entity.action.cancel"> </span>
			
        </button>
		
        <button type = "submit" [disabled] = "editForm.form.invalid || isSaving" class = "btn btn-primary">
            
			<span class = "fa fa-save"> </span>&nbsp;<span jhiTranslate = "entity.action.save"> </span>
			
        </button>
		
    </div>
	
</form>