<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCorrecMonetaLabel" jhiTranslate="sccmApp.correcMoneta.home.createOrEditLabel">Create or edit a Correc Moneta</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!correcMoneta.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="correcMoneta.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.correcMoneta.mes" for="field_mes">Mes</label>
            <input type="number" class="form-control" name="mes" id="field_mes"
                   [(ngModel)]="correcMoneta.mes"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.correcMoneta.valor" for="field_valor">Valor</label>
            <input type="number" class="form-control" name="valor" id="field_valor"
                   [(ngModel)]="correcMoneta.valor"/>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.correcMoneta.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="correcMoneta.annoTributa">
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === correcMoneta.annoTributa?.id ? correcMoneta.annoTributa : annoTributaOption"
                        *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.annoT}}
                </option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
