<div>
    <h2>
        <span jhiTranslate="sccmApp.correcMoneta.home.title">Correc Monetas</span>
        <button class="btn btn-primary float-right jh-create-entity create-correc-moneta" [routerLink]="['/', { outlets: { popup: ['correc-moneta-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.correcMoneta.home.createLabel">
            Create new Correc Moneta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="correcMonetas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="sccmApp.correcMoneta.mes">Mes</span></th>
            <th><span jhiTranslate="sccmApp.correcMoneta.valor">Valor</span></th>
            <th><span jhiTranslate="sccmApp.correcMoneta.annoTributa">Anno Tributa</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let correcMoneta of correcMonetas ;trackBy: trackId">
                <td>{{correcMoneta.mes}}</td>
                <td>{{correcMoneta.valor}}</td>
                <td>
                    <div *ngFor="let anno of annosTributarios">
                        <div *ngIf="correcMoneta.annoTributa.id === anno.id">
                            {{anno.annoT}}
                        </div>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../correc-moneta', correcMoneta.id ]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'correc-moneta/'+ correcMoneta.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-secondary btn-sm text-white">
                            <span class="fas fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'correc-moneta/'+ correcMoneta.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-trash-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
