
<div *ngIf="correcMoneta">
    <h2><span jhiTranslate="sccmApp.correcMoneta.detail.title">Correc Moneta</span> {{correcMoneta.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.correcMoneta.mes">Mes</span></dt>
        <dd>
            <span>{{correcMoneta.mes}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.correcMoneta.valor">Valor</span></dt>
        <dd>
            <span>{{correcMoneta.valor}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.correcMoneta.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="correcMoneta.annoTributa">
                <a [routerLink]="['/anno-tributa', correcMoneta.annoTributa?.id]">{{correcMoneta.annoTributa?.annoT}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'correc-moneta/'+ correcMoneta.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
