<div>

    <h2> <span jhiTranslate = "cargainterface.title"> </span> </h2>
	
    <span class = "text-primary-sccm" jhiTranslate = "cargainterface.subtitle"> </span> <br>
    
	<input id = "cin" name = "cin" type = "file" required (change) = "fileChangeEvent($event)" placeholder = "Upload a file..." multiple/>
    
	<br/> <br/>
    
	<button type = "button" class = "btn btn-primary btn-s" (click) = "uploader()"> 
		
		<i class = "glyphicon glyphicon-open-file"> </i>&nbsp;Subir 
	
	</button>
    
    <button type = "button" [disabled] = "!canLoad" class = "btn btn-primary btn-s" (click) = "load1941()">
        
		<i class = "glyphicon glyphicon-open-file"> </i>&nbsp;Cargar
		
    </button>
    
	<br/> <br/> <jhi-alert> </jhi-alert>
	
</div>