<div>
    <h2>
        <span jhiTranslate="sccmApp.lHBonos.home.title">LH Bonos</span>
        <button class="btn btn-primary float-right jh-create-entity create-lh-bonos" [routerLink]="['/', { outlets: { popup: ['lh-bonos-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.lHBonos.home.createLabel">
            Create new LH Bonos
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="lHBonos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.rut">Rut</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.dv">Dv</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.producto">Producto</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.moneda">Moneda</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.fechaPago">Fecha Pago</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.correlativo">Correlativo</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.fechaInv">Fecha Inv</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.folio">Folio</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.capital">Capital</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.capMon">Cap Mon</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.intNom">Int Nom</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.intReal">Int Real</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.monFi">Mon Fi</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.numGiro">Num Giro</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.codMon">Cod Mon</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.tipPlazo">Tip Plazo</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.monTasa">Mon Tasa</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.tasaEmi">Tasa Emi</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.nomCli">Nom Cli</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.codInst">Cod Inst</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.serieInst">Serie Inst</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.perTasa">Per Tasa</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.tipoInt">Tipo Int</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.codTipoInt">Cod Tipo Int</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.fecVcto">Fec Vcto</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.onp">Onp</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.estCta">Est Cta</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.fecCont">Fec Cont</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.bipersonal">Bipersonal</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.reajustabilidad">Reajustabilidad</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.plazo">Plazo</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.indPago">Ind Pago</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.extranjero">Extranjero</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.impExt">Imp Ext</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.numCupones">Num Cupones</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.numCuponPago">Num Cupon Pago</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.ctaCap">Cta Cap</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.ctaInt">Cta Int</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.ctaReaj">Cta Reaj</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.origen">Origen</span></th>
            <th><span jhiTranslate="sccmApp.lHBonos.annoTributa">Anno Tributa</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lHBonos of lHBonos ;trackBy: trackId">
                <td><a [routerLink]="['../lh-bonos', lHBonos.id ]">{{lHBonos.id}}</a></td>
                <td>{{lHBonos.rut}}</td>
                <td>{{lHBonos.dv}}</td>
                <td>{{lHBonos.producto}}</td>
                <td>{{lHBonos.moneda}}</td>
                <td>{{lHBonos.fechaPago | date:'mediumDate'}}</td>
                <td>{{lHBonos.correlativo}}</td>
                <td>{{lHBonos.fechaInv | date:'mediumDate'}}</td>
                <td>{{lHBonos.folio}}</td>
                <td>{{lHBonos.capital}}</td>
                <td>{{lHBonos.capMon}}</td>
                <td>{{lHBonos.intNom}}</td>
                <td>{{lHBonos.intReal}}</td>
                <td>{{lHBonos.monFi}}</td>
                <td>{{lHBonos.numGiro}}</td>
                <td>{{lHBonos.codMon}}</td>
                <td>{{lHBonos.tipPlazo}}</td>
                <td>{{lHBonos.monTasa}}</td>
                <td>{{lHBonos.tasaEmi}}</td>
                <td>{{lHBonos.nomCli}}</td>
                <td>{{lHBonos.codInst}}</td>
                <td>{{lHBonos.serieInst}}</td>
                <td>{{lHBonos.perTasa}}</td>
                <td>{{lHBonos.tipoInt}}</td>
                <td>{{lHBonos.codTipoInt}}</td>
                <td>{{lHBonos.fecVcto | date:'mediumDate'}}</td>
                <td>{{lHBonos.onp}}</td>
                <td>{{lHBonos.estCta}}</td>
                <td>{{lHBonos.fecCont | date:'mediumDate'}}</td>
                <td>{{lHBonos.bipersonal}}</td>
                <td>{{lHBonos.reajustabilidad}}</td>
                <td>{{lHBonos.plazo}}</td>
                <td>{{lHBonos.indPago}}</td>
                <td>{{lHBonos.extranjero}}</td>
                <td>{{lHBonos.impExt}}</td>
                <td>{{lHBonos.numCupones}}</td>
                <td>{{lHBonos.numCuponPago}}</td>
                <td>{{lHBonos.ctaCap}}</td>
                <td>{{lHBonos.ctaInt}}</td>
                <td>{{lHBonos.ctaReaj}}</td>
                <td>{{lHBonos.origen}}</td>
                <td>
                    <div *ngIf="lHBonos.annoTributa">
                        <a [routerLink]="['../anno-tributa', lHBonos.annoTributa?.id ]" >{{lHBonos.annoTributa?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../lh-bonos', lHBonos.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lh-bonos/'+ lHBonos.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lh-bonos/'+ lHBonos.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
