<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLHBonosLabel" jhiTranslate="sccmApp.lHBonos.home.createOrEditLabel">Create or edit a LH Bonos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!lHBonos.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="lHBonos.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.rut" for="field_rut">Rut</label>
            <input type="number" class="form-control" name="rut" id="field_rut"
                [(ngModel)]="lHBonos.rut"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.dv" for="field_dv">Dv</label>
            <input type="text" class="form-control" name="dv" id="field_dv"
                [(ngModel)]="lHBonos.dv"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.producto" for="field_producto">Producto</label>
            <input type="number" class="form-control" name="producto" id="field_producto"
                [(ngModel)]="lHBonos.producto"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.moneda" for="field_moneda">Moneda</label>
            <input type="number" class="form-control" name="moneda" id="field_moneda"
                [(ngModel)]="lHBonos.moneda"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.fechaPago" for="field_fechaPago">Fecha Pago</label>
            <div class="input-group">
                <input id="field_fechaPago" type="text" class="form-control" name="fechaPago" ngbDatepicker  #fechaPagoDp="ngbDatepicker" [(ngModel)]="lHBonos.fechaPago"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaPagoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.correlativo" for="field_correlativo">Correlativo</label>
            <input type="number" class="form-control" name="correlativo" id="field_correlativo"
                [(ngModel)]="lHBonos.correlativo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.fechaInv" for="field_fechaInv">Fecha Inv</label>
            <div class="input-group">
                <input id="field_fechaInv" type="text" class="form-control" name="fechaInv" ngbDatepicker  #fechaInvDp="ngbDatepicker" [(ngModel)]="lHBonos.fechaInv"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaInvDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.folio" for="field_folio">Folio</label>
            <input type="text" class="form-control" name="folio" id="field_folio"
                [(ngModel)]="lHBonos.folio"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.capital" for="field_capital">Capital</label>
            <input type="number" class="form-control" name="capital" id="field_capital"
                [(ngModel)]="lHBonos.capital"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.capMon" for="field_capMon">Cap Mon</label>
            <input type="number" class="form-control" name="capMon" id="field_capMon"
                [(ngModel)]="lHBonos.capMon"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.intNom" for="field_intNom">Int Nom</label>
            <input type="number" class="form-control" name="intNom" id="field_intNom"
                [(ngModel)]="lHBonos.intNom"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.intReal" for="field_intReal">Int Real</label>
            <input type="number" class="form-control" name="intReal" id="field_intReal"
                [(ngModel)]="lHBonos.intReal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.monFi" for="field_monFi">Mon Fi</label>
            <input type="number" class="form-control" name="monFi" id="field_monFi"
                [(ngModel)]="lHBonos.monFi"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.numGiro" for="field_numGiro">Num Giro</label>
            <input type="number" class="form-control" name="numGiro" id="field_numGiro"
                [(ngModel)]="lHBonos.numGiro"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.codMon" for="field_codMon">Cod Mon</label>
            <input type="number" class="form-control" name="codMon" id="field_codMon"
                [(ngModel)]="lHBonos.codMon"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.tipPlazo" for="field_tipPlazo">Tip Plazo</label>
            <input type="text" class="form-control" name="tipPlazo" id="field_tipPlazo"
                [(ngModel)]="lHBonos.tipPlazo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.monTasa" for="field_monTasa">Mon Tasa</label>
            <input type="number" class="form-control" name="monTasa" id="field_monTasa"
                [(ngModel)]="lHBonos.monTasa"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.tasaEmi" for="field_tasaEmi">Tasa Emi</label>
            <input type="number" class="form-control" name="tasaEmi" id="field_tasaEmi"
                [(ngModel)]="lHBonos.tasaEmi"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.nomCli" for="field_nomCli">Nom Cli</label>
            <input type="text" class="form-control" name="nomCli" id="field_nomCli"
                [(ngModel)]="lHBonos.nomCli"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.codInst" for="field_codInst">Cod Inst</label>
            <input type="number" class="form-control" name="codInst" id="field_codInst"
                [(ngModel)]="lHBonos.codInst"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.serieInst" for="field_serieInst">Serie Inst</label>
            <input type="text" class="form-control" name="serieInst" id="field_serieInst"
                [(ngModel)]="lHBonos.serieInst"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.perTasa" for="field_perTasa">Per Tasa</label>
            <input type="number" class="form-control" name="perTasa" id="field_perTasa"
                [(ngModel)]="lHBonos.perTasa"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.tipoInt" for="field_tipoInt">Tipo Int</label>
            <input type="text" class="form-control" name="tipoInt" id="field_tipoInt"
                [(ngModel)]="lHBonos.tipoInt"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.codTipoInt" for="field_codTipoInt">Cod Tipo Int</label>
            <input type="number" class="form-control" name="codTipoInt" id="field_codTipoInt"
                [(ngModel)]="lHBonos.codTipoInt"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.fecVcto" for="field_fecVcto">Fec Vcto</label>
            <div class="input-group">
                <input id="field_fecVcto" type="text" class="form-control" name="fecVcto" ngbDatepicker  #fecVctoDp="ngbDatepicker" [(ngModel)]="lHBonos.fecVcto"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fecVctoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.onp" for="field_onp">Onp</label>
            <input type="text" class="form-control" name="onp" id="field_onp"
                [(ngModel)]="lHBonos.onp"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.estCta" for="field_estCta">Est Cta</label>
            <input type="text" class="form-control" name="estCta" id="field_estCta"
                [(ngModel)]="lHBonos.estCta"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.fecCont" for="field_fecCont">Fec Cont</label>
            <div class="input-group">
                <input id="field_fecCont" type="text" class="form-control" name="fecCont" ngbDatepicker  #fecContDp="ngbDatepicker" [(ngModel)]="lHBonos.fecCont"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fecContDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.bipersonal" for="field_bipersonal">Bipersonal</label>
            <input type="text" class="form-control" name="bipersonal" id="field_bipersonal"
                [(ngModel)]="lHBonos.bipersonal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.reajustabilidad" for="field_reajustabilidad">Reajustabilidad</label>
            <input type="text" class="form-control" name="reajustabilidad" id="field_reajustabilidad"
                [(ngModel)]="lHBonos.reajustabilidad"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.plazo" for="field_plazo">Plazo</label>
            <input type="number" class="form-control" name="plazo" id="field_plazo"
                [(ngModel)]="lHBonos.plazo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.indPago" for="field_indPago">Ind Pago</label>
            <input type="text" class="form-control" name="indPago" id="field_indPago"
                [(ngModel)]="lHBonos.indPago"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.extranjero" for="field_extranjero">Extranjero</label>
            <input type="text" class="form-control" name="extranjero" id="field_extranjero"
                [(ngModel)]="lHBonos.extranjero"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.impExt" for="field_impExt">Imp Ext</label>
            <input type="number" class="form-control" name="impExt" id="field_impExt"
                [(ngModel)]="lHBonos.impExt"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.numCupones" for="field_numCupones">Num Cupones</label>
            <input type="number" class="form-control" name="numCupones" id="field_numCupones"
                [(ngModel)]="lHBonos.numCupones"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.numCuponPago" for="field_numCuponPago">Num Cupon Pago</label>
            <input type="number" class="form-control" name="numCuponPago" id="field_numCuponPago"
                [(ngModel)]="lHBonos.numCuponPago"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.ctaCap" for="field_ctaCap">Cta Cap</label>
            <input type="number" class="form-control" name="ctaCap" id="field_ctaCap"
                [(ngModel)]="lHBonos.ctaCap"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.ctaInt" for="field_ctaInt">Cta Int</label>
            <input type="number" class="form-control" name="ctaInt" id="field_ctaInt"
                [(ngModel)]="lHBonos.ctaInt"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.ctaReaj" for="field_ctaReaj">Cta Reaj</label>
            <input type="number" class="form-control" name="ctaReaj" id="field_ctaReaj"
                [(ngModel)]="lHBonos.ctaReaj"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.origen" for="field_origen">Origen</label>
            <input type="text" class="form-control" name="origen" id="field_origen"
                [(ngModel)]="lHBonos.origen"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.lHBonos.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="lHBonos.annoTributa" >
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === lHBonos.annoTributa?.id ? lHBonos.annoTributa : annoTributaOption" *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
