
<div *ngIf="lHBonos">
    <h2><span jhiTranslate="sccmApp.lHBonos.detail.title">LH Bonos</span> {{lHBonos.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.lHBonos.rut">Rut</span></dt>
        <dd>
            <span>{{lHBonos.rut}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.dv">Dv</span></dt>
        <dd>
            <span>{{lHBonos.dv}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.producto">Producto</span></dt>
        <dd>
            <span>{{lHBonos.producto}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.moneda">Moneda</span></dt>
        <dd>
            <span>{{lHBonos.moneda}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.fechaPago">Fecha Pago</span></dt>
        <dd>
            <span>{{lHBonos.fechaPago | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.correlativo">Correlativo</span></dt>
        <dd>
            <span>{{lHBonos.correlativo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.fechaInv">Fecha Inv</span></dt>
        <dd>
            <span>{{lHBonos.fechaInv | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.folio">Folio</span></dt>
        <dd>
            <span>{{lHBonos.folio}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.capital">Capital</span></dt>
        <dd>
            <span>{{lHBonos.capital}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.capMon">Cap Mon</span></dt>
        <dd>
            <span>{{lHBonos.capMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.intNom">Int Nom</span></dt>
        <dd>
            <span>{{lHBonos.intNom}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.intReal">Int Real</span></dt>
        <dd>
            <span>{{lHBonos.intReal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.monFi">Mon Fi</span></dt>
        <dd>
            <span>{{lHBonos.monFi}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.numGiro">Num Giro</span></dt>
        <dd>
            <span>{{lHBonos.numGiro}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.codMon">Cod Mon</span></dt>
        <dd>
            <span>{{lHBonos.codMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.tipPlazo">Tip Plazo</span></dt>
        <dd>
            <span>{{lHBonos.tipPlazo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.monTasa">Mon Tasa</span></dt>
        <dd>
            <span>{{lHBonos.monTasa}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.tasaEmi">Tasa Emi</span></dt>
        <dd>
            <span>{{lHBonos.tasaEmi}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.nomCli">Nom Cli</span></dt>
        <dd>
            <span>{{lHBonos.nomCli}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.codInst">Cod Inst</span></dt>
        <dd>
            <span>{{lHBonos.codInst}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.serieInst">Serie Inst</span></dt>
        <dd>
            <span>{{lHBonos.serieInst}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.perTasa">Per Tasa</span></dt>
        <dd>
            <span>{{lHBonos.perTasa}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.tipoInt">Tipo Int</span></dt>
        <dd>
            <span>{{lHBonos.tipoInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.codTipoInt">Cod Tipo Int</span></dt>
        <dd>
            <span>{{lHBonos.codTipoInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.fecVcto">Fec Vcto</span></dt>
        <dd>
            <span>{{lHBonos.fecVcto | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.onp">Onp</span></dt>
        <dd>
            <span>{{lHBonos.onp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.estCta">Est Cta</span></dt>
        <dd>
            <span>{{lHBonos.estCta}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.fecCont">Fec Cont</span></dt>
        <dd>
            <span>{{lHBonos.fecCont | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.bipersonal">Bipersonal</span></dt>
        <dd>
            <span>{{lHBonos.bipersonal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.reajustabilidad">Reajustabilidad</span></dt>
        <dd>
            <span>{{lHBonos.reajustabilidad}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.plazo">Plazo</span></dt>
        <dd>
            <span>{{lHBonos.plazo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.indPago">Ind Pago</span></dt>
        <dd>
            <span>{{lHBonos.indPago}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.extranjero">Extranjero</span></dt>
        <dd>
            <span>{{lHBonos.extranjero}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.impExt">Imp Ext</span></dt>
        <dd>
            <span>{{lHBonos.impExt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.numCupones">Num Cupones</span></dt>
        <dd>
            <span>{{lHBonos.numCupones}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.numCuponPago">Num Cupon Pago</span></dt>
        <dd>
            <span>{{lHBonos.numCuponPago}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.ctaCap">Cta Cap</span></dt>
        <dd>
            <span>{{lHBonos.ctaCap}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.ctaInt">Cta Int</span></dt>
        <dd>
            <span>{{lHBonos.ctaInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.ctaReaj">Cta Reaj</span></dt>
        <dd>
            <span>{{lHBonos.ctaReaj}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.origen">Origen</span></dt>
        <dd>
            <span>{{lHBonos.origen}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.lHBonos.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="lHBonos.annoTributa">
                <a [routerLink]="['/anno-tributa', lHBonos.annoTributa?.id]">{{lHBonos.annoTributa?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'lh-bonos/'+ lHBonos.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
