<div>

    <h2> <span jhiTranslate = "intRealAhorro.title"></span> </h2>
	
    <jhi-alert></jhi-alert>
    
	<div class = "row"> </div>
	
    <div class = "row" *ngIf = "annosTributarios">
        
		<div class="form-group col-lg-3">
            
			<span class="text-primary-sccm">Seleccione Año Tributario</span>
            
			<select class="form-control" #idAnnoSelected>
                
				<option *ngFor="let anno of annosTributarios;" value="{{anno.id}}">
                    {{anno.annoT}}
                </option>
				
            </select>
			
        </div>
		
        <div class = "form-group col-lg-3">
            
			<button style="margin-top: 18px;" class="btn btn-primary" (click)="filterByAnooTributario(idAnnoSelected)">
				
				<span class="fab fa-searchengin"></span> <span>Buscar</span>
				
			</button>
        </div>
        
		<div class = "col-lg-3"></div>
        
		<div class = "col-lg-3">
		
            <button *ngIf="pactosFlag" style="margin-top: 18px;" class="btn btn-success float-right jh-create-entity btn-block" (click)="generateExcel()">
                
				<span class="fas fa-file-excel"></span>
                <span jhiTranslate="entity.action.exportToExcel">Export to Excel</span>
				
            </button>
			
        </div>
		
    </div>
	
    <div class="table-responsive" *ngIf="pactosFlag">
        
		<table class="table table-striped" id="main-data-table">
            
			<thead>
				<tr>
					<th><span>Folio</span></th>
					<th><span>Interés Real</span></th>
					<th><span>Interés Real Calculado</span></th>
					<th><span>Diferencia</span></th>
					<th><span>Diferencia Absoluta</span></th>
					<th><span>SI Calculado</span></th>
					<th><span>Giros</span></th>
					<th><span>Abonos</span></th>
					<th><span>SF Calculado</span></th>
				</tr>
            </thead>
            
			<tbody>
				<tr *ngFor="let ahorro of ahorrosIR ;trackBy: trackId">
					<td>{{ahorro.folio}}</td>
					<td>${{ahorro.intReal | number}}</td>
					<td>${{ahorro.irFinalCal | number}}</td>
					<td>
						
							${{ahorro.diferencia | number}}
						
					</td>
					<td>
						<span style="width:100%;" ngClass="{{ahorro.diferencia === 0 ? 'badge badge-pill badge-primary': 'badge badge-pill badge-danger' }}">
						${{ahorro.difAbs | absoluteValue | number }}
						</span>
					</td>
						
					<td>${{ahorro.siCalculado | number}}</td>
					<td>${{ahorro.giros | number}}</td>
					<td>${{ahorro.abonos | number}}</td>
					<td>${{ahorro.sfCalculado | number}}</td>
				</tr>
				
			</tbody>
			
        </table>
		
    </div>

    <div class="table-responsive" *ngIf="pactosFlagSinData">
        
		<div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error: </strong> No existen datos para año tributario seleccionado.
        </div>
		
    </div>
	
</div>