<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

    <!--Footer Links-->
    <div class="container text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6 text-center">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Sistema de Consolidación de Certificados Masivos.</h5>
                <p>Todos los Derechos Reservados. Infórmese sobre la garantía estatal de los depósitos en su banco o en www.sbif.cl Casa Matriz: Teatinos 220, Santiago, Chile.
                    Infórmese sobre las entidades autorizadas para emitir Tarjetas de Pago en el país, quienes se encuentran inscritas en los Registros de Emisores de Tarjetas que
                    lleva la SBIF, en adelante www.sbif.cl.</p>
            </div>

            <!--Second column-->
            <div class="col-md-6 text-center">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">SITIOS DE INTERÉS</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://si3.bcentral.cl/indicadoressiete/secure/IndicadoresDiarios.aspx" target="_blank">Indicadores Diarios</a>
                    </li>
                    <li>
                        <a href="http://www.sii.cl/servicios_online/1043-1518.html" target="_blank">Envío Declaraciones Juradas</a>
                    </li>
                    <li>
                        <a href=" http://www.sii.cl/ayudas/formularios/3094-3097.html" target="_blank">Ayuda Formularios Operación Renta</a>
                    </li>
                    <li>
                        <a href="http://www.sii.cl/ayudas/" target="_blank">Mesa de Ayuda SII</a>
                    </li>
                    <li>
                        <a href="http://www.sii.cl/ayudas/ayudas_por_servicios/2120-formularios_y_plazos_2018-2171.html" target="_blank">Declaraciones Juradas</a>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
    <!--/.Footer Links-->
    <hr>

    <!--Social buttons-->
    <!--<div class="text-center">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <a class="btn-floating btn-lg btn-fb mx-1">
                    <i class="fab fa-facebook-square"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-lg btn-tw mx-1">
                    <i class="fab fa-twitter-square"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-lg btn-gplus mx-1">
                    <i class="fab fa-google-plus-square"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-lg btn-li mx-1">
                    <i class="fab fa-linkedin"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-lg btn-dribbble mx-1">
                    <i class="fab fa-dribbble-square"> </i>
                </a>
            </li>
        </ul>
    </div>-->
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2019 Copyright:
        <a href="http://www.tutorial.cl/" target="_blank"> Tutorial.cl </a>
    </div>
    <!--/.Copyright-->

</footer>
