
<div *ngIf="detalleControlCambio">
    <h2><span jhiTranslate="sccmApp.detalleControlCambio.detail.title">Detalle Control Cambio</span> {{detalleControlCambio.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.detalleControlCambio.nombreCampo">Nombre Campo</span></dt>
        <dd>
            <span>{{detalleControlCambio.nombreCampo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.detalleControlCambio.valorCampo">Valor Campo</span></dt>
        <dd>
            <span>{{detalleControlCambio.valorCampo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.detalleControlCambio.tipoCampo">Tipo Campo</span></dt>
        <dd>
            <span>{{detalleControlCambio.tipoCampo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.detalleControlCambio.detcabcontrol">Detcabcontrol</span></dt>
        <dd>
            <div *ngIf="detalleControlCambio.detcabcontrol">
                <a [routerLink]="['/cabecera-control-cambio', detalleControlCambio.detcabcontrol?.id]">{{detalleControlCambio.detcabcontrol?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'detalle-control-cambio/'+ detalleControlCambio.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
