<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDetalleControlCambioLabel" jhiTranslate="sccmApp.detalleControlCambio.home.createOrEditLabel">Create or edit a Detalle Control Cambio</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!detalleControlCambio.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="detalleControlCambio.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.detalleControlCambio.nombreCampo" for="field_nombreCampo">Nombre Campo</label>
            <input type="text" class="form-control" name="nombreCampo" id="field_nombreCampo"
                [(ngModel)]="detalleControlCambio.nombreCampo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.detalleControlCambio.valorCampo" for="field_valorCampo">Valor Campo</label>
            <input type="text" class="form-control" name="valorCampo" id="field_valorCampo"
                [(ngModel)]="detalleControlCambio.valorCampo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.detalleControlCambio.tipoCampo" for="field_tipoCampo">Tipo Campo</label>
            <input type="text" class="form-control" name="tipoCampo" id="field_tipoCampo"
                [(ngModel)]="detalleControlCambio.tipoCampo"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.detalleControlCambio.detcabcontrol" for="field_detcabcontrol">Detcabcontrol</label>
            <select class="form-control" id="field_detcabcontrol" name="detcabcontrol" [(ngModel)]="detalleControlCambio.detcabcontrol" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cabeceraControlCambioOption.id === detalleControlCambio.detcabcontrol?.id ? detalleControlCambio.detcabcontrol : cabeceraControlCambioOption" *ngFor="let cabeceraControlCambioOption of cabeceracontrolcambios; trackBy: trackCabeceraControlCambioById">{{cabeceraControlCambioOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
