<div>
    <h2>
        <span jhiTranslate="sccmApp.detalleControlCambio.home.title">Detalle Control Cambios</span>
        <button class="btn btn-primary float-right jh-create-entity create-detalle-control-cambio" [routerLink]="['/', { outlets: { popup: ['detalle-control-cambio-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.detalleControlCambio.home.createLabel">
            Create new Detalle Control Cambio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="detalleControlCambios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.detalleControlCambio.nombreCampo">Nombre Campo</span></th>
            <th><span jhiTranslate="sccmApp.detalleControlCambio.valorCampo">Valor Campo</span></th>
            <th><span jhiTranslate="sccmApp.detalleControlCambio.tipoCampo">Tipo Campo</span></th>
            <th><span jhiTranslate="sccmApp.detalleControlCambio.detcabcontrol">Detcabcontrol</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let detalleControlCambio of detalleControlCambios ;trackBy: trackId">
                <td><a [routerLink]="['../detalle-control-cambio', detalleControlCambio.id ]">{{detalleControlCambio.id}}</a></td>
                <td>{{detalleControlCambio.nombreCampo}}</td>
                <td>{{detalleControlCambio.valorCampo}}</td>
                <td>{{detalleControlCambio.tipoCampo}}</td>
                <td>
                    <div *ngIf="detalleControlCambio.detcabcontrol">
                        <a [routerLink]="['../cabecera-control-cambio', detalleControlCambio.detcabcontrol?.id ]" >{{detalleControlCambio.detcabcontrol?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../detalle-control-cambio', detalleControlCambio.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'detalle-control-cambio/'+ detalleControlCambio.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'detalle-control-cambio/'+ detalleControlCambio.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
