
<div *ngIf="clienteBice">
    <h2><span jhiTranslate="sccmApp.clienteBice.detail.title">Cliente Bice</span> {{clienteBice.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.clienteBice.rut">Rut</span></dt>
        <dd>
            <span>{{clienteBice.rut}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.clienteBice.nombre">Nombre</span></dt>
        <dd>
            <span>{{clienteBice.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.clienteBice.direccion">Direccion</span></dt>
        <dd>
            <span>{{clienteBice.direccion}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cliente-bice/'+ clienteBice.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
