<div>
    <h2>
        <span jhiTranslate="sccmApp.clienteBice.home.title">Cliente Bices</span>
        <button class="btn btn-primary float-right jh-create-entity create-cliente-bice" [routerLink]="['/', { outlets: { popup: ['cliente-bice-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.clienteBice.home.createLabel">
            Create new Cliente Bice
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clienteBices">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="sccmApp.clienteBice.rut">Rut</span></th>
            <th><span jhiTranslate="sccmApp.clienteBice.nombre">Nombre</span></th>
            <th><span jhiTranslate="sccmApp.clienteBice.direccion">Direccion</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clienteBice of clienteBices ;trackBy: trackId">
                <td>{{clienteBice.rut}}</td>
                <td>{{clienteBice.nombre}}</td>
                <td>{{clienteBice.direccion}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cliente-bice', clienteBice.id ]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cliente-bice/'+ clienteBice.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-secondary btn-sm text-white">
                            <span class="fas fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cliente-bice/'+ clienteBice.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-trash-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
