<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySCCMUserRoleLabel" jhiTranslate="sccmApp.sCCMUserRole.home.createOrEditLabel">Create or edit a SCCM User Role</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!sCCMUserRole.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="sCCMUserRole.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.sCCMUserRole.sccmSystemUser" for="field_sccmSystemUser">Sccm System User</label>
            <input type="number" class="form-control" name="sccmSystemUser" id="field_sccmSystemUser"
                [(ngModel)]="sCCMUserRole.sccmSystemUser"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.sCCMUserRole.sccmRole" for="field_sccmRole">Sccm Role</label>
            <select class="form-control" name="sccmRole" [(ngModel)]="sCCMUserRole.sccmRole" id="field_sccmRole" >
                <option value="ROLE_SCCM_1941_ADMIN">{{'sccmApp.SCCMRole.ROLE_SCCM_1941_ADMIN' | translate}}</option>
                <option value="ROLE_SCCM_1941_USER">{{'sccmApp.SCCMRole.ROLE_SCCM_1941_USER' | translate}}</option>
                <option value="ROLE_SCCM_1944_ADMIN">{{'sccmApp.SCCMRole.ROLE_SCCM_1944_ADMIN' | translate}}</option>
                <option value="ROLE_SCCM_1944_USER">{{'sccmApp.SCCMRole.ROLE_SCCM_1944_USER' | translate}}</option>
                <option value="ROLE_SCCM_1890_ADMIN">{{'sccmApp.SCCMRole.ROLE_SCCM_1890_ADMIN' | translate}}</option>
                <option value="ROLE_SCCM_1890_USER">{{'sccmApp.SCCMRole.ROLE_SCCM_1890_USER' | translate}}</option>
                <option value="ROLE_SCCM_ADMIN">{{'sccmApp.SCCMRole.ROLE_SCCM_ADMIN' | translate}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
