<div>
    <h2>
        <span jhiTranslate="sccmApp.sCCMUserRole.home.title">SCCM User Roles</span>
        <button class="btn btn-primary float-right jh-create-entity create-sccm-user-role" [routerLink]="['/', { outlets: { popup: ['sccm-user-role-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.sCCMUserRole.home.createLabel">
            Create new SCCM User Role
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sCCMUserRoles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.sCCMUserRole.sccmSystemUser">Sccm System User</span></th>
            <th><span jhiTranslate="sccmApp.sCCMUserRole.sccmRole">Sccm Role</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sCCMUserRole of sCCMUserRoles ;trackBy: trackId">
                <td><a [routerLink]="['../sccm-user-role', sCCMUserRole.id ]">{{sCCMUserRole.id}}</a></td>
                <td>{{sCCMUserRole.sccmSystemUser}}</td>
                <td jhiTranslate="{{'sccmApp.SCCMRole.' + sCCMUserRole.sccmRole}}">{{sCCMUserRole.sccmRole}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sccm-user-role', sCCMUserRole.id ]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sccm-user-role/'+ sCCMUserRole.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-secondary btn-sm text-white">
                            <span class="fas fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sccm-user-role/'+ sCCMUserRole.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-trash-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
