
<div *ngIf="sCCMUserRole">
    <h2><span jhiTranslate="sccmApp.sCCMUserRole.detail.title">SCCM User Role</span> {{sCCMUserRole.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.sCCMUserRole.sccmSystemUser">Sccm System User</span></dt>
        <dd>
            <span>{{sCCMUserRole.sccmSystemUser}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.sCCMUserRole.sccmRole">Sccm Role</span></dt>
        <dd>
            <span jhiTranslate="{{'sccmApp.SCCMRole.' + sCCMUserRole.sccmRole}}">{{sCCMUserRole.sccmRole}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sccm-user-role/'+ sCCMUserRole.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
