<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTipoAlertaLabel" jhiTranslate="sccmApp.tipoAlerta.home.createOrEditLabel">Create or edit a Tipo Alerta</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tipoAlerta.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tipoAlerta.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.tipoAlerta.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="tipoAlerta.nombre"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.tipoAlerta.codigoUnico" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="codigoUnico" id="field_descripcion"
                [(ngModel)]="tipoAlerta.codigoUnico"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.tipoAlerta.esDap" for="field_esDap">Es Dap</label>
            <input type="checkbox" class="form-control" name="esDap" id="field_esDap"
                [(ngModel)]="tipoAlerta.esDap"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
