
<div *ngIf="tipoAlerta">
    <h2><span jhiTranslate="sccmApp.tipoAlerta.detail.title">Tipo Alerta</span> {{tipoAlerta.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.tipoAlerta.nombre">Nombre</span></dt>
        <dd>
            <span>{{tipoAlerta.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.tipoAlerta.codigoUnico">codigoUnico</span></dt>
        <dd>
            <span>{{tipoAlerta.codigoUnico}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.tipoAlerta.esDap">Es Dap</span></dt>
        <dd>
            <span>{{tipoAlerta.esDap}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tipo-alerta/'+ tipoAlerta.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
