<div>
    <h2>
        <span jhiTranslate="sccmApp.tipoAlerta.home.title">Tipo Alertas</span>
        <button class="btn btn-primary float-right jh-create-entity create-tipo-alerta" [routerLink]="['/', { outlets: { popup: ['tipo-alerta-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="sccmApp.tipoAlerta.home.createLabel">
            Create new Tipo Alerta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tipoAlertas">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="sccmApp.tipoAlerta.nombre">Nombre</span></th>
                <th><span jhiTranslate="sccmApp.tipoAlerta.codigoUnico">Descripcion</span></th>
                <th><span jhiTranslate="sccmApp.tipoAlerta.esDap">Es Dap</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tipoAlerta of tipoAlertas ;trackBy: trackId">
                <td><a [routerLink]="['../tipo-alerta', tipoAlerta.id ]">{{tipoAlerta.id}}</a></td>
                <td>{{tipoAlerta.nombre}}</td>
                <td>{{tipoAlerta.codigoUnico}}</td>
                <td>{{tipoAlerta.esDap}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [routerLink]="['../tipo-alerta', tipoAlerta.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'tipo-alerta/'+ tipoAlerta.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                            <span class="fa fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'tipo-alerta/'+ tipoAlerta.id + '/delete'} }]" replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
