
<div *ngIf="uf">
    <h2><span jhiTranslate="sccmApp.uf.detail.title">Uf</span> {{uf.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.uf.fecha">Fecha</span></dt>
        <dd>
            <span>{{uf.fecha | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.uf.valor">Valor</span></dt>
        <dd>
            <span>{{uf.valor}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.uf.codMon">Cod Mon</span></dt>
        <dd>
            <span>{{uf.codMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.uf.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="uf.annoTributa">
                <a [routerLink]="['/anno-tributa', uf.annoTributa?.id]">{{uf.annoTributa?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'uf/'+ uf.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
