<div>
    <h2>
        <span jhiTranslate="sccmApp.uf.home.title">Ufs</span>
        <button class="btn btn-primary float-right jh-create-entity create-uf" [routerLink]="['/', { outlets: { popup: ['uf-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.uf.home.createLabel">
            Create new Uf
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ufs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.uf.fecha">Fecha</span></th>
            <th><span jhiTranslate="sccmApp.uf.valor">Valor</span></th>
            <th><span jhiTranslate="sccmApp.uf.codMon">Cod Mon</span></th>
            <th><span jhiTranslate="sccmApp.uf.annoTributa">Anno Tributa</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let uf of ufs ;trackBy: trackId">
                <td><a [routerLink]="['../uf', uf.id ]">{{uf.id}}</a></td>
                <td>{{uf.fecha | date:'mediumDate'}}</td>
                <td>{{uf.valor}}</td>
                <td>{{uf.codMon}}</td>
                <td>
                    <div *ngIf="uf.annoTributa">
                        <a [routerLink]="['../anno-tributa', uf.annoTributa?.id ]" >{{uf.annoTributa?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../uf', uf.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'uf/'+ uf.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'uf/'+ uf.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
