<div>

    <h2> Emisión Certificados - Operaciones Captación </h2>
    	
	<form>
	
        <div class = "row">
		
            <div class = "form-group col-lg-3">
                
				<span class = "text-primary-sccm"> Seleccione Año Tributario</span>
                
				<select class = "form-control" #idAnnoSelected id = "field_annoTributa" name = "annoTributa" 
				[(ngModel)] = "annoSelected">
                    
					<option *ngFor = "let anno of annosTributarios;" value = "{{anno.id}}"> {{anno.annoT}} </option>
					
                </select>
				
            </div>
			
            <div class = "form-group col-lg-2">
                
				<span class = "text-primary-sccm"> Seleccione Tipo Cliente </span>
                
				<div style = "padding-top: 5px;">
				
                    <label class = "adio-inline">
					
                        <input class = "form-control" type = "radio" (click) = "validateAllMdfk()" [(ngModel)] = "tipo" 
						name = "tipo" value = "T" checked> Todos
                    
					</label>
					
                    <label class = "radio-inline" style = "margin-left: 30px;">
					
                        <input class = "form-control" type = "radio" (click) = "validateJustOne()" [(ngModel)] = "tipo" 
						name = "tipo" value = "U"> Uno solo
                    
					</label>
					
                </div>
				
            </div>
			
            <div class = "form-group col-lg-4" *ngIf = "isJustOne===true">
                
				<span class = "text-primary-sccm"> Rut </span>
				
                <input type = "text" class = "form-control" [(ngModel)] = "rutFilterValue" (ngModelChange) = "valueChange($event)" 
				placeholder = "Sin díjito verificador. Ej: 76055353" name = "rutFilterValue"/>
					   
            </div>
            
			<div style = "margin-top: 18px;" class = "form-group col-lg-3">
                
				<div class = "form-group col-lg-3">
				
					<button [class] = "(isRutValid || !isJustOne) ? 'btn btn-primary' : 'btn btn-primary disabled'" 
					[disabled] = "!(canUse && (isRutValid || !isJustOne))" (click) = "certificados(idAnnoSelected,rutSelected)">
						
						<i class = "fas fa-play"> </i> &nbsp;Emitir Certificado
						
					</button>
				
				</div>
				
            </div>
			
        </div>
		
    </form> <br/>
		
	<div class = "row">
	
		<div class = "form-group col-lg-3">
			
			<button style = "margin-top: 18px;" class = "btn btn-success float-right jh-create-entity btn-block" (click) = "generateExcel()">
					
				<span class = "fas fa-file-excel"> </span> Log Certificados Emitidos
				
			</button>	
			
		</div>
		
		<div class = "form-group col-lg-9"> </div>
	
	</div>
	
    <div class = "" *ngIf = "flagResult">
        
		<div class = "{{classType}}">
		
            <a class = "close" aria-label = "close" (click) = "onAlertClose()">&times;</a>
            
			<strong>{{resultType}}</strong>{{resultMsg}}
			
        </div>
		
    </div>
	
</div>