<div>
    <h2>
        <span jhiTranslate="sccmApp.ahorroMov.home.title">Ahorro Movs</span>
        <button class="btn btn-primary float-right jh-create-entity create-ahorro-mov" [routerLink]="['/', { outlets: { popup: ['ahorro-mov-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.ahorroMov.home.createLabel">
            Create new Ahorro Mov
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ahorroMovs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.ahorroMov.rut">Rut</span></th>
            <th><span jhiTranslate="sccmApp.ahorroMov.cuenta">Cuenta</span></th>
            <th><span jhiTranslate="sccmApp.ahorroMov.producto">Producto</span></th>
            <th><span jhiTranslate="sccmApp.ahorroMov.fechaMov">Fecha Mov</span></th>
            <th><span jhiTranslate="sccmApp.ahorroMov.tipo">Tipo</span></th>
            <th><span jhiTranslate="sccmApp.ahorroMov.codigo">Codigo</span></th>
            <th><span jhiTranslate="sccmApp.ahorroMov.glosa">Glosa</span></th>
            <th><span jhiTranslate="sccmApp.ahorroMov.capital">Capital</span></th>
            <th><span jhiTranslate="sccmApp.ahorroMov.valorUf">Valor Uf</span></th>
            <th><span jhiTranslate="sccmApp.ahorroMov.capitalUf">Capital Uf</span></th>
            <th><span jhiTranslate="sccmApp.ahorroMov.codMoneda">Cod Moneda</span></th>
            <th><span jhiTranslate="sccmApp.ahorroMov.origen">Origen</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ahorroMov of ahorroMovs ;trackBy: trackId">
                <td><a [routerLink]="['../ahorro-mov', ahorroMov.id ]">{{ahorroMov.id}}</a></td>
                <td>{{ahorroMov.rut}}</td>
                <td>{{ahorroMov.cuenta}}</td>
                <td>{{ahorroMov.producto}}</td>
                <td>{{ahorroMov.fechaMov | date:'mediumDate'}}</td>
                <td>{{ahorroMov.tipo}}</td>
                <td>{{ahorroMov.codigo}}</td>
                <td>{{ahorroMov.glosa}}</td>
                <td>{{ahorroMov.capital}}</td>
                <td>{{ahorroMov.valorUf}}</td>
                <td>{{ahorroMov.capitalUf}}</td>
                <td>{{ahorroMov.codMoneda}}</td>
                <td>{{ahorroMov.origen}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ahorro-mov', ahorroMov.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ahorro-mov/'+ ahorroMov.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ahorro-mov/'+ ahorroMov.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
