
<div *ngIf="ahorroMov">
    <h2><span jhiTranslate="sccmApp.ahorroMov.detail.title">Ahorro Mov</span> {{ahorroMov.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.ahorroMov.rut">Rut</span></dt>
        <dd>
            <span>{{ahorroMov.rut}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorroMov.cuenta">Cuenta</span></dt>
        <dd>
            <span>{{ahorroMov.cuenta}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorroMov.producto">Producto</span></dt>
        <dd>
            <span>{{ahorroMov.producto}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorroMov.fechaMov">Fecha Mov</span></dt>
        <dd>
            <span>{{ahorroMov.fechaMov | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorroMov.tipo">Tipo</span></dt>
        <dd>
            <span>{{ahorroMov.tipo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorroMov.codigo">Codigo</span></dt>
        <dd>
            <span>{{ahorroMov.codigo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorroMov.glosa">Glosa</span></dt>
        <dd>
            <span>{{ahorroMov.glosa}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorroMov.capital">Capital</span></dt>
        <dd>
            <span>{{ahorroMov.capital}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorroMov.valorUf">Valor Uf</span></dt>
        <dd>
            <span>{{ahorroMov.valorUf}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorroMov.capitalUf">Capital Uf</span></dt>
        <dd>
            <span>{{ahorroMov.capitalUf}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorroMov.codMoneda">Cod Moneda</span></dt>
        <dd>
            <span>{{ahorroMov.codMoneda}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorroMov.origen">Origen</span></dt>
        <dd>
            <span>{{ahorroMov.origen}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ahorro-mov/'+ ahorroMov.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
