<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAhorroMovLabel" jhiTranslate="sccmApp.ahorroMov.home.createOrEditLabel">Create or edit a Ahorro Mov</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!ahorroMov.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ahorroMov.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorroMov.rut" for="field_rut">Rut</label>
            <input type="text" class="form-control" name="rut" id="field_rut"
                [(ngModel)]="ahorroMov.rut"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorroMov.cuenta" for="field_cuenta">Cuenta</label>
            <input type="number" class="form-control" name="cuenta" id="field_cuenta"
                [(ngModel)]="ahorroMov.cuenta"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorroMov.producto" for="field_producto">Producto</label>
            <input type="number" class="form-control" name="producto" id="field_producto"
                [(ngModel)]="ahorroMov.producto"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorroMov.fechaMov" for="field_fechaMov">Fecha Mov</label>
            <div class="input-group">
                <input id="field_fechaMov" type="text" class="form-control" name="fechaMov" ngbDatepicker  #fechaMovDp="ngbDatepicker" [(ngModel)]="ahorroMov.fechaMov"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaMovDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorroMov.tipo" for="field_tipo">Tipo</label>
            <input type="text" class="form-control" name="tipo" id="field_tipo"
                [(ngModel)]="ahorroMov.tipo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorroMov.codigo" for="field_codigo">Codigo</label>
            <input type="text" class="form-control" name="codigo" id="field_codigo"
                [(ngModel)]="ahorroMov.codigo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorroMov.glosa" for="field_glosa">Glosa</label>
            <input type="text" class="form-control" name="glosa" id="field_glosa"
                [(ngModel)]="ahorroMov.glosa"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorroMov.capital" for="field_capital">Capital</label>
            <input type="number" class="form-control" name="capital" id="field_capital"
                [(ngModel)]="ahorroMov.capital"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorroMov.valorUf" for="field_valorUf">Valor Uf</label>
            <input type="number" class="form-control" name="valorUf" id="field_valorUf"
                [(ngModel)]="ahorroMov.valorUf"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorroMov.capitalUf" for="field_capitalUf">Capital Uf</label>
            <input type="number" class="form-control" name="capitalUf" id="field_capitalUf"
                [(ngModel)]="ahorroMov.capitalUf"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorroMov.codMoneda" for="field_codMoneda">Cod Moneda</label>
            <input type="number" class="form-control" name="codMoneda" id="field_codMoneda"
                [(ngModel)]="ahorroMov.codMoneda"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorroMov.origen" for="field_origen">Origen</label>
            <input type="text" class="form-control" name="origen" id="field_origen"
                [(ngModel)]="ahorroMov.origen"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
