
<div *ngIf="dapCC">
    <h2><span jhiTranslate="sccmApp.dapCC.detail.title">Dap CC</span> {{dapCC.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.dapCC.sucursal">Sucursal</span></dt>
        <dd>
            <span>{{dapCC.sucursal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dapCC.cuentaInt">Cuenta Int</span></dt>
        <dd>
            <span>{{dapCC.cuentaInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dapCC.codMoneda">Cod Moneda</span></dt>
        <dd>
            <span>{{dapCC.codMoneda}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dapCC.monedaContable">Moneda Contable</span></dt>
        <dd>
            <span>{{dapCC.monedaContable}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dapCC.tipoPlazo">Tipo Plazo</span></dt>
        <dd>
            <span>{{dapCC.tipoPlazo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dapCC.fechaContable">Fecha Contable</span></dt>
        <dd>
            <span>{{dapCC.fechaContable | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dapCC.fcc">Fcc</span></dt>
        <dd>
            <span>{{dapCC.fcc}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dapCC.contabilidad">Contabilidad</span></dt>
        <dd>
            <span>{{dapCC.contabilidad}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dapCC.diferencia">Diferencia</span></dt>
        <dd>
            <span>{{dapCC.diferencia}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dapCC.diferenciaAbs">Diferencia Abs</span></dt>
        <dd>
            <span>{{dapCC.diferenciaAbs}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dapCC.annoTributaId">Anno Tributa Id</span></dt>
        <dd>
            <span>{{dapCC.annoTributaId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'dap-cc/'+ dapCC.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
