<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDapCCLabel" jhiTranslate="sccmApp.dapCC.home.createOrEditLabel">Create or edit a Dap CC</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dapCC.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dapCC.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapCC.sucursal" for="field_sucursal">Sucursal</label>
            <input type="number" class="form-control" name="sucursal" id="field_sucursal"
                [(ngModel)]="dapCC.sucursal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapCC.cuentaInt" for="field_cuentaInt">Cuenta Int</label>
            <input type="number" class="form-control" name="cuentaInt" id="field_cuentaInt"
                [(ngModel)]="dapCC.cuentaInt"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapCC.codMoneda" for="field_codMoneda">Cod Moneda</label>
            <input type="number" class="form-control" name="codMoneda" id="field_codMoneda"
                [(ngModel)]="dapCC.codMoneda"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapCC.monedaContable" for="field_monedaContable">Moneda Contable</label>
            <input type="number" class="form-control" name="monedaContable" id="field_monedaContable"
                [(ngModel)]="dapCC.monedaContable"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapCC.tipoPlazo" for="field_tipoPlazo">Tipo Plazo</label>
            <input type="text" class="form-control" name="tipoPlazo" id="field_tipoPlazo"
                [(ngModel)]="dapCC.tipoPlazo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapCC.fechaContable" for="field_fechaContable">Fecha Contable</label>
            <div class="input-group">
                <input id="field_fechaContable" type="text" class="form-control" name="fechaContable" ngbDatepicker  #fechaContableDp="ngbDatepicker" [(ngModel)]="dapCC.fechaContable"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaContableDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapCC.fcc" for="field_fcc">Fcc</label>
            <input type="number" class="form-control" name="fcc" id="field_fcc"
                [(ngModel)]="dapCC.fcc"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapCC.contabilidad" for="field_contabilidad">Contabilidad</label>
            <input type="number" class="form-control" name="contabilidad" id="field_contabilidad"
                [(ngModel)]="dapCC.contabilidad"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapCC.diferencia" for="field_diferencia">Diferencia</label>
            <input type="number" class="form-control" name="diferencia" id="field_diferencia"
                [(ngModel)]="dapCC.diferencia"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapCC.diferenciaAbs" for="field_diferenciaAbs">Diferencia Abs</label>
            <input type="number" class="form-control" name="diferenciaAbs" id="field_diferenciaAbs"
                [(ngModel)]="dapCC.diferenciaAbs"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dapCC.annoTributaId" for="field_annoTributaId">Anno Tributa Id</label>
            <input type="number" class="form-control" name="annoTributaId" id="field_annoTributaId"
                [(ngModel)]="dapCC.annoTributaId"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
