<div>
    <h2>
        <span jhiTranslate="sccmApp.dapCC.home.title">Dap CCS</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <div class="row" *ngIf="annosTributarios">
        <div class="form-group col-lg-3">
             <span class="text-primary-sccm">
                        Seleccione Año Tributario
             </span>
            <select class="form-control" #idAnnoSelected>
                <option *ngFor="let anno of annosTributarios;" value="{{anno.id}}">
                    {{anno.annoT}}
                </option>
            </select>
        </div>
        <div class="form-group col-lg-3">
            <span class="text-primary-sccm">Seleccione Tipo Moneda</span>
            <select class="form-control" #selectedCurrencyTypeSel>
                <option value="{{SELECT_BLANK_OPTION}}">{{SELECT_BLANK_OPTION}}</option>
                <option *ngFor="let moneda of tablaMonedas;" value="{{moneda.codMon}}">
                    {{moneda.glosa}}
                </option>
            </select>
        </div>
        <div class="form-group col-lg-3">
            <button style="margin-top: 18px;" class="btn btn-primary" (click)="filterByAnnoTributarioAndCurrency(idAnnoSelected, selectedCurrencyTypeSel)">
			
				<span class="fab fa-searchengin"></span> <span>Buscar</span>
				
			</button>
        </div>
        <div class="col-lg-3">
            <button *ngIf="dapCcFlag" style="margin-top: 18px;" class="btn btn-success float-right jh-create-entity" (click)="generateExcel2()">
                <span class="fas fa-file-excel"></span>
                <span jhiTranslate="entity.action.exportToExcel">Export to Excel</span>
            </button>
        </div>
    </div>
    <div class="table-responsive" *ngIf="dapCcFlag">
        <table class="table table-striped" id="main-data-table">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th><span jhiTranslate="sccmApp.dapCC.sucursal">Sucursal</span></th>
                <th><span jhiTranslate="sccmApp.dapCC.cuentaInt">Cuenta Int</span></th>
                <th><span jhiTranslate="sccmApp.dapCC.codMoneda">Moneda</span></th>
                <th><span jhiTranslate="sccmApp.dapCC.monedaContable">Moneda Contable</span></th>
                <th><span jhiTranslate="sccmApp.dapCC.tipoPlazo">Tipo Plazo</span></th>
                <th><span jhiTranslate="sccmApp.dapCC.fechaContable">Fecha Contable</span></th>
                <th><span jhiTranslate="sccmApp.dapCC.fcc">Fcc</span></th>
                <th><span jhiTranslate="sccmApp.dapCC.contabilidad">Contabilidad</span></th>
                <th><span jhiTranslate="sccmApp.dapCC.diferencia">Diferencia</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dapCC of dapCCS ;trackBy: trackId">
                <td>{{dapCC.sucursal}}</td>
                <td>{{dapCC.cuentaInt}}</td>
                <td>{{convertCodMonToStr(dapCC.codMoneda)}}</td>
                <td>{{convertCodMonToStr(dapCC.monedaContable)}}</td>
                <td>{{dapCC.tipoPlazo}}</td>
                <td>{{dapCC.fechaContable | date:PATTERN_DATE_SHORT}}</td>
                <td>${{dapCC.fcc | number}}</td>
                <td>${{(dapCC.contabilidad === null || dapCC.contabilidad === undefined) ? 0 : dapCC.contabilidad | number}}</td>
                <td>
                    <span style="width:100%;" ngClass="{{dapCC.diferencia === 0 ? 'badge badge-pill badge-primary': 'badge badge-pill badge-danger' }}">
                        ${{dapCC.diferencia | number}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="dapCcFlag">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>

    <div class="table-responsive" *ngIf="dapCcFlagSinData">
        <div class="alert alert-danger alert-dismissible">
            <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
            No existen datos para año tributario seleccionado.
        </div>
    </div>
</div>
