<div *ngIf="representante">
    <h2><span jhiTranslate="sccmApp.representante.detail.title">Representante</span> {{representante.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.representante.nombre">Nombre</span></dt>
        <dd>
            <span>{{representante.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.representante.cargo">Cargo</span></dt>
        <dd>
            <span>{{representante.cargo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.representante.rut">Rut</span></dt>
        <dd>
            <span>{{representante.rut}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.representante.firma">Firma</span></dt>
        <dd>
            <div *ngIf="representante.firma">
                <a (click)="openFile(representante.firmaContentType, representante.firma)" jhiTranslate="entity.action.open">open</a>
                {{representante.firmaContentType}}, {{byteSize(representante.firma)}}
            </div>
        </dd>
        <dt><span jhiTranslate="sccmApp.representante.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="representante.annoTributa">
                <a [routerLink]="['/anno-tributa', representante.annoTributa?.id]">{{representante.annoTributa?.annoT}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="sccmApp.representante.instrumento">Instrumento</span></dt>
        <dd>
            <div *ngIf="representante.instrumento">
                <a [routerLink]="['/instrumento', representante.instrumento?.id]">{{representante.instrumento?.nombreInstrumento}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'representante/'+ representante.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
