<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRepresentanteLabel" jhiTranslate="sccmApp.representante.home.createOrEditLabel">Create or edit a Representante</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!representante.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="representante.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.representante.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                   [(ngModel)]="representante.nombre"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.representante.cargo" for="field_cargo">Cargo</label>
            <input type="text" class="form-control" name="cargo" id="field_cargo"
                   [(ngModel)]="representante.cargo"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.representante.rut" for="field_rut">Rut</label>
            <input type="text" class="form-control" name="rut" id="field_rut"
                   [(ngModel)]="representante.rut"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.representante.firma" for="field_firma">Firma</label>
            <div>
                <div *ngIf="representante.firma" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(representante.firmaContentType, representante.firma)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{representante.firmaContentType}}, {{byteSize(representante.firma)}}</span>
                    <button type="button" (click)="representante.firma=null;representante.firmaContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_firma" (change)="setFileData($event, representante, 'firma', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="firma" id="field_firma"
                   [(ngModel)]="representante.firma"/>
            <input type="hidden" class="form-control" name="firmaContentType" id="field_firmaContentType"
                   [(ngModel)]="representante.firmaContentType"/>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.representante.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="representante.annoTributa">
                <option [ngValue]="annoTributaOption.id === representante.annoTributa?.id ? representante.annoTributa : annoTributaOption"
                        *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.annoT}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.representante.instrumento" for="field_instrumento">Instrumento</label>
            <select class="form-control" id="field_instrumento" name="instrumento" [(ngModel)]="representante.instrumento">
                <option [ngValue]="instrumentoOption.id === representante.instrumento?.id ? representante.instrumento : instrumentoOption"
                        *ngFor="let instrumentoOption of instrumentos; trackBy: trackInstrumentoById">{{instrumentoOption.nombreInstrumento}}
                </option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
