<div>
    
	<h2>
        
		<span jhiTranslate = "sccmApp.representante.home.title"> Representantes </span>
        
		<button [disabled] = "!canUse" class = "btn btn-primary float-right jh-create-entity create-representante" 
		[routerLink] = "['/', { outlets: { popup: ['representante-new'] } }]">
            
			<span class = "fa fa-plus"> </span>
            
			<span jhiTranslate = "sccmApp.representante.home.createLabel"> </span>
			
        </button>
		
    </h2>
	
    <jhi-alert> </jhi-alert>
    
	<div class = "row"> </div>
	
    <div class = "row">
	
        <div class = "form-group col-lg-3">
		
            <span class = "text-primary-sccm"> Seleccione Año Tributario </span>
            
			<select class = "form-control" #idAnnoSelected>
                
				<option *ngFor = "let anno of annosTributarios;" value = "{{anno.id}}"> {{anno.annoT}} </option>
				
            </select>
			
        </div>
		
        <div class = "form-group col-lg-3">
            
			<button [disabled] = "!canUse" style = "margin-top: 18px;" class = "btn btn-primary" (click) = "filterByAnooTributario(idAnnoSelected)">
                
				<span class = "fab fa-searchengin"> </span> <span> Buscar </span>
			
			</button>
			
        </div>
		
    </div>
	
    <br/> <div class = "table-responsive" *ngIf = "representantesFlag">
	
        <table class = "table table-striped">
		
            <thead>
				
				<tr>
					<th> <span jhiTranslate = "sccmApp.representante.nombre"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.representante.cargo"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.representante.rut"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.representante.firma"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.representante.instrumento"> </span> </th>
					<th> </th>
				</tr>
				
            </thead>
            
			<tbody>
				
				<tr *ngFor = "let representante of representantes ;trackBy: trackId">
					
					<td> {{representante.nombre}} </td>
					<td> {{representante.cargo}} </td>
					<td> {{representante.rut}} </td>
					
					<td>
						<a *ngIf = "representante.firma" (click) = "openFile(representante.firmaContentType, representante.firma)" 
						jhiTranslate = "entity.action.open"> open </a>
						
						<span *ngIf = "representante.firma"> {{representante.firmaContentType}}, {{byteSize(representante.firma)}} </span>
					</td>
					
					<td>
						<div *ngFor = "let instrument of instrumentsList">
							
							<div *ngIf = "representante.instrumento.id === instrument.id"> {{instrument.nombreInstrumento}} </div>
						
						</div>
					</td>
					
					<td class = "text-right">
					
						<div class = "btn-group flex-btn-group-container">
						
							<button type = "submit" [routerLink] = "['./', representante.id ]" class = "btn btn-primary btn-sm">
								
								<span class = "fa fa-eye"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.view"> View </span>
								
							</button>
							
							<button type = "submit" [routerLink] = "['/', { outlets: { popup: 'representante/'+ representante.id + '/edit'} }]" 
							replaceUrl = "true" class = "btn btn-secondary btn-sm text-white">
														
								<span class = "fas fa-edit"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.edit"> Edit </span>
								
							</button>
							
							<button type = "submit" [routerLink] = "['/', { outlets: { popup: 'representante/'+ representante.id + '/delete'} }]" 
							replaceUrl = "true" class = "btn btn-danger btn-sm">
							
								<span class = "fas fa-trash-alt"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.delete"> Delete </span>
							
							</button>
							
						</div>
						
					</td>
					
				</tr>
				
            </tbody>
			
        </table>
		
    </div>
	
    <div class = "table-responsive" *ngIf = "representantesFlagSinData">
	
        <div class = "alert alert-danger alert-dismissible">
            
			<a href = "#" class = "close" data-dismiss = "alert" aria-label = "close"> &times; </a>
            
			<strong> Error: </strong> No existen datos para año tributario seleccionado.
        
		</div>
		
    </div>
	
	<div class = "" *ngIf = "flagResult">
        
		<div class = "{{classType}}">
		
            <a class = "close" aria-label = "close" (click) = "onAlertClose()">&times;</a>
            
			<strong>{{resultType}}</strong>{{resultMsg}}
			
        </div>
		
    </div>
	
</div>