<div *ngIf="entrada57b">
    <h2><span jhiTranslate="sccmApp.entrada57b.home.title">Entrada 57 B</span> {{entrada57b.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.entrada57b.rutCliente">rut</span></dt>
        <dd>
            <div *ngFor="let cliente of clientesList">
                <div *ngIf="entrada57b.clienteBice.id === cliente.id">
                    {{cliente.rut}}
                </div>
            </div>
        </dd>
        <dt><span jhiTranslate="sccmApp.entrada57b.clienteBice">Nombre</span></dt>
        <dd>
            <div *ngFor="let cliente of clientesList">
                <div *ngIf="entrada57b.clienteBice.id === cliente.id">
                    {{cliente.rut}}
                </div>
            </div>
        </dd>
        <dt><span jhiTranslate="sccmApp.entrada57b.fechaOperacion"></span></dt>
        <dd>
            <span>{{entrada57b.ddOp +'/'+ entrada57b.mmOp +'/'+ entrada57b.aaOp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entrada57b.fechaVencimiento"></span></dt>
        <dd>
            <span>{{entrada57b.ddVcto +'/'+ entrada57b.mmVcto +'/'+ entrada57b.aaVcto}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entrada57b.montoHistPesos"></span></dt>
        <dd>
            <span>{{entrada57b.montoHistPesos | currency:'CLP'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entrada57b.montoIntNom"></span></dt>
        <dd>
            <span>{{entrada57b.montoIntNom | currency:'CLP'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entrada57b.montoReajNom"></span></dt>
        <dd>
            <span>{{entrada57b.montoReajNom | currency:'CLP'}}</span>
        </dd>

    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'entrada-57-b/'+ entrada57b.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
