<form name="editForm" role="form" novalidate (ngSubmit)="save(fechaOperacion,fechaVencimiento,fechaOperacion2,fechaVencimiento2)" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="myEntrada57bLabel" jhiTranslate="sccmApp.entrada57b.home.createOrEditLabel">Create or edit a Entrada 57 B</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--Menú Agregar-->
        <div class="form-group" [hidden]="pedro===undefined">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="entrada57b.id" readonly/>
        </div>
        <div class="form-group" [hidden]="entrada57b.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.folioOp" for="field_folioOp">Folio Op</label>
            <input type="text" class="form-control" name="folioOp" id="field_folioOp"
                   [(ngModel)]="entrada57b.folioOp" required/>
        </div>
        <div class="form-group" [hidden]="entrada57b.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.fechaOperacion"></label>
            <input type="date" class="form-control" #fechaOperacion2 required/>
        </div>
        <div class="form-group" [hidden]="entrada57b.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.codMoneda" for="field_codMoneda">Cod Moneda</label>
            <input type="text" class="form-control" name="codMoneda" id="field_codMoneda"
                   [(ngModel)]="entrada57b.codMoneda" required/>
        </div>
        <div class="form-group" [hidden]="entrada57b.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.montoHistNom" for="field_montoHistNom">Monto Hist Nom</label>
            <input type="text" class="form-control" name="montoHistNom" id="field_montoHistNom"
                   [(ngModel)]="entrada57b.montoHistNom" required/>
        </div>
        <div class="form-group" [hidden]="entrada57b.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.montoHistPesos" for="field_montoHistPesos">Monto Hist Pesos</label>
            <input type="text" class="form-control" name="montoHistPesos" id="field_montoHistPesos"
                   [(ngModel)]="entrada57b.montoHistPesos" required/>
        </div>
        <div class="form-group" [hidden]="entrada57b.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.fechaVencimiento"></label>
            <input type="date" class="form-control" #fechaVencimiento2 required/>
        </div>
        <div class="form-group" [hidden]="entrada57b.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.fechaDep" for="field_fechaDep">Fecha Dep</label>
            <div class="d-flex">
                <input id="field_fechaDep" type="date" class="form-control" name="fechaDep" [(ngModel)]="entrada57b.fechaDep" required/>
            </div>
        </div>
        <div class="form-group" [hidden]="entrada57b.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.montoIntNom" for="field_montoIntNom">Monto Int Nom</label>
            <input type="text" class="form-control" name="montoIntNom"
                   [(ngModel)]="entrada57b.montoIntNom" required/>
        </div>
        <div class="form-group" [hidden]="entrada57b.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.montoReajNom">Monto Reaj Nom</label>
            <input type="text" class="form-control" name="montoReajNom"
                   [(ngModel)]="entrada57b.montoReajNom" required/>
        </div>
        <div class="form-group" [hidden]="entrada57b.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.annoTributa">Anno Tributa</label>
            <select class="form-control" name="annoTributa" [(ngModel)]="entrada57b.annoTributa">
                <option [ngValue]="annoTributaOption" *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById" [selected]="annotributas[0]">
                    {{annoTributaOption.annoT}}
                </option>
            </select>
        </div>
        <div class="form-group" [hidden]="entrada57b.id">
            <label [hidden]="entrada57b.id" class="form-control-label" jhiTranslate="sccmApp.entrada57b.clienteBice">Cliente Bice</label>
            <select [hidden]="entrada57b.id" class="form-control" name="clienteBice" [(ngModel)]="entrada57b.clienteBice">
                <option [ngValue]="clienteBiceOption" *ngFor="let clienteBiceOption of clientebices; trackBy: trackClienteBiceById" [selected]="clientebices[0]">
                    {{clienteBiceOption.nombre}}
                </option>
            </select>
        </div>

        <!--Menú de edición-->
        <div class="form-group" [hidden]="!entrada57b.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.rutCliente">Cliente Bice</label>
            <select class="form-control" disabled>
                <option [ngValue]="clienteBiceOption.id === entrada57b.clienteBice?.id ? entrada57b.clienteBice : clienteBiceOption"
                        *ngFor="let clienteBiceOption of clientebices; trackBy: trackClienteBiceById">{{clienteBiceOption.rut}}
                </option>
            </select>
        </div>
        <div class="form-group" [hidden]="!entrada57b.id">
            <label [hidden]="!entrada57b.id" class="form-control-label" jhiTranslate="sccmApp.entrada57b.clienteBice">Cliente Bice</label>
            <select class="form-control" disabled>
                <option [ngValue]="clienteBiceOption.id === entrada57b.clienteBice?.id ? entrada57b.clienteBice : clienteBiceOption"
                        *ngFor="let clienteBiceOption of clientebices; trackBy: trackClienteBiceById">{{clienteBiceOption.nombre}}
                </option>
            </select>
        </div>
        <div class="form-group" [hidden]="!entrada57b.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.fechaOperacion"></label>
            <input type="date" class="form-control" #fechaOperacion
                   value="{{entrada57b.aaOp  + '-' + entrada57b.mmOp + '-' + entrada57b.ddOp}}"/>
        </div>
        <div class="form-group" [hidden]="!entrada57b.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.fechaVencimiento"></label>
            <input type="date" class="form-control" #fechaVencimiento
                   value="{{entrada57b.aaVcto + '-' + entrada57b.mmVcto + '-' + entrada57b.ddVcto}}"/>
        </div>
        <div class="form-group" [hidden]="!entrada57b.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.montoHistPesos" for="field_montoHistPesos"></label>
            <input type="number" class="form-control" name="montoHistPesos"
                   [(ngModel)]="entrada57b.montoHistPesos"/>
        </div>
        <div class="form-group" [hidden]="!entrada57b.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.montoIntNom" for="field_montoIntNom"></label>
            <input type="number" class="form-control" name="montoIntNom" id="field_montoIntNom"
                   [(ngModel)]="entrada57b.montoIntNom"/>
        </div>
        <div class="form-group" [hidden]="!entrada57b.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.montoReajNom"></label>
            <input type="number" class="form-control" name="montoReajNom"
                   [(ngModel)]="entrada57b.montoReajNom"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
