<div>
    <div class="row">
        <div class="col-lg-9">
            <h2 class="text-primary-success">
                <span jhiTranslate="sccmApp.entrada57b.home.title"></span>
            </h2>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-primary float-right jh-create-entity create-entrada-57-b btn-block" [routerLink]="['/', { outlets: { popup: ['entrada-57-b-new'] } }]">
                <span class="fa fa-plus"></span>
                <span jhiTranslate="sccmApp.entrada57b.home.createLabel">Create new Entrada 57 B</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-3">
            <span class="text-primary-sccm">Seleccione Año Tributario</span>
            <select class="form-control" #idAnnoSelected>
                <option *ngFor="let anno of annosTributarios;" value="{{anno.id}}">
                    {{anno.annoT}}
                </option>
            </select>
        </div>
        <div class="form-group col-lg-3">
            <button style="margin-top: 18px;" class="btn btn-primary" (click)="filterByAnooTributario(idAnnoSelected)">
                <span class="fab fa-searchengin"></span> <span>Buscar</span>
            </button>
        </div>
        <div *ngIf="ent57BFlag" class="form-group col-lg-3">
            <button style="margin-top: 18px;" class="btn btn-success float-right jh-create-entity create-entrada-57-b btn-block" (click)="generateExcel()">
                <i class="fas fa-file-excel"></i>
                <span jhiTranslate="entity.action.exportToExcel">Export to Excel</span>
            </button>
        </div>
        <div *ngIf="ent57BFlag" class="form-group col-lg-3">
            <button style="margin-top: 18px;" class="text-white btn btn-secondary float-right jh-create-entity create-entrada-57-b btn-block" (click)="reprocessE57B()">
                <i class="fas fa-cogs"></i>
                <span jhiTranslate="sccmApp.entrada57b.home.reprocess">reprocess</span>
            </button>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="row"></div>
    <div class="table-responsive" *ngIf="ent57BFlag">
        <table class="table table-striped" id="table">
            <thead>
            <tr>
                <th><span jhiTranslate="sccmApp.entrada57b.rutCliente">Rut Cliente</span></th>
                <th><span jhiTranslate="sccmApp.entrada57b.clienteBice">Nombre</span></th>
                <th><span jhiTranslate="sccmApp.entrada57b.fechaOperacion">Fecha Operación</span></th>
                <th><span jhiTranslate="sccmApp.entrada57b.fechaVencimiento">Fecha Vencimiento</span></th>
                <th><span jhiTranslate="sccmApp.entrada57b.montoHistPesos">Monto Hist Pesos</span></th>
                <th><span jhiTranslate="sccmApp.entrada57b.montoIntNom">Monto Int Nom</span></th>
                <th><span jhiTranslate="sccmApp.entrada57b.montoReajNom">Monto Reaj Nom</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entrada57b of entrada57bs ;trackBy: trackId">
                <td>
                    <div *ngFor="let cliente of clientesList">
                        <div *ngIf="entrada57b.clienteBice.id === cliente.id">
                            {{cliente.rut}}
                        </div>
                    </div>
                </td>
                <td>
                    <div *ngFor="let cliente of clientesList">
                        <div *ngIf="entrada57b.clienteBice.id === cliente.id">
                            {{cliente.nombre}}
                        </div>
                    </div>
                </td>
                <td>{{entrada57b.ddOp +'/'+ entrada57b.mmOp +'/'+ entrada57b.aaOp}}</td>
                <td>{{entrada57b.ddVcto +'/'+ entrada57b.mmVcto +'/'+ entrada57b.aaVcto}}</td>
                <td><span>${{entrada57b.montoHistPesos | number}}</span></td>
                <td><span>${{entrada57b.montoIntNom | number}}</span></td>
                <td><span>${{entrada57b.montoReajNom | number}}</span></td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../entrada-57-b', entrada57b.id ]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'entrada-57-b/'+ entrada57b.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-secondary btn-sm text-white">
                            <span class="fas fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'entrada-57-b/'+ entrada57b.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-trash-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive" *ngIf="ent57BFlagSinData">
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error: </strong> No existen datos para año tributario seleccionado.
        </div>
    </div>
</div>

