
<div *ngIf="entPagdiv">
    <h2><span jhiTranslate="sccmApp.entPagdiv.detail.title">Ent Pagdiv</span> {{entPagdiv.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.entPagdiv.idRegistro">Id Registro</span></dt>
        <dd>
            <span>{{entPagdiv.idRegistro}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entPagdiv.fechaCarga">Fecha Carga</span></dt>
        <dd>
            <span>{{entPagdiv.fechaCarga | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entPagdiv.usuarioCarga">Usuario Carga</span></dt>
        <dd>
            <span>{{entPagdiv.usuarioCarga}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entPagdiv.regDividendos">Reg Dividendos</span></dt>
        <dd>
            <span>{{entPagdiv.regDividendos}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entPagdiv.rutTmp">Rut Tmp</span></dt>
        <dd>
            <span>{{entPagdiv.rutTmp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entPagdiv.nombreTmp">Nombre Tmp</span></dt>
        <dd>
            <span>{{entPagdiv.nombreTmp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entPagdiv.numDivTmp">Num Div Tmp</span></dt>
        <dd>
            <span>{{entPagdiv.numDivTmp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entPagdiv.fePagTmp">Fe Pag Tmp</span></dt>
        <dd>
            <span>{{entPagdiv.fePagTmp | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entPagdiv.accionesTmp">Acciones Tmp</span></dt>
        <dd>
            <span>{{entPagdiv.accionesTmp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entPagdiv.divPesosTmp">Div Pesos Tmp</span></dt>
        <dd>
            <span>{{entPagdiv.divPesosTmp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entPagdiv.orSecTmp">Or Sec Tmp</span></dt>
        <dd>
            <span>{{entPagdiv.orSecTmp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entPagdiv.pagDivTmp">Pag Div Tmp</span></dt>
        <dd>
            <span>{{entPagdiv.pagDivTmp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entPagdiv.filler">Filler</span></dt>
        <dd>
            <span>{{entPagdiv.filler}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entPagdiv.okRut">Ok Rut</span></dt>
        <dd>
            <span>{{entPagdiv.okRut}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entPagdiv.okFePag">Ok Fe Pag</span></dt>
        <dd>
            <span>{{entPagdiv.okFePag}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entPagdiv.okNuDiv">Ok Nu Div</span></dt>
        <dd>
            <span>{{entPagdiv.okNuDiv}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entPagdiv.okDivPesos">Ok Div Pesos</span></dt>
        <dd>
            <span>{{entPagdiv.okDivPesos}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.entPagdiv.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="entPagdiv.annoTributa">
                <a [routerLink]="['/anno-tributa', entPagdiv.annoTributa?.id]">{{entPagdiv.annoTributa?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ent-pagdiv/'+ entPagdiv.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
