<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEntPagdivLabel" jhiTranslate="sccmApp.entPagdiv.home.createOrEditLabel">Create or edit a Ent Pagdiv</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!entPagdiv.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="entPagdiv.id" readonly />
        </div>
        <!--
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.idRegistro" for="field_idRegistro">Id Registro</label>
            <input type="text" class="form-control" name="idRegistro" id="field_idRegistro"
                [(ngModel)]="entPagdiv.idRegistro"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.fechaCarga" for="field_fechaCarga">Fecha Carga</label>
            <div class="input-group">
                <input id="field_fechaCarga" type="text" class="form-control" name="fechaCarga" ngbDatepicker  #fechaCargaDp="ngbDatepicker" [(ngModel)]="entPagdiv.fechaCarga"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaCargaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.usuarioCarga" for="field_usuarioCarga">Usuario Carga</label>
            <input type="text" class="form-control" name="usuarioCarga" id="field_usuarioCarga"
                [(ngModel)]="entPagdiv.usuarioCarga"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.regDividendos" for="field_regDividendos">Reg Dividendos</label>
            <input type="number" class="form-control" name="regDividendos" id="field_regDividendos"
                [(ngModel)]="entPagdiv.regDividendos"  />
        </div>
        -->
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.rutTmp" for="field_rutTmp">Rut Tmp</label>
            <input type="text" class="form-control" name="rutTmp" id="field_rutTmp"
                [(ngModel)]="entPagdiv.rutTmp"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.nombreTmp" for="field_nombreTmp">Nombre Tmp</label>
            <input type="text" class="form-control" name="nombreTmp" id="field_nombreTmp"
                [(ngModel)]="entPagdiv.nombreTmp"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.numDivTmp" for="field_numDivTmp">Num Div Tmp</label>
            <input type="number" class="form-control" name="numDivTmp" id="field_numDivTmp"
                [(ngModel)]="entPagdiv.numDivTmp"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.fePagTmp" for="field_fePagTmp">Fe Pag Tmp</label>
            <div class="input-group">
                <input id="field_fePagTmp" type="text" class="form-control" name="fePagTmp" ngbDatepicker  #fePagTmpDp="ngbDatepicker" [(ngModel)]="entPagdiv.fePagTmp"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fePagTmpDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.accionesTmp" for="field_accionesTmp">Acciones Tmp</label>
            <input type="number" class="form-control" name="accionesTmp" id="field_accionesTmp"
                [(ngModel)]="entPagdiv.accionesTmp"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.divPesosTmp" for="field_divPesosTmp">Div Pesos Tmp</label>
            <input type="number" class="form-control" name="divPesosTmp" id="field_divPesosTmp"
                [(ngModel)]="entPagdiv.divPesosTmp"  />
        </div>
        <!--
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.orSecTmp" for="field_orSecTmp">Or Sec Tmp</label>
            <input type="number" class="form-control" name="orSecTmp" id="field_orSecTmp"
                [(ngModel)]="entPagdiv.orSecTmp"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.pagDivTmp" for="field_pagDivTmp">Pag Div Tmp</label>
            <input type="number" class="form-control" name="pagDivTmp" id="field_pagDivTmp"
                [(ngModel)]="entPagdiv.pagDivTmp"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.filler" for="field_filler">Filler</label>
            <input type="text" class="form-control" name="filler" id="field_filler"
                [(ngModel)]="entPagdiv.filler"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.okRut" for="field_okRut">Ok Rut</label>
            <input type="checkbox" class="form-control" name="okRut" id="field_okRut"
                [(ngModel)]="entPagdiv.okRut"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.okFePag" for="field_okFePag">Ok Fe Pag</label>
            <input type="checkbox" class="form-control" name="okFePag" id="field_okFePag"
                [(ngModel)]="entPagdiv.okFePag"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.okNuDiv" for="field_okNuDiv">Ok Nu Div</label>
            <input type="checkbox" class="form-control" name="okNuDiv" id="field_okNuDiv"
                [(ngModel)]="entPagdiv.okNuDiv"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.okDivPesos" for="field_okDivPesos">Ok Div Pesos</label>
            <input type="checkbox" class="form-control" name="okDivPesos" id="field_okDivPesos"
                [(ngModel)]="entPagdiv.okDivPesos"  />
        </div>-->

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.entPagdiv.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="entPagdiv.annoTributa" >
                <option [ngValue]="annoTributaOption.id === entPagdiv.annoTributa?.id ? entPagdiv.annoTributa : annoTributaOption" *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById" [selected]="annotributas[0]">{{annoTributaOption.annoT}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
