<div>
    
	<h2>
        <span jhiTranslate="sccmApp.entPagdiv.home.title">Ent Pagdivs</span>
        
		<button class="btn btn-primary float-right jh-create-entity create-ent-pagdiv" [routerLink]="['/', { outlets: { popup: ['ent-pagdiv-new'] } }]">
            
			<span class="fa fa-plus"></span>
            <span jhiTranslate="sccmApp.entPagdiv.home.createLabel">Crear Nuevo Registro Cliente</span>
			
        </button>
    </h2>
	
    <jhi-alert></jhi-alert>
    
	<div class="row" *ngIf="annosTributarios">
        
		<div class="form-group col-lg-3">
            
			<span class="text-primary-sccm">Seleccione Año Tributario</span>
            
			<select class="form-control" #idAnnoSelected>
                
				<option *ngFor="let anno of annosTributarios;" value="{{anno.id}}"> {{anno.annoT}} </option>
				
            </select>
			
        </div>
        
		<div class = "form-group col-lg-3">
            
			<button style = "margin-top: 18px;" class = "btn btn-primary" (click)="filterByAnooTributario(idAnnoSelected)">
                
				<span class = "fab fa-searchengin"> </span> <span> Buscar </span>
				
            </button>
			
        </div>
        
		<div class = "form-group col-lg-3"> </div>
        
		<div class="form-group col-lg-3" *ngIf="entPagDivsFlag">
            
			<button style="margin-top: 18px;" class="btn btn-success float-right jh-create-entity create-entrada-57-b" (click)="generateExcel()">
                <span class="fas fa-file-excel"></span>
                <span jhiTranslate="entity.action.exportToExcel">Export to Excel</span>
            </button>
			
        </div>
		
    </div>
	
    <br/>
    <div class = "table-responsive" *ngIf="entPagDivsFlag">
        
		<table class = "table table-striped" id = "table">
            
			<thead>
				
				<tr>
					<th><span jhiTranslate="sccmApp.entPagdiv.rutTmp">Rut Tmp</span></th>
					<th><span jhiTranslate="sccmApp.entPagdiv.nombreTmp">Nombre Tmp</span></th>
					<th><span jhiTranslate="sccmApp.entPagdiv.numDivTmp">Num Div Tmp</span></th>
					<th><span jhiTranslate="sccmApp.entPagdiv.fePagTmp">Fe Pag Tmp</span></th>
					<th><span jhiTranslate="sccmApp.entPagdiv.accionesTmp">Acciones Tmp</span></th>
					<th><span jhiTranslate="sccmApp.entPagdiv.divPesosTmp">Div Pesos Tmp</span></th>
				</tr>
				
            </thead>
			
            <tbody>
	
				<tr *ngFor="let entPagdiv of entPagdivs ;trackBy: trackId">
					
					<td>{{entPagdiv.rutTmp}}</td>
					<td>{{entPagdiv.nombreTmp}}</td>
					<td>{{entPagdiv.numDivTmp}}</td>
					<td>{{entPagdiv.fePagTmp | date:'dd/MM/yyyy'}}</td>
					<td>{{entPagdiv.accionesTmp | number}}</td>
					<td>${{entPagdiv.divPesosTmp | number }}</td>
					
				</tr>
				
            </tbody>
			
        </table>
		
    </div>
	
    <div class = "table-responsive" *ngIf="entPagDivsFlagSinData">
        
		<div class = "alert alert-danger alert-dismissible">
            
			<a href = "#" class = "close" data-dismiss = "alert" aria-label = "close">&times;</a>
            <strong>Error: </strong> No existen datos para año tributario seleccionado.
			
        </div>
		
    </div>
	
</div>
