<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTotalProdLabel" jhiTranslate="sccmApp.totalProd.home.createOrEditLabel">Create or edit a Total Prod</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!totalProd.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="totalProd.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalProd.origen" for="field_origen">Origen</label>
            <input type="text" class="form-control" name="origen" id="field_origen"
                [(ngModel)]="totalProd.origen"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalProd.producto" for="field_producto">Producto</label>
            <input type="number" class="form-control" name="producto" id="field_producto"
                [(ngModel)]="totalProd.producto"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalProd.codMon" for="field_codMon">Cod Mon</label>
            <input type="text" class="form-control" name="codMon" id="field_codMon"
                [(ngModel)]="totalProd.codMon"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalProd.intNom" for="field_intNom">Int Nom</label>
            <input type="number" class="form-control" name="intNom" id="field_intNom"
                [(ngModel)]="totalProd.intNom"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalProd.intReal" for="field_intReal">Int Real</label>
            <input type="number" class="form-control" name="intReal" id="field_intReal"
                [(ngModel)]="totalProd.intReal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalProd.montFin" for="field_montFin">Mont Fin</label>
            <input type="number" class="form-control" name="montFin" id="field_montFin"
                [(ngModel)]="totalProd.montFin"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalProd.bipersonal" for="field_bipersonal">Bipersonal</label>
            <input type="text" class="form-control" name="bipersonal" id="field_bipersonal"
                [(ngModel)]="totalProd.bipersonal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalProd.impExt" for="field_impExt">Imp Ext</label>
            <input type="number" class="form-control" name="impExt" id="field_impExt"
                [(ngModel)]="totalProd.impExt"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalProd.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="totalProd.annoTributa" >
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === totalProd.annoTributa?.id ? totalProd.annoTributa : annoTributaOption" *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
