
<div *ngIf="totalProd">
    <h2><span jhiTranslate="sccmApp.totalProd.detail.title">Total Prod</span> {{totalProd.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.totalProd.origen">Origen</span></dt>
        <dd>
            <span>{{totalProd.origen}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalProd.producto">Producto</span></dt>
        <dd>
            <span>{{totalProd.producto}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalProd.codMon">Cod Mon</span></dt>
        <dd>
            <span>{{totalProd.codMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalProd.intNom">Int Nom</span></dt>
        <dd>
            <span>{{totalProd.intNom}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalProd.intReal">Int Real</span></dt>
        <dd>
            <span>{{totalProd.intReal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalProd.montFin">Mont Fin</span></dt>
        <dd>
            <span>{{totalProd.montFin}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalProd.bipersonal">Bipersonal</span></dt>
        <dd>
            <span>{{totalProd.bipersonal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalProd.impExt">Imp Ext</span></dt>
        <dd>
            <span>{{totalProd.impExt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalProd.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="totalProd.annoTributa">
                <a [routerLink]="['/anno-tributa', totalProd.annoTributa?.id]">{{totalProd.annoTributa?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'total-prod/'+ totalProd.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
