<div>
    <h2>
        <span jhiTranslate="sccmApp.totalProd.home.title">Total Prods</span>
        <button class="btn btn-primary float-right jh-create-entity create-total-prod" [routerLink]="['/', { outlets: { popup: ['total-prod-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.totalProd.home.createLabel">
            Create new Total Prod
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="totalProds">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.totalProd.origen">Origen</span></th>
            <th><span jhiTranslate="sccmApp.totalProd.producto">Producto</span></th>
            <th><span jhiTranslate="sccmApp.totalProd.codMon">Cod Mon</span></th>
            <th><span jhiTranslate="sccmApp.totalProd.intNom">Int Nom</span></th>
            <th><span jhiTranslate="sccmApp.totalProd.intReal">Int Real</span></th>
            <th><span jhiTranslate="sccmApp.totalProd.montFin">Mont Fin</span></th>
            <th><span jhiTranslate="sccmApp.totalProd.bipersonal">Bipersonal</span></th>
            <th><span jhiTranslate="sccmApp.totalProd.impExt">Imp Ext</span></th>
            <th><span jhiTranslate="sccmApp.totalProd.annoTributa">Anno Tributa</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let totalProd of totalProds ;trackBy: trackId">
                <td><a [routerLink]="['../total-prod', totalProd.id ]">{{totalProd.id}}</a></td>
                <td>{{totalProd.origen}}</td>
                <td>{{totalProd.producto}}</td>
                <td>{{totalProd.codMon}}</td>
                <td>{{totalProd.intNom}}</td>
                <td>{{totalProd.intReal}}</td>
                <td>{{totalProd.montFin}}</td>
                <td>{{totalProd.bipersonal}}</td>
                <td>{{totalProd.impExt}}</td>
                <td>
                    <div *ngIf="totalProd.annoTributa">
                        <a [routerLink]="['../anno-tributa', totalProd.annoTributa?.id ]" >{{totalProd.annoTributa?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../total-prod', totalProd.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'total-prod/'+ totalProd.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'total-prod/'+ totalProd.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
