
<div *ngIf="salIni57B">
    <h2><span jhiTranslate="sccmApp.salIni57B.detail.title">Sal Ini 57 B</span> {{salIni57B.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.salIni57B.tipo">Tipo</span></dt>
        <dd>
            <span>{{salIni57B.tipo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.salIni57B.monedaNominal">Moneda Nominal</span></dt>
        <dd>
            <span>{{salIni57B.monedaNominal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.salIni57B.saldoNetoPer">Saldo Neto Per</span></dt>
        <dd>
            <span>{{salIni57B.saldoNetoPer}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.salIni57B.saldoProxPer">Saldo Prox Per</span></dt>
        <dd>
            <span>{{salIni57B.saldoProxPer}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.salIni57B.numCertificado">Num Certificado</span></dt>
        <dd>
            <span>{{salIni57B.numCertificado}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.salIni57B.anoAct">Ano Act</span></dt>
        <dd>
            <span>{{salIni57B.anoAct}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.salIni57B.mesAct">Mes Act</span></dt>
        <dd>
            <span>{{salIni57B.mesAct}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.salIni57B.giroRentabNom">Giro Rentab Nom</span></dt>
        <dd>
            <span>{{salIni57B.giroRentabNom}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.salIni57B.giroRentabPesos">Giro Rentab Pesos</span></dt>
        <dd>
            <span>{{salIni57B.giroRentabPesos}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.salIni57B.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="salIni57B.annoTributa">
                <a [routerLink]="['/anno-tributa', salIni57B.annoTributa?.id]">{{salIni57B.annoTributa?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="sccmApp.salIni57B.clienteBice">Cliente Bice</span></dt>
        <dd>
            <div *ngIf="salIni57B.clienteBice">
                <a [routerLink]="['/cliente-bice', salIni57B.clienteBice?.id]">{{salIni57B.clienteBice?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sal-ini-57-b/'+ salIni57B.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
