<div>
    <h2>
        <span jhiTranslate="sccmApp.salIni57B.home.title">Sal Ini 57 BS</span>
        <button class="btn btn-primary float-right jh-create-entity create-sal-ini-57-b" [routerLink]="['/', { outlets: { popup: ['sal-ini-57-b-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.salIni57B.home.createLabel">
            Create new Sal Ini 57 B
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="salIni57BS">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.salIni57B.tipo">Tipo</span></th>
            <th><span jhiTranslate="sccmApp.salIni57B.monedaNominal">Moneda Nominal</span></th>
            <th><span jhiTranslate="sccmApp.salIni57B.saldoNetoPer">Saldo Neto Per</span></th>
            <th><span jhiTranslate="sccmApp.salIni57B.saldoProxPer">Saldo Prox Per</span></th>
            <th><span jhiTranslate="sccmApp.salIni57B.numCertificado">Num Certificado</span></th>
            <th><span jhiTranslate="sccmApp.salIni57B.anoAct">Ano Act</span></th>
            <th><span jhiTranslate="sccmApp.salIni57B.mesAct">Mes Act</span></th>
            <th><span jhiTranslate="sccmApp.salIni57B.giroRentabNom">Giro Rentab Nom</span></th>
            <th><span jhiTranslate="sccmApp.salIni57B.giroRentabPesos">Giro Rentab Pesos</span></th>
            <th><span jhiTranslate="sccmApp.salIni57B.annoTributa">Anno Tributa</span></th>
            <th><span jhiTranslate="sccmApp.salIni57B.clienteBice">Cliente Bice</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let salIni57B of salIni57BS ;trackBy: trackId">
                <td><a [routerLink]="['../sal-ini-57-b', salIni57B.id ]">{{salIni57B.id}}</a></td>
                <td>{{salIni57B.tipo}}</td>
                <td>{{salIni57B.monedaNominal}}</td>
                <td>{{salIni57B.saldoNetoPer}}</td>
                <td>{{salIni57B.saldoProxPer}}</td>
                <td>{{salIni57B.numCertificado}}</td>
                <td>{{salIni57B.anoAct}}</td>
                <td>{{salIni57B.mesAct}}</td>
                <td>{{salIni57B.giroRentabNom}}</td>
                <td>{{salIni57B.giroRentabPesos}}</td>
                <td>
                    <div *ngIf="salIni57B.annoTributa">
                        <a [routerLink]="['../anno-tributa', salIni57B.annoTributa?.id ]" >{{salIni57B.annoTributa?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="salIni57B.clienteBice">
                        <a [routerLink]="['../cliente-bice', salIni57B.clienteBice?.id ]" >{{salIni57B.clienteBice?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sal-ini-57-b', salIni57B.id ]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sal-ini-57-b/'+ salIni57B.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-secondary btn-sm text-white">
                            <span class="fas fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sal-ini-57-b/'+ salIni57B.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-trash-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
