<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySalIni57BLabel" jhiTranslate="sccmApp.salIni57B.home.createOrEditLabel">Create or edit a Sal Ini 57 B</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!salIni57B.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="salIni57B.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salIni57B.tipo" for="field_tipo">Tipo</label>
            <input type="text" class="form-control" name="tipo" id="field_tipo"
                [(ngModel)]="salIni57B.tipo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salIni57B.monedaNominal" for="field_monedaNominal">Moneda Nominal</label>
            <input type="text" class="form-control" name="monedaNominal" id="field_monedaNominal"
                [(ngModel)]="salIni57B.monedaNominal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salIni57B.saldoNetoPer" for="field_saldoNetoPer">Saldo Neto Per</label>
            <input type="number" class="form-control" name="saldoNetoPer" id="field_saldoNetoPer"
                [(ngModel)]="salIni57B.saldoNetoPer"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salIni57B.saldoProxPer" for="field_saldoProxPer">Saldo Prox Per</label>
            <input type="number" class="form-control" name="saldoProxPer" id="field_saldoProxPer"
                [(ngModel)]="salIni57B.saldoProxPer"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salIni57B.numCertificado" for="field_numCertificado">Num Certificado</label>
            <input type="number" class="form-control" name="numCertificado" id="field_numCertificado"
                [(ngModel)]="salIni57B.numCertificado"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salIni57B.anoAct" for="field_anoAct">Ano Act</label>
            <input type="number" class="form-control" name="anoAct" id="field_anoAct"
                [(ngModel)]="salIni57B.anoAct"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salIni57B.mesAct" for="field_mesAct">Mes Act</label>
            <input type="number" class="form-control" name="mesAct" id="field_mesAct"
                [(ngModel)]="salIni57B.mesAct"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salIni57B.giroRentabNom" for="field_giroRentabNom">Giro Rentab Nom</label>
            <input type="number" class="form-control" name="giroRentabNom" id="field_giroRentabNom"
                [(ngModel)]="salIni57B.giroRentabNom"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salIni57B.giroRentabPesos" for="field_giroRentabPesos">Giro Rentab Pesos</label>
            <input type="number" class="form-control" name="giroRentabPesos" id="field_giroRentabPesos"
                [(ngModel)]="salIni57B.giroRentabPesos"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salIni57B.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="salIni57B.annoTributa" >
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === salIni57B.annoTributa?.id ? salIni57B.annoTributa : annoTributaOption" *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salIni57B.clienteBice" for="field_clienteBice">Cliente Bice</label>
            <select class="form-control" id="field_clienteBice" name="clienteBice" [(ngModel)]="salIni57B.clienteBice" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clienteBiceOption.id === salIni57B.clienteBice?.id ? salIni57B.clienteBice : clienteBiceOption" *ngFor="let clienteBiceOption of clientebices; trackBy: trackClienteBiceById">{{clienteBiceOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
