<div>
    <h2>
        <span jhiTranslate="sccmApp.temporal1890.home.title">Temporal 1890 S</span>
        <button class="btn btn-primary float-right jh-create-entity create-temporal-1890" [routerLink]="['/', { outlets: { popup: ['temporal-1890-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.temporal1890.home.createLabel">
            Create new Temporal 1890
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="temporal1890S">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.rut">Rut</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.dv">Dv</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.totalcoluno">Totalcoluno</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.totalcolunoneg">Totalcolunoneg</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.totalcoldos">Totalcoldos</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.totalcoldosneg">Totalcoldosneg</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.totalcoltres">Totalcoltres</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.totalcoltresneg">Totalcoltresneg</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.totalcolcuatro">Totalcolcuatro</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.totalcolcuatroneg">Totalcolcuatroneg</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.totalcolcinco">Totalcolcinco</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.totalcolcinconeg">Totalcolcinconeg</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.totalcolseis">Totalcolseis</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.totalcolseisneg">Totalcolseisneg</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.tip_16">Tip 16</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.tip_17">Tip 17</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.nro_cer">Nro Cer</span></th>
            <th><span jhiTranslate="sccmApp.temporal1890.annoTributa">Anno Tributa</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let temporal1890 of temporal1890S ;trackBy: trackId">
                <td><a [routerLink]="['../temporal-1890', temporal1890.id ]">{{temporal1890.id}}</a></td>
                <td>{{temporal1890.rut}}</td>
                <td>{{temporal1890.dv}}</td>
                <td>{{temporal1890.totalcoluno}}</td>
                <td>{{temporal1890.totalcolunoneg}}</td>
                <td>{{temporal1890.totalcoldos}}</td>
                <td>{{temporal1890.totalcoldosneg}}</td>
                <td>{{temporal1890.totalcoltres}}</td>
                <td>{{temporal1890.totalcoltresneg}}</td>
                <td>{{temporal1890.totalcolcuatro}}</td>
                <td>{{temporal1890.totalcolcuatroneg}}</td>
                <td>{{temporal1890.totalcolcinco}}</td>
                <td>{{temporal1890.totalcolcinconeg}}</td>
                <td>{{temporal1890.totalcolseis}}</td>
                <td>{{temporal1890.totalcolseisneg}}</td>
                <td>{{temporal1890.tip_16}}</td>
                <td>{{temporal1890.tip_17}}</td>
                <td>{{temporal1890.nro_cer}}</td>
                <td>
                    <div *ngIf="temporal1890.annoTributa">
                        <a [routerLink]="['../anno-tributa', temporal1890.annoTributa?.id ]" >{{temporal1890.annoTributa?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../temporal-1890', temporal1890.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'temporal-1890/'+ temporal1890.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'temporal-1890/'+ temporal1890.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
