<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTemporal1890Label" jhiTranslate="sccmApp.temporal1890.home.createOrEditLabel">Create or edit a Temporal 1890</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!temporal1890.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="temporal1890.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.rut" for="field_rut">Rut</label>
            <input type="number" class="form-control" name="rut" id="field_rut"
                [(ngModel)]="temporal1890.rut"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.dv" for="field_dv">Dv</label>
            <input type="text" class="form-control" name="dv" id="field_dv"
                [(ngModel)]="temporal1890.dv"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.totalcoluno" for="field_totalcoluno">Totalcoluno</label>
            <input type="number" class="form-control" name="totalcoluno" id="field_totalcoluno"
                [(ngModel)]="temporal1890.totalcoluno"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.totalcolunoneg" for="field_totalcolunoneg">Totalcolunoneg</label>
            <input type="number" class="form-control" name="totalcolunoneg" id="field_totalcolunoneg"
                [(ngModel)]="temporal1890.totalcolunoneg"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.totalcoldos" for="field_totalcoldos">Totalcoldos</label>
            <input type="number" class="form-control" name="totalcoldos" id="field_totalcoldos"
                [(ngModel)]="temporal1890.totalcoldos"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.totalcoldosneg" for="field_totalcoldosneg">Totalcoldosneg</label>
            <input type="number" class="form-control" name="totalcoldosneg" id="field_totalcoldosneg"
                [(ngModel)]="temporal1890.totalcoldosneg"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.totalcoltres" for="field_totalcoltres">Totalcoltres</label>
            <input type="number" class="form-control" name="totalcoltres" id="field_totalcoltres"
                [(ngModel)]="temporal1890.totalcoltres"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.totalcoltresneg" for="field_totalcoltresneg">Totalcoltresneg</label>
            <input type="number" class="form-control" name="totalcoltresneg" id="field_totalcoltresneg"
                [(ngModel)]="temporal1890.totalcoltresneg"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.totalcolcuatro" for="field_totalcolcuatro">Totalcolcuatro</label>
            <input type="number" class="form-control" name="totalcolcuatro" id="field_totalcolcuatro"
                [(ngModel)]="temporal1890.totalcolcuatro"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.totalcolcuatroneg" for="field_totalcolcuatroneg">Totalcolcuatroneg</label>
            <input type="number" class="form-control" name="totalcolcuatroneg" id="field_totalcolcuatroneg"
                [(ngModel)]="temporal1890.totalcolcuatroneg"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.totalcolcinco" for="field_totalcolcinco">Totalcolcinco</label>
            <input type="number" class="form-control" name="totalcolcinco" id="field_totalcolcinco"
                [(ngModel)]="temporal1890.totalcolcinco"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.totalcolcinconeg" for="field_totalcolcinconeg">Totalcolcinconeg</label>
            <input type="number" class="form-control" name="totalcolcinconeg" id="field_totalcolcinconeg"
                [(ngModel)]="temporal1890.totalcolcinconeg"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.totalcolseis" for="field_totalcolseis">Totalcolseis</label>
            <input type="number" class="form-control" name="totalcolseis" id="field_totalcolseis"
                [(ngModel)]="temporal1890.totalcolseis"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.totalcolseisneg" for="field_totalcolseisneg">Totalcolseisneg</label>
            <input type="number" class="form-control" name="totalcolseisneg" id="field_totalcolseisneg"
                [(ngModel)]="temporal1890.totalcolseisneg"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.tip_16" for="field_tip_16">Tip 16</label>
            <input type="number" class="form-control" name="tip_16" id="field_tip_16"
                [(ngModel)]="temporal1890.tip_16"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.tip_17" for="field_tip_17">Tip 17</label>
            <input type="number" class="form-control" name="tip_17" id="field_tip_17"
                [(ngModel)]="temporal1890.tip_17"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.nro_cer" for="field_nro_cer">Nro Cer</label>
            <input type="number" class="form-control" name="nro_cer" id="field_nro_cer"
                [(ngModel)]="temporal1890.nro_cer"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.temporal1890.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="temporal1890.annoTributa" >
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === temporal1890.annoTributa?.id ? temporal1890.annoTributa : annoTributaOption" *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
