
<div *ngIf="temporal1890">
    <h2><span jhiTranslate="sccmApp.temporal1890.detail.title">Temporal 1890</span> {{temporal1890.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.temporal1890.rut">Rut</span></dt>
        <dd>
            <span>{{temporal1890.rut}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.temporal1890.dv">Dv</span></dt>
        <dd>
            <span>{{temporal1890.dv}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.temporal1890.totalcoluno">Totalcoluno</span></dt>
        <dd>
            <span>{{temporal1890.totalcoluno}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.temporal1890.totalcolunoneg">Totalcolunoneg</span></dt>
        <dd>
            <span>{{temporal1890.totalcolunoneg}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.temporal1890.totalcoldos">Totalcoldos</span></dt>
        <dd>
            <span>{{temporal1890.totalcoldos}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.temporal1890.totalcoldosneg">Totalcoldosneg</span></dt>
        <dd>
            <span>{{temporal1890.totalcoldosneg}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.temporal1890.totalcoltres">Totalcoltres</span></dt>
        <dd>
            <span>{{temporal1890.totalcoltres}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.temporal1890.totalcoltresneg">Totalcoltresneg</span></dt>
        <dd>
            <span>{{temporal1890.totalcoltresneg}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.temporal1890.totalcolcuatro">Totalcolcuatro</span></dt>
        <dd>
            <span>{{temporal1890.totalcolcuatro}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.temporal1890.totalcolcuatroneg">Totalcolcuatroneg</span></dt>
        <dd>
            <span>{{temporal1890.totalcolcuatroneg}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.temporal1890.totalcolcinco">Totalcolcinco</span></dt>
        <dd>
            <span>{{temporal1890.totalcolcinco}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.temporal1890.totalcolcinconeg">Totalcolcinconeg</span></dt>
        <dd>
            <span>{{temporal1890.totalcolcinconeg}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.temporal1890.totalcolseis">Totalcolseis</span></dt>
        <dd>
            <span>{{temporal1890.totalcolseis}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.temporal1890.totalcolseisneg">Totalcolseisneg</span></dt>
        <dd>
            <span>{{temporal1890.totalcolseisneg}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.temporal1890.tip_16">Tip 16</span></dt>
        <dd>
            <span>{{temporal1890.tip_16}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.temporal1890.tip_17">Tip 17</span></dt>
        <dd>
            <span>{{temporal1890.tip_17}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.temporal1890.nro_cer">Nro Cer</span></dt>
        <dd>
            <span>{{temporal1890.nro_cer}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.temporal1890.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="temporal1890.annoTributa">
                <a [routerLink]="['/anno-tributa', temporal1890.annoTributa?.id]">{{temporal1890.annoTributa?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'temporal-1890/'+ temporal1890.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
