<div *ngIf="ahorro">
    <h2><span jhiTranslate="sccmApp.ahorro.detail.title">Ahorro</span> {{ahorro.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.ahorro.rut">Rut</span></dt>
        <dd>
            <span>{{ahorro.rut}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.dv">Dv</span></dt>
        <dd>
            <span>{{ahorro.dv}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.producto">Producto</span></dt>
        <dd>
            <span>{{ahorro.producto}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.moneda">Moneda</span></dt>
        <dd>
            <span>{{ahorro.moneda}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.fechaPago">Fecha Pago</span></dt>
        <dd>
            <span>{{ahorro.fechaPago | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.correlativo">Correlativo</span></dt>
        <dd>
            <span>{{ahorro.correlativo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.fechaInv">Fecha Inv</span></dt>
        <dd>
            <span>{{ahorro.fechaInv | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.folio">Folio</span></dt>
        <dd>
            <span>{{ahorro.folio}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.capital">Capital</span></dt>
        <dd>
            <span>{{ahorro.capital}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.monOp">Mon Op</span></dt>
        <dd>
            <span>{{ahorro.monOp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.intPagado">Int Pagado</span></dt>
        <dd>
            <span>{{ahorro.intPagado}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.intReal">Int Real</span></dt>
        <dd>
            <span>{{ahorro.intReal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.monFi">Mon Fi</span></dt>
        <dd>
            <span>{{ahorro.monFi}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.numGiro">Num Giro</span></dt>
        <dd>
            <span>{{ahorro.numGiro}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.codMon">Cod Mon</span></dt>
        <dd>
            <span>{{ahorro.codMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.bipersonal">Bipersonal</span></dt>
        <dd>
            <span>{{ahorro.bipersonal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.sucursal">Sucursal</span></dt>
        <dd>
            <span>{{ahorro.sucursal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.tasaOp">Tasa Op</span></dt>
        <dd>
            <span>{{ahorro.tasaOp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.nacionalidad">Nacionalidad</span></dt>
        <dd>
            <span>{{ahorro.nacionalidad}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.impto35">Impto 35</span></dt>
        <dd>
            <span>{{ahorro.impto35}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.nombre">Nombre</span></dt>
        <dd>
            <span>{{ahorro.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.direccion">Direccion</span></dt>
        <dd>
            <span>{{ahorro.direccion}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.comuna">Comuna</span></dt>
        <dd>
            <span>{{ahorro.comuna}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.ciudad">Ciudad</span></dt>
        <dd>
            <span>{{ahorro.ciudad}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.fechaApe">Fecha Ape</span></dt>
        <dd>
            <span>{{ahorro.fechaApe | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.fechaCon">Fecha Con</span></dt>
        <dd>
            <span>{{ahorro.fechaCon | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.cuentaCap">Cuenta Cap</span></dt>
        <dd>
            <span>{{ahorro.cuentaCap}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.cuentaInt">Cuenta Int</span></dt>
        <dd>
            <span>{{ahorro.cuentaInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.cuentaReaj">Cuenta Reaj</span></dt>
        <dd>
            <span>{{ahorro.cuentaReaj}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.reajPagado">Reaj Pagado</span></dt>
        <dd>
            <span>{{ahorro.reajPagado}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.fechaVen">Fecha Ven</span></dt>
        <dd>
            <span>{{ahorro.fechaVen | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.reajustabilidad">Reajustabilidad</span></dt>
        <dd>
            <span>{{ahorro.reajustabilidad}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.estado">Estado</span></dt>
        <dd>
            <span>{{ahorro.estado}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.p57Bis">P 57 Bis</span></dt>
        <dd>
            <span>{{ahorro.p57Bis}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.movInmaduros">Mov Inmaduros</span></dt>
        <dd>
            <span>{{ahorro.movInmaduros}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.origen">Origen</span></dt>
        <dd>
            <span>{{ahorro.origen}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.ahorro.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="ahorro.annoTributa">
                <a [routerLink]="['/anno-tributa', ahorro.annoTributa?.id]">{{ahorro.annoTributa?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ahorro/'+ ahorro.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
