<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAhorroLabel" jhiTranslate="sccmApp.ahorro.home.createOrEditLabel">Create or edit a Ahorro</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!ahorro.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ahorro.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.rut" for="field_rut">Rut</label>
            <input type="number" class="form-control" name="rut" id="field_rut"
                   [(ngModel)]="ahorro.rut"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.dv" for="field_dv">Dv</label>
            <input type="text" class="form-control" name="dv" id="field_dv"
                   [(ngModel)]="ahorro.dv"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.producto" for="field_producto">Producto</label>
            <input type="number" class="form-control" name="producto" id="field_producto"
                   [(ngModel)]="ahorro.producto"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.moneda" for="field_moneda">Moneda</label>
            <input type="number" class="form-control" name="moneda" id="field_moneda"
                   [(ngModel)]="ahorro.moneda"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.fechaPago" for="field_fechaPago">Fecha Pago</label>
            <div class="input-group">
                <input id="field_fechaPago" type="text" class="form-control" name="fechaPago" ngbDatepicker #fechaPagoDp="ngbDatepicker" [(ngModel)]="ahorro.fechaPago"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaPagoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.correlativo" for="field_correlativo">Correlativo</label>
            <input type="number" class="form-control" name="correlativo" id="field_correlativo"
                   [(ngModel)]="ahorro.correlativo"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.fechaInv" for="field_fechaInv">Fecha Inv</label>
            <div class="input-group">
                <input id="field_fechaInv" type="text" class="form-control" name="fechaInv" ngbDatepicker #fechaInvDp="ngbDatepicker" [(ngModel)]="ahorro.fechaInv"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaInvDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.folio" for="field_folio">Folio</label>
            <input type="number" class="form-control" name="folio" id="field_folio"
                   [(ngModel)]="ahorro.folio"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.capital" for="field_capital">Capital</label>
            <input type="number" class="form-control" name="capital" id="field_capital"
                   [(ngModel)]="ahorro.capital"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.monOp" for="field_monOp">Mon Op</label>
            <input type="number" class="form-control" name="monOp" id="field_monOp"
                   [(ngModel)]="ahorro.monOp"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.intPagado" for="field_intPagado">Int Pagado</label>
            <input type="number" class="form-control" name="intPagado" id="field_intPagado"
                   [(ngModel)]="ahorro.intPagado"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.intReal" for="field_intReal">Int Real</label>
            <input type="number" class="form-control" name="intReal" id="field_intReal"
                   [(ngModel)]="ahorro.intReal"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.monFi" for="field_monFi">Mon Fi</label>
            <input type="number" class="form-control" name="monFi" id="field_monFi"
                   [(ngModel)]="ahorro.monFi"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.numGiro" for="field_numGiro">Num Giro</label>
            <input type="number" class="form-control" name="numGiro" id="field_numGiro"
                   [(ngModel)]="ahorro.numGiro"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.codMon" for="field_codMon">Cod Mon</label>
            <input type="number" class="form-control" name="codMon" id="field_codMon"
                   [(ngModel)]="ahorro.codMon"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.bipersonal" for="field_bipersonal">Bipersonal</label>
            <input type="text" class="form-control" name="bipersonal" id="field_bipersonal"
                   [(ngModel)]="ahorro.bipersonal"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.sucursal" for="field_sucursal">Sucursal</label>
            <input type="text" class="form-control" name="sucursal" id="field_sucursal"
                   [(ngModel)]="ahorro.sucursal"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.tasaOp" for="field_tasaOp">Tasa Op</label>
            <input type="number" class="form-control" name="tasaOp" id="field_tasaOp"
                   [(ngModel)]="ahorro.tasaOp"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.nacionalidad" for="field_nacionalidad">Nacionalidad</label>
            <input type="text" class="form-control" name="nacionalidad" id="field_nacionalidad"
                   [(ngModel)]="ahorro.nacionalidad"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.impto35" for="field_impto35">Impto 35</label>
            <input type="number" class="form-control" name="impto35" id="field_impto35"
                   [(ngModel)]="ahorro.impto35"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                   [(ngModel)]="ahorro.nombre"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.direccion" for="field_direccion">Direccion</label>
            <input type="text" class="form-control" name="direccion" id="field_direccion"
                   [(ngModel)]="ahorro.direccion"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.comuna" for="field_comuna">Comuna</label>
            <input type="text" class="form-control" name="comuna" id="field_comuna"
                   [(ngModel)]="ahorro.comuna"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.ciudad" for="field_ciudad">Ciudad</label>
            <input type="text" class="form-control" name="ciudad" id="field_ciudad"
                   [(ngModel)]="ahorro.ciudad"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.fechaApe" for="field_fechaApe">Fecha Ape</label>
            <div class="input-group">
                <input id="field_fechaApe" type="text" class="form-control" name="fechaApe" ngbDatepicker #fechaApeDp="ngbDatepicker" [(ngModel)]="ahorro.fechaApe"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaApeDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.fechaCon" for="field_fechaCon">Fecha Con</label>
            <div class="input-group">
                <input id="field_fechaCon" type="text" class="form-control" name="fechaCon" ngbDatepicker #fechaConDp="ngbDatepicker" [(ngModel)]="ahorro.fechaCon"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaConDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.cuentaCap" for="field_cuentaCap">Cuenta Cap</label>
            <input type="number" class="form-control" name="cuentaCap" id="field_cuentaCap"
                   [(ngModel)]="ahorro.cuentaCap"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.cuentaInt" for="field_cuentaInt">Cuenta Int</label>
            <input type="number" class="form-control" name="cuentaInt" id="field_cuentaInt"
                   [(ngModel)]="ahorro.cuentaInt"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.cuentaReaj" for="field_cuentaReaj">Cuenta Reaj</label>
            <input type="number" class="form-control" name="cuentaReaj" id="field_cuentaReaj"
                   [(ngModel)]="ahorro.cuentaReaj"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.reajPagado" for="field_reajPagado">Reaj Pagado</label>
            <input type="number" class="form-control" name="reajPagado" id="field_reajPagado"
                   [(ngModel)]="ahorro.reajPagado"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.fechaVen" for="field_fechaVen">Fecha Ven</label>
            <div class="input-group">
                <input id="field_fechaVen" type="text" class="form-control" name="fechaVen" ngbDatepicker #fechaVenDp="ngbDatepicker" [(ngModel)]="ahorro.fechaVen"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaVenDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.reajustabilidad" for="field_reajustabilidad">Reajustabilidad</label>
            <input type="text" class="form-control" name="reajustabilidad" id="field_reajustabilidad"
                   [(ngModel)]="ahorro.reajustabilidad"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.estado" for="field_estado">Estado</label>
            <input type="text" class="form-control" name="estado" id="field_estado"
                   [(ngModel)]="ahorro.estado"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.p57Bis" for="field_p57Bis">P 57 Bis</label>
            <input type="text" class="form-control" name="p57Bis" id="field_p57Bis"
                   [(ngModel)]="ahorro.p57Bis"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.movInmaduros" for="field_movInmaduros">Mov Inmaduros</label>
            <input type="text" class="form-control" name="movInmaduros" id="field_movInmaduros"
                   [(ngModel)]="ahorro.movInmaduros"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.origen" for="field_origen">Origen</label>
            <input type="text" class="form-control" name="origen" id="field_origen"
                   [(ngModel)]="ahorro.origen"/>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.ahorro.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="ahorro.annoTributa">
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === ahorro.annoTributa?.id ? ahorro.annoTributa : annoTributaOption"
                        *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.id}}
                </option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
