<div>
    <h2>
        <span jhiTranslate="sccmApp.ahorro.home.title">Ahorros</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="row" *ngIf="annosTributarios">
        <div class="form-group col-lg-3">
            <span class="text-primary-sccm">Seleccione Año Tributario</span>
            <select class="form-control" #idAnnoSelectedSel>
                <option *ngFor="let anno of annosTributarios;" value="{{anno.id}}">
                    {{anno.annoT}}
                </option>
            </select>
        </div>
        <div class="form-group col-lg-4">
            <span class="text-primary-sccm">Seleccione Tipo Alerta</span>
            <select class="form-control" #selectedAlertTypeSel>
                <option value="{{SELECT_BLANK_OPTION}}">{{SELECT_BLANK_OPTION}}</option>
                <option *ngFor="let tipoAlerta of tiposAlertas;" value="{{tipoAlerta.codigoUnico}}">
                    {{tipoAlerta.nombre}}
                </option>
            </select>
        </div>
        <div class="form-group col-lg-2">
            <button style="margin-top: 18px;" class="btn btn-primary" (click)="filterByAnooTributario(idAnnoSelectedSel, selectedAlertTypeSel)"><span
                class="fab fa-searchengin"></span> <span>Buscar</span></button>
        </div>
        <div class="col-lg-3">
            <button *ngIf="ahorrosFlag" style="margin-top: 18px;" class="btn btn-success float-right jh-create-entity btn-block" (click)="generateExcel()">
                <span class="fas fa-file-excel"></span>
                <span jhiTranslate="entity.action.exportToExcel">Export to Excel</span>
            </button>
        </div>
    </div>
    <div class="table-responsive" *ngIf="ahorrosFlag">
        <table class="table table-striped" id="tablaAhorro">
            <thead>
            <tr>
                <th><span jhiTranslate="sccmApp.ahorro.rut">Rut</span></th>
                <th><span jhiTranslate="sccmApp.ahorro.folio">Folio</span></th>
                <th><span jhiTranslate="sccmApp.ahorro.capital">Capital</span></th>
                <th><span jhiTranslate="sccmApp.ahorro.intPagado">Int Pagado</span></th>
                <th><span jhiTranslate="sccmApp.ahorro.montoFinal">Monto Final</span></th>
                <th><span jhiTranslate="sccmApp.ahorro.reajPagado">Reaj Pagado</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ahorro of ahorros ;trackBy: trackId">
                <td>{{ahorro.rut}}</td>
                <td>{{ahorro.folio}}</td>
                <td>${{ahorro.capital | number}}</td>
                <td>${{ahorro.intPagado | number}}</td>
                <td>${{ahorro.monFi | number}}</td>
                <td>${{ahorro.reajPagado | number}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ahorrosFlag">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <div class="table-responsive" *ngIf="ahorrosFlagSinData">
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error: </strong> No existen datos para año tributario seleccionado.
        </div>
    </div>
</div>
