<div>
    <h2>
        <span jhiTranslate="sccmApp.contabilidad.home.title">Contabilidads</span>
        <button class="btn btn-primary float-right jh-create-entity create-contabilidad" [routerLink]="['/', { outlets: { popup: ['contabilidad-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.contabilidad.home.createLabel">
            Create new Contabilidad
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="contabilidads">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.contabilidad.sucursal">Sucursal</span></th>
            <th><span jhiTranslate="sccmApp.contabilidad.moneda">Moneda</span></th>
            <th><span jhiTranslate="sccmApp.contabilidad.ctaContGl">Cta Cont Gl</span></th>
            <th><span jhiTranslate="sccmApp.contabilidad.ctaContAlp">Cta Cont Alp</span></th>
            <th><span jhiTranslate="sccmApp.contabilidad.fecha">Fecha</span></th>
            <th><span jhiTranslate="sccmApp.contabilidad.montoDr">Monto Dr</span></th>
            <th><span jhiTranslate="sccmApp.contabilidad.montoCr">Monto Cr</span></th>
            <th><span jhiTranslate="sccmApp.contabilidad.sucOrigen">Suc Origen</span></th>
            <th><span jhiTranslate="sccmApp.contabilidad.modulo">Modulo</span></th>
            <th><span jhiTranslate="sccmApp.contabilidad.numDocto">Num Docto</span></th>
            <th><span jhiTranslate="sccmApp.contabilidad.ctaSbif">Cta Sbif</span></th>
            <th><span jhiTranslate="sccmApp.contabilidad.glosa">Glosa</span></th>
            <th><span jhiTranslate="sccmApp.contabilidad.annoTributa">Anno Tributa</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contabilidad of contabilidads ;trackBy: trackId">
                <td><a [routerLink]="['../contabilidad', contabilidad.id ]">{{contabilidad.id}}</a></td>
                <td>{{contabilidad.sucursal}}</td>
                <td>{{contabilidad.moneda}}</td>
                <td>{{contabilidad.ctaContGl}}</td>
                <td>{{contabilidad.ctaContAlp}}</td>
                <td>{{contabilidad.fecha | date:'medium'}}</td>
                <td>{{contabilidad.montoDr}}</td>
                <td>{{contabilidad.montoCr}}</td>
                <td>{{contabilidad.sucOrigen}}</td>
                <td>{{contabilidad.modulo}}</td>
                <td>{{contabilidad.numDocto}}</td>
                <td>{{contabilidad.ctaSbif}}</td>
                <td>{{contabilidad.glosa}}</td>
                <td>
                    <div *ngIf="contabilidad.annoTributa">
                        <a [routerLink]="['../anno-tributa', contabilidad.annoTributa?.id ]" >{{contabilidad.annoTributa?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../contabilidad', contabilidad.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contabilidad/'+ contabilidad.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'contabilidad/'+ contabilidad.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
