
<div *ngIf="contabilidad">
    <h2><span jhiTranslate="sccmApp.contabilidad.detail.title">Contabilidad</span> {{contabilidad.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.contabilidad.sucursal">Sucursal</span></dt>
        <dd>
            <span>{{contabilidad.sucursal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.contabilidad.moneda">Moneda</span></dt>
        <dd>
            <span>{{contabilidad.moneda}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.contabilidad.ctaContGl">Cta Cont Gl</span></dt>
        <dd>
            <span>{{contabilidad.ctaContGl}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.contabilidad.ctaContAlp">Cta Cont Alp</span></dt>
        <dd>
            <span>{{contabilidad.ctaContAlp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.contabilidad.fecha">Fecha</span></dt>
        <dd>
            <span>{{contabilidad.fecha | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.contabilidad.montoDr">Monto Dr</span></dt>
        <dd>
            <span>{{contabilidad.montoDr}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.contabilidad.montoCr">Monto Cr</span></dt>
        <dd>
            <span>{{contabilidad.montoCr}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.contabilidad.sucOrigen">Suc Origen</span></dt>
        <dd>
            <span>{{contabilidad.sucOrigen}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.contabilidad.modulo">Modulo</span></dt>
        <dd>
            <span>{{contabilidad.modulo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.contabilidad.numDocto">Num Docto</span></dt>
        <dd>
            <span>{{contabilidad.numDocto}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.contabilidad.ctaSbif">Cta Sbif</span></dt>
        <dd>
            <span>{{contabilidad.ctaSbif}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.contabilidad.glosa">Glosa</span></dt>
        <dd>
            <span>{{contabilidad.glosa}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.contabilidad.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="contabilidad.annoTributa">
                <a [routerLink]="['/anno-tributa', contabilidad.annoTributa?.id]">{{contabilidad.annoTributa?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'contabilidad/'+ contabilidad.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
