<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myContabilidadLabel" jhiTranslate="sccmApp.contabilidad.home.createOrEditLabel">Create or edit a Contabilidad</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!contabilidad.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="contabilidad.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.contabilidad.sucursal" for="field_sucursal">Sucursal</label>
            <input type="number" class="form-control" name="sucursal" id="field_sucursal"
                [(ngModel)]="contabilidad.sucursal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.contabilidad.moneda" for="field_moneda">Moneda</label>
            <input type="number" class="form-control" name="moneda" id="field_moneda"
                [(ngModel)]="contabilidad.moneda"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.contabilidad.ctaContGl" for="field_ctaContGl">Cta Cont Gl</label>
            <input type="number" class="form-control" name="ctaContGl" id="field_ctaContGl"
                [(ngModel)]="contabilidad.ctaContGl"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.contabilidad.ctaContAlp" for="field_ctaContAlp">Cta Cont Alp</label>
            <input type="number" class="form-control" name="ctaContAlp" id="field_ctaContAlp"
                [(ngModel)]="contabilidad.ctaContAlp"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.contabilidad.fecha" for="field_fecha">Fecha</label>
            <div class="d-flex">
                <input id="field_fecha" type="datetime-local" class="form-control" name="fecha" [(ngModel)]="contabilidad.fecha"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.contabilidad.montoDr" for="field_montoDr">Monto Dr</label>
            <input type="number" class="form-control" name="montoDr" id="field_montoDr"
                [(ngModel)]="contabilidad.montoDr"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.contabilidad.montoCr" for="field_montoCr">Monto Cr</label>
            <input type="number" class="form-control" name="montoCr" id="field_montoCr"
                [(ngModel)]="contabilidad.montoCr"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.contabilidad.sucOrigen" for="field_sucOrigen">Suc Origen</label>
            <input type="number" class="form-control" name="sucOrigen" id="field_sucOrigen"
                [(ngModel)]="contabilidad.sucOrigen"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.contabilidad.modulo" for="field_modulo">Modulo</label>
            <input type="text" class="form-control" name="modulo" id="field_modulo"
                [(ngModel)]="contabilidad.modulo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.contabilidad.numDocto" for="field_numDocto">Num Docto</label>
            <input type="text" class="form-control" name="numDocto" id="field_numDocto"
                [(ngModel)]="contabilidad.numDocto"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.contabilidad.ctaSbif" for="field_ctaSbif">Cta Sbif</label>
            <input type="text" class="form-control" name="ctaSbif" id="field_ctaSbif"
                [(ngModel)]="contabilidad.ctaSbif"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.contabilidad.glosa" for="field_glosa">Glosa</label>
            <input type="text" class="form-control" name="glosa" id="field_glosa"
                [(ngModel)]="contabilidad.glosa"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.contabilidad.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="contabilidad.annoTributa" >
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === contabilidad.annoTributa?.id ? contabilidad.annoTributa : annoTributaOption" *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
