<div>
    <h2>
        <span jhiTranslate="cuaContPactos.title"></span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <div class="row" *ngIf="annosTributarios">
        <div class="form-group col-lg-3">
             <span class="text-primary-sccm">Seleccione Año Tributario</span>
            <select class="form-control" #idAnnoSelected>
                <option *ngFor="let anno of annosTributarios;" value="{{anno.id}}">
                    {{anno.annoT}}
                </option>
            </select>
        </div>
        <div class="form-group col-lg-3">
            <button style="margin-top: 18px;" class="btn btn-primary" (click)="filterByAnooTributario(idAnnoSelected)"><span
                class="fab fa-searchengin"></span> <span>Buscar</span></button>
        </div>
        <div class="col-lg-6"></div>
    </div>
    <div class="table-responsive" *ngIf="pactosFlag">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="sccmApp.pactos.origen"></span></th>
                <th><span jhiTranslate="sccmApp.pactos.producto"></span></th>
                <th><span jhiTranslate="sccmApp.pactos.simbolo"></span></th>
                <th><span jhiTranslate="sccmApp.pactos.intNom"></span></th>
                <th><span jhiTranslate="sccmApp.pactos.intReal"></span></th>
                <th><span jhiTranslate="sccmApp.pactos.monFi"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pactos of pactosCC ;">
                <td>{{pactos.origen}}</td>
                <td>{{pactos.producto}}</td>
                <td>{{pactos.simbolo}}</td>
                <td>{{pactos.intNom.toLocaleString('es-CL')}}</td>
                <td>{{pactos.intReal.toLocaleString('es-CL')}}</td>
                <td>{{pactos.monFi.toLocaleString('es-CL')}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive" *ngIf="pactosFlagSinData">
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error: </strong> No existen datos para año tributario seleccionado.
        </div>
    </div>
</div>


