<div>
    <h2>
        <span jhiTranslate="sccmApp.letrasBonos.home.title">Letras Bonos</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <div class="row" *ngIf="annosTributarios">
        <div class="form-group col-lg-3">
            <span class="text-primary-sccm">Seleccione Año Tributario *</span>
            <select class="form-control" #idAnnoSelected>
                <option *ngFor="let anno of annosTributarios;" value="{{anno.id}}">
                    {{anno.annoT}}
                </option>
            </select>
        </div>
        <div class="form-group col-lg-3">
            <button style="margin-top: 18px;" class="btn btn-primary" (click)="filterByAnnoTributarioId(idAnnoSelected)"><span
                class="fab fa-searchengin"></span> <span>Buscar</span></button>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
            <button *ngIf="letrasBonosFlag" style="margin-top: 18px;" class="btn btn-success float-right jh-create-entity" (click)="generateExcel2()">
                <span class="fas fa-file-excel"></span>
                <span jhiTranslate="entity.action.exportToExcel">Export to Excel</span>
            </button>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="letrasBonosFlag">
        <table class="table table-striped" id="main-data-table">
            <thead>
            <tr>
                <th><span jhiTranslate="sccmApp.letrasBonos.origen">Origen</span></th>
                <th><span jhiTranslate="sccmApp.letrasBonos.fechaPago">Fecha Pago</span></th>
                <th><span jhiTranslate="sccmApp.letrasBonos.fechaInv">Fecha Inv</span></th>
                <th><span jhiTranslate="sccmApp.letrasBonos.nemotecnico">Nemotecnico</span></th>
                <th><span jhiTranslate="sccmApp.letrasBonos.valorNominal">Valor Nominal</span></th>
                <th><span jhiTranslate="sccmApp.letrasBonos.monFi">Mon Fi</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let letrasBonos of letrasBonos ;trackBy: trackId">
                <td>{{letrasBonos.origen}}</td>
                <td>{{letrasBonos.fechaPago | date:PATTERN_DATE_SHORT}}</td>
                <td>{{letrasBonos.fechaInv | date:PATTERN_DATE_SHORT}}</td>
                <td>{{letrasBonos.nemotecnico}}</td>
                <td>{{letrasBonos.valorNominal | number}}</td>
                <td>{{letrasBonos.monFi | number}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="letrasBonosFlag">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>

    <div class="table-responsive" *ngIf="letrasBonosFlagSinData">
        <div class="alert alert-danger alert-dismissible">
            No existen datos para año tributario seleccionado.
        </div>
    </div>
</div>
