
<div *ngIf="letrasBonos">
    <h2><span jhiTranslate="sccmApp.letrasBonos.detail.title">Letras Bonos</span> {{letrasBonos.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.letrasBonos.annoTributaId">Anno Tributa Id</span></dt>
        <dd>
            <span>{{letrasBonos.annoTributaId}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.bipersonal">Bipersonal</span></dt>
        <dd>
            <span>{{letrasBonos.bipersonal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.capital">Capital</span></dt>
        <dd>
            <span>{{letrasBonos.capital}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.capMon">Cap Mon</span></dt>
        <dd>
            <span>{{letrasBonos.capMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.codInst">Cod Inst</span></dt>
        <dd>
            <span>{{letrasBonos.codInst}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.codMon">Cod Mon</span></dt>
        <dd>
            <span>{{letrasBonos.codMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.codTipoInt">Cod Tipo Int</span></dt>
        <dd>
            <span>{{letrasBonos.codTipoInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.correlativo">Correlativo</span></dt>
        <dd>
            <span>{{letrasBonos.correlativo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.corrMoneda">Corr Moneda</span></dt>
        <dd>
            <span>{{letrasBonos.corrMoneda}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.ctaCap">Cta Cap</span></dt>
        <dd>
            <span>{{letrasBonos.ctaCap}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.ctaInt">Cta Int</span></dt>
        <dd>
            <span>{{letrasBonos.ctaInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.ctaReaj">Cta Reaj</span></dt>
        <dd>
            <span>{{letrasBonos.ctaReaj}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.dv">Dv</span></dt>
        <dd>
            <span>{{letrasBonos.dv}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.estCta">Est Cta</span></dt>
        <dd>
            <span>{{letrasBonos.estCta}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.extranjero">Extranjero</span></dt>
        <dd>
            <span>{{letrasBonos.extranjero}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.fechaInv">Fecha Inv</span></dt>
        <dd>
            <span>{{letrasBonos.fechaInv | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.fechaPago">Fecha Pago</span></dt>
        <dd>
            <span>{{letrasBonos.fechaPago | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.fecCont">Fec Cont</span></dt>
        <dd>
            <span>{{letrasBonos.fecCont | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.fecVcto">Fec Vcto</span></dt>
        <dd>
            <span>{{letrasBonos.fecVcto | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.folio">Folio</span></dt>
        <dd>
            <span>{{letrasBonos.folio}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.idTable">Id Table</span></dt>
        <dd>
            <span>{{letrasBonos.idTable}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.impExt">Imp Ext</span></dt>
        <dd>
            <span>{{letrasBonos.impExt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.indPago">Ind Pago</span></dt>
        <dd>
            <span>{{letrasBonos.indPago}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.intNom">Int Nom</span></dt>
        <dd>
            <span>{{letrasBonos.intNom}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.intReal">Int Real</span></dt>
        <dd>
            <span>{{letrasBonos.intReal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.monFi">Mon Fi</span></dt>
        <dd>
            <span>{{letrasBonos.monFi}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.monPac">Mon Pac</span></dt>
        <dd>
            <span>{{letrasBonos.monPac}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.monTasa">Mon Tasa</span></dt>
        <dd>
            <span>{{letrasBonos.monTasa}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.nemotecnico">Nemotecnico</span></dt>
        <dd>
            <span>{{letrasBonos.nemotecnico}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.nomCli">Nom Cli</span></dt>
        <dd>
            <span>{{letrasBonos.nomCli}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.numCupones">Num Cupones</span></dt>
        <dd>
            <span>{{letrasBonos.numCupones}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.numCuponPago">Num Cupon Pago</span></dt>
        <dd>
            <span>{{letrasBonos.numCuponPago}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.numGiro">Num Giro</span></dt>
        <dd>
            <span>{{letrasBonos.numGiro}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.onp">Onp</span></dt>
        <dd>
            <span>{{letrasBonos.onp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.origen">Origen</span></dt>
        <dd>
            <span>{{letrasBonos.origen}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.perTasa">Per Tasa</span></dt>
        <dd>
            <span>{{letrasBonos.perTasa}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.plazo">Plazo</span></dt>
        <dd>
            <span>{{letrasBonos.plazo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.producto">Producto</span></dt>
        <dd>
            <span>{{letrasBonos.producto}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.reajustabilidad">Reajustabilidad</span></dt>
        <dd>
            <span>{{letrasBonos.reajustabilidad}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.rut">Rut</span></dt>
        <dd>
            <span>{{letrasBonos.rut}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.serieInst">Serie Inst</span></dt>
        <dd>
            <span>{{letrasBonos.serieInst}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.tasaEmi">Tasa Emi</span></dt>
        <dd>
            <span>{{letrasBonos.tasaEmi}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.tipoInt">Tipo Int</span></dt>
        <dd>
            <span>{{letrasBonos.tipoInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonos.valorNominal">Valor Nominal</span></dt>
        <dd>
            <span>{{letrasBonos.valorNominal}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'letras-bonos/'+ letrasBonos.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
