<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLetrasBonosLabel" jhiTranslate="sccmApp.letrasBonos.home.createOrEditLabel">Create or edit a Letras Bonos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!letrasBonos.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="letrasBonos.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.annoTributaId" for="field_annoTributaId">Anno Tributa Id</label>
            <input type="number" class="form-control" name="annoTributaId" id="field_annoTributaId"
                [(ngModel)]="letrasBonos.annoTributaId"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.bipersonal" for="field_bipersonal">Bipersonal</label>
            <input type="text" class="form-control" name="bipersonal" id="field_bipersonal"
                [(ngModel)]="letrasBonos.bipersonal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.capital" for="field_capital">Capital</label>
            <input type="number" class="form-control" name="capital" id="field_capital"
                [(ngModel)]="letrasBonos.capital"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.capMon" for="field_capMon">Cap Mon</label>
            <input type="number" class="form-control" name="capMon" id="field_capMon"
                [(ngModel)]="letrasBonos.capMon"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.codInst" for="field_codInst">Cod Inst</label>
            <input type="number" class="form-control" name="codInst" id="field_codInst"
                [(ngModel)]="letrasBonos.codInst"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.codMon" for="field_codMon">Cod Mon</label>
            <input type="number" class="form-control" name="codMon" id="field_codMon"
                [(ngModel)]="letrasBonos.codMon"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.codTipoInt" for="field_codTipoInt">Cod Tipo Int</label>
            <input type="number" class="form-control" name="codTipoInt" id="field_codTipoInt"
                [(ngModel)]="letrasBonos.codTipoInt"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.correlativo" for="field_correlativo">Correlativo</label>
            <input type="number" class="form-control" name="correlativo" id="field_correlativo"
                [(ngModel)]="letrasBonos.correlativo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.corrMoneda" for="field_corrMoneda">Corr Moneda</label>
            <input type="number" class="form-control" name="corrMoneda" id="field_corrMoneda"
                [(ngModel)]="letrasBonos.corrMoneda"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.ctaCap" for="field_ctaCap">Cta Cap</label>
            <input type="number" class="form-control" name="ctaCap" id="field_ctaCap"
                [(ngModel)]="letrasBonos.ctaCap"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.ctaInt" for="field_ctaInt">Cta Int</label>
            <input type="number" class="form-control" name="ctaInt" id="field_ctaInt"
                [(ngModel)]="letrasBonos.ctaInt"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.ctaReaj" for="field_ctaReaj">Cta Reaj</label>
            <input type="number" class="form-control" name="ctaReaj" id="field_ctaReaj"
                [(ngModel)]="letrasBonos.ctaReaj"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.dv" for="field_dv">Dv</label>
            <input type="text" class="form-control" name="dv" id="field_dv"
                [(ngModel)]="letrasBonos.dv"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.estCta" for="field_estCta">Est Cta</label>
            <input type="text" class="form-control" name="estCta" id="field_estCta"
                [(ngModel)]="letrasBonos.estCta"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.extranjero" for="field_extranjero">Extranjero</label>
            <input type="text" class="form-control" name="extranjero" id="field_extranjero"
                [(ngModel)]="letrasBonos.extranjero"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.fechaInv" for="field_fechaInv">Fecha Inv</label>
            <div class="d-flex">
                <input id="field_fechaInv" type="datetime-local" class="form-control" name="fechaInv" [(ngModel)]="letrasBonos.fechaInv"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.fechaPago" for="field_fechaPago">Fecha Pago</label>
            <div class="d-flex">
                <input id="field_fechaPago" type="datetime-local" class="form-control" name="fechaPago" [(ngModel)]="letrasBonos.fechaPago"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.fecCont" for="field_fecCont">Fec Cont</label>
            <div class="d-flex">
                <input id="field_fecCont" type="datetime-local" class="form-control" name="fecCont" [(ngModel)]="letrasBonos.fecCont"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.fecVcto" for="field_fecVcto">Fec Vcto</label>
            <div class="d-flex">
                <input id="field_fecVcto" type="datetime-local" class="form-control" name="fecVcto" [(ngModel)]="letrasBonos.fecVcto"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.folio" for="field_folio">Folio</label>
            <input type="text" class="form-control" name="folio" id="field_folio"
                [(ngModel)]="letrasBonos.folio"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.idTable" for="field_idTable">Id Table</label>
            <input type="number" class="form-control" name="idTable" id="field_idTable"
                [(ngModel)]="letrasBonos.idTable"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.impExt" for="field_impExt">Imp Ext</label>
            <input type="number" class="form-control" name="impExt" id="field_impExt"
                [(ngModel)]="letrasBonos.impExt"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.indPago" for="field_indPago">Ind Pago</label>
            <input type="text" class="form-control" name="indPago" id="field_indPago"
                [(ngModel)]="letrasBonos.indPago"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.intNom" for="field_intNom">Int Nom</label>
            <input type="number" class="form-control" name="intNom" id="field_intNom"
                [(ngModel)]="letrasBonos.intNom"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.intReal" for="field_intReal">Int Real</label>
            <input type="number" class="form-control" name="intReal" id="field_intReal"
                [(ngModel)]="letrasBonos.intReal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.monFi" for="field_monFi">Mon Fi</label>
            <input type="number" class="form-control" name="monFi" id="field_monFi"
                [(ngModel)]="letrasBonos.monFi"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.monPac" for="field_monPac">Mon Pac</label>
            <input type="number" class="form-control" name="monPac" id="field_monPac"
                [(ngModel)]="letrasBonos.monPac"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.monTasa" for="field_monTasa">Mon Tasa</label>
            <input type="number" class="form-control" name="monTasa" id="field_monTasa"
                [(ngModel)]="letrasBonos.monTasa"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.nemotecnico" for="field_nemotecnico">Nemotecnico</label>
            <input type="text" class="form-control" name="nemotecnico" id="field_nemotecnico"
                [(ngModel)]="letrasBonos.nemotecnico"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.nomCli" for="field_nomCli">Nom Cli</label>
            <input type="text" class="form-control" name="nomCli" id="field_nomCli"
                [(ngModel)]="letrasBonos.nomCli"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.numCupones" for="field_numCupones">Num Cupones</label>
            <input type="number" class="form-control" name="numCupones" id="field_numCupones"
                [(ngModel)]="letrasBonos.numCupones"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.numCuponPago" for="field_numCuponPago">Num Cupon Pago</label>
            <input type="number" class="form-control" name="numCuponPago" id="field_numCuponPago"
                [(ngModel)]="letrasBonos.numCuponPago"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.numGiro" for="field_numGiro">Num Giro</label>
            <input type="number" class="form-control" name="numGiro" id="field_numGiro"
                [(ngModel)]="letrasBonos.numGiro"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.onp" for="field_onp">Onp</label>
            <input type="text" class="form-control" name="onp" id="field_onp"
                [(ngModel)]="letrasBonos.onp"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.origen" for="field_origen">Origen</label>
            <input type="text" class="form-control" name="origen" id="field_origen"
                [(ngModel)]="letrasBonos.origen"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.perTasa" for="field_perTasa">Per Tasa</label>
            <input type="number" class="form-control" name="perTasa" id="field_perTasa"
                [(ngModel)]="letrasBonos.perTasa"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.plazo" for="field_plazo">Plazo</label>
            <input type="number" class="form-control" name="plazo" id="field_plazo"
                [(ngModel)]="letrasBonos.plazo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.producto" for="field_producto">Producto</label>
            <input type="number" class="form-control" name="producto" id="field_producto"
                [(ngModel)]="letrasBonos.producto"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.reajustabilidad" for="field_reajustabilidad">Reajustabilidad</label>
            <input type="text" class="form-control" name="reajustabilidad" id="field_reajustabilidad"
                [(ngModel)]="letrasBonos.reajustabilidad"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.rut" for="field_rut">Rut</label>
            <input type="number" class="form-control" name="rut" id="field_rut"
                [(ngModel)]="letrasBonos.rut"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.serieInst" for="field_serieInst">Serie Inst</label>
            <input type="text" class="form-control" name="serieInst" id="field_serieInst"
                [(ngModel)]="letrasBonos.serieInst"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.tasaEmi" for="field_tasaEmi">Tasa Emi</label>
            <input type="number" class="form-control" name="tasaEmi" id="field_tasaEmi"
                [(ngModel)]="letrasBonos.tasaEmi"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.tipoInt" for="field_tipoInt">Tipo Int</label>
            <input type="text" class="form-control" name="tipoInt" id="field_tipoInt"
                [(ngModel)]="letrasBonos.tipoInt"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonos.valorNominal" for="field_valorNominal">Valor Nominal</label>
            <input type="number" class="form-control" name="valorNominal" id="field_valorNominal"
                [(ngModel)]="letrasBonos.valorNominal"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
