<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLetrasBonosCuadraturaLabel" jhiTranslate="sccmApp.letrasBonosCuadratura.home.createOrEditLabel">Create or edit a Letras Bonos Cuadratura</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!letrasBonosCuadratura.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="letrasBonosCuadratura.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonosCuadratura.anno" for="field_anno">Anno</label>
            <input type="text" class="form-control" name="anno" id="field_anno"
                [(ngModel)]="letrasBonosCuadratura.anno"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonosCuadratura.instrumento" for="field_instrumento">Instrumento</label>
            <input type="text" class="form-control" name="instrumento" id="field_instrumento"
                [(ngModel)]="letrasBonosCuadratura.instrumento"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonosCuadratura.mes" for="field_mes">Mes</label>
            <input type="text" class="form-control" name="mes" id="field_mes"
                [(ngModel)]="letrasBonosCuadratura.mes"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonosCuadratura.moneda" for="field_moneda">Moneda</label>
            <input type="number" class="form-control" name="moneda" id="field_moneda"
                [(ngModel)]="letrasBonosCuadratura.moneda"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonosCuadratura.montoPagado" for="field_montoPagado">Monto Pagado</label>
            <input type="number" class="form-control" name="montoPagado" id="field_montoPagado"
                [(ngModel)]="letrasBonosCuadratura.montoPagado"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonosCuadratura.origen" for="field_origen">Origen</label>
            <input type="text" class="form-control" name="origen" id="field_origen"
                [(ngModel)]="letrasBonosCuadratura.origen"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.letrasBonosCuadratura.valorNominal" for="field_valorNominal">Valor Nominal</label>
            <input type="number" class="form-control" name="valorNominal" id="field_valorNominal"
                [(ngModel)]="letrasBonosCuadratura.valorNominal"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
