<div>
    <h2>
        <span jhiTranslate="sccmApp.letrasBonosCuadratura.home.title">Letras Bonos Cuadraturas</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <div class="row" *ngIf="annosTributarios">
        <div class="form-group col-lg-3">
            <span class="text-primary-sccm">Seleccione Año Tributario *</span>
            <select class="form-control" #idAnnoSelected>
                <option *ngFor="let anno of annosTributarios;" value="{{anno.id}}">
                    {{anno.annoT}}
                </option>
            </select>
        </div>
        <div class="form-group col-lg-3">
            <button style="margin-top: 18px;" class="btn btn-primary" (click)="filterByAnnoTributarioId(idAnnoSelected)"><span
                class="fab fa-searchengin"></span> <span>Buscar</span></button>
        </div>
        <div class="col-lg-3">
            <button *ngIf="letrasBonosFlag" style="margin-top: 18px;" class="btn btn-danger float-right jh-create-entity" (click)="generateExcel2(EXCEL_OPTION_WITH_NEMOTECNICO)">
                <span class="fas fa-file-excel"></span>
                <span jhiTranslate="entity.action.exportwithInstrument">Export to Excel</span>
            </button>
        </div>
        <div class="col-lg-3">
            <button *ngIf="letrasBonosFlag" style="margin-top: 18px;" class="btn btn-success float-right jh-create-entity" (click)="generateExcel2(EXCEL_OPTION_WITHOUT_NEMOTECNICO)">
                <span class="fas fa-file-excel"></span>
                <span jhiTranslate="entity.action.exportwithoutInstrument">Export to Excel</span>
            </button>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="letrasBonosFlag">
        <table class="table table-striped" id="main-data-table">
            <thead>
            <tr>
                <th><span jhiTranslate="sccmApp.letrasBonosCuadratura.origen">Origen</span></th>
                <th><span jhiTranslate="sccmApp.letrasBonosCuadratura.instrumento">Instrumento</span></th>
                <th><span jhiTranslate="sccmApp.letrasBonosCuadratura.valorNominal">Valor Nominal</span></th>
                <th><span jhiTranslate="sccmApp.letrasBonosCuadratura.montoPagado">Monto Pagado</span></th>
                <th><span jhiTranslate="sccmApp.letrasBonosCuadratura.moneda">Moneda</span></th>
                <th><span jhiTranslate="sccmApp.letrasBonosCuadratura.anno">Anno</span></th>
                <th><span jhiTranslate="sccmApp.letrasBonosCuadratura.mes">Mes</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let letrasBonosCuadratura of letrasBonosCuadraturas ;trackBy: trackId">
                <td>{{letrasBonosCuadratura.origen}}</td>
                <td>{{letrasBonosCuadratura.instrumento}}</td>
                <td>{{letrasBonosCuadratura.valorNominal | number}}</td>
                <td>{{letrasBonosCuadratura.montoPagado | number}}</td>
                <td>{{convertCodMonToStr(letrasBonosCuadratura.moneda)}}</td>
                <td>{{letrasBonosCuadratura.anno}}</td>
                <td>{{letrasBonosCuadratura.mes}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="letrasBonosFlag">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>

    <div class="table-responsive" *ngIf="letrasBonosFlagSinData">
        <div class="alert alert-danger alert-dismissible">
            No existen datos para año tributario seleccionado.
        </div>
    </div>
</div>
