
<div *ngIf="letrasBonosCuadratura">
    <h2><span jhiTranslate="sccmApp.letrasBonosCuadratura.detail.title">Letras Bonos Cuadratura</span> {{letrasBonosCuadratura.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.letrasBonosCuadratura.anno">Anno</span></dt>
        <dd>
            <span>{{letrasBonosCuadratura.anno}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonosCuadratura.instrumento">Instrumento</span></dt>
        <dd>
            <span>{{letrasBonosCuadratura.instrumento}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonosCuadratura.mes">Mes</span></dt>
        <dd>
            <span>{{letrasBonosCuadratura.mes}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonosCuadratura.moneda">Moneda</span></dt>
        <dd>
            <span>{{letrasBonosCuadratura.moneda}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonosCuadratura.montoPagado">Monto Pagado</span></dt>
        <dd>
            <span>{{letrasBonosCuadratura.montoPagado}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonosCuadratura.origen">Origen</span></dt>
        <dd>
            <span>{{letrasBonosCuadratura.origen}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.letrasBonosCuadratura.valorNominal">Valor Nominal</span></dt>
        <dd>
            <span>{{letrasBonosCuadratura.valorNominal}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'letras-bonos-cuadratura/'+ letrasBonosCuadratura.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
