
<div *ngIf="moneda">
    <h2><span jhiTranslate="sccmApp.moneda.detail.title">Moneda</span> {{moneda.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.moneda.fecha">Fecha</span></dt>
        <dd>
            <span>{{moneda.fecha | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.moneda.valor">Valor</span></dt>
        <dd>
            <span>{{moneda.valor}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.moneda.codMon">Cod Mon</span></dt>
        <dd>
            <span>{{moneda.codMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.moneda.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="moneda.annoTributa">
                <a [routerLink]="['/anno-tributa', moneda.annoTributa?.id]">{{moneda.annoTributa?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'moneda/'+ moneda.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
