<div>
    <h2>
        <span jhiTranslate="sccmApp.moneda.home.title">Monedas</span>
        <button class="btn btn-primary float-right jh-create-entity create-moneda" [routerLink]="['/', { outlets: { popup: ['moneda-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.moneda.home.createLabel">
            Create new Moneda
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="monedas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.moneda.fecha">Fecha</span></th>
            <th><span jhiTranslate="sccmApp.moneda.valor">Valor</span></th>
            <th><span jhiTranslate="sccmApp.moneda.codMon">Cod Mon</span></th>
            <th><span jhiTranslate="sccmApp.moneda.annoTributa">Anno Tributa</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let moneda of monedas ;trackBy: trackId">
                <td><a [routerLink]="['../moneda', moneda.id ]">{{moneda.id}}</a></td>
                <td>{{moneda.fecha | date:'medium'}}</td>
                <td>{{moneda.valor}}</td>
                <td>{{moneda.codMon}}</td>
                <td>
                    <div *ngIf="moneda.annoTributa">
                        <a [routerLink]="['../anno-tributa', moneda.annoTributa?.id ]" >{{moneda.annoTributa?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../moneda', moneda.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'moneda/'+ moneda.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'moneda/'+ moneda.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
