<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCerti57BFccLabel" jhiTranslate="sccmApp.certi57BFcc.home.createOrEditLabel">Create or edit a Certi 57 B Fcc</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!certi57BFcc.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="certi57BFcc.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.suc" for="field_suc">Suc</label>
            <input type="number" class="form-control" name="suc" id="field_suc"
                [(ngModel)]="certi57BFcc.suc" max="3" />
            <div [hidden]="!(editForm.controls.suc?.dirty && editForm.controls.suc?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.suc?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 3 }">
                    This field cannot be more than 3.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.suc?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.tip" for="field_tip">Tip</label>
            <input type="number" class="form-control" name="tip" id="field_tip"
                [(ngModel)]="certi57BFcc.tip" max="3" />
            <div [hidden]="!(editForm.controls.tip?.dirty && editForm.controls.tip?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tip?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 3 }">
                    This field cannot be more than 3.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tip?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.sucur" for="field_sucur">Sucur</label>
            <input type="number" class="form-control" name="sucur" id="field_sucur"
                [(ngModel)]="certi57BFcc.sucur" max="3" />
            <div [hidden]="!(editForm.controls.sucur?.dirty && editForm.controls.sucur?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.sucur?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 3 }">
                    This field cannot be more than 3.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.sucur?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.tipde" for="field_tipde">Tipde</label>
            <input type="number" class="form-control" name="tipde" id="field_tipde"
                [(ngModel)]="certi57BFcc.tipde" max="3" />
            <div [hidden]="!(editForm.controls.tipde?.dirty && editForm.controls.tipde?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tipde?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 3 }">
                    This field cannot be more than 3.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tipde?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.folio" for="field_folio">Folio</label>
            <input type="number" class="form-control" name="folio" id="field_folio"
                [(ngModel)]="certi57BFcc.folio" max="7" />
            <div [hidden]="!(editForm.controls.folio?.dirty && editForm.controls.folio?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.folio?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 7 }">
                    This field cannot be more than 7.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.folio?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.tipre" for="field_tipre">Tipre</label>
            <input type="number" class="form-control" name="tipre" id="field_tipre"
                [(ngModel)]="certi57BFcc.tipre" max="1" />
            <div [hidden]="!(editForm.controls.tipre?.dirty && editForm.controls.tipre?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tipre?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 1 }">
                    This field cannot be more than 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tipre?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="certi57BFcc.nombre" maxlength="40" />
            <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombre?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 40 }">
                   This field cannot be longer than 40 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.direccion" for="field_direccion">Direccion</label>
            <input type="text" class="form-control" name="direccion" id="field_direccion"
                [(ngModel)]="certi57BFcc.direccion" maxlength="60" />
            <div [hidden]="!(editForm.controls.direccion?.dirty && editForm.controls.direccion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.direccion?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                   This field cannot be longer than 60 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.comuna" for="field_comuna">Comuna</label>
            <input type="text" class="form-control" name="comuna" id="field_comuna"
                [(ngModel)]="certi57BFcc.comuna" maxlength="20" />
            <div [hidden]="!(editForm.controls.comuna?.dirty && editForm.controls.comuna?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.comuna?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.ciudad" for="field_ciudad">Ciudad</label>
            <input type="text" class="form-control" name="ciudad" id="field_ciudad"
                [(ngModel)]="certi57BFcc.ciudad" maxlength="20" />
            <div [hidden]="!(editForm.controls.ciudad?.dirty && editForm.controls.ciudad?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.ciudad?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.telefono" for="field_telefono">Telefono</label>
            <input type="number" class="form-control" name="telefono" id="field_telefono"
                [(ngModel)]="certi57BFcc.telefono" max="8" />
            <div [hidden]="!(editForm.controls.telefono?.dirty && editForm.controls.telefono?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.telefono?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 8 }">
                    This field cannot be more than 8.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.telefono?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.tasad" for="field_tasad">Tasad</label>
            <input type="number" class="form-control" name="tasad" id="field_tasad"
                [(ngModel)]="certi57BFcc.tasad"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.fedep" for="field_fedep">Fedep</label>
            <div class="input-group">
                <input id="field_fedep" type="text" class="form-control" name="fedep" ngbDatepicker  #fedepDp="ngbDatepicker" [(ngModel)]="certi57BFcc.fedep"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fedepDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.feven" for="field_feven">Feven</label>
            <div class="input-group">
                <input id="field_feven" type="text" class="form-control" name="feven" ngbDatepicker  #fevenDp="ngbDatepicker" [(ngModel)]="certi57BFcc.feven"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fevenDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.nudia" for="field_nudia">Nudia</label>
            <input type="number" class="form-control" name="nudia" id="field_nudia"
                [(ngModel)]="certi57BFcc.nudia" max="4" />
            <div [hidden]="!(editForm.controls.nudia?.dirty && editForm.controls.nudia?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nudia?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 4 }">
                    This field cannot be more than 4.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nudia?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.orsec" for="field_orsec">Orsec</label>
            <input type="number" class="form-control" name="orsec" id="field_orsec"
                [(ngModel)]="certi57BFcc.orsec" max="4" />
            <div [hidden]="!(editForm.controls.orsec?.dirty && editForm.controls.orsec?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.orsec?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 4 }">
                    This field cannot be more than 4.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.orsec?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.ticli" for="field_ticli">Ticli</label>
            <input type="number" class="form-control" name="ticli" id="field_ticli"
                [(ngModel)]="certi57BFcc.ticli" max="1" />
            <div [hidden]="!(editForm.controls.ticli?.dirty && editForm.controls.ticli?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.ticli?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 1 }">
                    This field cannot be more than 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.ticli?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.diaven" for="field_diaven">Diaven</label>
            <input type="number" class="form-control" name="diaven" id="field_diaven"
                [(ngModel)]="certi57BFcc.diaven" max="4" />
            <div [hidden]="!(editForm.controls.diaven?.dirty && editForm.controls.diaven?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.diaven?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 4 }">
                    This field cannot be more than 4.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.diaven?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.nurut" for="field_nurut">Nurut</label>
            <input type="number" class="form-control" name="nurut" id="field_nurut"
                [(ngModel)]="certi57BFcc.nurut" max="10" />
            <div [hidden]="!(editForm.controls.nurut?.dirty && editForm.controls.nurut?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nurut?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 10 }">
                    This field cannot be more than 10.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nurut?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.dvrut" for="field_dvrut">Dvrut</label>
            <input type="text" class="form-control" name="dvrut" id="field_dvrut"
                [(ngModel)]="certi57BFcc.dvrut" maxlength="1" />
            <div [hidden]="!(editForm.controls.dvrut?.dirty && editForm.controls.dvrut?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dvrut?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1 }">
                   This field cannot be longer than 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.capital" for="field_capital">Capital</label>
            <input type="number" class="form-control" name="capital" id="field_capital"
                [(ngModel)]="certi57BFcc.capital"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.interes" for="field_interes">Interes</label>
            <input type="number" class="form-control" name="interes" id="field_interes"
                [(ngModel)]="certi57BFcc.interes"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.capmoneda" for="field_capmoneda">Capmoneda</label>
            <input type="number" class="form-control" name="capmoneda" id="field_capmoneda"
                [(ngModel)]="certi57BFcc.capmoneda"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.reajuste" for="field_reajuste">Reajuste</label>
            <input type="number" class="form-control" name="reajuste" id="field_reajuste"
                [(ngModel)]="certi57BFcc.reajuste"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.intmoneda" for="field_intmoneda">Intmoneda</label>
            <input type="number" class="form-control" name="intmoneda" id="field_intmoneda"
                [(ngModel)]="certi57BFcc.intmoneda"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.codco" for="field_codco">Codco</label>
            <input type="number" class="form-control" name="codco" id="field_codco"
                [(ngModel)]="certi57BFcc.codco" max="1" />
            <div [hidden]="!(editForm.controls.codco?.dirty && editForm.controls.codco?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.codco?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 1 }">
                    This field cannot be more than 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.codco?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.newfo" for="field_newfo">Newfo</label>
            <input type="number" class="form-control" name="newfo" id="field_newfo"
                [(ngModel)]="certi57BFcc.newfo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.comon" for="field_comon">Comon</label>
            <input type="number" class="form-control" name="comon" id="field_comon"
                [(ngModel)]="certi57BFcc.comon" max="3" />
            <div [hidden]="!(editForm.controls.comon?.dirty && editForm.controls.comon?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.comon?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 3 }">
                    This field cannot be more than 3.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.comon?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.segur" for="field_segur">Segur</label>
            <input type="text" class="form-control" name="segur" id="field_segur"
                [(ngModel)]="certi57BFcc.segur" maxlength="1" />
            <div [hidden]="!(editForm.controls.segur?.dirty && editForm.controls.segur?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.segur?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1 }">
                   This field cannot be longer than 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.monfi" for="field_monfi">Monfi</label>
            <input type="number" class="form-control" name="monfi" id="field_monfi"
                [(ngModel)]="certi57BFcc.monfi"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.capta" for="field_capta">Capta</label>
            <input type="text" class="form-control" name="capta" id="field_capta"
                [(ngModel)]="certi57BFcc.capta" maxlength="6" />
            <div [hidden]="!(editForm.controls.capta?.dirty && editForm.controls.capta?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.capta?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 6 }">
                   This field cannot be longer than 6 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.autor" for="field_autor">Autor</label>
            <input type="text" class="form-control" name="autor" id="field_autor"
                [(ngModel)]="certi57BFcc.autor" maxlength="1" />
            <div [hidden]="!(editForm.controls.autor?.dirty && editForm.controls.autor?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.autor?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1 }">
                   This field cannot be longer than 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.sucur1" for="field_sucur1">Sucur 1</label>
            <input type="number" class="form-control" name="sucur1" id="field_sucur1"
                [(ngModel)]="certi57BFcc.sucur1" max="2" />
            <div [hidden]="!(editForm.controls.sucur1?.dirty && editForm.controls.sucur1?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.sucur1?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 2 }">
                    This field cannot be more than 2.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.sucur1?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.tipde1" for="field_tipde1">Tipde 1</label>
            <input type="number" class="form-control" name="tipde1" id="field_tipde1"
                [(ngModel)]="certi57BFcc.tipde1" max="3" />
            <div [hidden]="!(editForm.controls.tipde1?.dirty && editForm.controls.tipde1?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tipde1?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 3 }">
                    This field cannot be more than 3.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tipde1?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.folio1" for="field_folio1">Folio 1</label>
            <input type="number" class="form-control" name="folio1" id="field_folio1"
                [(ngModel)]="certi57BFcc.folio1" max="7" />
            <div [hidden]="!(editForm.controls.folio1?.dirty && editForm.controls.folio1?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.folio1?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 7 }">
                    This field cannot be more than 7.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.folio1?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.tasad1" for="field_tasad1">Tasad 1</label>
            <input type="number" class="form-control" name="tasad1" id="field_tasad1"
                [(ngModel)]="certi57BFcc.tasad1"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.fedep1" for="field_fedep1">Fedep 1</label>
            <div class="input-group">
                <input id="field_fedep1" type="text" class="form-control" name="fedep1" ngbDatepicker  #fedep1Dp="ngbDatepicker" [(ngModel)]="certi57BFcc.fedep1"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fedep1Dp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.feven1" for="field_feven1">Feven 1</label>
            <div class="input-group">
                <input id="field_feven1" type="text" class="form-control" name="feven1" ngbDatepicker  #feven1Dp="ngbDatepicker" [(ngModel)]="certi57BFcc.feven1"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="feven1Dp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.nudia1" for="field_nudia1">Nudia 1</label>
            <input type="number" class="form-control" name="nudia1" id="field_nudia1"
                [(ngModel)]="certi57BFcc.nudia1" max="4" />
            <div [hidden]="!(editForm.controls.nudia1?.dirty && editForm.controls.nudia1?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nudia1?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 4 }">
                    This field cannot be more than 4.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nudia1?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.capit1" for="field_capit1">Capit 1</label>
            <input type="number" class="form-control" name="capit1" id="field_capit1"
                [(ngModel)]="certi57BFcc.capit1"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.capmo1" for="field_capmo1">Capmo 1</label>
            <input type="number" class="form-control" name="capmo1" id="field_capmo1"
                [(ngModel)]="certi57BFcc.capmo1"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.filler" for="field_filler">Filler</label>
            <input type="text" class="form-control" name="filler" id="field_filler"
                [(ngModel)]="certi57BFcc.filler" maxlength="44" />
            <div [hidden]="!(editForm.controls.filler?.dirty && editForm.controls.filler?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.filler?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 44 }">
                   This field cannot be longer than 44 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.fedia" for="field_fedia">Fedia</label>
            <div class="input-group">
                <input id="field_fedia" type="text" class="form-control" name="fedia" ngbDatepicker  #fediaDp="ngbDatepicker" [(ngModel)]="certi57BFcc.fedia"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fediaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.ccapit" for="field_ccapit">Ccapit</label>
            <input type="number" class="form-control" name="ccapit" id="field_ccapit"
                [(ngModel)]="certi57BFcc.ccapit" max="10" />
            <div [hidden]="!(editForm.controls.ccapit?.dirty && editForm.controls.ccapit?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.ccapit?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 10 }">
                    This field cannot be more than 10.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.ccapit?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.ccinte" for="field_ccinte">Ccinte</label>
            <input type="number" class="form-control" name="ccinte" id="field_ccinte"
                [(ngModel)]="certi57BFcc.ccinte" max="10" />
            <div [hidden]="!(editForm.controls.ccinte?.dirty && editForm.controls.ccinte?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.ccinte?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 10 }">
                    This field cannot be more than 10.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.ccinte?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certi57BFcc.ccreaj" for="field_ccreaj">Ccreaj</label>
            <input type="number" class="form-control" name="ccreaj" id="field_ccreaj"
                [(ngModel)]="certi57BFcc.ccreaj" max="10" />
            <div [hidden]="!(editForm.controls.ccreaj?.dirty && editForm.controls.ccreaj?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.ccreaj?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 10 }">
                    This field cannot be more than 10.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.ccreaj?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
