
<div *ngIf="certi57BFcc">
    <h2><span jhiTranslate="sccmApp.certi57BFcc.detail.title">Certi 57 B Fcc</span> {{certi57BFcc.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.certi57BFcc.suc">Suc</span></dt>
        <dd>
            <span>{{certi57BFcc.suc}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.tip">Tip</span></dt>
        <dd>
            <span>{{certi57BFcc.tip}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.sucur">Sucur</span></dt>
        <dd>
            <span>{{certi57BFcc.sucur}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.tipde">Tipde</span></dt>
        <dd>
            <span>{{certi57BFcc.tipde}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.folio">Folio</span></dt>
        <dd>
            <span>{{certi57BFcc.folio}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.tipre">Tipre</span></dt>
        <dd>
            <span>{{certi57BFcc.tipre}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.nombre">Nombre</span></dt>
        <dd>
            <span>{{certi57BFcc.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.direccion">Direccion</span></dt>
        <dd>
            <span>{{certi57BFcc.direccion}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.comuna">Comuna</span></dt>
        <dd>
            <span>{{certi57BFcc.comuna}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.ciudad">Ciudad</span></dt>
        <dd>
            <span>{{certi57BFcc.ciudad}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.telefono">Telefono</span></dt>
        <dd>
            <span>{{certi57BFcc.telefono}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.tasad">Tasad</span></dt>
        <dd>
            <span>{{certi57BFcc.tasad}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.fedep">Fedep</span></dt>
        <dd>
            <span>{{certi57BFcc.fedep | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.feven">Feven</span></dt>
        <dd>
            <span>{{certi57BFcc.feven | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.nudia">Nudia</span></dt>
        <dd>
            <span>{{certi57BFcc.nudia}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.orsec">Orsec</span></dt>
        <dd>
            <span>{{certi57BFcc.orsec}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.ticli">Ticli</span></dt>
        <dd>
            <span>{{certi57BFcc.ticli}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.diaven">Diaven</span></dt>
        <dd>
            <span>{{certi57BFcc.diaven}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.nurut">Nurut</span></dt>
        <dd>
            <span>{{certi57BFcc.nurut}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.dvrut">Dvrut</span></dt>
        <dd>
            <span>{{certi57BFcc.dvrut}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.capital">Capital</span></dt>
        <dd>
            <span>{{certi57BFcc.capital}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.interes">Interes</span></dt>
        <dd>
            <span>{{certi57BFcc.interes}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.capmoneda">Capmoneda</span></dt>
        <dd>
            <span>{{certi57BFcc.capmoneda}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.reajuste">Reajuste</span></dt>
        <dd>
            <span>{{certi57BFcc.reajuste}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.intmoneda">Intmoneda</span></dt>
        <dd>
            <span>{{certi57BFcc.intmoneda}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.codco">Codco</span></dt>
        <dd>
            <span>{{certi57BFcc.codco}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.newfo">Newfo</span></dt>
        <dd>
            <span>{{certi57BFcc.newfo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.comon">Comon</span></dt>
        <dd>
            <span>{{certi57BFcc.comon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.segur">Segur</span></dt>
        <dd>
            <span>{{certi57BFcc.segur}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.monfi">Monfi</span></dt>
        <dd>
            <span>{{certi57BFcc.monfi}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.capta">Capta</span></dt>
        <dd>
            <span>{{certi57BFcc.capta}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.autor">Autor</span></dt>
        <dd>
            <span>{{certi57BFcc.autor}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.sucur1">Sucur 1</span></dt>
        <dd>
            <span>{{certi57BFcc.sucur1}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.tipde1">Tipde 1</span></dt>
        <dd>
            <span>{{certi57BFcc.tipde1}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.folio1">Folio 1</span></dt>
        <dd>
            <span>{{certi57BFcc.folio1}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.tasad1">Tasad 1</span></dt>
        <dd>
            <span>{{certi57BFcc.tasad1}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.fedep1">Fedep 1</span></dt>
        <dd>
            <span>{{certi57BFcc.fedep1 | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.feven1">Feven 1</span></dt>
        <dd>
            <span>{{certi57BFcc.feven1 | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.nudia1">Nudia 1</span></dt>
        <dd>
            <span>{{certi57BFcc.nudia1}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.capit1">Capit 1</span></dt>
        <dd>
            <span>{{certi57BFcc.capit1}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.capmo1">Capmo 1</span></dt>
        <dd>
            <span>{{certi57BFcc.capmo1}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.filler">Filler</span></dt>
        <dd>
            <span>{{certi57BFcc.filler}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.fedia">Fedia</span></dt>
        <dd>
            <span>{{certi57BFcc.fedia | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.ccapit">Ccapit</span></dt>
        <dd>
            <span>{{certi57BFcc.ccapit}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.ccinte">Ccinte</span></dt>
        <dd>
            <span>{{certi57BFcc.ccinte}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certi57BFcc.ccreaj">Ccreaj</span></dt>
        <dd>
            <span>{{certi57BFcc.ccreaj}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'certi-57-b-fcc/'+ certi57BFcc.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
