<div>
    <h2>
        <span jhiTranslate="sccmApp.certi57BFcc.home.title">Certi 57 B Fccs</span>
        <button class="btn btn-primary float-right jh-create-entity create-certi-57-b-fcc" [routerLink]="['/', { outlets: { popup: ['certi-57-b-fcc-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.certi57BFcc.home.createLabel">
            Create new Certi 57 B Fcc
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="certi57BFccs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.suc">Suc</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.tip">Tip</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.sucur">Sucur</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.tipde">Tipde</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.folio">Folio</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.tipre">Tipre</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.nombre">Nombre</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.direccion">Direccion</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.comuna">Comuna</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.ciudad">Ciudad</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.telefono">Telefono</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.tasad">Tasad</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.fedep">Fedep</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.feven">Feven</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.nudia">Nudia</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.orsec">Orsec</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.ticli">Ticli</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.diaven">Diaven</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.nurut">Nurut</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.dvrut">Dvrut</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.capital">Capital</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.interes">Interes</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.capmoneda">Capmoneda</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.reajuste">Reajuste</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.intmoneda">Intmoneda</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.codco">Codco</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.newfo">Newfo</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.comon">Comon</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.segur">Segur</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.monfi">Monfi</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.capta">Capta</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.autor">Autor</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.sucur1">Sucur 1</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.tipde1">Tipde 1</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.folio1">Folio 1</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.tasad1">Tasad 1</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.fedep1">Fedep 1</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.feven1">Feven 1</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.nudia1">Nudia 1</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.capit1">Capit 1</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.capmo1">Capmo 1</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.filler">Filler</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.fedia">Fedia</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.ccapit">Ccapit</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.ccinte">Ccinte</span></th>
            <th><span jhiTranslate="sccmApp.certi57BFcc.ccreaj">Ccreaj</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let certi57BFcc of certi57BFccs ;trackBy: trackId">
                <td><a [routerLink]="['../certi-57-b-fcc', certi57BFcc.id ]">{{certi57BFcc.id}}</a></td>
                <td>{{certi57BFcc.suc}}</td>
                <td>{{certi57BFcc.tip}}</td>
                <td>{{certi57BFcc.sucur}}</td>
                <td>{{certi57BFcc.tipde}}</td>
                <td>{{certi57BFcc.folio}}</td>
                <td>{{certi57BFcc.tipre}}</td>
                <td>{{certi57BFcc.nombre}}</td>
                <td>{{certi57BFcc.direccion}}</td>
                <td>{{certi57BFcc.comuna}}</td>
                <td>{{certi57BFcc.ciudad}}</td>
                <td>{{certi57BFcc.telefono}}</td>
                <td>{{certi57BFcc.tasad}}</td>
                <td>{{certi57BFcc.fedep | date:'mediumDate'}}</td>
                <td>{{certi57BFcc.feven | date:'mediumDate'}}</td>
                <td>{{certi57BFcc.nudia}}</td>
                <td>{{certi57BFcc.orsec}}</td>
                <td>{{certi57BFcc.ticli}}</td>
                <td>{{certi57BFcc.diaven}}</td>
                <td>{{certi57BFcc.nurut}}</td>
                <td>{{certi57BFcc.dvrut}}</td>
                <td>{{certi57BFcc.capital}}</td>
                <td>{{certi57BFcc.interes}}</td>
                <td>{{certi57BFcc.capmoneda}}</td>
                <td>{{certi57BFcc.reajuste}}</td>
                <td>{{certi57BFcc.intmoneda}}</td>
                <td>{{certi57BFcc.codco}}</td>
                <td>{{certi57BFcc.newfo}}</td>
                <td>{{certi57BFcc.comon}}</td>
                <td>{{certi57BFcc.segur}}</td>
                <td>{{certi57BFcc.monfi}}</td>
                <td>{{certi57BFcc.capta}}</td>
                <td>{{certi57BFcc.autor}}</td>
                <td>{{certi57BFcc.sucur1}}</td>
                <td>{{certi57BFcc.tipde1}}</td>
                <td>{{certi57BFcc.folio1}}</td>
                <td>{{certi57BFcc.tasad1}}</td>
                <td>{{certi57BFcc.fedep1 | date:'mediumDate'}}</td>
                <td>{{certi57BFcc.feven1 | date:'mediumDate'}}</td>
                <td>{{certi57BFcc.nudia1}}</td>
                <td>{{certi57BFcc.capit1}}</td>
                <td>{{certi57BFcc.capmo1}}</td>
                <td>{{certi57BFcc.filler}}</td>
                <td>{{certi57BFcc.fedia | date:'mediumDate'}}</td>
                <td>{{certi57BFcc.ccapit}}</td>
                <td>{{certi57BFcc.ccinte}}</td>
                <td>{{certi57BFcc.ccreaj}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../certi-57-b-fcc', certi57BFcc.id ]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'certi-57-b-fcc/'+ certi57BFcc.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-secondary btn-sm text-white">
                            <span class="fas fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'certi-57-b-fcc/'+ certi57BFcc.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-trash-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
