<div>
    
	<h2> <span jhiTranslate="sccmApp.datosEmisionCertificado.home.title"> </span> </h2>
	
    <jhi-alert></jhi-alert>
    
	<div class = "row" *ngIf = "annosTributarios">
	
        <div class = "form-group col-lg-2">
            
			<span class = "text-primary-sccm"> Seleccione Año Tributario *</span>
            
			<select class = "form-control" [(ngModel)] = "selectedYear">
			
                <option *ngFor = "let anno of annosTributarios;" [ngValue] = "anno.id"> {{anno.annoT}} </option>
				
            </select>
			
        </div>
		
        <div class = "form-group col-lg-3">
		
            <span class = "text-primary-sccm"> Seleccione Tipo de Dato * </span>
            
			<select class = "form-control" [(ngModel)] = "selectedDataType">
			
                <option *ngFor = "let opt of DATA_TYPE_OPTIONS_OPER_CAPT_EMI_CERT;" [ngValue] = "opt"> {{opt.name}} </option>
				
            </select>
			
        </div>
		
        <div class = "form-group col-lg-3">
            
			<span class = "text-primary-sccm"> Rut </span>
            
			<input type = "text" class = "form-control" [(ngModel)] = "rutFilterValue" placeholder = "Sin díjito verificador. Ej: 76055353"/>
			
        </div>
		
        <div class = "form-group col-lg-2">
		
            <span class = "text-primary-sccm"> Folio </span>
			
            <input type = "text" class = "form-control" [(ngModel)] = "folioFilterValue"/>
        
		</div>
		
        <div class = "form-group col-lg-2">
		
            <button [disabled] = "!canUse" style = "margin-top: 18px;" class = "btn btn-primary" (click) = "filterData()"> 
				
				<span class = "fab fa-searchengin"> </span> <span> Buscar </span>
			
			</button>
        
		</div>
		
    </div>
	
    <div class = "table-responsive" *ngIf = "dataFlag">
        
		<table class = "table table-striped">
		
            <thead>
				
				<tr>
					<th> <span jhiTranslate = "sccmApp.datosEmisionCertificado.rut"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.datosEmisionCertificado.folio"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.datosEmisionCertificado.moneda"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.datosEmisionCertificado.intPagado"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.datosEmisionCertificado.montoFinal"> </span> </th>
					<th> </th>
				</tr>
				
            </thead>
			
            <tbody>
				
				<tr *ngFor = "let elem of data ;trackBy: trackId">
					
					<td> {{elem.rut}} </td>
					<td> {{elem.folio}} </td>
					<td> {{convertCodMonToStr(elem.codMon)}} </td>
					<td> ${{ (otherGroupInteresPagado ? elem.intNom : elem.intPagado) | number}} </td>
					<td> ${{elem.monFi | number}} </td>
					
					<td class = "text-right">
					
						<div class = "btn-group flex-btn-group-container">
						
							<button type = "submit" [routerLink] = "['../' + routerLinkVaue , elem.id ]" class = "btn btn-info btn-sm">
								
								<span class = "fa fa-eye"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.view"> View </span>
							
							</button>
							
							<button type = "submit" [routerLink] = "['/', { outlets: { popup:  + routerLinkVaue + '/'+ elem.id + '/edit'} }]" 
							replaceUrl = "true" class="btn btn-primary btn-sm">
							
								<span class = "fa fa-edit"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.edit"> Edit </span>
							
							</button>
							
							<button type = "submit" [routerLink] = "['/', { outlets: { popup:  + routerLinkVaue + '/'+ elem.id + '/delete'} }]" 
							replaceUrl = "true" class = "btn btn-danger btn-sm">
							
								<span class = "fa fa-trash"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.delete"> Delete </span>
							
							</button>
							
						</div>
						
					</td>
					
				</tr>
				
            </tbody>
			
        </table>
		
    </div>
	
    <div *ngIf = "dataFlag">
        
		<div class = "row justify-content-center">
		
            <jhi-item-count [page] = "page" [total] = "queryCount" [maxSize] = "5" [itemsPerPage] = "itemsPerPage"> </jhi-item-count>
        
		</div>
        
		<div class = "row justify-content-center">
        
			<ngb-pagination [collectionSize] = "totalItems" [maxSize] = "5" [pageSize] = "itemsPerPage" [(page)] = "page" 
			(pageChange) = "loadPage(page)"></ngb-pagination>

        </div>
		
    </div>
	
    <div class = "table-responsive" *ngIf = "dataFlagSinData">
        
		<div class = "alert alert-danger alert-dismissible"> No existen datos para los filtros seleccionados. </div>
   
    </div>
   
    <div class = "" *ngIf = "flagResult">
        
		<div class = "{{classType}}">
		
            <a class = "close" aria-label = "close" (click) = "onAlertClose()">&times;</a>
            
			<strong>{{resultType}}</strong>{{resultMsg}}
			
        </div>
		
    </div>
   
</div>
