<div *ngIf="cart57B">
    <h2><span jhiTranslate="sccmApp.cart57B.detail.title">Cart 57 B</span> {{cart57B.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.cart57B.rutCliente"></span></dt>
        <dd>
            <div *ngFor="let cliente of clientesList">
                <div *ngIf="cart57B.clienteBice.id === cliente.id">
                    {{cliente.rut}}
                </div>
            </div>
        </dd>
        <dt><span jhiTranslate="sccmApp.cart57B.clienteBice"></span></dt>
        <dd>
            <div *ngFor="let cliente of clientesList">
                <div *ngIf="cart57B.clienteBice.id === cliente.id">
                    {{cliente.nombre}}
                </div>
            </div>
        </dd>
        <dt><span jhiTranslate="sccmApp.cart57B.marca">Marca</span></dt>
        <dd>
            <span>{{cart57B.marca}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.cart57B.tipo">Marca</span></dt>
        <dd>
            <span>{{cart57B.tipo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.cart57B.fecha">Marca</span></dt>
        <dd>
            <span>{{cart57B.fecha | date:'dd/MM/yyyy'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.cart57B.monto">Marca</span></dt>
        <dd>
            <span>{{cart57B.monto | currency :'CLP'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.cart57B.factorAct">Marca</span></dt>
        <dd>
            <span>{{cart57B.factorAct}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.cart57B.montoActualizado">Marca</span></dt>
        <dd>
            <span>{{cart57B.montoActualizado | currency :'CLP'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.cart57B.meses">Marca</span></dt>
        <dd>
            <span>{{cart57B.meses}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.cart57B.montoProporcional">Marca</span></dt>
        <dd>
            <span>{{cart57B.montoProporcional | currency :'CLP'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.cart57B.montoProporcionalSig">Marca</span></dt>
        <dd>
            <span>{{cart57B.montoProporcionalSig | currency :'CLP'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.cart57B.interes">Marca</span></dt>
        <dd>
            <span>{{cart57B.interes}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.cart57B.interesActualizado">Marca</span></dt>
        <dd>
            <span>{{cart57B.interesActualizado}}</span>
        </dd>

    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cart-57-b/'+ cart57B.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
