<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCart57BLabel" jhiTranslate="sccmApp.cart57B.home.createOrEditLabel">Create or edit a Cart 57 B</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="pedro===undefined">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cart57B.id" readonly/>
        </div>
        <div class="form-group" style="display: none;">
            <label class="form-control-label" jhiTranslate="sccmApp.cart57B.marca" for="field_marca">Marca</label>
            <input type="text" class="form-control" name="marca" id="field_marca"
                   [(ngModel)]="cart57B.marca"/>
        </div>

        <div class="form-group" [hidden]="!cart57B.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.rutCliente">Cliente Bice</label>
            <select class="form-control" disabled>
                <option [ngValue]="clienteBiceOption.id === cart57B.clienteBice?.id ? cart57B.clienteBice : clienteBiceOption"
                        *ngFor="let clienteBiceOption of clientebices; trackBy: trackClienteBiceById">{{clienteBiceOption.rut}}
                </option>
            </select>
        </div>
        <div class="form-group" [hidden]="!cart57B.id">
            <label class="form-control-label" jhiTranslate="sccmApp.entrada57b.clienteBice">Cliente Bice</label>
            <select class="form-control" disabled>
                <option [ngValue]="clienteBiceOption.id === cart57B.clienteBice?.id ? cart57B.clienteBice : clienteBiceOption"
                        *ngFor="let clienteBiceOption of clientebices; trackBy: trackClienteBiceById">{{clienteBiceOption.nombre}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cart57B.tipo" for="field_tipo">Tipo</label>
            <input type="text" class="form-control" name="tipo" id="field_tipo"
                   [(ngModel)]="cart57B.tipo"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cart57B.fecha" for="field_fecha">Fecha</label>
            <div class="input-group">
                <input id="field_fecha" type="text" class="form-control" name="fecha" ngbDatepicker #fechaDp="ngbDatepicker" [(ngModel)]="cart57B.fecha"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cart57B.monto" for="field_monto">Monto</label>
            <input type="number" class="form-control" name="monto" id="field_monto"
                   [(ngModel)]="cart57B.monto"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cart57B.factorAct" for="field_factorAct">Factor Act</label>
            <input type="number" class="form-control" name="factorAct" id="field_factorAct"
                   [(ngModel)]="cart57B.factorAct"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cart57B.montoActualizado" for="field_montoActualizado">Monto Actualizado</label>
            <input type="number" class="form-control" name="montoActualizado" id="field_montoActualizado"
                   [(ngModel)]="cart57B.montoActualizado"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cart57B.meses" for="field_meses">Meses</label>
            <input type="number" class="form-control" name="meses" id="field_meses"
                   [(ngModel)]="cart57B.meses"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cart57B.montoProporcional" for="field_montoProporcional">Monto Proporcional</label>
            <input type="number" class="form-control" name="montoProporcional" id="field_montoProporcional"
                   [(ngModel)]="cart57B.montoProporcional"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cart57B.montoProporcionalSig" for="field_montoProporcionalSig">Monto Proporcional Sig</label>
            <input type="number" class="form-control" name="montoProporcionalSig" id="field_montoProporcionalSig"
                   [(ngModel)]="cart57B.montoProporcionalSig"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cart57B.interes" for="field_interes">Interes</label>
            <input type="number" class="form-control" name="interes" id="field_interes"
                   [(ngModel)]="cart57B.interes"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.cart57B.interesActualizado" for="field_interesActualizado">Interes Actualizado</label>
            <input type="number" class="form-control" name="interesActualizado" id="field_interesActualizado"
                   [(ngModel)]="cart57B.interesActualizado"/>
        </div>

        <div class="form-group" style="display: none;">
            <label class="form-control-label" jhiTranslate="sccmApp.cart57B.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="cart57B.annoTributa">
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === cart57B.annoTributa?.id ? cart57B.annoTributa : annoTributaOption"
                        *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.annoT}}
                </option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
