<div>
    <div class="row">
        <div class="col-lg-9">
            <h2><span jhiTranslate="sccmApp.cart57B.home.title"></span></h2>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-primary float-right jh-create-entity create-cart-57-b" [routerLink]="['/', { outlets: { popup: ['cart-57-b-new'] } }]">
                <span class="fa fa-plus"></span>
                <span jhiTranslate="sccmApp.cart57B.home.createLabel">Create new Cart 57 B</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-3">
            <span class="text-primary-sccm">Seleccione Año Tributario</span>
            <select class="form-control" #idAnnoSelected>
                <option *ngFor="let anno of annosTributarios;" value="{{anno.id}}">{{anno.annoT}}</option>
            </select>
        </div>
        <div class="form-group col-lg-3">
            <button style="margin-top: 18px;" class="btn btn-primary" (click)="filterByAnooTributario(idAnnoSelected)">
                <span class="fab fa-searchengin"></span> <span>Buscar</span>
            </button>
        </div>
        <div class="col-lg-3">
            &nbsp;
        </div>
        <div *ngIf="cart57BFlag" class="form-group col-lg-3">
            <button style="margin-top: 18px;" class="btn btn-success float-right jh-create-entity create-entrada-57-b" (click)="generateExcel()">
                <span class="fas fa-file-excel"></span>
                <span jhiTranslate="entity.action.exportToExcel">Export to Excel</span>
            </button>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <div class="row"></div>
    <div class="table-responsive" *ngIf="cart57BFlag">
        <table class="table table-striped" id="table">
            <thead>
            <tr>
                <th><span jhiTranslate="sccmApp.cart57B.rutCliente">Rut Cliente</span></th>
                <th><span jhiTranslate="sccmApp.cart57B.clienteBice">Nombre</span></th>
                <th><span jhiTranslate="sccmApp.cart57B.tipo">Tipo</span></th>
                <th><span jhiTranslate="sccmApp.cart57B.isInitial">Es Inicial</span></th>
                <th><span jhiTranslate="sccmApp.cart57B.fecha">Fecha</span></th>
                <th><span jhiTranslate="sccmApp.cart57B.monto">Monto</span></th>
                <th><span jhiTranslate="sccmApp.cart57B.factorAct">Factor Act</span></th>
                <th><span jhiTranslate="sccmApp.cart57B.montoActualizado">Monto Actualizado</span></th>
                <th><span jhiTranslate="sccmApp.cart57B.meses">Meses</span></th>
                <th><span jhiTranslate="sccmApp.cart57B.montoProporcional">Monto Proporcional</span></th>
                <th><span jhiTranslate="sccmApp.cart57B.montoProporcionalSig">Monto Proporcional Sig</span></th>
                <th><span jhiTranslate="sccmApp.cart57B.interes">Interes</span></th>
                <th><span jhiTranslate="sccmApp.cart57B.interesActualizado">Interes Actualizado</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cart57B of cart57BS ;trackBy: trackId">
                <td>
                    <div *ngFor="let cliente of clientesList">
                        <div *ngIf="cart57B.clienteBice.id === cliente.id">
                            {{cliente.rut}}
                        </div>
                    </div>
                </td>
                <td>
                    <div *ngFor="let cliente of clientesList">
                        <div *ngIf="cart57B.clienteBice.id === cliente.id">
                            {{cliente.nombre}}
                        </div>
                    </div>
                </td>

                <td>{{cart57B.tipo}}</td>
                <td *ngIf="cart57B.marca === '**';else isNotInitialDiv">Sí</td>
                <ng-template #isNotInitialDiv>
                    <td>No</td>
                </ng-template>
                <td>{{cart57B.fecha | date:'dd/MM/yyyy'}}</td>
                <td>${{cart57B.monto | number}}</td>
                <td>{{cart57B.factorAct}}</td>
                <td>${{cart57B.montoActualizado | number}}</td>
                <td>{{cart57B.meses}}</td>
                <td>${{cart57B.montoProporcional | number}}</td>
                <td>${{cart57B.montoProporcionalSig | number}}</td>
                <td>${{cart57B.interes | number}}</td>
                <td>${{cart57B.interesActualizado | number}}</td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [routerLink]="['../cart-57-b', cart57B.id ]" class="btn btn-primary btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'cart-57-b/'+ cart57B.id + '/edit'} }]" replaceUrl="true"
                                class="btn btn-secondary btn-sm text-white">
                            <span class="fas fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'cart-57-b/'+ cart57B.id + '/delete'} }]" replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-trash-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive" *ngIf="cart57BFlagSinData">
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error: </strong> No existen datos para año tributario seleccionado.
        </div>
    </div>
</div>
