<div>
    
	<h2> Emisión Declaración Jurada - Operaciones Captación </h2>
    
	<div class = "row">
	
        <div class = "form-group col-lg-3">
		
             <span class = "text-primary-sccm"> Seleccione Año Tributario </span>
            
			<select class = "form-control" #idSelected>
			
                <option *ngFor = "let anno of annosTributarios;" value = "{{anno.id}}"> {{anno.annoT}} </option>
				
            </select>
        
		</div>
        
		<div style = "margin-top: 18px;" class = "form-group col-lg-3">
            
			<button id = 'btnSend' [disabled] = "!canUse" class = "btn btn-primary" (click) = "certificados(idSelected)">
				
				<i class = "fas fa-play"> </i>&nbsp;Emitir Declaración Jurada
				
            </button>
			
        </div>
		
    </div>
    
	<div class = "table-responsive" *ngIf = "flagResult">
        
		<div class = "{{classType}}">
		
            <a class = "close" aria-label = "close" (click) = "onAlertClose()">&times;</a>
            
			<strong>{{resultType}}</strong>{{resultMsg}}
			
        </div>
		
    </div>
	
</div>