
<div *ngIf="pactos">
    <h2><span jhiTranslate="sccmApp.pactos.detail.title">Pactos</span> {{pactos.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.pactos.rut">Rut</span></dt>
        <dd>
            <span>{{pactos.rut}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.dv">Dv</span></dt>
        <dd>
            <span>{{pactos.dv}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.producto">Producto</span></dt>
        <dd>
            <span>{{pactos.producto}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.moneda">Moneda</span></dt>
        <dd>
            <span>{{pactos.moneda}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.fechaPago">Fecha Pago</span></dt>
        <dd>
            <span>{{pactos.fechaPago | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.correlativo">Correlativo</span></dt>
        <dd>
            <span>{{pactos.correlativo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.fechaInv">Fecha Inv</span></dt>
        <dd>
            <span>{{pactos.fechaInv | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.folio">Folio</span></dt>
        <dd>
            <span>{{pactos.folio}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.filler">Filler</span></dt>
        <dd>
            <span>{{pactos.filler}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.capital">Capital</span></dt>
        <dd>
            <span>{{pactos.capital}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.capMonOri">Cap Mon Ori</span></dt>
        <dd>
            <span>{{pactos.capMonOri}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.intNom">Int Nom</span></dt>
        <dd>
            <span>{{pactos.intNom}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.intReal">Int Real</span></dt>
        <dd>
            <span>{{pactos.intReal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.monFi">Mon Fi</span></dt>
        <dd>
            <span>{{pactos.monFi}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.numGiro">Num Giro</span></dt>
        <dd>
            <span>{{pactos.numGiro}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.codMon">Cod Mon</span></dt>
        <dd>
            <span>{{pactos.codMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.monPac">Mon Pac</span></dt>
        <dd>
            <span>{{pactos.monPac}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.tasMon">Tas Mon</span></dt>
        <dd>
            <span>{{pactos.tasMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.tasa">Tasa</span></dt>
        <dd>
            <span>{{pactos.tasa}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.perTasa">Per Tasa</span></dt>
        <dd>
            <span>{{pactos.perTasa}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.reajuste">Reajuste</span></dt>
        <dd>
            <span>{{pactos.reajuste}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.tipoInt">Tipo Int</span></dt>
        <dd>
            <span>{{pactos.tipoInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.codTipInt">Cod Tip Int</span></dt>
        <dd>
            <span>{{pactos.codTipInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.fecConta">Fec Conta</span></dt>
        <dd>
            <span>{{pactos.fecConta}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.bipersonal">Bipersonal</span></dt>
        <dd>
            <span>{{pactos.bipersonal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.reajustabilidad">Reajustabilidad</span></dt>
        <dd>
            <span>{{pactos.reajustabilidad}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.plazo">Plazo</span></dt>
        <dd>
            <span>{{pactos.plazo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.tipoPago">Tipo Pago</span></dt>
        <dd>
            <span>{{pactos.tipoPago}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.origen">Origen</span></dt>
        <dd>
            <span>{{pactos.origen}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.pactos.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="pactos.annoTributa">
                <a [routerLink]="['/anno-tributa', pactos.annoTributa?.id]">{{pactos.annoTributa?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pactos/'+ pactos.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
