<div>
    
	<h2> <span jhiTranslate = "sccmApp.pactos.home.title"> Pactos </span> </h2>
    
	<jhi-alert> </jhi-alert>
    
	<div class = "row"> </div>
	
    <br/>
    
	<div class = "row" *ngIf = "annosTributarios">
	
        <div class = "form-group col-lg-3">
		
            <span class = "text-primary-sccm"> Seleccione Año Tributario </span>
            
			<select class = "form-control" #idAnnoSelected>
			
                <option *ngFor = "let anno of annosTributarios;" value = "{{anno.id}}">
                    {{anno.annoT}}
                </option>
				
            </select>
			
        </div>
		
        <div class = "form-group col-lg-2">
            
			<button style = "margin-top: 18px;" class = "btn btn-primary" (click) = "filterByAnooTributario(idAnnoSelected)">
				
				<span class = "fab fa-searchengin"> </span> <span>Buscar</span>
				
			</button>
			
        </div>
		
        <div class = "form-group col-lg-3" *ngIf = "pactosFlag">
            
			<span class = "text-primary-sccm">Seleccione Cliente</span>
            
			<select class = "form-control" #selectRutFilter>
                
				<option *ngFor = "let pacto of pactos | groupBy: 'rut'" value = "{{pacto.key}}"> {{pacto.key | number}} </option>
				
            </select>
			
        </div>
        
		<div class = "form-group col-lg-2" *ngIf = "pactosFlag">
		
            <button style = "margin-top: 18px;" class = "btn btn-secondary" (click) = "filterByRut()">
				
				<span class = "fab fa-searchengin"></span> <span>Filtrar</span>
			
			</button>
			
        </div>
        
		<div class = "col-lg-2">
		
            <button *ngIf = "pactosFlag" style = "margin-top: 18px;" class = "btn btn-success float-right jh-create-entity create-entrada-57-b btn-block" 
			(click) = "generateExcel()">
                
				<i class = "fas fa-file-excel"></i> <span jhiTranslate = "entity.action.exportToExcel">Export to Excel</span>
				
            </button>
			
        </div>
		
    </div>
	
    <div class = "table-responsive" *ngIf = "pactosFlag">
        
		<table class = "table table-striped">
		
            <thead>
				
				<tr>
					<th> <span jhiTranslate = "sccmApp.pactos.rut"> Rut </span> </th>
					<th> <span jhiTranslate = "sccmApp.pactos.folio"> Folio </span> </th>
					<th> <span jhiTranslate = "sccmApp.pactos.capital"> Capital </span></th>
					<th> <span jhiTranslate = "sccmApp.pactos.capMonOri"> Cap Mon Ori </span> </th>
					<th> <span jhiTranslate = "sccmApp.pactos.monFi"> Mon Fi </span> </th>
					<th> <span jhiTranslate = "sccmApp.pactos.intNom"> Int Nom </span> </th>
					<th> <span jhiTranslate = "sccmApp.pactos.intReal"> Int Real </span> </th>
					<th> <span jhiTranslate = "sccmApp.pactos.monPac"> Mon Pac </span> </th>
				</tr>
				
            </thead>
			
            <tbody>
				
				<tr *ngFor = "let pactos of pactos ;trackBy: trackId">
					
					<td *ngIf = "rutSelected ?  pactos.rut === rutSelected : pactos.rut"> {{pactos.rut | number}}-{{pactos.dv}}</td>
					<td *ngIf = "rutSelected ?  pactos.rut === rutSelected : pactos.rut"> {{pactos.folio}}</td>
					<td *ngIf = "rutSelected ?  pactos.rut === rutSelected : pactos.rut"> ${{pactos.capital | number}}</td>
					<td *ngIf = "rutSelected ?  pactos.rut === rutSelected : pactos.rut"> ${{pactos.capMonOri | number}}</td>
					<td *ngIf = "rutSelected ?  pactos.rut === rutSelected : pactos.rut"> ${{pactos.monFi | number}}</td>
					<td *ngIf = "rutSelected ?  pactos.rut === rutSelected : pactos.rut"> {{pactos.intNom | number}}</td>
					<td *ngIf = "rutSelected ?  pactos.rut === rutSelected : pactos.rut"> {{pactos.intReal | number}}</td>
					
					<td *ngIf="rutSelected ?  pactos.rut === rutSelected : pactos.rut">
						
						<div *ngFor = "let tablaMoneda of tablaMonedas">
							
							<div *ngIf = "pactos.codMon=== tablaMoneda.codMon">
								{{tablaMoneda.simbolo}}
							</div>
							
						</div>
						
					</td>
					
				</tr>
				
            </tbody>
			
        </table>
		
    </div>
	
    <div class = "table-responsive" *ngIf = "pactosFlag" style = "display: none;">
        
		<table class = "table table-striped" id = "table">
		
            <thead>
			
				<tr>
					<th><span jhiTranslate="sccmApp.pactos.rut">Rut</span></th>
					<th><span jhiTranslate="sccmApp.pactos.dv">Dv</span></th>
					<th><span jhiTranslate="sccmApp.pactos.producto">Producto</span></th>
					<th><span jhiTranslate="sccmApp.pactos.moneda">Moneda</span></th>
					<th><span jhiTranslate="sccmApp.pactos.fechaPago">Fecha Pago</span></th>
					<th><span jhiTranslate="sccmApp.pactos.correlativo">Correlativo</span></th>
					<th><span jhiTranslate="sccmApp.pactos.fechaInv">Fecha Inv</span></th>
					<th><span jhiTranslate="sccmApp.pactos.filler">Filler</span></th>
					<th><span jhiTranslate="sccmApp.pactos.folio">Folio</span></th>
					<th><span jhiTranslate="sccmApp.pactos.capital">Capital</span></th>
					<th><span jhiTranslate="sccmApp.pactos.capMonOri">Cap Mon Ori</span></th>
					<th><span jhiTranslate="sccmApp.pactos.monFi">Mon Fi</span></th>
					<th><span jhiTranslate="sccmApp.pactos.intNom">Int Nom</span></th>
					<th><span jhiTranslate="sccmApp.pactos.intReal">Int Real</span></th>
					<th><span jhiTranslate="sccmApp.pactos.numGiro">Num Giro</span></th>
					<th><span jhiTranslate="sccmApp.pactos.codMon">Cod Mon</span></th>
					<th><span jhiTranslate="sccmApp.pactos.monPac">Mon Pac</span></th>
					<th><span jhiTranslate="sccmApp.pactos.tasMon">Tas Mon</span></th>
					<th><span jhiTranslate="sccmApp.pactos.tasa">Tasa</span></th>
					<th><span jhiTranslate="sccmApp.pactos.perTasa">Per Tasa</span></th>
					<th><span jhiTranslate="sccmApp.pactos.reajuste">Reajuste</span></th>
					<th><span jhiTranslate="sccmApp.pactos.tipoInt">Tipo Int</span></th>
					<th><span jhiTranslate="sccmApp.pactos.codTipInt">Cod Tip Int</span></th>
					<th><span jhiTranslate="sccmApp.pactos.fecConta">Fec Conta</span></th>
					<th><span jhiTranslate="sccmApp.pactos.bipersonal">Bipersonal</span></th>
					<th><span jhiTranslate="sccmApp.pactos.reajustabilidad">Reajustabilidad</span></th>
					<th><span jhiTranslate="sccmApp.pactos.plazo">Plazo</span></th>
					<th><span jhiTranslate="sccmApp.pactos.tipoPago">Tipo Pago</span></th>
					<th><span jhiTranslate="sccmApp.pactos.origen">Origen</span></th>
				</tr>
				
            </thead>
			
            <tbody>
				
				<tr *ngFor = "let pactos of pactos ;trackBy: trackId">
					
					<td>{{pactos.rut | number}}</td>
					<td>{{pactos.dv}}</td>
					<td>{{pactos.producto}}</td>
					<td>{{pactos.moneda}}</td>
					<td>{{pactos.fechaPago | date:'dd/MM/yyyy'}}</td>
					<td>{{pactos.correlativo}}</td>
					<td>{{pactos.fechaInv | date:'dd/MM/yyyy'}}</td>
					<td>{{pactos.filler}}</td>
					<td>{{pactos.folio}}</td>
					<td>${{pactos.capital | number}}</td>
					<td>${{pactos.capMonOri | number}}</td>
					<td>${{pactos.monFi | number}}</td>
					<td>{{pactos.intNom | number}}</td>
					<td>{{pactos.intReal | number}}</td>
					<td>{{pactos.numGiro}}</td>
					<td>{{pactos.codMon}}</td>
					<td>{{pactos.monPac}}</td>
					<td>{{pactos.tasMon}}</td>
					<td>{{pactos.tasa}}</td>
					<td>{{pactos.perTasa}}</td>
					<td>{{pactos.reajuste}}</td>
					<td>{{pactos.tipoInt}}</td>
					<td>{{pactos.codTipInt}}</td>
					<td>{{pactos.fecConta | date: 'dd/MM/yyyy' }}</td>
					<td>{{pactos.bipersonal}}</td>
					<td>{{pactos.reajustabilidad}}</td>
					<td>{{pactos.plazo}}</td>
					<td>{{pactos.tipoPago}}</td>
					<td>{{pactos.origen}}</td>
					
				</tr>
				
            </tbody>
			
        </table>
		
    </div>
	
    <div class = "table-responsive" *ngIf = "pactosFlagSinData">
        
		<div class = "alert alert-danger alert-dismissible">
            
			<a href = "#" class = "close" data-dismiss = "alert" aria-label = "close">&times;</a>
            <strong>Error: </strong> No existen datos para año tributario seleccionado.
			
        </div>
		
    </div>
	
</div>