<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPactosLabel" jhiTranslate="sccmApp.pactos.home.createOrEditLabel">Create or edit a Pactos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pactos.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pactos.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.rut" for="field_rut">Rut</label>
            <input type="number" class="form-control" name="rut" id="field_rut"
                [(ngModel)]="pactos.rut"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.dv" for="field_dv">Dv</label>
            <input type="text" class="form-control" name="dv" id="field_dv"
                [(ngModel)]="pactos.dv"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.producto" for="field_producto">Producto</label>
            <input type="number" class="form-control" name="producto" id="field_producto"
                [(ngModel)]="pactos.producto"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.moneda" for="field_moneda">Moneda</label>
            <input type="number" class="form-control" name="moneda" id="field_moneda"
                [(ngModel)]="pactos.moneda"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.fechaPago" for="field_fechaPago">Fecha Pago</label>
            <div class="d-flex">
                <input id="field_fechaPago" type="datetime-local" class="form-control" name="fechaPago" [(ngModel)]="pactos.fechaPago"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.correlativo" for="field_correlativo">Correlativo</label>
            <input type="number" class="form-control" name="correlativo" id="field_correlativo"
                [(ngModel)]="pactos.correlativo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.fechaInv" for="field_fechaInv">Fecha Inv</label>
            <div class="d-flex">
                <input id="field_fechaInv" type="datetime-local" class="form-control" name="fechaInv" [(ngModel)]="pactos.fechaInv"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.folio" for="field_folio">Folio</label>
            <input type="number" class="form-control" name="folio" id="field_folio"
                [(ngModel)]="pactos.folio"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.filler" for="field_filler">Filler</label>
            <input type="text" class="form-control" name="filler" id="field_filler"
                [(ngModel)]="pactos.filler"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.capital" for="field_capital">Capital</label>
            <input type="number" class="form-control" name="capital" id="field_capital"
                [(ngModel)]="pactos.capital"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.capMonOri" for="field_capMonOri">Cap Mon Ori</label>
            <input type="number" class="form-control" name="capMonOri" id="field_capMonOri"
                [(ngModel)]="pactos.capMonOri"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.intNom" for="field_intNom">Int Nom</label>
            <input type="number" class="form-control" name="intNom" id="field_intNom"
                [(ngModel)]="pactos.intNom"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.intReal" for="field_intReal">Int Real</label>
            <input type="number" class="form-control" name="intReal" id="field_intReal"
                [(ngModel)]="pactos.intReal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.monFi" for="field_monFi">Mon Fi</label>
            <input type="number" class="form-control" name="monFi" id="field_monFi"
                [(ngModel)]="pactos.monFi"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.numGiro" for="field_numGiro">Num Giro</label>
            <input type="number" class="form-control" name="numGiro" id="field_numGiro"
                [(ngModel)]="pactos.numGiro"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.codMon" for="field_codMon">Cod Mon</label>
            <input type="number" class="form-control" name="codMon" id="field_codMon"
                [(ngModel)]="pactos.codMon"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.monPac" for="field_monPac">Mon Pac</label>
            <input type="text" class="form-control" name="monPac" id="field_monPac"
                [(ngModel)]="pactos.monPac"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.tasMon" for="field_tasMon">Tas Mon</label>
            <input type="text" class="form-control" name="tasMon" id="field_tasMon"
                [(ngModel)]="pactos.tasMon"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.tasa" for="field_tasa">Tasa</label>
            <input type="number" class="form-control" name="tasa" id="field_tasa"
                [(ngModel)]="pactos.tasa"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.perTasa" for="field_perTasa">Per Tasa</label>
            <input type="number" class="form-control" name="perTasa" id="field_perTasa"
                [(ngModel)]="pactos.perTasa"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.reajuste" for="field_reajuste">Reajuste</label>
            <input type="number" class="form-control" name="reajuste" id="field_reajuste"
                [(ngModel)]="pactos.reajuste"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.tipoInt" for="field_tipoInt">Tipo Int</label>
            <input type="text" class="form-control" name="tipoInt" id="field_tipoInt"
                [(ngModel)]="pactos.tipoInt"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.codTipInt" for="field_codTipInt">Cod Tip Int</label>
            <input type="number" class="form-control" name="codTipInt" id="field_codTipInt"
                [(ngModel)]="pactos.codTipInt"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.fecConta" for="field_fecConta">Fec Conta</label>
            <input type="number" class="form-control" name="fecConta" id="field_fecConta"
                [(ngModel)]="pactos.fecConta"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.bipersonal" for="field_bipersonal">Bipersonal</label>
            <input type="text" class="form-control" name="bipersonal" id="field_bipersonal"
                [(ngModel)]="pactos.bipersonal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.reajustabilidad" for="field_reajustabilidad">Reajustabilidad</label>
            <input type="text" class="form-control" name="reajustabilidad" id="field_reajustabilidad"
                [(ngModel)]="pactos.reajustabilidad"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.plazo" for="field_plazo">Plazo</label>
            <input type="number" class="form-control" name="plazo" id="field_plazo"
                [(ngModel)]="pactos.plazo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.tipoPago" for="field_tipoPago">Tipo Pago</label>
            <input type="text" class="form-control" name="tipoPago" id="field_tipoPago"
                [(ngModel)]="pactos.tipoPago"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.origen" for="field_origen">Origen</label>
            <input type="text" class="form-control" name="origen" id="field_origen"
                [(ngModel)]="pactos.origen"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.pactos.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="pactos.annoTributa" >
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === pactos.annoTributa?.id ? pactos.annoTributa : annoTributaOption" *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
