<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCertVersionLabel" jhiTranslate="sccmApp.certVersion.home.createOrEditLabel">Create or edit a Cert Version</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!certVersion.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="certVersion.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certVersion.nroCertificado" for="field_nroCertificado">Nro Certificado</label>
            <input type="number" class="form-control" name="nroCertificado" id="field_nroCertificado"
                [(ngModel)]="certVersion.nroCertificado"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certVersion.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="certVersion.annoTributa" >
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === certVersion.annoTributa?.id ? certVersion.annoTributa : annoTributaOption" *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certVersion.clienteBice" for="field_clienteBice">Cliente Bice</label>
            <select class="form-control" id="field_clienteBice" name="clienteBice" [(ngModel)]="certVersion.clienteBice" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clienteBiceOption.id === certVersion.clienteBice?.id ? certVersion.clienteBice : clienteBiceOption" *ngFor="let clienteBiceOption of clientebices; trackBy: trackClienteBiceById">{{clienteBiceOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certVersion.instrumento" for="field_instrumento">Instrumento</label>
            <select class="form-control" id="field_instrumento" name="instrumento" [(ngModel)]="certVersion.instrumento" >
                <option [ngValue]="null"></option>
                <option [ngValue]="instrumentoOption.id === certVersion.instrumento?.id ? certVersion.instrumento : instrumentoOption" *ngFor="let instrumentoOption of instrumentos; trackBy: trackInstrumentoById">{{instrumentoOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
