
<div *ngIf="certVersion">
    <h2><span jhiTranslate="sccmApp.certVersion.detail.title">Cert Version</span> {{certVersion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.certVersion.nroCertificado">Nro Certificado</span></dt>
        <dd>
            <span>{{certVersion.nroCertificado}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certVersion.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="certVersion.annoTributa">
                <a [routerLink]="['/anno-tributa', certVersion.annoTributa?.id]">{{certVersion.annoTributa?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="sccmApp.certVersion.clienteBice">Cliente Bice</span></dt>
        <dd>
            <div *ngIf="certVersion.clienteBice">
                <a [routerLink]="['/cliente-bice', certVersion.clienteBice?.id]">{{certVersion.clienteBice?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="sccmApp.certVersion.instrumento">Instrumento</span></dt>
        <dd>
            <div *ngIf="certVersion.instrumento">
                <a [routerLink]="['/instrumento', certVersion.instrumento?.id]">{{certVersion.instrumento?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cert-version/'+ certVersion.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
