<div>
    <h2>
        <span jhiTranslate="sccmApp.certVersion.home.title">Cert Versions</span>
        <button class="btn btn-primary float-right jh-create-entity create-cert-version" [routerLink]="['/', { outlets: { popup: ['cert-version-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.certVersion.home.createLabel">
            Create new Cert Version
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="certVersions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.certVersion.nroCertificado">Nro Certificado</span></th>
            <th><span jhiTranslate="sccmApp.certVersion.annoTributa">Anno Tributa</span></th>
            <th><span jhiTranslate="sccmApp.certVersion.clienteBice">Cliente Bice</span></th>
            <th><span jhiTranslate="sccmApp.certVersion.instrumento">Instrumento</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let certVersion of certVersions ;trackBy: trackId">
                <td><a [routerLink]="['../cert-version', certVersion.id ]">{{certVersion.id}}</a></td>
                <td>{{certVersion.nroCertificado}}</td>
                <td>
                    <div *ngIf="certVersion.annoTributa">
                        <a [routerLink]="['../anno-tributa', certVersion.annoTributa?.id ]" >{{certVersion.annoTributa?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="certVersion.clienteBice">
                        <a [routerLink]="['../cliente-bice', certVersion.clienteBice?.id ]" >{{certVersion.clienteBice?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="certVersion.instrumento">
                        <a [routerLink]="['../instrumento', certVersion.instrumento?.id ]" >{{certVersion.instrumento?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cert-version', certVersion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cert-version/'+ certVersion.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cert-version/'+ certVersion.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
