<div>
    <h2>
        <span jhiTranslate="cargainterface57bis.title"></span>
    </h2>
    <span class="text-primary-sccm" jhiTranslate="cargainterface57bis.subtitle"></span><br>
    <input id="cin" name="cin" type="file" required (change)="fileChangeEvent($event)" placeholder="Upload a file..." multiple/>
    <br/><br/>
    <button type="button" class="btn btn-primary btn-s" (click)="uploader()">
        <i class="glyphicon glyphicon-open-file"></i>&nbsp;Subir
    </button>
    <button type="button" [disabled]="!canLoad" class="btn btn-primary btn-s" (click)="executeSp1InsertaEntrada57B()">
        <i class="glyphicon glyphicon-open-file"></i>&nbsp;Cargar
    </button>
    <div class="table-responsive" *ngIf="cargainterface57BFlagResponse">
        <div class="{{classType}}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{headMessage}} </strong> {{bodyMessage}}
        </div>
    </div>
</div>
