
<div *ngIf="glosa">
    <h2><span jhiTranslate="sccmApp.glosa.detail.title">Glosa</span> {{glosa.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.glosa.nombre">Nombre</span></dt>
        <dd>
            <span>{{glosa.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.glosa.valor">Valor</span></dt>
        <dd>
            <span>{{glosa.valor}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.glosa.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="glosa.annoTributa">
                <a [routerLink]="['/anno-tributa', glosa.annoTributa?.id]">{{glosa.annoTributa?.annoT}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="sccmApp.glosa.instrumento">Instrumento</span></dt>
        <dd>
            <div *ngIf="glosa.instrumento">
                <a [routerLink]="['/instrumento', glosa.instrumento?.id]">{{glosa.instrumento?.nombreInstrumento}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'glosa/'+ glosa.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
