<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGlosaLabel" jhiTranslate="sccmApp.glosa.home.createOrEditLabel">Create or edit a Glosa</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!glosa.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="glosa.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.glosa.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="glosa.nombre"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.glosa.valor" for="field_valor">Valor</label>
            <input type="text" class="form-control" name="valor" id="field_valor"
                [(ngModel)]="glosa.valor" maxlength="1000" />
            <div [hidden]="!(editForm.controls.valor?.dirty && editForm.controls.valor?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.valor?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1000 }">
                   This field cannot be longer than 1000 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.glosa.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="glosa.annoTributa" >
                <option [ngValue]="annoTributaOption.id === glosa.annoTributa?.id ? glosa.annoTributa : annoTributaOption" *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.annoT}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.glosa.instrumento" for="field_instrumento">Instrumento</label>
            <select class="form-control" id="field_instrumento" name="instrumento" [(ngModel)]="glosa.instrumento" >
                <option [ngValue]="instrumentoOption.id === glosa.instrumento?.id ? glosa.instrumento : instrumentoOption" *ngFor="let instrumentoOption of instrumentos; trackBy: trackInstrumentoById">{{instrumentoOption.nombreInstrumento}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
