<div>

    <h2> <span jhiTranslate = "sccmApp.glosa.home.title"> Glosas </span> </h2>
    
	<jhi-alert> </jhi-alert>
    
	<div class = "row" *ngIf = "annosTributarios">
	
        <div class = "form-group col-lg-3">
            
			<span class = "text-primary-sccm"> Seleccione Año Tributario </span>
            
			<select class = "form-control" #idAnnoSelected>
			
                <option *ngFor = "let anno of annosTributarios;" value = "{{anno.id}}"> {{anno.annoT}} </option>
				
            </select>
			
        </div>
		
        <div class = "form-group col-lg-3">
        
			<button [disabled] = "!canUse" style = "margin-top: 18px;" class = "btn btn-primary" (click) = "filterByAnooTributario(idAnnoSelected)">
				
				<span class = "fab fa-searchengin"> </span> <span> Buscar </span> 
			
			</button>

        </div>

        <div class = "form-group col-lg-3"> </div>

        <div class = "form-group col-lg-3">
            
			<button style = "margin-top: 18px;" class = "btn btn-primary float-right jh-create-entity create-glosa" 
			[routerLink] = "['/', { outlets: { popup: ['glosa-new'] } }]" [disabled] = "!canUse">
                
				<span class = "fa fa-plus"> </span>
                
				<span> Crear Glosa </span>
				
            </button>
			
        </div>
	
    </div>
	
    <div class = "table-responsive" *ngIf = "glosasFlag">
	
        <table class = "table table-striped" id = "dataTable">
            
			<thead>
				
				<tr>
				
					<th> <span> Id </span> </th>
					<th> <span jhiTranslate = "sccmApp.glosa.nombre"> Nombre </span> </th>
					<th> <span jhiTranslate = "sccmApp.glosa.valor"> Valor </span> </th>
					<th> <span jhiTranslate = "sccmApp.glosa.instrumento"> Instrumento </span> </th>
					<th> </th>
				</tr>
				
            </thead>
			
            <tbody>
			
				<tr *ngFor = "let glosa of glosas ;trackBy: trackId">
					
					<td> {{glosa.id}} </td>
					<td> {{glosa.nombre}} </td>
					<td> {{glosa.valor}} </td>
					
					<td>
						<div *ngFor = "let instrument of instrumentsList">
							
							<div *ngIf = "glosa.instrumento.id === instrument.id"> {{instrument.nombreInstrumento}} </div>
							
						</div>						
					</td>
					
					<td class = "text-right">
					
						<div class = "btn-group flex-btn-group-container">
							
							<button type = "submit" [routerLink]="['./', glosa.id ]" class = "btn btn-primary btn-sm">
							
								<span class = "fa fa-eye"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.view"> </span>
								
							</button>
							
							<button type = "submit" [routerLink] = "['/', { outlets: { popup: 'glosa/'+ glosa.id + '/edit'} }]" 
							replaceUrl = "true" class = "btn btn-secondary btn-sm text-white">
							
								<span class = "fas fa-edit"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.edit"> </span>
								
							</button>
							
							<button type = "submit" [routerLink] = "['/', { outlets: { popup: 'glosa/'+ glosa.id + '/delete'} }]" 
							replaceUrl = "true" class = "btn btn-danger btn-sm">
							
								<span class = "fas fa-trash-alt"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.delete"> </span>
								
							</button>
							
						</div>
					
					</td>
					
				</tr>
				
            </tbody>
			
        </table>
		
    </div>
	
    <div class = "table-responsive" *ngIf = "glosasFlagSinData">
	
        <div class = "alert alert-danger alert-dismissible">
            
			<a href = "#" class = "close" data-dismiss = "alert" aria-label = "close"> &times; </a>
            
			<strong> Error: </strong> No existen datos para año tributario seleccionado.
			
        </div>
		
    </div>
	
	<div class = "" *ngIf = "flagResult">
        
		<div class = "{{classType}}">
		
            <a class = "close" aria-label = "close" (click) = "onAlertClose()">&times;</a>
            
			<strong>{{resultType}}</strong>{{resultMsg}}
			
        </div>
		
    </div>
	
</div>