
<div *ngIf="producto">
    <h2><span jhiTranslate="sccmApp.producto.detail.title">Producto</span> {{producto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.producto.nombreProducto">Nombre Producto</span></dt>
        <dd>
            <span>{{producto.nombreProducto}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.producto.usuarioProducto">Usuario Producto</span></dt>
        <dd>
            <span>{{producto.usuarioProducto}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.producto.adminProducto">Admin Producto</span></dt>
        <dd>
            <span>{{producto.adminProducto}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.producto.tituloCertificado">Titulo Certificado</span></dt>
        <dd>
            <span>{{producto.tituloCertificado}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'producto/'+ producto.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
