<div>
    <h2>
        <span jhiTranslate="sccmApp.producto.home.title">Productos</span>
        <!--
        <button class="btn btn-primary float-right jh-create-entity create-producto" [routerLink]="['/', { outlets: { popup: ['producto-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.producto.home.createLabel">
            Create new Producto
            </span>
        </button>
        -->
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="productos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="sccmApp.producto.nombreProducto">Nombre Producto</span></th>
            <th><span jhiTranslate="sccmApp.producto.usuarioProducto">Usuario Producto</span></th>
            <th><span jhiTranslate="sccmApp.producto.adminProducto">Admin Producto</span></th>
            <th><span jhiTranslate="sccmApp.producto.tituloCertificado">Titulo Certificado</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let producto of productos ;trackBy: trackId">
                <td>{{producto.nombreProducto}}</td>
                <td>{{producto.usuarioProducto}}</td>
                <td>{{producto.adminProducto}}</td>
                <td>{{producto.tituloCertificado}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../producto', producto.id ]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'producto/'+ producto.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-secondary btn-sm text-white">
                            <span class="fas fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
