<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProductoLabel" jhiTranslate="sccmApp.producto.home.createOrEditLabel">Create or edit a Producto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!producto.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="producto.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.producto.nombreProducto" for="field_nombreProducto">Nombre Producto</label>
            <input type="text" class="form-control" name="nombreProducto" id="field_nombreProducto"
                [(ngModel)]="producto.nombreProducto"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.producto.usuarioProducto" for="field_usuarioProducto">Usuario Producto</label>
            <input type="text" class="form-control" name="usuarioProducto" id="field_usuarioProducto"
                [(ngModel)]="producto.usuarioProducto"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.producto.adminProducto" for="field_adminProducto">Admin Producto</label>
            <input type="text" class="form-control" name="adminProducto" id="field_adminProducto"
                [(ngModel)]="producto.adminProducto"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.producto.tituloCertificado" for="field_tituloCertificado">Titulo Certificado</label>
            <input type="text" class="form-control" name="tituloCertificado" id="field_tituloCertificado"
                [(ngModel)]="producto.tituloCertificado"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
