<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="myDAPLabel" jhiTranslate="sccmApp.dAP.home.createOrEditLabel">Create or edit a DAP</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dAP.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dAP.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.rut" for="field_rut">Rut</label>
            <input type="number" class="form-control" name="rut" id="field_rut"
                   [(ngModel)]="dAP.rut"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.dv" for="field_dv">Dv</label>
            <input type="text" class="form-control" name="dv" id="field_dv"
                   [(ngModel)]="dAP.dv"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.producto" for="field_producto">Producto</label>
            <input type="number" class="form-control" name="producto" id="field_producto"
                   [(ngModel)]="dAP.producto"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.moneda" for="field_moneda">Moneda</label>
            <input type="number" class="form-control" name="moneda" id="field_moneda"
                   [(ngModel)]="dAP.moneda"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.fechaPago" for="field_fechaPago">Fecha Pago</label>
            <div class="input-group">
                <input id="field_fechaPago" type="text" class="form-control" name="fechaPago" ngbDatepicker #fechaPagoDp="ngbDatepicker" [(ngModel)]="dAP.fechaPago"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaPagoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.correlativo" for="field_correlativo">Correlativo</label>
            <input type="number" class="form-control" name="correlativo" id="field_correlativo"
                   [(ngModel)]="dAP.correlativo"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.fechaInv" for="field_fechaInv">Fecha Inv</label>
            <div class="input-group">
                <input id="field_fechaInv" type="text" class="form-control" name="fechaInv" ngbDatepicker #fechaInvDp="ngbDatepicker" [(ngModel)]="dAP.fechaInv"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaInvDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.folio" for="field_folio">Folio</label>
            <input type="number" class="form-control" name="folio" id="field_folio"
                   [(ngModel)]="dAP.folio"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.capital" for="field_capital">Capital</label>
            <input type="number" class="form-control" name="capital" id="field_capital"
                   [(ngModel)]="dAP.capital"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.capMon" for="field_capMon">Cap Mon</label>
            <input type="number" class="form-control" name="capMon" id="field_capMon"
                   [(ngModel)]="dAP.capMon"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.intNom" for="field_intNom">Int Nom</label>
            <input type="number" class="form-control" name="intNom" id="field_intNom"
                   [(ngModel)]="dAP.intNom"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.intReal" for="field_intReal">Int Real</label>
            <input type="number" class="form-control" name="intReal" id="field_intReal"
                   [(ngModel)]="dAP.intReal"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.monFi" for="field_monFi">Mon Fi</label>
            <input type="number" class="form-control" name="monFi" id="field_monFi"
                   [(ngModel)]="dAP.monFi"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.numGiro" for="field_numGiro">Num Giro</label>
            <input type="number" class="form-control" name="numGiro" id="field_numGiro"
                   [(ngModel)]="dAP.numGiro"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.codMon" for="field_codMon">Cod Mon</label>
            <input type="number" class="form-control" name="codMon" id="field_codMon"
                   [(ngModel)]="dAP.codMon"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.tipPlazo" for="field_tipPlazo">Tip Plazo</label>
            <input type="text" class="form-control" name="tipPlazo" id="field_tipPlazo"
                   [(ngModel)]="dAP.tipPlazo"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.monTasa" for="field_monTasa">Mon Tasa</label>
            <input type="number" class="form-control" name="monTasa" id="field_monTasa"
                   [(ngModel)]="dAP.monTasa"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.tasaOp" for="field_tasaOp">Tasa Op</label>
            <input type="number" class="form-control" name="tasaOp" id="field_tasaOp"
                   [(ngModel)]="dAP.tasaOp"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.ctaCap" for="field_ctaCap">Cta Cap</label>
            <input type="number" class="form-control" name="ctaCap" id="field_ctaCap"
                   [(ngModel)]="dAP.ctaCap"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.ctaInt" for="field_ctaInt">Cta Int</label>
            <input type="number" class="form-control" name="ctaInt" id="field_ctaInt"
                   [(ngModel)]="dAP.ctaInt"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.ctaReaj" for="field_ctaReaj">Cta Reaj</label>
            <input type="number" class="form-control" name="ctaReaj" id="field_ctaReaj"
                   [(ngModel)]="dAP.ctaReaj"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.perTasa" for="field_perTasa">Per Tasa</label>
            <input type="number" class="form-control" name="perTasa" id="field_perTasa"
                   [(ngModel)]="dAP.perTasa"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.tipoInt" for="field_tipoInt">Tipo Int</label>
            <input type="text" class="form-control" name="tipoInt" id="field_tipoInt"
                   [(ngModel)]="dAP.tipoInt"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.codTipoInt" for="field_codTipoInt">Cod Tipo Int</label>
            <input type="number" class="form-control" name="codTipoInt" id="field_codTipoInt"
                   [(ngModel)]="dAP.codTipoInt"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.fecVcto" for="field_fecVcto">Fec Vcto</label>
            <div class="input-group">
                <input id="field_fecVcto" type="text" class="form-control" name="fecVcto" ngbDatepicker #fecVctoDp="ngbDatepicker" [(ngModel)]="dAP.fecVcto"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fecVctoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.onp" for="field_onp">Onp</label>
            <input type="text" class="form-control" name="onp" id="field_onp"
                   [(ngModel)]="dAP.onp"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.estCta" for="field_estCta">Est Cta</label>
            <input type="text" class="form-control" name="estCta" id="field_estCta"
                   [(ngModel)]="dAP.estCta"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.fecCont" for="field_fecCont">Fec Cont</label>
            <div class="input-group">
                <input id="field_fecCont" type="text" class="form-control" name="fecCont" ngbDatepicker #fecContDp="ngbDatepicker" [(ngModel)]="dAP.fecCont"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fecContDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.bipersonal" for="field_bipersonal">Bipersonal</label>
            <input type="text" class="form-control" name="bipersonal" id="field_bipersonal"
                   [(ngModel)]="dAP.bipersonal"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.reajustabilidad" for="field_reajustabilidad">Reajustabilidad</label>
            <input type="text" class="form-control" name="reajustabilidad" id="field_reajustabilidad"
                   [(ngModel)]="dAP.reajustabilidad"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.plazo" for="field_plazo">Plazo</label>
            <input type="number" class="form-control" name="plazo" id="field_plazo"
                   [(ngModel)]="dAP.plazo"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.indPago" for="field_indPago">Ind Pago</label>
            <input type="text" class="form-control" name="indPago" id="field_indPago"
                   [(ngModel)]="dAP.indPago"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.p57Bis" for="field_p57Bis">P 57 Bis</label>
            <input type="text" class="form-control" name="p57Bis" id="field_p57Bis"
                   [(ngModel)]="dAP.p57Bis"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.extranjero" for="field_extranjero">Extranjero</label>
            <input type="text" class="form-control" name="extranjero" id="field_extranjero"
                   [(ngModel)]="dAP.extranjero"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.impExt" for="field_impExt">Imp Ext</label>
            <input type="number" class="form-control" name="impExt" id="field_impExt"
                   [(ngModel)]="dAP.impExt"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.numCupones" for="field_numCupones">Num Cupones</label>
            <input type="number" class="form-control" name="numCupones" id="field_numCupones"
                   [(ngModel)]="dAP.numCupones"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.numCuponPago" for="field_numCuponPago">Num Cupon Pago</label>
            <input type="number" class="form-control" name="numCuponPago" id="field_numCuponPago"
                   [(ngModel)]="dAP.numCuponPago"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.origen" for="field_origen">Origen</label>
            <input type="text" class="form-control" name="origen" id="field_origen"
                   [(ngModel)]="dAP.origen"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.reajPagado" for="field_reajPagado">Reaj Pagado</label>
            <input type="number" class="form-control" name="reajPagado" id="field_reajPagado"
                   [(ngModel)]="dAP.reajPagado"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.intPagado" for="field_intPagado">Int Pagado</label>
            <input type="number" class="form-control" name="intPagado" id="field_intPagado"
                   [(ngModel)]="dAP.intPagado"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.sucursal" for="field_sucursal">Sucursal</label>
            <input type="number" class="form-control" name="sucursal" id="field_sucursal"
                   [(ngModel)]="dAP.sucursal"/>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.dAP.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="dAP.annoTributa">
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === dAP.annoTributa?.id ? dAP.annoTributa : annoTributaOption"
                        *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.id}}
                </option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
