<div *ngIf="dAP">
    <h2><span jhiTranslate="sccmApp.dAP.detail.title">DAP</span> {{dAP.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.dAP.rut">Rut</span></dt>
        <dd>
            <span>{{dAP.rut}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.dv">Dv</span></dt>
        <dd>
            <span>{{dAP.dv}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.producto">Producto</span></dt>
        <dd>
            <span>{{dAP.producto}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.moneda">Moneda</span></dt>
        <dd>
            <span>{{dAP.moneda}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.fechaPago">Fecha Pago</span></dt>
        <dd>
            <span>{{dAP.fechaPago | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.correlativo">Correlativo</span></dt>
        <dd>
            <span>{{dAP.correlativo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.fechaInv">Fecha Inv</span></dt>
        <dd>
            <span>{{dAP.fechaInv | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.folio">Folio</span></dt>
        <dd>
            <span>{{dAP.folio}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.capital">Capital</span></dt>
        <dd>
            <span>{{dAP.capital}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.capMon">Cap Mon</span></dt>
        <dd>
            <span>{{dAP.capMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.intNom">Int Nom</span></dt>
        <dd>
            <span>{{dAP.intNom}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.intReal">Int Real</span></dt>
        <dd>
            <span>{{dAP.intReal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.monFi">Mon Fi</span></dt>
        <dd>
            <span>{{dAP.monFi}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.numGiro">Num Giro</span></dt>
        <dd>
            <span>{{dAP.numGiro}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.codMon">Cod Mon</span></dt>
        <dd>
            <span>{{dAP.codMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.tipPlazo">Tip Plazo</span></dt>
        <dd>
            <span>{{dAP.tipPlazo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.monTasa">Mon Tasa</span></dt>
        <dd>
            <span>{{dAP.monTasa}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.tasaOp">Tasa Op</span></dt>
        <dd>
            <span>{{dAP.tasaOp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.ctaCap">Cta Cap</span></dt>
        <dd>
            <span>{{dAP.ctaCap}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.ctaInt">Cta Int</span></dt>
        <dd>
            <span>{{dAP.ctaInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.ctaReaj">Cta Reaj</span></dt>
        <dd>
            <span>{{dAP.ctaReaj}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.perTasa">Per Tasa</span></dt>
        <dd>
            <span>{{dAP.perTasa}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.tipoInt">Tipo Int</span></dt>
        <dd>
            <span>{{dAP.tipoInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.codTipoInt">Cod Tipo Int</span></dt>
        <dd>
            <span>{{dAP.codTipoInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.fecVcto">Fec Vcto</span></dt>
        <dd>
            <span>{{dAP.fecVcto | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.onp">Onp</span></dt>
        <dd>
            <span>{{dAP.onp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.estCta">Est Cta</span></dt>
        <dd>
            <span>{{dAP.estCta}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.fecCont">Fec Cont</span></dt>
        <dd>
            <span>{{dAP.fecCont | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.bipersonal">Bipersonal</span></dt>
        <dd>
            <span>{{dAP.bipersonal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.reajustabilidad">Reajustabilidad</span></dt>
        <dd>
            <span>{{dAP.reajustabilidad}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.plazo">Plazo</span></dt>
        <dd>
            <span>{{dAP.plazo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.indPago">Ind Pago</span></dt>
        <dd>
            <span>{{dAP.indPago}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.p57Bis">P 57 Bis</span></dt>
        <dd>
            <span>{{dAP.p57Bis}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.extranjero">Extranjero</span></dt>
        <dd>
            <span>{{dAP.extranjero}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.impExt">Imp Ext</span></dt>
        <dd>
            <span>{{dAP.impExt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.numCupones">Num Cupones</span></dt>
        <dd>
            <span>{{dAP.numCupones}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.numCuponPago">Num Cupon Pago</span></dt>
        <dd>
            <span>{{dAP.numCuponPago}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.origen">Origen</span></dt>
        <dd>
            <span>{{dAP.origen}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.reajPagado">Reaj Pagado</span></dt>
        <dd>
            <span>{{dAP.reajPagado}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.intPagado">Int Pagado</span></dt>
        <dd>
            <span>{{dAP.intPagado}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.sucursal">Sucursal</span></dt>
        <dd>
            <span>{{dAP.sucursal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.dAP.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="dAP.annoTributa">
                <a [routerLink]="['/anno-tributa', dAP.annoTributa?.id]">{{dAP.annoTributa?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'dap/'+ dAP.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
