<div>
    <h2>
        <span jhiTranslate="sccmApp.dAP.home.title">DAPS</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <div class="row" *ngIf="annosTributarios">
        <div class="form-group col-lg-3">
            <span class="text-primary-sccm">Seleccione Año Tributario *</span>
            <select class="form-control" #idAnnoSelected>
                <option *ngFor="let anno of annosTributarios;" value="{{anno.id}}">
                    {{anno.annoT}}
                </option>
            </select>
        </div>
        <div class="form-group col-lg-4">
            <span class="text-primary-sccm">Seleccione Tipo Alerta</span>
            <select class="form-control" #selectedAlertTypeSel>
                <option value="{{SELECT_BLANK_OPTION}}">{{SELECT_BLANK_OPTION}}</option>
                <option *ngFor="let tipoAlerta of tiposAlertas;" value="{{tipoAlerta.codigoUnico}}">
                    {{tipoAlerta.nombre}}
                </option>
            </select>
        </div>
        <div class="form-group col-lg-2">
            <button style="margin-top: 18px;" class="btn btn-primary" (click)="filterByAnnoTributarioId(idAnnoSelected, selectedAlertTypeSel)"><span
                class="fab fa-searchengin"></span> <span>Buscar</span></button>
        </div>
        <div class="col-lg-3">
            <button *ngIf="dapFlag" style="margin-top: 18px;" class="btn btn-success float-right jh-create-entity btn-block" (click)="generateExcel()">
                <span class="fas fa-file-excel"></span>
                <span jhiTranslate="entity.action.exportToExcel">Export to Excel</span>
            </button>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dapFlag">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="sccmApp.dAP.rut">Rut</span></th>
                <th><span jhiTranslate="sccmApp.dAP.folio">Folio</span></th>
                <th><span jhiTranslate="sccmApp.dAP.capital">Capital</span></th>
                <th><span jhiTranslate="sccmApp.dAP.intPagado">Int Pagado</span></th>
                <th><span jhiTranslate="sccmApp.dAP.monFi">Mon Fi</span></th>
                <th><span jhiTranslate="sccmApp.dAP.reajPagado">Reaj Pagado</span></th>
                <th *ngIf="showReajNegativo"><span jhiTranslate="sccmApp.dAP.reajNegativo">Reaj Negativo</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dAP of dAPS ;trackBy: trackId">
                <td>{{dAP.rut}}</td>
                <td>{{dAP.folio}}</td>
                <td>${{dAP.capital | number}}</td>
                <td>${{dAP.intPagado| number}}</td>
                <td>${{dAP.monFi| number}}</td>
                <td>{{dAP.reajPagado| number}}</td>
                <td *ngIf="showReajNegativo">{{dAP.reajusteNegativo| number}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="dapFlag">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>

    <div class="table-responsive" *ngIf="dapFlagSinData">
        <div class="alert alert-danger alert-dismissible">
            No existen datos para año tributario seleccionado.
        </div>
    </div>
	<div class="table-responsive" *ngIf="dapFlagError">
        <div class="alert alert-danger alert-dismissible">
            ERROR: No existen datos.
        </div>
    </div>
</div>
