<nav class="navbar nav-customize navbar-expand-md jh-navbar">
    
	<div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse"
           data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
           aria-label="Toggle navigation" (click)="toggleNavbar()">
            <i class="fa fa-bars"></i>
        </a>
        <a class="navbar-brand logo float-left" routerLink="home" (click)="collapseNavbar()">
            <img src="logo.png"/><br>
            <span jhiTranslate="global.title" class="navbar-title"></span>
        </a>
    </div>
    
	<div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        
		<ul class="navbar-nav align-left-margin">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="home" (click)="collapseNavbar()">
                    <span>
                       <i class="fa fa-home" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>
            
			<!--TEST MENUS DINAMICOS-->
            <ng-container *ngFor="let product of products">
                <!--pago dividendos 1941-->
                <ng-container *ngIf="product.id === 1">
                    <li ngbDropdown class="nav-item dropdown pointer" *jhiHasAnyAuthority="[ROLE_SCCM_1941_ADMIN, ROLE_SCCM_1941_USER]" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="{{product.id}}">
                         <span>
                             <i class="fab fa-product-hunt"></i>
                            <span>{{product.nombreProducto}}</span>
                         </span>
                        </a>
                        <ul class="dropdown-menu" ngbDropdownMenu>
                            <li class="dropdown-submenu" *ngFor="let inst of instruments">
                                <a class="{{'testPedro dropdown-item dropdown' + inst.id}}" *ngIf="inst.producto.id===1" (click)="wdf($event,inst.id)">
                                    <i class="fab fa-cuttlefish"></i>
                                    <span>{{inst.nombreInstrumento}}</span>
                                    <i class="fas fa-caret-right"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdownSubmenu">
                                        <a class="dropdown-item" routerLink="cargainterface" (click)="collapseNavbar()">
                                            <i class="fas fa-upload" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.p1941.cargainterface">Cargar Datos</span>
                                        </a>
                                    </li>
                                    <!--<li class="dropdownSubmenu">
                                        <a class="dropdown-item" routerLink="ent-pagdiv" routerLinkActive="active"
                                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                            <i class="fas fa-table" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.entities.entPagdiv">Datos - Pago Dividendo</span>
                                        </a>
                                    </li>-->
                                    <li class="dropdownSubmenu">
                                        <a class="dropdown-item" [routerLink]="['glosa-pagdiv/', inst.id ,'show']" routerLinkActive="active"
                                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                            <i class="fab fa-glide-g" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.p1941.glosa">Glosas</span>
                                        </a>
                                    </li>

                                    <li class="dropdownSubmenu">
                                        <a class="dropdown-item" [routerLink]="['representante-pagdiv/', inst.id ,'show']" routerLinkActive="active"
                                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                            <i class="fab fa-jenkins" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.p1941.representante">Representante Legal</span>
                                        </a>
                                    </li>
                                    <!--<li class="dropdownSubmenu">
                                        <a class="dropdown-item" routerLink="fut" (click)="collapseNavbar()">
                                            <i class="fab fa-foursquare" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.p1941.fut">FUT</span>
                                        </a>
                                    </li>-->

                                    <li class="dropdownSubmenu">
                                        <a class="dropdown-item" routerLink="cert-pagdiv" (click)="collapseNavbar()">
                                            <i class="fas fa-certificate" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.entities.certPagdiv">Datos Emisión Certificado</span>
                                        </a>
                                    </li>

                                    <li class="dropdownSubmenu">
                                        <a class="dropdown-item" routerLink="emi-cert-pagdiv" (click)="collapseNavbar()">
                                            <i class="fas fa-hand-spock" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.emision-certificado-1941">Emisión certificados</span>
                                        </a>
                                    </li>
                                    <li class="dropdownSubmenu">
                                        <a class="dropdown-item" routerLink="emision-dj-1941" (click)="collapseNavbar()">
                                            <i class="fab fa-accusoft" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.emision-dj-1941">Declaracion Jurada</span>
                                        </a>
                                    </li>
                                </ul>
                        </ul>
                    </li>
                </ng-container>
                
				<!--Inversiones 57 Bis 1944-->
                <ng-container *ngIf="product.id === 2">
                    <li ngbDropdown class="nav-item dropdown pointer" *jhiHasAnyAuthority="[ROLE_SCCM_1944_ADMIN, ROLE_SCCM_1944_USER]" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="menuInv57Bis">
                         <span>
                             <i class="fab fa-product-hunt"></i>
                            <span>{{product.nombreProducto}}</span>
                         </span>
                        </a>
                        <ul class="dropdown-menu" ngbDropdownMenu>
                            <li class="dropdown-submenu" *ngFor="let inst of instruments">
                                <a class="{{'testPedro dropdown-item dropdown' + inst.id}}" *ngIf="inst.producto.id===2" (click)="wdf($event,inst.id)">
                                    <i class="fab fa-cuttlefish"></i>
                                    <span>{{inst.nombreInstrumento}}</span>
                                    <i class="fas fa-caret-right"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdownSubmenu">
                                        <a class="dropdown-item" routerLink="cargainterfaceInversiones"
                                           (click)="collapseNavbar()">
                                            <i class="fas fa-upload" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.p1944.cargainterface57bis">Cargar Datos</span>
                                        </a>
                                    </li>
                                    <li class="dropdownSubmenu">
                                        <a class="dropdown-item" routerLink="entrada-57-b" routerLinkActive="active"
                                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                            <i class="fas fa-table" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.entities.entrada57B">Datos Inversiones 57 Bis</span>
                                        </a>
                                    </li>
                                    <li class="dropdownSubmenu">
                                        <a class="dropdown-item" routerLink="cart-57-b" (click)="collapseNavbar()">
                                            <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.entities.cart57B">Datos Cartola</span>
                                        </a>
                                    </li>
                                    <li class="dropdownSubmenu">
                                        <a class="dropdown-item" [routerLink]="['glosa-57-b/', inst.id ,'show']" routerLinkActive="active"
                                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                            <i class="fab fa-glide-g" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.p1941.glosa">Glosas</span>
                                        </a>
                                    </li>

                                    <li class="dropdownSubmenu">
                                        <a class="dropdown-item" [routerLink]="['representante-57-b/', inst.id ,'show']" routerLinkActive="active"
                                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                            <i class="fab fa-jenkins" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.p1941.representante">Representante Legal</span>
                                        </a>
                                    </li>

                                    <li class="dropdownSubmenu">
                                        <a class="dropdown-item" routerLink="cert-57-b" (click)="collapseNavbar()">
                                            <i class="fas fa-certificate" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.entities.cert57B">Datos Emisión Certificado</span>
                                        </a>
                                    </li>

                                    <li class="dropdownSubmenu">
                                        <a class="dropdown-item" routerLink="emi-cert-57bis" (click)="collapseNavbar()">
                                            <i class="fas fa-hand-spock" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.emision-certificado-1941">Emisión certificados</span>
                                        </a>
                                    </li>
                                    <li class="dropdownSubmenu">
                                        <a class="dropdown-item" routerLink="emision-dj-57b" (click)="collapseNavbar()">
                                            <i class="fab fa-accusoft" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.emision-dj-1941">Declaracion Jurada</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ng-container>
                
				<!--operaciones captación 1890-->
                <ng-container *ngIf="product.id === 3">
                    
					<li *jhiHasAnyAuthority="[ROLE_SCCM_1890_ADMIN_PACTOS,ROLE_SCCM_1890_USER_PACTOS,ROLE_SCCM_1890_ADMIN_AHORRO,ROLE_SCCM_1890_USER_AHORRO,
                    ROLE_SCCM_1890_ADMIN_DAP,ROLE_SCCM_1890_USER_DAP,ROLE_SCCM_1890_ADMIN_BYL,ROLE_SCCM_1890_USER_BYL,ROLE_SCCM_1890_ADMIN]"
                    ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
					
                        <a class = "nav-link dropdown-toggle" ngbDropdownToggle href = "javascript:void(0);" id = "menuOperCapt">
							
							<span>
								
								<i class = "fab fa-product-hunt"> </i>
								<span>{{product.nombreProducto}} </span>
								
							</span>
                        </a>
						
                        <ul class = "dropdown-menu" ngbDropdownMenu *ngIf = "product.id === 3">
                            
							<li class = "dropdown-submenu" *ngFor="let inst of instruments">
                                
								<a class="{{'testPedro dropdown-item dropdown' + inst.id}}" *ngIf="inst.producto.id===3" (click)="wdf($event,inst.id)">
                                    <i class="fab fa-cuttlefish"></i>
                                    <span>{{inst.nombreInstrumento}}</span>
                                    <i class="fas fa-caret-right"></i>
                                </a>
                                
								<ul class="dropdown-menu">
								
                                    <li class="dropdownSubmenu" *jhiHasAnyAuthority="[ROLE_SCCM_1890_USER_PACTOS, ROLE_SCCM_1890_ADMIN_PACTOS, ROLE_SCCM_1890_ADMIN]">
                                        
										<a class="{{'test dropdown-item dropdownPactos' + inst.id }}" (click)="wdfs($event,inst.id,'Pactos')">
                                            <i class="fas fa-handshake"></i>
                                            <span>Pactos</span>
                                            <i class="fas fa-caret-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li *jhiHasAnyAuthority="ROLE_SCCM_1890_USER_PACTOS">
                                                <a class="dropdown-item" [routerLink]="['/', 'load-data-etl-pactos', DATA_LOAD_ETL_PACTOS]" (click)="collapseNavbar()">
                                                    <i class="fas fa-upload"></i>&nbsp;<span>Cargar Datos</span>
                                                </a>
                                            </li>
                                            <li *jhiHasAnyAuthority="ROLE_SCCM_1890_USER_PACTOS">
                                                <a class="dropdown-item" routerLink="pactos" (click)="collapseNavbar()">
                                                    <i class="fas fa-table" aria-hidden="true"></i>&nbsp;<span>Datos Pactos</span>
                                                </a>
                                            </li>
                                            <li *jhiHasAnyAuthority="ROLE_SCCM_1890_USER_PACTOS">
                                                <a class="dropdown-item" routerLink="intRealPac" (click)="collapseNavbar()">
                                                    <i class="fas fa-align-right"></i>&nbsp;<span>Cuadratura Interés Real</span>
                                                </a>
                                            </li>
                                            <li *jhiHasAnyAuthority="ROLE_SCCM_1890_USER_PACTOS">
                                                <a class="dropdown-item" routerLink="cuaContPac" (click)="collapseNavbar()">
                                                    <i class="fas fa-align-left"></i>&nbsp;<span>Cuadratura Contable</span>
                                                </a>
                                            </li>
                                            <li *jhiHasAnyAuthority="[ROLE_SCCM_1890_ADMIN_PACTOS, ROLE_SCCM_1890_ADMIN]">
                                                <a class="dropdown-item" [routerLink]="['/', 'aprobacion-pactos', APPROVAL_PRODUCT_TYPE_PACTOS]" (click)="collapseNavbar()">
                                                    <i class="fas fa-check-circle"></i>&nbsp;<span>Aprobación</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
									
                                    <li class="dropdownSubmenu" *jhiHasAnyAuthority="[ROLE_SCCM_1890_USER_AHORRO, ROLE_SCCM_1890_ADMIN_AHORRO, ROLE_SCCM_1890_ADMIN]">
                                        
										<a class="{{'test dropdown-item dropdownAhorro' + inst.id }}" (click)="wdfs($event,inst.id,'Ahorro')">
                                            <i class="fas fa-piggy-bank"></i>
                                            <span>Ahorro</span>
                                            <i class="fas fa-caret-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu" *jhiHasAnyAuthority="ROLE_SCCM_1890_USER_AHORRO">
                                                <a class="testPedro dropdown-item dropdownCargaAhorros" (click)="wdf($event,'CargaAhorros')">
                                                    <i class="fas fa-upload" aria-hidden="true"></i>
                                                    <span>Cargar Datos</span>
                                                    <i class="fas fa-caret-right"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdownSubmenu">
                                                        <a class="dropdown-item" [routerLink]="['/', 'load-data-etl-ahorro', DATA_LOAD_ETL_AHORROS]" routerLinkActive="active"
                                                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                                            <i class="fas fa-upload" aria-hidden="true"></i>
                                                            <span jhiTranslate="global.menu.p1890.ahorros">ahorros</span>
                                                        </a>
                                                    </li>
                                                    <li class="dropdownSubmenu">
                                                        <a class="dropdown-item" [routerLink]="['/', 'load-data-etl-ahorro-mov', DATA_LOAD_ETL_AHORROS_MOVIMIENTOS]"
                                                           (click)="collapseNavbar()">
                                                            <i class="fas fa-upload" aria-hidden="true"></i>
                                                            <span jhiTranslate="global.menu.p1890.ahorrosMovimientos">ahorros movimientos</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li *jhiHasAnyAuthority="ROLE_SCCM_1890_USER_AHORRO">
                                                <a class="dropdown-item" routerLink="ahorro" (click)="collapseNavbar()">
                                                    <i class="fas fa-table" aria-hidden="true"></i>&nbsp;<span>Datos Ahorro</span>
                                                </a>
                                            </li>
                                            <li *jhiHasAnyAuthority="ROLE_SCCM_1890_USER_AHORRO">
                                                <a class="dropdown-item" routerLink="intRealAho" (click)="collapseNavbar()">
                                                    <i class="fas fa-align-right"></i>&nbsp;<span>Cuadratura Interés Real</span>
                                                </a>
                                            </li>
                                            <li *jhiHasAnyAuthority="ROLE_SCCM_1890_USER_AHORRO">
                                                <a class="dropdown-item" routerLink="cuaContAho" (click)="collapseNavbar()">
                                                    <i class="fas fa-align-left"></i>&nbsp;<span>Cuadratura Contable</span>
                                                </a>
                                            </li>
                                            <li *jhiHasAnyAuthority="[ROLE_SCCM_1890_ADMIN_AHORRO, ROLE_SCCM_1890_ADMIN]">
                                                <a class="dropdown-item" [routerLink]="['/', 'aprobacion-ahorro', APPROVAL_PRODUCT_TYPE_AHORROS]" (click)="collapseNavbar()">
                                                    <i class="fas fa-check-circle"></i>&nbsp;<span>Aprobación</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdownSubmenu" *jhiHasAnyAuthority="[ROLE_SCCM_1890_USER_DAP, ROLE_SCCM_1890_ADMIN_DAP, ROLE_SCCM_1890_ADMIN]">
                                        <a class="{{'test dropdown-item dropdownDAP' + inst.id }}" (click)="wdfs($event,inst.id,'DAP')">
                                            <i class="fas fa-exchange-alt"></i>
                                            <span>Depósito a Plazo</span>
                                            <i class="fas fa-caret-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li *jhiHasAnyAuthority="ROLE_SCCM_1890_USER_DAP">
                                                <a class="dropdown-item" [routerLink]="['/', 'load-data-etl-dap', DATA_LOAD_ETL_DAP]" (click)="collapseNavbar()">
                                                    <i class="fas fa-upload"></i>&nbsp;<span>Cargar Datos</span>
                                                </a>
                                            </li>
                                            <li *jhiHasAnyAuthority="ROLE_SCCM_1890_USER_DAP">
                                                <a class="dropdown-item" routerLink="dap" (click)="collapseNavbar()">
                                                    <i class="fas fa-table" aria-hidden="true"></i>&nbsp;<span>Datos Depósito a Plazo</span>
                                                </a>
                                            </li>
                                            <li *jhiHasAnyAuthority="ROLE_SCCM_1890_USER_DAP">
                                                <a class="dropdown-item" routerLink="intRealDap" (click)="collapseNavbar()">
                                                    <i class="fas fa-align-right"></i>&nbsp;<span>Cuadratura Interés Real</span>
                                                </a>
                                            </li>
                                            <li *jhiHasAnyAuthority="ROLE_SCCM_1890_USER_DAP">
                                                <a class="dropdown-item" routerLink="cuaContDap" (click)="collapseNavbar()">
                                                    <i class="fas fa-align-left"></i>&nbsp;<span>Cuadratura Contable</span>
                                                </a>
                                            </li>
                                            <li *jhiHasAnyAuthority="[ROLE_SCCM_1890_ADMIN_DAP, ROLE_SCCM_1890_ADMIN]">
                                                <a class="dropdown-item" [routerLink]="['/', 'aprobacion-dap', APPROVAL_PRODUCT_TYPE_DAP]" (click)="collapseNavbar()">
                                                    <i class="fas fa-check-circle"></i>&nbsp;<span>Aprobación</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdownSubmenu" *jhiHasAnyAuthority="[ROLE_SCCM_1890_USER_BYL, ROLE_SCCM_1890_ADMIN_BYL, ROLE_SCCM_1890_ADMIN]">
                                        <a class="{{'test dropdown-item dropdownBonos' + inst.id }}" (click)="wdfs($event,inst.id,'Bonos')">
                                            <i class="fab fa-btc"></i>
                                            <span>Bonos y Letras</span>
                                            <i class="fas fa-caret-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu" *jhiHasAnyAuthority="ROLE_SCCM_1890_USER_BYL">
                                                <a class="testPedro dropdown-item dropdownCargaBonosLetras" (click)="wdf($event,'CargaBonosLetras')">
                                                    <i class="fas fa-upload" aria-hidden="true"></i>
                                                    <span>Cargar Datos</span>
                                                    <i class="fas fa-caret-right"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdownSubmenu">
                                                        <a class="dropdown-item" [routerLink]="['/', 'load-data-etl-byl', BONOS_LETRAS_LOAD_BONOS]" routerLinkActive="active"
                                                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                                            <i class="fas fa-upload" aria-hidden="true"></i>
                                                            <span jhiTranslate="global.menu.p1890.bonos">bonos</span>
                                                        </a>
                                                    </li>
                                                    <li class="dropdownSubmenu">
                                                        <a class="dropdown-item" [routerLink]="['/', 'load-data-etl-byl', BONOS_LETRAS_LOAD_LHBONOS]" (click)="collapseNavbar()">
                                                            <i class="fas fa-upload" aria-hidden="true"></i>
                                                            <span jhiTranslate="global.menu.p1890.lhbonos">lhbonos</span>
                                                        </a>
                                                    </li>
                                                    <li class="dropdownSubmenu">
                                                        <a class="dropdown-item" [routerLink]="['/', 'load-data-etl-byl', BONOS_LETRAS_LOAD_LHDCV]" (click)="collapseNavbar()">
                                                            <i class="fas fa-upload" aria-hidden="true"></i>
                                                            <span jhiTranslate="global.menu.p1890.lhdcv">lhdcv</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li *jhiHasAnyAuthority="ROLE_SCCM_1890_USER_BYL">
                                                <a class="dropdown-item" routerLink="letras-bonos" (click)="collapseNavbar()">
                                                    <i class="fas fa-table" aria-hidden="true"></i>&nbsp;<span>Datos Bonos y Letras</span>
                                                </a>
                                            </li>
                                            <li *jhiHasAnyAuthority="ROLE_SCCM_1890_USER_BYL">
                                                <a class="dropdown-item" routerLink="totales-bonos" (click)="collapseNavbar()">
                                                    <i class="fas fa-align-right"></i>&nbsp;<span>Totales Bonos</span>
                                                </a>
                                            </li>
                                            <li *jhiHasAnyAuthority="ROLE_SCCM_1890_USER_BYL">
                                                <a class="dropdown-item" routerLink="letras-bonos-cuadratura" (click)="collapseNavbar()">
                                                    <i class="fas fa-align-left"></i>&nbsp;<span>Cuadratura Bonos</span>
                                                </a>
                                            </li>
                                            <li *jhiHasAnyAuthority="[ROLE_SCCM_1890_ADMIN_BYL, ROLE_SCCM_1890_ADMIN]">
                                                <a class="dropdown-item" [routerLink]="['/', 'aprobacion-byl', APPROVAL_PRODUCT_TYPE_BONOS_LETRAS]" (click)="collapseNavbar()">
                                                    <i class="fas fa-check-circle"></i>&nbsp;<span>Aprobación</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li *jhiHasAnyAuthority="ROLE_SCCM_1890_ADMIN">
                                        <a class="dropdown-item" [routerLink]="['glosa-oper-capt/', inst.id ,'show']" routerLinkActive="active"
                                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                            <i class="fab fa-glide-g" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.p1941.glosa">Glosas</span>
                                        </a>
                                    </li>
                                    <li *jhiHasAnyAuthority="ROLE_SCCM_1890_ADMIN">
                                        <a class="dropdown-item" [routerLink]="['representante-oper-capt/', inst.id ,'show']" routerLinkActive="active"
                                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                            <i class="fab fa-jenkins" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.p1941.representante">Representante Legal</span>
                                        </a>
                                    </li>
                                    <li *jhiHasAnyAuthority="ROLE_SCCM_1890_ADMIN">
                                        <a class="dropdown-item" routerLink="datos-emi-cert" (click)="collapseNavbar()">
                                            <i class="fas fa-certificate" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.entities.datosEmiCert">Datos Emisión Certificado</span>
                                        </a>
                                    </li>
                                    <li *jhiHasAnyAuthority="ROLE_SCCM_1890_ADMIN">
                                        <a class="dropdown-item" routerLink="emi-cert-oper-capt" (click)="collapseNavbar()">
                                            <i class="fas fa-hand-spock" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.emision-certificado-1941">Emisión certificados</span>
                                        </a>
                                    </li>
                                    <li *jhiHasAnyAuthority="ROLE_SCCM_1890_ADMIN">
                                        <a class="dropdown-item" routerLink="emi-dj-oper-capt" (click)="collapseNavbar()">
                                            <i class="fab fa-accusoft" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.emision-dj-1941">Declaracion Jurada</span>
                                        </a>
                                    </li>
                                    <li *jhiHasAnyAuthority="ROLE_SCCM_1890_ADMIN">
                                        <a class="dropdown-item" routerLink="emi-rectif-oper-capt" (click)="collapseNavbar()">
                                            <i class="fab fa-accusoft" aria-hidden="true"></i>
                                            <span jhiTranslate="global.menu.emision-rectificatoria-1890"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ng-container>
            </ng-container>
						
			<!-- Administracion -->
            <li *jhiHasAnyAuthority = "ROLE_ADMIN" ngbDropdown class = "nav-item dropdown pointer" routerLinkActive = "active" 
			[routerLinkActiveOptions] = "{exact: true}">
                
				<a class = "nav-link dropdown-toggle" ngbDropdownToggle href = "javascript:void(0);" id = "admin-menu">
				
                    <span> <i class = "fab fa-adn" aria-hidden = "true"> </i> <span jhiTranslate="global.menu.admin.main">Administration</span> </span>
					
                </a>
				
                <ul class="dropdown-menu" ngbDropdownMenu>
                    
					<li>
                        <a class="dropdown-item" routerLink="datos-fijos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fas fa-info-circle" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.datosFijos">Datos Fijos</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="producto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fab fa-product-hunt" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.producto">Producto</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="anno-tributa" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fab fa-autoprefixer" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.annoTributa">Anno Tributa</span>
                        </a>
                    </li>
					<li>
                        
						<a class = "dropdown-item" routerLink = "certificados-anteriores" routerLinkActive = "active" 
						[routerLinkActiveOptions] = "{ exact: true }" (click) = "collapseNavbar()">
						 
                            <i class = "fas fa-archive" aria-hidden = "true"> </i>
                            <span jhiTranslate = "global.menu.entities.certificadosAnteriores"> </span>
							
                        </a>
						
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="rut-1890" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fas fa-users" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.clienteBice">Cliente Bice</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="instrumento" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fas fa-italic" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.instrumento">Instrumento</span>
                        </a>
                    </li>
										
                    <li class = "dropdownSubmenu dropdown-submenu">
					
						<a class = "{{'dropdown-item dropdownCargaInterfaces' + 4 }}" (click)="wdfs($event, 4, 'CargaInterfaces')">
                            
							<i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
                            <span>Carga de Interfaces</span>
                            <i class="fas fa-caret-right"></i>
							
                        </a>
						
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" routerLink="correc-moneta" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <i class="fas fa-money-bill-alt" aria-hidden="true"></i>
                                    <span jhiTranslate="global.menu.entities.correcMoneta">Carga Moneta</span>
                                </a>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" [routerLink]="['/', 'load-data-etl-il', INTERFACES_LOADING_UF]" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <i class="fas fa-hand-holding-usd" aria-hidden="true"></i>
                                    <span jhiTranslate="global.menu.admin.uf">uf</span>
                                </a>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" [routerLink]="['/', 'load-data-etl-il', INTERFACES_LOADING_PARITY]" (click)="collapseNavbar()">
                                    <i class="fas fa-map-signs" aria-hidden="true"></i>
                                    <span jhiTranslate="global.menu.admin.paridad">paridad</span>
                                </a>
                            </li>
                            <!--<li class="dropdown-submenu">
                                <a class="dropdown-item" [routerLink]="['/', 'load-data-etl-il', INTERFACES_LOADING_EURO]" (click)="collapseNavbar()">
                                    <i class="fas fa-euro-sign" aria-hidden="true"></i>
                                    <span jhiTranslate="global.menu.admin.euro">euro</span>
                                </a>
                            </li>-->
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" [routerLink]="['/', 'load-data-etl-il', INTERFACES_LOADING_USD]" (click)="collapseNavbar()">
                                    <i class="fa fa-dollar-sign" aria-hidden="true"></i>
                                    <span jhiTranslate="global.menu.admin.dolar">dolar</span>
                                </a>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" [routerLink]="['/', 'load-data-etl-il', INTERFACES_LOADING_ACCOUNTING]" (click)="collapseNavbar()">
                                    <i class="fab fa-contao" aria-hidden="true"></i>
                                    <span jhiTranslate="global.menu.admin.contabilidad">contabilidad</span>
                                </a>
                            </li>
                        </ul>
						
                    </li>
					
					<li class = "dropdownSubmenu dropdown-submenu">
					
						<a class = "{{'dropdown-item dropdownFechas' + 4 }}" (click)="wdfs($event, 4, 'Fechas')">
                            
							<i class = "fas fa-calendar" aria-hidden = "true"> </i> <span> Fechas de Proceso </span> <i class = "fas fa-caret-right"> </i>
							
						</a>
                        
						<ul class = "dropdown-menu">
                            
							<li>
                                
								<a class = "dropdown-item" routerLink = "ult-dia-hab-mes" routerLinkActive = "active"
                                [routerLinkActiveOptions] = "{ exact: true }" (click) = "collapseNavbar()">
                                    
									<i class = "fas fa-calendar-alt" aria-hidden = "true"> </i>
                                    <span jhiTranslate = "global.menu.admin.ultimoDiaMes"> </span>
									
                                </a>
								
                            </li>
							
                            <li class = "dropdown-submenu">
                                
								<a class = "dropdown-item" routerLink = "ult-dia-hab-anio-ult-dia-hab-anio" routerLinkActive = "active"
                                [routerLinkActiveOptions] = "{ exact: true }" (click) = "collapseNavbar()">
                                
									<i class = "fas fa-calendar-alt" aria-hidden = "true"> </i>
                                    <span jhiTranslate = "global.menu.admin.ultimoDiaAnio"> </span>
									
                                </a>
								
                            </li>
                            
                        </ul>
						
                    </li>
					
					<li>                        
						<a class = "dropdown-item" routerLink = "directorios" routerLinkActive = "active" 
						[routerLinkActiveOptions] = "{ exact: true }" (click) = "collapseNavbar()">
						
                            <i class = "fas fa-archive" aria-hidden = "true"> </i>
                            <span jhiTranslate = "global.menu.admin.rutasAcceso"> </span>
							
                        </a>
                    </li>
					
					<li>                        
						<a class = "dropdown-item" routerLink = "cabecera-control-cambio" routerLinkActive = "active" 
						[routerLinkActiveOptions] = "{ exact: true }" (click) = "collapseNavbar()">
						
                            <i class = "fas fa-check" aria-hidden = "true"> </i>
                            <span jhiTranslate = "global.menu.admin.controlCambio"> </span>
							
                        </a>
                    </li>
					
                    <li>
                        <a class = "dropdown-item" routerLink = "audit-service-access" routerLinkActive = "active" 
						[routerLinkActiveOptions] = "{ exact: true }" (click) = "collapseNavbar()">
                            
							<i class = "fas fa-audio-description" aria-hidden = "true"> </i>
                            
							<span jhiTranslate = "global.menu.admin.auditServiceAccess"> </span>
							
                        </a>
                    </li>
					
                    <li>
                        <a class = "dropdown-item" routerLink = "entity-changes-audit" routerLinkActive = "active" 
						[routerLinkActiveOptions] = "{ exact: true }" (click) = "collapseNavbar()">
                            
							<i class = "fas fa-audio-description" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.entityChangesAudit"></span>
                        </a>
                    </li>
					
                </ul>
				
            </li>

            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
                   id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                    <span>
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);"
                           (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>

            <li ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                     <i class="fa fa-user" aria-hidden="true"></i>
                    <span jhiTranslate="global.menu.account.main">Account</span>
                  </span>
                    <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fas fa-key" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <i class="fa fa-sign-in-alt" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="register" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
	
	
</nav>
