/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

.jh-navbar {
    background-color: #353d47;
    padding: .2em 1em;
}

.jh-navbar .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
border-radius: 50%;
}

.jh-navbar .dropdown-item.active, .jh-navbar .dropdown-item.active:focus, .jh-navbar .dropdown-item.active:hover {
    background-color: #ffffff;
    color: #000;
}

.jh-navbar .dropdown-toggle::after {
    margin-left: 0.15em;
}

.jh-navbar ul.navbar-nav {
    padding: 0.5em;
}

.jh-navbar .navbar-nav .nav-item {
    margin-left: 1.5rem;
}

.jh-navbar a.nav-link {
    font-weight: 400;
}

.jh-navbar .jh-navbar-toggler {
    color: #ccc;
    font-size: 1.5em;
    padding: 10px;
}

.jh-navbar .jh-navbar-toggler:hover {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
    color: #231f1f;
    margin-top:-20px;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    display: inline-block;
    vertical-align: middle;
}

.logo-img {
    height: 40px;
    background: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
}

.nav-customize{
    background-color:#fff;
    color: #326295;
}

.nav-customize span{
    font-size: 13px;
    color: #231f1f;
}
.dropdown-submenu,.dropdownSubmenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu{
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.align-left-margin {
    margin-left: 100px;
}
