<div>

    <h2> <span> Control Cambios </span> </h2>
	
    <jhi-alert> </jhi-alert>
    
	<div class = "row"> </div> <br/>
	
    <div class = "table-responsive" *ngIf = "cabeceraControlCambios">
	
        <table class = "table table-striped">
            
			<thead>
				
				<tr>
					<th> <span> ID </span> </th> <th> <span> Estado </span> </th> <th> <span> Nombre Tabla </span> </th> <th> <span> Accion </span> </th>
					<th> <span> Usuario </span> </th> <th> <span> Fecha </span> </th> <th> <span> Aprobar/Rechazar </span> </th> <!--<th> </th>-->
				</tr>
				
            </thead>
			
            <tbody>
			
				<tr *ngFor = "let cabeceraControlCambio of cabeceraControlCambios ;trackBy: trackId">
				
					<td> <a [routerLink] = "['../cabecera-control-cambio', cabeceraControlCambio.id ]"> {{cabeceraControlCambio.id}} </a> </td>
					<td> {{cabeceraControlCambio.estado}} </td>
					<td> {{cabeceraControlCambio.nombreTabla}} </td>
					<td> {{cabeceraControlCambio.accion}} </td>
					<td> {{cabeceraControlCambio.usuario}} </td>
					<td> {{cabeceraControlCambio.fecha | date:'mediumDate'}} </td>
					<!--<td> {{cabeceraControlCambio.idRegistro}} </td>-->
					
					<td class = "text-right">
						
						<div class = "btn-group flex-btn-group-container">
						
							<button type = "submit" [routerLink] = "['../cabecera-control-cambio', cabeceraControlCambio.id ]" class = "btn btn-info btn-sm">
							
								<span class = "fa fa-eye"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.view"> View </span>
								
							</button>
							
							<button type = "submit" [routerLink] = "['/', { outlets: { popup: 'cabecera-control-cambio/'+ cabeceraControlCambio.id + '/edit'} }]"
							replaceUrl = "true" class = "btn btn-primary btn-sm">
							
								<span class = "fas fa-check"> </span>
								<span class = "d-none d-md-inline" > Aprobar </span>
								
							</button>
							
							<button type = "submit" [routerLink] = "['/', { outlets: { popup: 'cabecera-control-cambio/'+ cabeceraControlCambio.id + '/delete'} }]"
							replaceUrl = "true" class = "btn btn-danger btn-sm">
							
								<span class = "fas fa-times"> </span>
								<span class = "d-none d-md-inline"> Rechazar </span>
								
							</button>
							
						</div>
						
					</td>
					
				</tr>
				
            </tbody>
			
        </table>
		
    </div>
	
</div>