<form name = "deleteForm" (ngSubmit) = "confirmDelete(cabeceraControlCambio.id)">

    <div class = "modal-header">
	
        <h4 class = "modal-title"> Rechazar Control de Cambio </h4>
		
        <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true" (click) = "clear()">&times;</button>
		
    </div>
	
    <div class = "modal-body">
	
        <jhi-alert-error> </jhi-alert-error>
		
        <p> ¿Esta seguro de rechazar el Control? </p>
		
    </div>
	
    <div class = "modal-footer">
	
        <button type = "button" class = "btn btn-secondary" data-dismiss = "modal" (click) = "clear()">
		
            <span class = "fa fa-ban"> </span>&nbsp;<span jhiTranslate = "entity.action.cancel"> Cancel </span>
			
        </button>
		
        <button type = "submit" class = "btn btn-danger"> <span class="fas fa-times"></span>&nbsp;<span >Rechazar</span> </button>
		
    </div>
	
</form>