<div *ngIf = "cabeceraControlCambio">

    <h2> <span jhiTranslate = "sccmApp.cabeceraControlCambio.detail.title"> Cabecera Control Cambio</span> {{cabeceraControlCambio.id}} </h2>
    
	<hr>
	
    <jhi-alert-error></jhi-alert-error>
    
	<dl class = "row-md jh-entity-details">
        
		<dt> <span jhiTranslate = "sccmApp.cabeceraControlCambio.estado"> Estado </span> </dt>
        
		<dd> <span> {{cabeceraControlCambio.estado}} </span> </dd>
		
        <dt> <span jhiTranslate = "sccmApp.cabeceraControlCambio.nombreTabla"> Nombre Tabla </span> </dt>
        
		<dd> <span> {{cabeceraControlCambio.nombreTabla}} </span> </dd>
		
        <dt> <span jhiTranslate = "sccmApp.cabeceraControlCambio.accion"> Accion </span></dt>
        
		<dd> <span> {{cabeceraControlCambio.accion}} </span> </dd>
        
		<dt> <span jhiTranslate = "sccmApp.cabeceraControlCambio.usuario"> Usuario </span> </dt>
        
		<dd> <span> {{cabeceraControlCambio.usuario}} </span> </dd>
        
		<dt> <span jhiTranslate = "sccmApp.cabeceraControlCambio.fecha"> Fecha </span> </dt>
        
		<dd> <span> {{cabeceraControlCambio.fecha | date:'mediumDate'}} </span> </dd>
		
        <dt> <span jhiTranslate = "sccmApp.cabeceraControlCambio.idRegistro"> Id Registro </span> </dt>
        
		<dd> <span> {{cabeceraControlCambio.idRegistro}} </span> </dd>
		
    </dl>
	
	<h2> <span> Detalles </span> </h2>
    
	<hr>
	
	<dl *ngFor = "let detalleControlCambio of detalleControlCambios ;trackBy: trackId">
		
		<dt> <span> {{detalleControlCambio.nombreCampo}} </span> </dt>
        
		<dd> <span> {{detalleControlCambio.valorCampo}} </span> </dd>
		
	</dl>
		
    <button type = "submit" (click) = "previousState()" class = "btn btn-info btn-sm">
	
        <span class = "fa fa-arrow-left"> </span>&nbsp; <span jhiTranslate = "entity.action.back"> Back </span>
		
    </button>

    <button type = "submit" [routerLink] = "['/', { outlets: { popup: 'cabecera-control-cambio/'+ cabeceraControlCambio.id + '/edit'} }]"
	replaceUrl = "true" class = "btn btn-primary btn-sm">

		<span class = "fas fa-check"> </span>
		<span class = "d-none d-md-inline" > Aprobar </span>
		
	</button>

	<button type = "submit" [routerLink] = "['/', { outlets: { popup: 'cabecera-control-cambio/'+ cabeceraControlCambio.id + '/delete'} }]"
	replaceUrl = "true" class = "btn btn-danger btn-sm">

		<span class = "fas fa-times"> </span>
		<span class = "d-none d-md-inline"> Rechazar </span>
		
	</button>

</div>