<form name = "editForm" role = "form" novalidate (ngSubmit) = "save()" #editForm = "ngForm">

    <div class = "modal-header">
	
        <h4 class = "modal-title"> Aprobar Control de Cambio </h4>
        
		<button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true" (click) = "clear()">&times;</button>
		
    </div>
    
	<div class = "modal-body">
        
		<jhi-alert-error></jhi-alert-error>
		
        <p> ¿Esta seguro de aprobar el Control? </p>		

    </div>
    
	<div class = "modal-footer">
	
		<button type = "button" class = "btn btn-secondary" data-dismiss = "modal" (click) = "clear()">
		
            <span class = "fa fa-ban"> </span>&nbsp; <span jhiTranslate = "entity.action.cancel"> Cancel </span>
			
        </button>
		
        <button type = "submit" [disabled] = "editForm.form.invalid || isSaving" class = "btn btn-primary">
		
            <span class = "fas fa-check"></span>&nbsp;<span> Aprobar </span>
			
        </button>
		
    </div>

</form>