
<div *ngIf="certPagdiv">
    <h2><span jhiTranslate="sccmApp.certPagdiv.detail.title">Cert Pagdiv</span> {{certPagdiv.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.certPagdiv.idCertificado">Id Certificado</span></dt>
        <dd>
            <span>{{certPagdiv.idCertificado}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.rutAccionista">Rut Accionista</span></dt>
        <dd>
            <span>{{certPagdiv.rutAccionista}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.nombreAccionista">Nombre Accionista</span></dt>
        <dd>
            <span>{{certPagdiv.nombreAccionista}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.fechaPago">Fecha Pago</span></dt>
        <dd>
            <span>{{certPagdiv.fechaPago | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.dividendoNro">Dividendo Nro</span></dt>
        <dd>
            <span>{{certPagdiv.dividendoNro}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.montoHistorico">Monto Historico</span></dt>
        <dd>
            <span>{{certPagdiv.montoHistorico}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.fctAct">Fct Act</span></dt>
        <dd>
            <span>{{certPagdiv.fctAct}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.montoAct">Monto Act</span></dt>
        <dd>
            <span>{{certPagdiv.montoAct}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.ccredIdpcGenerados">Ccred Idpc Generados</span></dt>
        <dd>
            <span>{{certPagdiv.ccredIdpcGenerados}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.ccredIdpcAcumulados">Ccred Idpc Acumulados</span></dt>
        <dd>
            <span>{{certPagdiv.ccredIdpcAcumulados}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.ccredIdpcVoluntario">Ccred Idpc Voluntario</span></dt>
        <dd>
            <span>{{certPagdiv.ccredIdpcVoluntario}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.sdcredito">Sdcredito</span></dt>
        <dd>
            <span>{{certPagdiv.sdcredito}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.monExentoIgcomp">Mon Exento Igcomp</span></dt>
        <dd>
            <span>{{certPagdiv.monExentoIgcomp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.montoNoconstRenta">Monto Noconst Renta</span></dt>
        <dd>
            <span>{{certPagdiv.montoNoconstRenta}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.rentasTribCumplida">Rentas Trib Cumplida</span></dt>
        <dd>
            <span>{{certPagdiv.rentasTribCumplida}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.rentasGeneradas">Rentas Generadas</span></dt>
        <dd>
            <span>{{certPagdiv.rentasGeneradas}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.acumAcNorestSinder">Acum Ac Norest Sinder</span></dt>
        <dd>
            <span>{{certPagdiv.acumAcNorestSinder}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.acumAcNorestConder">Acum Ac Norest Conder</span></dt>
        <dd>
            <span>{{certPagdiv.acumAcNorestConder}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.acumAcRestricSinder">Acum Ac Restric Sinder</span></dt>
        <dd>
            <span>{{certPagdiv.acumAcRestricSinder}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.acumAcRestricConder">Acum Ac Restric Conder</span></dt>
        <dd>
            <span>{{certPagdiv.acumAcRestricConder}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.acumAcCredTotal">Acum Ac Cred Total</span></dt>
        <dd>
            <span>{{certPagdiv.acumAcCredTotal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.acumHConder">Acum H Conder</span></dt>
        <dd>
            <span>{{certPagdiv.acumHConder}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.acumHSinder">Acum H Sinder</span></dt>
        <dd>
            <span>{{certPagdiv.acumHSinder}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.acumHCredTotal">Acum H Cred Total</span></dt>
        <dd>
            <span>{{certPagdiv.acumHCredTotal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.credImpTasaAdic">Cred Imp Tasa Adic</span></dt>
        <dd>
            <span>{{certPagdiv.credImpTasaAdic}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.tasaEfectivaFut">Tasa Efectiva Fut</span></dt>
        <dd>
            <span>{{certPagdiv.tasaEfectivaFut}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.devolucionCapital">Devolucion Capital</span></dt>
        <dd>
            <span>{{certPagdiv.devolucionCapital}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.acciones">Acciones</span></dt>
        <dd>
            <span>{{certPagdiv.acciones}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.certPagdiv.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="certPagdiv.annoTributa">
                <a [routerLink]="['/anno-tributa', certPagdiv.annoTributa?.id]">{{certPagdiv.annoTributa?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cert-pagdiv/'+ certPagdiv.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
