<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCertPagdivLabel" jhiTranslate="sccmApp.certPagdiv.home.createOrEditLabel">Create or edit a Cert Pagdiv</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!certPagdiv.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="certPagdiv.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.idCertificado" for="field_idCertificado">Id Certificado</label>
            <input type="number" class="form-control" name="idCertificado" id="field_idCertificado"
                [(ngModel)]="certPagdiv.idCertificado"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.rutAccionista" for="field_rutAccionista">Rut Accionista</label>
            <input type="text" class="form-control" name="rutAccionista" id="field_rutAccionista"
                [(ngModel)]="certPagdiv.rutAccionista"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.nombreAccionista" for="field_nombreAccionista">Nombre Accionista</label>
            <input type="text" class="form-control" name="nombreAccionista" id="field_nombreAccionista"
                [(ngModel)]="certPagdiv.nombreAccionista"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.fechaPago" for="field_fechaPago">Fecha Pago</label>
            <div class="input-group">
                <input id="field_fechaPago" type="text" class="form-control" name="fechaPago" ngbDatepicker  #fechaPagoDp="ngbDatepicker" [(ngModel)]="certPagdiv.fechaPago"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaPagoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.dividendoNro" for="field_dividendoNro">Dividendo Nro</label>
            <input type="number" class="form-control" name="dividendoNro" id="field_dividendoNro"
                [(ngModel)]="certPagdiv.dividendoNro"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.montoHistorico" for="field_montoHistorico">Monto Historico</label>
            <input type="number" class="form-control" name="montoHistorico" id="field_montoHistorico"
                [(ngModel)]="certPagdiv.montoHistorico"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.fctAct" for="field_fctAct">Fct Act</label>
            <input type="number" class="form-control" name="fctAct" id="field_fctAct"
                [(ngModel)]="certPagdiv.fctAct"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.montoAct" for="field_montoAct">Monto Act</label>
            <input type="number" class="form-control" name="montoAct" id="field_montoAct"
                [(ngModel)]="certPagdiv.montoAct"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.ccredIdpcGenerados" for="field_ccredIdpcGenerados">Ccred Idpc Generados</label>
            <input type="number" class="form-control" name="ccredIdpcGenerados" id="field_ccredIdpcGenerados"
                [(ngModel)]="certPagdiv.ccredIdpcGenerados"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.ccredIdpcAcumulados" for="field_ccredIdpcAcumulados">Ccred Idpc Acumulados</label>
            <input type="number" class="form-control" name="ccredIdpcAcumulados" id="field_ccredIdpcAcumulados"
                [(ngModel)]="certPagdiv.ccredIdpcAcumulados"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.ccredIdpcVoluntario" for="field_ccredIdpcVoluntario">Ccred Idpc Voluntario</label>
            <input type="number" class="form-control" name="ccredIdpcVoluntario" id="field_ccredIdpcVoluntario"
                [(ngModel)]="certPagdiv.ccredIdpcVoluntario"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.sdcredito" for="field_sdcredito">Sdcredito</label>
            <input type="number" class="form-control" name="sdcredito" id="field_sdcredito"
                [(ngModel)]="certPagdiv.sdcredito"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.monExentoIgcomp" for="field_monExentoIgcomp">Mon Exento Igcomp</label>
            <input type="number" class="form-control" name="monExentoIgcomp" id="field_monExentoIgcomp"
                [(ngModel)]="certPagdiv.monExentoIgcomp"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.montoNoconstRenta" for="field_montoNoconstRenta">Monto Noconst Renta</label>
            <input type="number" class="form-control" name="montoNoconstRenta" id="field_montoNoconstRenta"
                [(ngModel)]="certPagdiv.montoNoconstRenta"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.rentasTribCumplida" for="field_rentasTribCumplida">Rentas Trib Cumplida</label>
            <input type="number" class="form-control" name="rentasTribCumplida" id="field_rentasTribCumplida"
                [(ngModel)]="certPagdiv.rentasTribCumplida"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.rentasGeneradas" for="field_rentasGeneradas">Rentas Generadas</label>
            <input type="number" class="form-control" name="rentasGeneradas" id="field_rentasGeneradas"
                [(ngModel)]="certPagdiv.rentasGeneradas"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.acumAcNorestSinder" for="field_acumAcNorestSinder">Acum Ac Norest Sinder</label>
            <input type="number" class="form-control" name="acumAcNorestSinder" id="field_acumAcNorestSinder"
                [(ngModel)]="certPagdiv.acumAcNorestSinder"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.acumAcNorestConder" for="field_acumAcNorestConder">Acum Ac Norest Conder</label>
            <input type="number" class="form-control" name="acumAcNorestConder" id="field_acumAcNorestConder"
                [(ngModel)]="certPagdiv.acumAcNorestConder"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.acumAcRestricSinder" for="field_acumAcRestricSinder">Acum Ac Restric Sinder</label>
            <input type="number" class="form-control" name="acumAcRestricSinder" id="field_acumAcRestricSinder"
                [(ngModel)]="certPagdiv.acumAcRestricSinder"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.acumAcRestricConder" for="field_acumAcRestricConder">Acum Ac Restric Conder</label>
            <input type="number" class="form-control" name="acumAcRestricConder" id="field_acumAcRestricConder"
                [(ngModel)]="certPagdiv.acumAcRestricConder"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.acumAcCredTotal" for="field_acumAcCredTotal">Acum Ac Cred Total</label>
            <input type="number" class="form-control" name="acumAcCredTotal" id="field_acumAcCredTotal"
                [(ngModel)]="certPagdiv.acumAcCredTotal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.acumHConder" for="field_acumHConder">Acum H Conder</label>
            <input type="number" class="form-control" name="acumHConder" id="field_acumHConder"
                [(ngModel)]="certPagdiv.acumHConder"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.acumHSinder" for="field_acumHSinder">Acum H Sinder</label>
            <input type="number" class="form-control" name="acumHSinder" id="field_acumHSinder"
                [(ngModel)]="certPagdiv.acumHSinder"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.acumHCredTotal" for="field_acumHCredTotal">Acum H Cred Total</label>
            <input type="number" class="form-control" name="acumHCredTotal" id="field_acumHCredTotal"
                [(ngModel)]="certPagdiv.acumHCredTotal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.credImpTasaAdic" for="field_credImpTasaAdic">Cred Imp Tasa Adic</label>
            <input type="number" class="form-control" name="credImpTasaAdic" id="field_credImpTasaAdic"
                [(ngModel)]="certPagdiv.credImpTasaAdic"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.tasaEfectivaFut" for="field_tasaEfectivaFut">Tasa Efectiva Fut</label>
            <input type="number" class="form-control" name="tasaEfectivaFut" id="field_tasaEfectivaFut"
                [(ngModel)]="certPagdiv.tasaEfectivaFut"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.devolucionCapital" for="field_devolucionCapital">Devolucion Capital</label>
            <input type="number" class="form-control" name="devolucionCapital" id="field_devolucionCapital"
                [(ngModel)]="certPagdiv.devolucionCapital"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.acciones" for="field_acciones">Acciones</label>
            <input type="number" class="form-control" name="acciones" id="field_acciones"
                [(ngModel)]="certPagdiv.acciones"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.certPagdiv.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="certPagdiv.annoTributa" >
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === certPagdiv.annoTributa?.id ? certPagdiv.annoTributa : annoTributaOption" *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
