<div>
    <div class="row">
        <div class="col-lg-9">
            <h2><span jhiTranslate="sccmApp.certPagdiv.home.title">Cert Pagdivs</span></h2>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-primary float-right jh-create-entity create-cert-pagdiv" [routerLink]="['/', { outlets: { popup: ['cert-pagdiv-new'] } }]">
                <span class="fa fa-plus"></span>
                <span jhiTranslate="sccmApp.certPagdiv.home.createLabel">Crear Nuevo Registro Cliente</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-3">
            <span class="text-primary-sccm">Seleccione Año Tributario</span>
            <select class="form-control" #idAnnoSelected>
                <option *ngFor="let anno of annosTributarios;" value="{{anno.id}}">{{anno.annoT}}</option>
            </select>
        </div>
        <div class="form-group col-lg-3">
            <button style="margin-top: 18px;" class="btn btn-primary" (click)="filterByAnooTributario(idAnnoSelected)">
                <span class="fab fa-searchengin"></span> <span>Buscar</span>
            </button>
        </div>
        <div class="col-lg-3">
            &nbsp;
        </div>
        <div class="form-group col-lg-3" *ngIf="certPagDivFlag">
            <button style="margin-top: 18px;" class="btn btn-success float-right jh-create-entity create-entrada-57-b" (click)="generateExcel()">
                <span class="fas fa-file-excel"></span>
                <span jhiTranslate="entity.action.exportToExcel">Export to Excel</span>
            </button>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <div class="table-responsive" *ngIf="certPagDivFlag">
        <table class="table table-striped" id="table">
            <thead>
            <tr>
                <th><span jhiTranslate="sccmApp.certPagdiv.idCertificado">Id Certificado</span></th>
                <th><span jhiTranslate="sccmApp.certPagdiv.rutAccionista">Rut Accionista</span></th>
                <th><span jhiTranslate="sccmApp.certPagdiv.nombreAccionista">Nombre Accionista</span></th>
                <th><span jhiTranslate="sccmApp.certPagdiv.fechaPago">Fecha Pago</span></th>
                <th><span jhiTranslate="sccmApp.certPagdiv.dividendoNro">Dividendo Nro</span></th>
                <th><span jhiTranslate="sccmApp.certPagdiv.montoHistorico">Monto Historico</span></th>
                <th><span jhiTranslate="sccmApp.certPagdiv.fctAct">Fct Act</span></th>
                <th><span jhiTranslate="sccmApp.certPagdiv.montoAct">Monto Act</span></th>
                <th *ngIf="ccredIdpcGeneradosFlag"><span jhiTranslate="sccmApp.certPagdiv.ccredIdpcGenerados">Ccred Idpc Generados</span></th>
                <th *ngIf="ccredIdpcAcumuladosFlag"><span jhiTranslate="sccmApp.certPagdiv.ccredIdpcAcumulados">Ccred Idpc Acumulados</span></th>
                <th *ngIf="ccredIdpcVoluntarioFlag"><span jhiTranslate="sccmApp.certPagdiv.ccredIdpcVoluntario">Ccred Idpc Voluntario</span></th>
                <th *ngIf="sdcreditoFlag"><span jhiTranslate="sccmApp.certPagdiv.sdcredito">Sdcredito</span></th>
                <th *ngIf="monExentoIgcompFlag"><span jhiTranslate="sccmApp.certPagdiv.monExentoIgcomp">Mon Exento Igcomp</span></th>
                <th *ngIf="montoNoconstRentaFlag"><span jhiTranslate="sccmApp.certPagdiv.montoNoconstRenta">Monto Noconst Renta</span></th>
                <th *ngIf="rentasTribCumplidaFlag"><span jhiTranslate="sccmApp.certPagdiv.rentasTribCumplida">Rentas Trib Cumplida</span></th>
                <th *ngIf="rentasGeneradasFlag"><span jhiTranslate="sccmApp.certPagdiv.rentasGeneradas">Rentas Generadas</span></th>
                <th *ngIf="acumAcNorestSinderFlag"><span jhiTranslate="sccmApp.certPagdiv.acumAcNorestSinder">Acum Ac Norest Sinder</span></th>
                <th *ngIf="acumAcNorestConderFlag"><span jhiTranslate="sccmApp.certPagdiv.acumAcNorestConder">Acum Ac Norest Conder</span></th>
                <th *ngIf="acumAcRestricSinderFlag"><span jhiTranslate="sccmApp.certPagdiv.acumAcRestricSinder">Acum Ac Restric Sinder</span></th>
                <th *ngIf="acumAcRestricConderFlag"><span jhiTranslate="sccmApp.certPagdiv.acumAcRestricConder">Acum Ac Restric Conder</span></th>
                <th *ngIf="acumAcCredTotalFlag"><span jhiTranslate="sccmApp.certPagdiv.acumAcCredTotal">Acum Ac Cred Total</span></th>
                <th *ngIf="acumHConderFlag"><span jhiTranslate="sccmApp.certPagdiv.acumHConder">Acum H Conder</span></th>
                <th *ngIf="acumHSinderFlag"><span jhiTranslate="sccmApp.certPagdiv.acumHSinder">Acum H Sinder</span></th>
                <th *ngIf="acumHCredTotalFlag"><span jhiTranslate="sccmApp.certPagdiv.acumHCredTotal">Acum H Cred Total</span></th>
                <th *ngIf="credImpTasaAdicFlag"><span jhiTranslate="sccmApp.certPagdiv.credImpTasaAdic">Cred Imp Tasa Adic</span></th>
                <th><span jhiTranslate="sccmApp.certPagdiv.tasaEfectivaFut">Tasa Efectiva Fut</span></th>
                <th *ngIf="devolucionCapitalFlag"><span jhiTranslate="sccmApp.certPagdiv.devolucionCapital">Devolucion Capital</span></th>
                <th><span jhiTranslate="sccmApp.certPagdiv.acciones">Acciones</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let certPagdiv of certPagdivs ;trackBy: trackId">
                <td>{{certPagdiv.idCertificado}}</td>
                <td>{{certPagdiv.rutAccionista}}</td>
                <td>{{certPagdiv.nombreAccionista}}</td>
                <td>{{certPagdiv.fechaPago | date:'dd/MM/yyyy'}}</td>
                <td>{{certPagdiv.dividendoNro}}</td>
                <td>${{certPagdiv.montoHistorico | number}}</td>
                <td>{{certPagdiv.fctAct.toLocaleString('es-CL')}}</td>
                <td>${{certPagdiv.montoAct | number}}</td>
                <td *ngIf="certPagdiv.ccredIdpcGenerados !== 0">${{certPagdiv.ccredIdpcGenerados | number}}</td>
                <td *ngIf="certPagdiv.ccredIdpcAcumulados !== 0">${{certPagdiv.ccredIdpcAcumulados | number}}</td>
                <td *ngIf="certPagdiv.ccredIdpcVoluntario !== 0">${{certPagdiv.ccredIdpcVoluntario | number}}</td>
                <td *ngIf="certPagdiv.sdcredito !== 0">${{certPagdiv.sdcredito | number}}</td>
                <td *ngIf="certPagdiv.monExentoIgcomp !== 0">${{certPagdiv.monExentoIgcomp | number}}</td>
                <td *ngIf="certPagdiv.montoNoconstRenta !== 0">${{certPagdiv.montoNoconstRenta | number}}</td>
                <td *ngIf="certPagdiv.rentasTribCumplida !== 0">${{certPagdiv.rentasTribCumplida | number}}</td>
                <td *ngIf="certPagdiv.rentasGeneradas !== 0">${{certPagdiv.rentasGeneradas | number}}</td>
                <td *ngIf="certPagdiv.acumAcNorestSinder !== 0">${{certPagdiv.acumAcNorestSinder | number}}</td>
                <td *ngIf="certPagdiv.acumAcNorestConder !== 0">${{certPagdiv.acumAcNorestConder | number}}</td>
                <td *ngIf="certPagdiv.acumAcRestricSinder !== 0">${{certPagdiv.acumAcRestricSinder | number}}</td>
                <td *ngIf="certPagdiv.acumAcRestricConder !== 0">${{certPagdiv.acumAcRestricConder | number}}</td>
                <td *ngIf="certPagdiv.acumAcCredTotal !== 0">${{certPagdiv.acumAcCredTotal | number}}</td>
                <td *ngIf="certPagdiv.acumHConder !== 0">${{certPagdiv.acumHConder | number}}</td>
                <td *ngIf="certPagdiv.acumHSinder !== 0">${{certPagdiv.acumHSinder | number}}</td>
                <td *ngIf="certPagdiv.acumHCredTotal !== 0">${{certPagdiv.acumHCredTotal | number}}</td>
                <td *ngIf="certPagdiv.credImpTasaAdic !== 0">${{certPagdiv.credImpTasaAdic | number}}</td>
                <td>{{certPagdiv.tasaEfectivaFut.toLocaleString('es-CL')}}</td>
                <td *ngIf="certPagdiv.devolucionCapital !== 0">${{certPagdiv.devolucionCapital | number}}</td>
                <td>{{certPagdiv.acciones | number}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [routerLink]="['../cert-pagdiv', certPagdiv.id ]" class="btn btn-primary btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <!--<button type="submit" [routerLink]="['/', { outlets: { popup: 'cert-pagdiv/'+ certPagdiv.id + '/edit'} }]" replaceUrl="true"
                                class="btn btn-secondary btn-sm text-white">
                            <span class="fas fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'cert-pagdiv/'+ certPagdiv.id + '/delete'} }]" replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-trash-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive" *ngIf="certPagDivFlagSinData">
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error: </strong> No existen datos para año tributario seleccionado.
        </div>
    </div>
</div>

