<div>
    
	<h2>
        
		<span jhiTranslate = "sccmApp.ultDiaHabAnio.home.title"> </span>
        
		<button class = "btn btn-primary float-right jh-create-entity create-ult-dia-hab-anio-ult-dia-hab-anio" 
		[routerLink] = "['/', { outlets: { popup: ['ult-dia-hab-anio-ult-dia-hab-anio-new'] } }]">
		
            <span class = "fa fa-plus"></span>
			
            <span jhiTranslate = "sccmApp.ultDiaHabAnio.home.createLabel"> </span>
			
        </button>
		
    </h2>
	
    <jhi-alert> </jhi-alert>
    
	<div class = "row"> </div> <br/>
	
    <div class = "table-responsive" *ngIf = "ultDiaHabAnios">
        
		<table class = "table table-striped">
		
            <thead>
				
				<tr jhiSort [(predicate)] = "predicate" [(ascending)] = "reverse" [callback] = "transition.bind(this)">
					
					<th jhiSortBy = "dia"> <span jhiTranslate = "sccmApp.ultDiaHabAnio.dia"> Día </span> </th>
					<th jhiSortBy = "mes"> <span jhiTranslate = "sccmApp.ultDiaHabAnio.mes"> Mes </span> </span> </th>					
					<th jhiSortBy = "fecha"> <span jhiTranslate = "sccmApp.ultDiaHabAnio.fecha"> Fecha </span> </span> </th>
					<th jhiSortBy = "annoTributario.annoC"> <span jhiTranslate = "sccmApp.ultDiaHabAnio.annoTributario"> </span> </th>
					<th> </th>
					
				</tr>
				
            </thead>
			
            <tbody>
				
				<tr *ngFor = "let ultDiaHabAnio of ultDiaHabAnios ;trackBy: trackId">
					
					<td> {{ ultDiaHabAnio.dia }} </td>
					<td> {{ ultDiaHabAnio.mes }} </td>					
					<td> {{ ultDiaHabAnio.fecha | date : 'dd-MM-yyyy' : 'UTC' }} </td>
					
					<td>
						<div *ngIf = "ultDiaHabAnio.annoTributario">
							
							<a [routerLink] = "['../anno-tributa', ultDiaHabAnio.annoTributario?.id ]"> {{ultDiaHabAnio.annoTributario?.annoC}} </a>
							
						</div>
					</td>
					
					<td class = "text-right">
						
						<div class = "btn-group flex-btn-group-container">
							
							<button type = "submit" [routerLink] = "['../ult-dia-hab-anio-ult-dia-hab-anio', ultDiaHabAnio.id ]" class = "btn btn-info btn-sm">
								
								<span class = "fa fa-eye"> </span>
								
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.view"> </span>
								
							</button>
							
							<button type = "submit" [routerLink] = "['/', { outlets: { popup: 'ult-dia-hab-anio-ult-dia-hab-anio/'+ ultDiaHabAnio.id + '/edit'} }]"
							replaceUrl = "true" class = "btn btn-primary btn-sm">
							
								<span class = "fa fa-edit"> </span>
								
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.edit"> </span>
								
							</button>
							
							<button type = "submit" [routerLink] = "['/', { outlets: { popup: 'ult-dia-hab-anio-ult-dia-hab-anio/'+ ultDiaHabAnio.id + '/delete'} }]"
							replaceUrl = "true" class = "btn btn-danger btn-sm">
								
								<span class = "fa fa-trash"> </span>
								
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.delete"> </span>
								
							</button>
							
						</div>
						
					</td>
					
				</tr>
				
            </tbody>
			
        </table>
		
    </div>
	
	<div *ngIf = "ultDiaHabAnios && ultDiaHabAnios.length">
		
		<div class = "row justify-content-center">
			
			<jhi-item-count [page] = "page" [total] = "queryCount" [maxSize] = "5" [itemsPerPage] = "itemsPerPage"> </jhi-item-count>
			
		</div>
		
		<div class = "row justify-content-center">
			
			<ngb-pagination [collectionSize] = "totalItems" [maxSize] = "5" [pageSize] = "itemsPerPage" [(page)] = "page" 
			(pageChange) = "loadPage(page)"> </ngb-pagination>
			
		</div>
		
	</div>
	
</div>