<form name = "editForm" role = "form" novalidate (ngSubmit) = "save()" #editForm = "ngForm">

    <div class = "modal-header">
	
        <h4 class = "modal-title" id = "myUltDiaHabAnioLabel" jhiTranslate = "sccmApp.ultDiaHabAnio.home.createOrEditLabel"> </h4>
        
		<button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true" (click) = "clear()">&times;</button>
    
	</div>
	
    <div class="modal-body">
        
		<jhi-alert-error></jhi-alert-error>
        
		<div class = "form-group" [hidden] = "!ultDiaHabAnio.id">
            
			<label for = "id" jhiTranslate = "global.field.id"> </label>
			
            <input type = "text" class = "form-control" id = "id" name = "id" [(ngModel)] = "ultDiaHabAnio.id" readonly />
        
		</div>
		
		<!--<div class = "form-group">
            
			<label class = "form-control-label" jhiTranslate = "sccmApp.ultDiaHabAnio.dia" for = "field_dia"> </label>
            
			<input type = "number" class = "form-control" name = "dia" id = "field_dia" [(ngModel)] = "ultDiaHabAnio.dia"  />
			
        </div>
		
        <div class = "form-group">
            
			<label class = "form-control-label" jhiTranslate = "sccmApp.ultDiaHabAnio.mes" for = "field_mes"> </label>
            
			<input type = "number" class = "form-control" name = "mes" id = "field_mes" [(ngModel)] = "ultDiaHabAnio.mes"  />
			
        </div>-->
		
        <div class = "form-group">
            
			<label class = "form-control-label" jhiTranslate = "sccmApp.ultDiaHabAnio.fecha" for = "field_fecha"> Fecha </label>
            
			<div class = "d-flex"> 
			
				<input id = "field_fecha" type = "datetime-local" required = "required" class = "form-control" name = "fecha" [(ngModel)] = "ultDiaHabAnio.fecha" />
				
            </div>
			
        </div>

        <!--<div class = "form-group">
		
            <label class = "form-control-label" jhiTranslate = "sccmApp.ultDiaHabAnio.annoTributario" for = "field_annoTributario"> </label>
            
			<select class = "form-control" id = "field_annoTributario" name = "annoTributario" [(ngModel)] = "ultDiaHabAnio.annoTributario" >
                
				<option [ngValue] = "null"> </option>
                
				<option [ngValue] = "annoTributaOption.id === ultDiaHabAnio.annoTributario?.id ? ultDiaHabAnio.annoTributario : annoTributaOption" 
				*ngFor = "let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">
					
					{{annoTributaOption.annoC}}
					
				</option>
				
            </select>
			
        </div>-->
		
    </div>
	
    <div class = "modal-footer">
        
		<button type = "button" class = "btn btn-secondary" data-dismiss = "modal" (click) = "clear()">
            
			<span class = "fa fa-ban"> </span>&nbsp;<span jhiTranslate = "entity.action.cancel"> </span>
			
        </button>
        
		<button type = "submit" [disabled] = "editForm.form.invalid || isSaving" class = "btn btn-primary">
            
			<span class = "fa fa-save"> </span>&nbsp;<span jhiTranslate = "entity.action.save"> </span>
			
        </button>
		
    </div>
	
</form>