<div *ngIf = "ultDiaHabAnio">

    <h2> <span jhiTranslate = "sccmApp.ultDiaHabAnio.detail.title"> Ult Dia Hab Anio</span> {{ultDiaHabAnio.id}} </h2> <hr>
	
    <jhi-alert-error> </jhi-alert-error>
    
	<dl class = "row-md jh-entity-details">
	
        <dt> <span jhiTranslate = "sccmApp.ultDiaHabAnio.mes"> </span> </dt>
        <dd> <span> {{ultDiaHabAnio.mes}} </span> </dd>
		
        <dt> <span jhiTranslate = "sccmApp.ultDiaHabAnio.dia"> </span> </dt>
        <dd> <span> {{ultDiaHabAnio.dia}} </span> </dd>
		
        <dt> <span jhiTranslate = "sccmApp.ultDiaHabAnio.fecha"> Fecha </span> </dt>
        <dd> <span> {{ultDiaHabAnio.fecha | date:'medium'}} </span> </dd>
		
        <dt> <span jhiTranslate = "sccmApp.ultDiaHabAnio.annoTributario"> </span> </dt>
        
		<dd> <div *ngIf="ultDiaHabAnio.annoTributario">
        
			<a [routerLink]="['/anno-tributa', ultDiaHabAnio.annoTributario?.id]">{{ultDiaHabAnio.annoTributario?.annoC}}</a>
        
		</div> </dd>
		
    </dl>

    <button type = "submit" (click) = "previousState()" class = "btn btn-info">
	
        <span class = "fa fa-arrow-left"> </span>&nbsp;<span jhiTranslate = "entity.action.back"> Back </span>
		
    </button>

    <button type = "button" [routerLink] = "['/', { outlets: { popup: 'ult-dia-hab-anio-ult-dia-hab-anio/'+ ultDiaHabAnio.id + '/edit'} }]"
    replaceUrl = "true" class = "btn btn-primary">
	
        <span class = "fa fa-pencil"> </span>&nbsp;<span jhiTranslate = "entity.action.edit"> Edit </span>
		
    </button>
	
</div>