<div>
	
	<jhi-alert> </jhi-alert>
	
    <div class = "row">
	
        <div class = "col-lg-12">
            
			<div class = "">
                
				<h1 class = "text-dark" *ngIf = "account;else userDisconnected">
                
					<div> <span class = "badge badge-primary"> <strong>Bienvenido</strong><small>, Sr(a). {{account.firstName}}</small> </span> </div>
					
                </h1>
				
                <ng-template #userDisconnected>
                    
					<h1 class = "text-dark">
                        
						<div> <span class="badge badge-primary"> <strong>Bienvenido a Sistema Consolidación Certificados Masivos.</strong> </span> </div>
						
                    </h1>
					
                </ng-template>
				
                <p class = "lead text-justify text-dark" style = "font-size:13px;">
				
					Sistema Consolidación Certificados Masivos, es un sistema web de
                    Banco Bice que ofrece múltiples opciones para
                    generar certificados a sus clientes, personas específicas asociadas a una planilla de datos cargados
                    y
                    período(año tributario) determinado.</p>
					
                <hr class = "my-4">
            
			</div>
			
            <div class = "row text-dark">
                
				<div class = "col-lg-4 ">
                    
					<div class = "card">
                        
						<img class = "card-img-top" src = "captacion.png" alt = "Card image cap">
                        
						<div class = "card-body">
                            
							<h5 class = "card-title"> Operación Captación </h5>
                            
                            <a href = "#/home" (click) = "downloadDoc('ManualCertificado1890')" class = "btn btn-primary center"> Saber más. </a>
							
                        </div>
						
                    </div>
					
                </div>
				
                <div class = "col-lg-4 ">
                    
					<div class = "card">
					
                        <img class = "card-img-top" src = "inversion.png" alt = "Card image cap">
                        
						<div class = "card-body">
						
                            <h5 class = "card-title"> Inversiones 57Bis </h5>
                            
                            <a href = "#/home" (click) = "downloadDoc('57bis')" class = "btn btn-primary center">Saber más.</a>
							
                        </div>
						
                    </div>
					
                </div>
				
                <div class = "col-lg-4">
                    
					<div class = "card">
                        
						<img class = "card-img-top"  src = "pago.png" alt = "Card image cap">
                        
						<div class = "card-body">
                            
							<h5 class = "card-title"> Pago Dividendos </h5>
							
                            <a href = "#/home" (click) = "downloadDoc('ManualCertificado1941')" class = "btn btn-primary center"> Saber más. </a>
							
                        </div>
						
                    </div>
					
                </div>
				
            </div>
			
            <br>
			
            <p class = "lead" *ngIf = "account===null || account===undefined">
                
				<a class = "center btn btn-primary btn-lg text-white" (click) = "login()" id = "login"> Iniciar Sesión </a>
				
            </p>
            
			<p class = "lead" *ngIf = "account!==null && account!==undefined">
                
				<a class = "center btn btn-danger btn-lg text-white" (click) = "logout()" id = "logout"> Cerrar Sesión </a>
				
            </p>

        </div>
		
    </div>

</div>

<style> .card-img-top { margin: 0 auto; width: 100%; height: 250px; } </style>