<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTotalesBonosLabel" jhiTranslate="sccmApp.totalesBonos.home.createOrEditLabel">Create or edit a Totales Bonos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!totalesBonos.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="totalesBonos.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalesBonos.fechaEvento" for="field_fechaEvento">Fecha Evento</label>
            <div class="d-flex">
                <input id="field_fechaEvento" type="datetime-local" class="form-control" name="fechaEvento" [(ngModel)]="totalesBonos.fechaEvento"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalesBonos.fechaInversion" for="field_fechaInversion">Fecha Inversion</label>
            <div class="d-flex">
                <input id="field_fechaInversion" type="datetime-local" class="form-control" name="fechaInversion" [(ngModel)]="totalesBonos.fechaInversion"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalesBonos.fechaPago" for="field_fechaPago">Fecha Pago</label>
            <div class="d-flex">
                <input id="field_fechaPago" type="datetime-local" class="form-control" name="fechaPago" [(ngModel)]="totalesBonos.fechaPago"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalesBonos.instrumento" for="field_instrumento">Instrumento</label>
            <input type="text" class="form-control" name="instrumento" id="field_instrumento"
                [(ngModel)]="totalesBonos.instrumento"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalesBonos.monedaPago" for="field_monedaPago">Moneda Pago</label>
            <input type="number" class="form-control" name="monedaPago" id="field_monedaPago"
                [(ngModel)]="totalesBonos.monedaPago"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalesBonos.montoPagadoMo" for="field_montoPagadoMo">Monto Pagado Mo</label>
            <input type="number" class="form-control" name="montoPagadoMo" id="field_montoPagadoMo"
                [(ngModel)]="totalesBonos.montoPagadoMo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalesBonos.montoPagadoValor" for="field_montoPagadoValor">Monto Pagado Valor</label>
            <input type="number" class="form-control" name="montoPagadoValor" id="field_montoPagadoValor"
                [(ngModel)]="totalesBonos.montoPagadoValor"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalesBonos.nombreBeneficiario" for="field_nombreBeneficiario">Nombre Beneficiario</label>
            <input type="text" class="form-control" name="nombreBeneficiario" id="field_nombreBeneficiario"
                [(ngModel)]="totalesBonos.nombreBeneficiario"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalesBonos.numCupon" for="field_numCupon">Num Cupon</label>
            <input type="number" class="form-control" name="numCupon" id="field_numCupon"
                [(ngModel)]="totalesBonos.numCupon"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalesBonos.origen" for="field_origen">Origen</label>
            <input type="text" class="form-control" name="origen" id="field_origen"
                [(ngModel)]="totalesBonos.origen"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalesBonos.rutBeneficiario" for="field_rutBeneficiario">Rut Beneficiario</label>
            <input type="text" class="form-control" name="rutBeneficiario" id="field_rutBeneficiario"
                [(ngModel)]="totalesBonos.rutBeneficiario"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalesBonos.serie" for="field_serie">Serie</label>
            <input type="number" class="form-control" name="serie" id="field_serie"
                [(ngModel)]="totalesBonos.serie"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalesBonos.tipoIrf" for="field_tipoIrf">Tipo Irf</label>
            <input type="number" class="form-control" name="tipoIrf" id="field_tipoIrf"
                [(ngModel)]="totalesBonos.tipoIrf"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.totalesBonos.valorNominal" for="field_valorNominal">Valor Nominal</label>
            <input type="number" class="form-control" name="valorNominal" id="field_valorNominal"
                [(ngModel)]="totalesBonos.valorNominal"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
