<div>
    <h2>
        <span jhiTranslate="sccmApp.totalesBonos.home.title">Totales Bonos</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <div class="row" *ngIf="annosTributarios">
        <div class="form-group col-lg-3">
            <span class="text-primary-sccm">Seleccione Año Tributario *</span>
            <select class="form-control" #idAnnoSelected>
                <option *ngFor="let anno of annosTributarios;" value="{{anno.id}}">
                    {{anno.annoT}}
                </option>
            </select>
        </div>
        <div class="form-group col-lg-3">
            <button style="margin-top: 18px;" class="btn btn-primary" (click)="filterByAnnoTributarioId(idAnnoSelected)"><span
                class="fab fa-searchengin"></span> <span>Buscar</span></button>
        </div>

        <div class="col-lg-2">
            <button *ngIf="totalesBonosFlag" style="margin-top: 18px;" class="btn btn-warning float-right jh-create-entity" (click)="generateExcel2(EXCEL_OPTION_BICE)">
                <span class="fas fa-file-excel"></span>
                <span jhiTranslate="entity.action.exportToExcelBice">Exportar Bice</span>
            </button>
        </div>
        <div class="col-lg-2">
            <button *ngIf="totalesBonosFlag" style="margin-top: 18px;" class="btn btn-danger float-right jh-create-entity" (click)="generateExcel2(EXCEL_OPTION_NO_BICE)">
                <span class="fas fa-file-excel"></span>
                <span jhiTranslate="entity.action.exportToExcelNoBice">Exportar No Bice</span>
            </button>
        </div>
        <div class="col-lg-2">
            <button *ngIf="totalesBonosFlag" style="margin-top: 18px;" class="btn btn-success float-right jh-create-entity" (click)="generateExcel2(EXCEL_OPTION_ALL)">
                <span class="fas fa-file-excel"></span>
                <span jhiTranslate="entity.action.exportToExcelAll">Export All</span>
            </button>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="totalesBonosFlag">
        <table class="table table-striped" id="main-data-table">
            <thead>
            <tr>
                <th><span jhiTranslate="sccmApp.totalesBonos.origen">Origen</span></th>
                <th><span jhiTranslate="sccmApp.totalesBonos.fechaPago">Fecha Pago</span></th>
                <th><span jhiTranslate="sccmApp.totalesBonos.fechaInversion">Fecha Inversion</span></th>
                <th><span jhiTranslate="sccmApp.totalesBonos.instrumento">Instrumento</span></th>
                <th><span jhiTranslate="sccmApp.totalesBonos.valorNominal">Valor Nominal</span></th>
                <th><span jhiTranslate="sccmApp.totalesBonos.montoPagadoMo">Monto Pagado Mo</span></th>
                <th><span jhiTranslate="sccmApp.totalesBonos.montoPagadoValor">Monto Pagado Valor</span></th>
                <th><span jhiTranslate="sccmApp.totalesBonos.monedaPago">Moneda Pago</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let totalesBonos of totalesBonos ;trackBy: trackId">
                <td>{{totalesBonos.origen}}</td>
                <td>{{totalesBonos.fechaPago | date:PATTERN_DATE_SHORT}}</td>
                <td>{{totalesBonos.fechaInversion | date:PATTERN_DATE_SHORT}}</td>
                <td>{{totalesBonos.instrumento}}</td>
                <td>{{totalesBonos.valorNominal | number}}</td>
                <td>{{totalesBonos.montoPagadoMo | number}}</td>
                <td>{{totalesBonos.montoPagadoValor | number}}</td>
                <td>{{convertCodMonToStr(totalesBonos.monedaPago)}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="totalesBonosFlag">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>

    <div class="table-responsive" *ngIf="totalesBonosFlagSinData">
        <div class="alert alert-danger alert-dismissible">
            No existen datos para año tributario seleccionado.
        </div>
    </div>
</div>
