
<div *ngIf="totalesBonos">
    <h2><span jhiTranslate="sccmApp.totalesBonos.detail.title">Totales Bonos</span> {{totalesBonos.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.totalesBonos.fechaEvento">Fecha Evento</span></dt>
        <dd>
            <span>{{totalesBonos.fechaEvento | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalesBonos.fechaInversion">Fecha Inversion</span></dt>
        <dd>
            <span>{{totalesBonos.fechaInversion | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalesBonos.fechaPago">Fecha Pago</span></dt>
        <dd>
            <span>{{totalesBonos.fechaPago | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalesBonos.instrumento">Instrumento</span></dt>
        <dd>
            <span>{{totalesBonos.instrumento}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalesBonos.monedaPago">Moneda Pago</span></dt>
        <dd>
            <span>{{totalesBonos.monedaPago}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalesBonos.montoPagadoMo">Monto Pagado Mo</span></dt>
        <dd>
            <span>{{totalesBonos.montoPagadoMo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalesBonos.montoPagadoValor">Monto Pagado Valor</span></dt>
        <dd>
            <span>{{totalesBonos.montoPagadoValor}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalesBonos.nombreBeneficiario">Nombre Beneficiario</span></dt>
        <dd>
            <span>{{totalesBonos.nombreBeneficiario}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalesBonos.numCupon">Num Cupon</span></dt>
        <dd>
            <span>{{totalesBonos.numCupon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalesBonos.origen">Origen</span></dt>
        <dd>
            <span>{{totalesBonos.origen}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalesBonos.rutBeneficiario">Rut Beneficiario</span></dt>
        <dd>
            <span>{{totalesBonos.rutBeneficiario}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalesBonos.serie">Serie</span></dt>
        <dd>
            <span>{{totalesBonos.serie}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalesBonos.tipoIrf">Tipo Irf</span></dt>
        <dd>
            <span>{{totalesBonos.tipoIrf}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.totalesBonos.valorNominal">Valor Nominal</span></dt>
        <dd>
            <span>{{totalesBonos.valorNominal}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'totales-bonos/'+ totalesBonos.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
