
<div *ngIf="usd">
    <h2><span jhiTranslate="sccmApp.usd.detail.title">Usd</span> {{usd.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.usd.fecha">Fecha</span></dt>
        <dd>
            <span>{{usd.fecha | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.usd.valor">Valor</span></dt>
        <dd>
            <span>{{usd.valor}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.usd.codMon">Cod Mon</span></dt>
        <dd>
            <span>{{usd.codMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.usd.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="usd.annoTributa">
                <a [routerLink]="['/anno-tributa', usd.annoTributa?.id]">{{usd.annoTributa?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'usd/'+ usd.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
