<div>
    <h2>
        <span jhiTranslate="sccmApp.usd.home.title">Usds</span>
        <button class="btn btn-primary float-right jh-create-entity create-usd" [routerLink]="['/', { outlets: { popup: ['usd-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.usd.home.createLabel">
            Create new Usd
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="usds">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.usd.fecha">Fecha</span></th>
            <th><span jhiTranslate="sccmApp.usd.valor">Valor</span></th>
            <th><span jhiTranslate="sccmApp.usd.codMon">Cod Mon</span></th>
            <th><span jhiTranslate="sccmApp.usd.annoTributa">Anno Tributa</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let usd of usds ;trackBy: trackId">
                <td><a [routerLink]="['../usd', usd.id ]">{{usd.id}}</a></td>
                <td>{{usd.fecha | date:'mediumDate'}}</td>
                <td>{{usd.valor}}</td>
                <td>{{usd.codMon}}</td>
                <td>
                    <div *ngIf="usd.annoTributa">
                        <a [routerLink]="['../anno-tributa', usd.annoTributa?.id ]" >{{usd.annoTributa?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../usd', usd.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'usd/'+ usd.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'usd/'+ usd.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
