<div>
    <h2>
        <span jhiTranslate="sccmApp.salProxPer.home.title">Sal Prox Pers</span>
        <button class="btn btn-primary float-right jh-create-entity create-sal-prox-per" [routerLink]="['/', { outlets: { popup: ['sal-prox-per-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.salProxPer.home.createLabel">
            Create new Sal Prox Per
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="salProxPers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.salProxPer.tipoSal">Tipo Sal</span></th>
            <th><span jhiTranslate="sccmApp.salProxPer.saldoNetoPer">Saldo Neto Per</span></th>
            <th><span jhiTranslate="sccmApp.salProxPer.saldoProxPer">Saldo Prox Per</span></th>
            <th><span jhiTranslate="sccmApp.salProxPer.giroRentab">Giro Rentab</span></th>
            <th><span jhiTranslate="sccmApp.salProxPer.annoAct">Anno Act</span></th>
            <th><span jhiTranslate="sccmApp.salProxPer.annoTributa">Anno Tributa</span></th>
            <th><span jhiTranslate="sccmApp.salProxPer.clienteBice">Cliente Bice</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let salProxPer of salProxPers ;trackBy: trackId">
                <td><a [routerLink]="['../sal-prox-per', salProxPer.id ]">{{salProxPer.id}}</a></td>
                <td>{{salProxPer.tipoSal}}</td>
                <td>{{salProxPer.saldoNetoPer}}</td>
                <td>{{salProxPer.saldoProxPer}}</td>
                <td>{{salProxPer.giroRentab}}</td>
                <td>{{salProxPer.annoAct}}</td>
                <td>
                    <div *ngIf="salProxPer.annoTributa">
                        <a [routerLink]="['../anno-tributa', salProxPer.annoTributa?.id ]" >{{salProxPer.annoTributa?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="salProxPer.clienteBice">
                        <a [routerLink]="['../cliente-bice', salProxPer.clienteBice?.id ]" >{{salProxPer.clienteBice?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sal-prox-per', salProxPer.id ]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sal-prox-per/'+ salProxPer.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-secondary btn-sm text-white">
                            <span class="fas fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sal-prox-per/'+ salProxPer.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-trash-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
