<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySalProxPerLabel" jhiTranslate="sccmApp.salProxPer.home.createOrEditLabel">Create or edit a Sal Prox Per</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!salProxPer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="salProxPer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salProxPer.tipoSal" for="field_tipoSal">Tipo Sal</label>
            <input type="text" class="form-control" name="tipoSal" id="field_tipoSal"
                [(ngModel)]="salProxPer.tipoSal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salProxPer.saldoNetoPer" for="field_saldoNetoPer">Saldo Neto Per</label>
            <input type="number" class="form-control" name="saldoNetoPer" id="field_saldoNetoPer"
                [(ngModel)]="salProxPer.saldoNetoPer"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salProxPer.saldoProxPer" for="field_saldoProxPer">Saldo Prox Per</label>
            <input type="number" class="form-control" name="saldoProxPer" id="field_saldoProxPer"
                [(ngModel)]="salProxPer.saldoProxPer"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salProxPer.giroRentab" for="field_giroRentab">Giro Rentab</label>
            <input type="number" class="form-control" name="giroRentab" id="field_giroRentab"
                [(ngModel)]="salProxPer.giroRentab"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salProxPer.annoAct" for="field_annoAct">Anno Act</label>
            <input type="number" class="form-control" name="annoAct" id="field_annoAct"
                [(ngModel)]="salProxPer.annoAct"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salProxPer.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="salProxPer.annoTributa" >
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === salProxPer.annoTributa?.id ? salProxPer.annoTributa : annoTributaOption" *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.salProxPer.clienteBice" for="field_clienteBice">Cliente Bice</label>
            <select class="form-control" id="field_clienteBice" name="clienteBice" [(ngModel)]="salProxPer.clienteBice" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clienteBiceOption.id === salProxPer.clienteBice?.id ? salProxPer.clienteBice : clienteBiceOption" *ngFor="let clienteBiceOption of clientebices; trackBy: trackClienteBiceById">{{clienteBiceOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
