
<div *ngIf="salProxPer">
    <h2><span jhiTranslate="sccmApp.salProxPer.detail.title">Sal Prox Per</span> {{salProxPer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.salProxPer.tipoSal">Tipo Sal</span></dt>
        <dd>
            <span>{{salProxPer.tipoSal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.salProxPer.saldoNetoPer">Saldo Neto Per</span></dt>
        <dd>
            <span>{{salProxPer.saldoNetoPer}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.salProxPer.saldoProxPer">Saldo Prox Per</span></dt>
        <dd>
            <span>{{salProxPer.saldoProxPer}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.salProxPer.giroRentab">Giro Rentab</span></dt>
        <dd>
            <span>{{salProxPer.giroRentab}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.salProxPer.annoAct">Anno Act</span></dt>
        <dd>
            <span>{{salProxPer.annoAct}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.salProxPer.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="salProxPer.annoTributa">
                <a [routerLink]="['/anno-tributa', salProxPer.annoTributa?.id]">{{salProxPer.annoTributa?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="sccmApp.salProxPer.clienteBice">Cliente Bice</span></dt>
        <dd>
            <div *ngIf="salProxPer.clienteBice">
                <a [routerLink]="['/cliente-bice', salProxPer.clienteBice?.id]">{{salProxPer.clienteBice?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sal-prox-per/'+ salProxPer.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
