<div>

    <h2> <span jhiTranslate = "sccmApp.certificadosAnteriores.home.title"> </span> </h2>
	
    <jhi-alert> </jhi-alert>
    
	<div class = "row"> </div> <br/>
	
    <div class = "row" >
        		
		<div class = "form-group col-lg-4">
			
            <span class = "text-primary-sccm"> Tipo de Certificado * </span>
            
			<select class = "form-control" [(ngModel)] = "productoSeleccionado">
				
                <option *ngFor = "let producto of productos;" value = "{{producto.nombreProducto}}"> {{producto.nombreProducto}} </option>
				
            </select>
			
        </div>
		
		<div class = "form-group col-lg-4">
			
            <span class = "text-primary-sccm"> Seleccione Año Tributario * </span>
			
            <select class = "form-control" [(ngModel)] = "annoSeleccionado">
                
				<option *ngFor = "let anno of annoTributas;" value = "{{anno[1]}}"> {{anno[1]}} </option>
				
            </select>
			
        </div>
		
		<div class = "form-group col-lg-2">
            
			<span class = "text-primary-sccm"> Rut + DV * </span>
			
			<input type = "text" class = "form-control" [(ngModel)] = "rutFilterValue" (ngModelChange) = "valueChange($event)" 
			placeholder = "Con dígito verificador. Ej: 760553531" name = "rutFilterValue"/>
			
		</div>
		
		<div style = "margin-top: 18px;" class = "form-group col-lg-2">
		
			<button (click) = "buscar()" class = "btn btn-primary float-right jh-create-entity create-certificados-anteriores">
			
				<span class = "fab fa-searchengin"> </span> <span> Ver </span>
				
			</button>
			
		</div>
		
    </div>
		
</div>