<div>
    <div class="row">
        <div class="col-lg-12">
            <h2>
                <span jhiTranslate="cargaAhorro.title"></span>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <span class="text-primary-sccm" jhiTranslate="cargaAhorro.subtitle"></span><br>
            <input id="cin" name="cin" type="file" [disabled]="allowMov" required (change)="fileChangeEvent($event)" placeholder="Upload a file..."/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary btn-s" (click)="uploader()" [disabled]="allowMov">
                <i class="glyphicon glyphicon-open-file"></i>&nbsp;Subir y Cargar
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <span class="text-primary-sccm" jhiTranslate="cargaAhorro.subtitleMov"></span><br>
            <input id="cinMov" name="cinMov" type="file" [disabled]="!allowMov" required (change)="fileChangeEvent($event)" placeholder="Upload a file..."/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary btn-s" [disabled]="!allowMov" (click)="uploaderMov()">
                <i class="glyphicon glyphicon-open-file"></i>&nbsp;Subir y Cargar
            </button>
        </div>
    </div>

    <div class="table-responsive" *ngIf="loadDataEtlFlagResponse">
        <div class="{{classType}}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{headMessage}} </strong> {{bodyMessage}}
        </div>
    </div>
</div>
