<div>

    <h2>	
        <span [jhiTranslate]="'loadDataEtl.option.' + selectedOption"> </span>
        <span>-</span>
        <span jhiTranslate = "loadDataEtl.title"></span>
    </h2>
	
    <span class = "text-primary-sccm" jhiTranslate = "loadDataEtl.subtitle"> </span> <br>
    <input type = "file" required (change) = "fileChangeEvent($event)" placeholder = "Seleccionar archivo" accept = ".csv,.txt" #fileInput/>
    
	<br/> <br/>    
	
	<button [disabled] = "!canUse" type = "button" class = "btn btn-primary btn-s" (click) = "uploadFile()">
        
		<span> <i class = "fa fa-upload" aria-hidden = "true"> </i> <span> Subir y Cargar </span> </span>
		
    </button>
    
	<button type = "button" class = "btn btn-warning btn-s" (click) = "clear()">
        
		<span> <i class = "fa fa-unlink" aria-hidden = "true"> </i> <span> Limpiar Selección </span> </span>
		
    </button> <br/>
    
	<button style = "margin-top:10px; width:330px; margin-left:5px;" class = "btn btn-success jh-create-entity btn-block" 
	(click) = "descargarLog('logErroresEntrada')" *ngIf = "flagTerminoCarga">
			
		<span class = "fas fa-file-excel"> </span>
		<span jhiTranslate = "global.logErroresEntrada"> </span>
		
	</button>
	
	<button style = "width:330px; margin-left:5px;" class = "btn btn-success jh-create-entity btn-block" 
	(click) = "descargarLog('logErroresFatales')" *ngIf = "flagTerminoCarga">
		
		<span class = "fas fa-file-excel"> </span>
		<span jhiTranslate = "global.logErroresFatales"> </span>
		
	</button>
	
	<button style = "width:330px; margin-left:5px;" class = "btn btn-success jh-create-entity btn-block" 
	(click) = "descargarLog('logRegistrosCargados')" *ngIf = "flagTerminoCarga">
		
		<span class = "fas fa-file-excel"> </span>
		<span jhiTranslate = "global.logRegistrosCargados"> </span>
		
	</button>
	
	<br/> <br/>
	
    <div *ngIf = "loadDataEtlFlagResponse">
	
        <div [class] = "classType" role = "alert">
            
			<a class = "close" (click) = "removeAlert(alert)">&times;</a>
            <strong> {{headMessage}} </strong> {{bodyMessage}}
			
        </div>
		
    </div>
	
</div>