<div>
    <h2>
        <span jhiTranslate="intRealPactos.title"></span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <div class="row" *ngIf="annosTributarios">
        <div class="form-group col-lg-3">
            <span class="text-primary-sccm">Seleccione Año Tributario</span>
            <select class="form-control" #idAnnoSelected>
                <option *ngFor="let anno of annosTributarios;" value="{{anno.id}}">
                    {{anno.annoT}}
                </option>
            </select>
        </div>
        <div class="form-group col-lg-2">
            <button style="margin-top: 18px;" class="btn btn-primary" (click)="filterByAnooTributario(idAnnoSelected)"><span
                class="fab fa-searchengin"></span> <span>Buscar</span></button>
        </div>
        <div class="form-group col-lg-3" *ngIf="pactosFlag">
            <span class="text-primary-sccm">Seleccione Cliente</span>
            <select class="form-control" #selectRutFilter>
                <option *ngFor="let pacto of pactosIR | groupBy: 'rut'" value="{{pacto.key}}">
                    {{pacto.key | number}}
                </option>
            </select>
        </div>
        <div class="form-group col-lg-2" *ngIf="pactosFlag">
            <button style="margin-top: 18px;" class="btn btn-secondary" (click)="filterByRut()"><span
                class="fab fa-searchengin"></span> <span>Filtrar</span></button>
        </div>
        <div class="col-lg-2">
            <button *ngIf="pactosFlag" style="margin-top: 18px;" class="btn btn-success float-right jh-create-entity btn-block" (click)="generateExcel()">
                <span class="fas fa-file-excel"></span>
                <span jhiTranslate="entity.action.exportToExcel">Export to Excel</span>
            </button>
        </div>
    </div>
    <div class="table-responsive" *ngIf="pactosFlag">
        <table class="table table-striped" id="main-data-table">
            <thead>
            <tr>
                <th><span jhiTranslate="sccmApp.pactos.rut">Rut</span></th>
                <th><span jhiTranslate="sccmApp.pactos.folio">Folio</span></th>
                <th><span jhiTranslate="sccmApp.pactos.monPac">Cod Mon</span></th>
                <th><span jhiTranslate="sccmApp.pactos.fechaPago">Fecha Pago</span></th>
                <th><span jhiTranslate="sccmApp.pactos.fechaInv">Fecha Inv</span></th>
                <th><span jhiTranslate="sccmApp.pactos.fecConta">Fec Conta</span></th>
                <th><span jhiTranslate="sccmApp.pactos.intReal">Int Real</span></th>
                <th><span jhiTranslate="sccmApp.pactos.intRealCalc">Int Real Calc</span></th>
                <th><span jhiTranslate="sccmApp.pactos.diferencia">Diferencia</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pactos of pactosIR ;trackBy: trackId">
                <td *ngIf="rutSelected ?  pactos.rut === rutSelected : pactos.rut">{{pactos.rut | number}}-{{pactos.dv}}</td>
                <td *ngIf="rutSelected ?  pactos.rut === rutSelected : pactos.rut">{{pactos.folio}}</td>
                <td *ngIf="rutSelected ?  pactos.rut === rutSelected : pactos.rut">{{pactos.monPac}}</td>
                <td *ngIf="rutSelected ?  pactos.rut === rutSelected : pactos.rut">{{pactos.fechaPago | date: 'dd/MM/yyyy'}}</td>
                <td *ngIf="rutSelected ?  pactos.rut === rutSelected : pactos.rut">{{pactos.fechaInv | date: 'dd/MM/yyyy'}}</td>
                <td *ngIf="rutSelected ?  pactos.rut === rutSelected : pactos.rut">{{pactos.fechaCont | date: 'dd/MM/yyyy' }}</td>
                <td *ngIf="rutSelected ?  pactos.rut === rutSelected : pactos.rut">${{pactos.intReal | number}}</td>
                <td *ngIf="rutSelected ?  pactos.rut === rutSelected : pactos.rut">${{pactos.intRealCal | number}}</td>
                <td *ngIf="rutSelected ?  pactos.rut === rutSelected : pactos.rut">
                    <span style="width:100%;" ngClass="{{pactos.diferencia===0 ? 'badge badge-pill badge-primary': 'badge badge-pill badge-danger' }}">
                        ${{pactos.diferencia | number}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive" *ngIf="pactosFlagSinData">
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error: </strong> No existen datos para año tributario seleccionado.
        </div>
    </div>
</div>


