<div>
    <h2>
        <span jhiTranslate="sccmApp.clientes1890mantencion.home.title">Clientes 1890 Mantencions</span>
        <button class="btn btn-primary float-right jh-create-entity create-clientes-1890-mantencion" [routerLink]="['/', { outlets: { popup: ['clientes-1890-mantencion-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.clientes1890mantencion.home.createLabel">
            Create new Clientes 1890 Mantencion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clientes1890mantencions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.clientes1890mantencion.rut">Rut</span></th>
            <th><span jhiTranslate="sccmApp.clientes1890mantencion.nombre">Nombre</span></th>
            <th><span jhiTranslate="sccmApp.clientes1890mantencion.nacionalidad">Nacionalidad</span></th>
            <th><span jhiTranslate="sccmApp.clientes1890mantencion.impto35">Impto 35</span></th>
            <th><span jhiTranslate="sccmApp.clientes1890mantencion.direccion">Direccion</span></th>
            <th><span jhiTranslate="sccmApp.clientes1890mantencion.comuna">Comuna</span></th>
            <th><span jhiTranslate="sccmApp.clientes1890mantencion.ciudad">Ciudad</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clientes1890mantencion of clientes1890mantencions ;trackBy: trackId">
                <td><a [routerLink]="['../clientes-1890-mantencion', clientes1890mantencion.id ]">{{clientes1890mantencion.id}}</a></td>
                <td>{{clientes1890mantencion.rut}}</td>
                <td>{{clientes1890mantencion.nombre}}</td>
                <td>{{clientes1890mantencion.nacionalidad}}</td>
                <td>{{clientes1890mantencion.impto35}}</td>
                <td>{{clientes1890mantencion.direccion}}</td>
                <td>{{clientes1890mantencion.comuna}}</td>
                <td>{{clientes1890mantencion.ciudad}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../clientes-1890-mantencion', clientes1890mantencion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'clientes-1890-mantencion/'+ clientes1890mantencion.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'clientes-1890-mantencion/'+ clientes1890mantencion.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
