<form name = "editForm" role = "form" novalidate (ngSubmit) = "save()" #editForm = "ngForm">

    <div class = "modal-header">
        
		<h4 class = "modal-title" id = "myRut1890Label" jhiTranslate = "sccmApp.rut1890.home.createOrEditLabel"> </h4>
        
		<button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true" (click) = "clear()">&times;</button>
    
	</div>
	
    <div class = "modal-body">
	
        <jhi-alert-error> </jhi-alert-error>
        
		<div class = "form-group" [hidden] = "!rut1890.id">
		
            <label for = "id" jhiTranslate = "global.field.id"> </label>
            
			<input type = "text" class = "form-control" id = "id" name = "id" [(ngModel)] = "rut1890.id" readonly />
			
        </div>
		
        <div class = "form-group">
		
            <label class = "form-control-label" jhiTranslate = "sccmApp.rut1890.rut" for = "field_rut"> </label>
			
            <input type = "number" class = "form-control" name = "rut" id = "field_rut" [(ngModel)] = "rut1890.rut" readonly />
        
		</div>
		
        <div class = "form-group">
		
            <label class = "form-control-label" jhiTranslate = "sccmApp.rut1890.dv" for = "field_dv"> </label>
            
			<input type = "text" class = "form-control" name = "dv" id = "field_dv" [(ngModel)] = "rut1890.dv" />
			
        </div>

        <div class = "form-group">
		
            <label class = "form-control-label" jhiTranslate ="sccmApp.cliente1890.nombre" for = "field_nombreCliente"> </label>
            
			<input type = "text" class = "form-control" name = "nombreCliente" id = "field_nombreCliente" [(ngModel)] = "rut1890.cliente1890.nombre" />	
			
        </div>
		
		<div class = "form-group">
		
            <label class = "form-control-label" jhiTranslate = "sccmApp.cliente1890.nacionalidad" for = "field_nacionalidadCliente"> </label>
            
			<select class = "form-control" id = "field_nacionalidad" name = "nacionalidad" [(ngModel)] = "rut1890.cliente1890.nacionalidad" >
                
                <option [ngValue] = "nacionalidad" *ngFor = "let nacionalidad of nacionalidades;"> {{nacionalidad}} </option>
            
			</select>
			
        </div>
		
		<div class = "form-group">
		
            <label class = "form-control-label" jhiTranslate = "sccmApp.cliente1890.impto35" for = "field_impto35"> </label>
            
			<select class = "form-control" id = "field_impto35" name = "impto35" [(ngModel)] = "rut1890.cliente1890.impto35" >
                
                <option [ngValue] = "impt35" *ngFor = "let impt35 of impt35s;"> {{impt35}} </option>
            
			</select>
			
        </div>
		
		<div class = "form-group">
		
            <label class = "form-control-label" jhiTranslate = "sccmApp.cliente1890.direccion" for = "field_direccion"> </label>
            
			<input type = "text" class = "form-control" name = "direccion" id = "field_direccion" [(ngModel)] = "rut1890.cliente1890.direccion" />	
			
        </div>
		
		<div class = "form-group">
		
            <label class = "form-control-label" jhiTranslate = "sccmApp.cliente1890.comuna" for = "field_comuna"> </label>
            
			<input type = "text" class = "form-control" name = "comuna" id = "field_comuna" [(ngModel)] = "rut1890.cliente1890.comuna" />	
			
        </div>
		
		<div class = "form-group">
		
            <label class = "form-control-label" jhiTranslate = "sccmApp.cliente1890.ciudad" for = "field_ciudad"> </label>
            
			<input type = "text" class = "form-control" name = "ciudad" id = "field_ciudad" [(ngModel)] = "rut1890.cliente1890.ciudad" />	
			
        </div>
		
    </div>
	
    <div class = "modal-footer">
	
        <button type = "button" class = "btn btn-secondary" data-dismiss = "modal" (click) = "clear()">
		
            <span class = "fa fa-ban"> </span>&nbsp;<span jhiTranslate = "entity.action.cancel"> </span>
			
        </button>
        
		<button type = "submit" [disabled] = "editForm.form.invalid || isSaving" class = "btn btn-primary">
            
			<span class = "fa fa-save"></span>&nbsp;<span jhiTranslate = "entity.action.save"> </span>
			
        </button>
		
    </div>
	
</form>