<div>
    
	<h2>
        <span jhiTranslate = "sccmApp.rut1890.home.title"> </span>
		
        <!--<button class = "btn btn-primary float-right jh-create-entity create-rut-1890" 
		[routerLink] = "['/', { outlets: { popup: ['rut-1890-new'] } }]">
            
			<span class = "fa fa-plus"></span>
            <span  jhiTranslate = "sccmApp.rut1890.home.createLabel"> </span>
			
        </button> -->
    </h2>
	
    <jhi-alert></jhi-alert>
    <div class = "row"> </div> <br/>
	
	<div class = "row">
			
		<div class = "form-group col-lg-3">
		
			<span class = "text-primary-sccm"> Rut </span>
			
			<input type = "text" class = "form-control" [(ngModel)] = "rutFilterValue" placeholder = "Sin díjito verificador. Ej: 76055353" />
			
		</div>
		
		<div class = "form-group col-lg-2">
		
			<button style = "margin-top: 18px;" class = "btn btn-primary" (click) = "filterData()">
				
				<span class = "fab fa-searchengin"> </span> <span> Buscar </span>
			
			</button>
		
		</div>
		
		<div class = "form-group col-lg-2">
		
			<button [routerLink] = "['/', 'load-data-etl-rut-1890', 'rut-1890']" style = "margin-top: 18px;" class = "btn btn-warning">
				
					<span class = "fab fa-searchengin"> </span> <span> Subir Rut 1890 </span>
					
			</button>
		
		</div>
		
		<div class = "form-group col-lg-2">
		
			<button [routerLink] = "['/', 'load-data-etl-cliente-1890', 'cliente-1890']" style = "margin-top: 18px;" class = "btn btn-warning">
				
				<span class = "fab fa-searchengin"> </span> <span> Subir Cliente 1890 </span>
				
			</button>
		
		</div>
		
		<div class = "col-lg-3"> </div>
		
	</div>
	
	<div class = "row">
					
		<div class="col-lg-3">
            
			<button style = "margin-top: 18px;" class = "btn btn-success float-right jh-create-entity btn-block" (click) = "generateExcel()">
                
				<span class = "fas fa-file-excel"> </span>
                <span jhiTranslate = "sccmApp.rut1890.exportarExcel"> </span>
				
            </button>
			
        </div>
		
		<div class="col-lg-9"> </div>
		
	</div>
	
    <div class = "table-responsive" *ngIf = "rut1890S">
		
        <table class = "table table-striped">
            
			<thead>
				
				<tr>
					<th> <span jhiTranslate = "global.field.id"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.rut1890.rut"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.rut1890.dv"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.cliente1890.nombre"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.cliente1890.nacionalidad"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.cliente1890.impto35"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.cliente1890.direccion"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.cliente1890.comuna"> </span> </th>
					<th> <span jhiTranslate = "sccmApp.cliente1890.ciudad"> </span> </th>
					<th> </th>
				</tr>
				
            </thead>
			
            <tbody>
			
				<tr *ngFor = "let rut1890 of rut1890S ;trackBy: trackId">
					
					<td> <a [routerLink] = "['../rut-1890', rut1890.id ]"> {{rut1890.id}} </a> </td>
					<td> {{rut1890.rut}} </td>
					<td> {{rut1890.dv}} </td>
					
					<td> <div *ngIf = "rut1890.cliente1890"> {{rut1890.cliente1890?.nombre}} </div> </td>
					<td> <div *ngIf = "rut1890.cliente1890"> {{rut1890.cliente1890?.nacionalidad}} </div> </td>
					<td> <div *ngIf = "rut1890.cliente1890"> {{rut1890.cliente1890?.impto35}} </div> </td>
					<td> <div *ngIf = "rut1890.cliente1890"> {{rut1890.cliente1890?.direccion}} </div> </td>
					<td> <div *ngIf = "rut1890.cliente1890"> {{rut1890.cliente1890?.comuna}} </div> </td>
					<td> <div *ngIf = "rut1890.cliente1890"> {{rut1890.cliente1890?.ciudad}} </div> </td>					
					
					<td class = "text-right">
					
						<div class = "btn-group flex-btn-group-container">
						
							<button type = "submit" [routerLink] = "['../rut-1890', rut1890.id ]" class = "btn btn-info btn-sm">
							
								<span class = "fa fa-eye"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.view"> </span>
							
							</button>
							
							<button type = "submit" [routerLink] = "['/', { outlets: { popup: 'rut-1890/'+ rut1890.id + '/edit'} }]"
							replaceUrl = "true" class = "btn btn-primary btn-sm">
								
								<span class = "fa fa-edit"></span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.edit"> </span>
								
							</button>
							
							<button type = "submit" [routerLink] = "['/', { outlets: { popup: 'rut-1890/'+ rut1890.id + '/delete'} }]"
							replaceUrl = "true" class = "btn btn-danger btn-sm">
							
								<span class = "fa fa-trash"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.delete"> </span>
								
							</button>
							
						</div>
						
					</td>
					
				</tr>
				
            </tbody>
			
        </table>
				
    </div>
	
	<div *ngIf = "rut1890Flag">
        
		<div class = "row justify-content-center">
		
            <jhi-item-count [page] = "page" [total] = "queryCount" [maxSize] = "5" [itemsPerPage] = "itemsPerPage"> </jhi-item-count>
        
		</div>
        
		<div class = "row justify-content-center">
		
            <ngb-pagination [collectionSize] = "totalItems" [maxSize] = "5" [pageSize] = "itemsPerPage" [(page)] = "page" 
			(pageChange) = "loadPage(page)"> </ngb-pagination>
        
		</div>
		
    </div>

    <div class = "table-responsive" *ngIf = "rut1890FlagSinData">
	
        <div class = "alert alert-danger alert-dismissible"> No existen datos para el rut ingresado. </div>
		
    </div>
	
</div>