<div *ngIf="rut1890">
    
	<h2> <span jhiTranslate = "sccmApp.rut1890.detail.title"> </span> {{rut1890.id}} </h2>
    
	<hr> <jhi-alert-error></jhi-alert-error>
	
    <dl class = "row-md jh-entity-details">
	
        <dt> <span jhiTranslate = "sccmApp.rut1890.rut"> </span> </dt>
        
		<dd> <span> {{rut1890.rut}} </span> </dd>
		
        <dt> <span jhiTranslate = "sccmApp.rut1890.dv"> </span> </dt>
		
        <dd> <span> {{rut1890.dv}} </span> </dd>
	
		<dt> <span jhiTranslate = "sccmApp.cliente1890.nombre"> </span> </dt>
		
		<dd> <span> {{rut1890.cliente1890?.nombre}} </span> </dd>
					
		<dt> <span jhiTranslate = "sccmApp.cliente1890.nacionalidad"> </span> </dt>
		
		<dd> <span> {{rut1890.cliente1890?.nacionalidad}} </span> </dd>
					
		<dt> <span jhiTranslate = "sccmApp.cliente1890.impto35"> </span> </dt>
		
		<dd> <span> {{rut1890.cliente1890?.impto35}} </span> </dd>
					
		<dt> <span jhiTranslate = "sccmApp.cliente1890.direccion"> </span> </dt>
		
		<dd> <span> {{rut1890.cliente1890?.direccion}} </span> </dd>
					
		<dt> <span jhiTranslate = "sccmApp.cliente1890.comuna"> </span> </dt>
		
		<dd> <span> {{rut1890.cliente1890?.comuna}} </span> </dd>
					
		<dt> <span jhiTranslate = "sccmApp.cliente1890.ciudad"> </span> </dt>	
		
		<dd> <span> {{rut1890.cliente1890?.ciudad}} </span> </dd>
		
    </dl>

    <button type = "submit" (click) = "previousState()" class = "btn btn-info">
	
        <span class = "fa fa-arrow-left"></span>&nbsp;<span jhiTranslate = "entity.action.back"> </span>
		
    </button>
	
    <button type = "button" [routerLink] = "['/', { outlets: { popup: 'rut-1890/'+ rut1890.id + '/edit'} }]" replaceUrl = "true" class = "btn btn-primary">
        
		<span class = "fa fa-edit"> </span>&nbsp;<span jhiTranslate = "entity.action.edit"> </span>
		
    </button>
	
</div>