<div>
    
	<h2>
        <span jhiTranslate = "sccmApp.aprobacion.home.title"> Aprobacions </span>
        <span jhiTranslate = "sccmApp.aprobacion.home.subtitle.{{product}}"> Subtitle </span>
        
		<button class = "btn btn-primary float-right jh-create-entity create-aprobacion" 
		[routerLink] = "['/', { outlets: { popup: ['aprobacion-new', product] } }]" [disabled] = "!canUse"
        *jhiHasAnyAuthority = "[ROLE_SCCM_1890_ADMIN_PACTOS, ROLE_SCCM_1890_ADMIN_AHORRO, ROLE_SCCM_1890_ADMIN_DAP, ROLE_SCCM_1890_ADMIN_BYL]">
            
			<span class = "fa fa-plus"> </span>
            <span jhiTranslate = "sccmApp.aprobacion.home.createLabel"> </span>
			
        </button>		
    </h2>
	
    <jhi-alert> </jhi-alert>
    <div class = "row"> </div>
    
	<br/> <div class = "table-responsive" *ngIf = "aprobacions">
        
		<table class = "table table-striped">
            
			<thead>
				<tr>
					<th> <span jhiTranslate = "sccmApp.aprobacion.producto">Producto</span></th>
					<th> <span jhiTranslate = "sccmApp.aprobacion.usuario">Usuario</span></th>
					<th> <span jhiTranslate = "sccmApp.aprobacion.cuadraturaContable">Cuadratura Contable</span></th>
					<th> <span jhiTranslate = "sccmApp.aprobacion.totalesPagados" *ngIf="product == APPROVAL_PRODUCT_TYPE_BONOS_LETRAS">Totales Pagados</span>
						 <span jhiTranslate = "sccmApp.aprobacion.interesesPagados" *ngIf="product != APPROVAL_PRODUCT_TYPE_BONOS_LETRAS">Validacion Intereses Reales</span> </th>
					<th> <span jhiTranslate = "sccmApp.aprobacion.aprobacionProducto">Aprobacion Producto</span></th>
					<th> <span jhiTranslate = "sccmApp.aprobacion.comentarios">Comentarios</span></th>
					<th> <span jhiTranslate = "sccmApp.aprobacion.annoTributa">Anno Tributa</span></th>
					<th> <span jhiTranslate = "sccmApp.aprobacion.fechaUltimaModificacion">Fecha Ultima Modificacion</span></th>
					<th> </th>
				</tr>
            </thead>
            
			<tbody>
				
				<tr *ngFor = "let aprobacion of aprobacions ;trackBy: trackId">
					
					<td> {{aprobacion.producto}} </td>
					<td> {{aprobacion.usuario}} </td>
					<td jhiTranslate = "{{aprobacion.cuadraturaContable | approvedTextFromBoolean}}"> </td>
					<td jhiTranslate = "{{aprobacion.interesesPagados | approvedTextFromBoolean}}"> </td>
					<td jhiTranslate = "{{aprobacion.aprobacionProducto | approvedTextFromBoolean}}"> </td>
					<td> {{aprobacion.comentarios}} </td>
					<td> {{aprobacion.annoTributa.annoT}} </td>
					<td> {{aprobacion.fechaUltimaModificacion | date: PATTERN_DATE_SHORT}} </td>
					
					<td class = "text-right">
						
						<div class = "btn-group flex-btn-group-container">
							
							<button type = "submit" [routerLink] = "[aprobacion.id ]" class = "btn btn-info btn-sm" [disabled] = "!canUse">
								
								<span class = "fa fa-eye"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.view"> View </span>
								
							</button>
							
							<button type = "submit" replaceUrl = "true" class = "btn btn-primary btn-sm" [disabled] = "!canUse"
							[routerLink] = "['/', { outlets: { popup: 'aprobacion/'+ aprobacion.id + '/edit'} }]" >
								
								<span class = "fa fa-edit"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.edit"> Edit </span>
								
							</button>
							
							<button [disabled] = "!canUse" type = "submit" replaceUrl = "true" class="btn btn-danger btn-sm"
							[routerLink] = "['/', { outlets: { popup: 'aprobacion/'+ aprobacion.id + '/delete'} }]">
								
								<span class = "fa fa-trash"> </span>
								<span class = "d-none d-md-inline" jhiTranslate = "entity.action.delete"> </span>
								
							</button>
							
						</div>
						
					</td>
					
				</tr>
				
            </tbody>
			
        </table>
		
    </div>
		
	<div class = "" *ngIf = "flagResult">
        
		<div class = "{{classType}}">
		
            <a class = "close" aria-label = "close" (click) = "onAlertClose()">&times;</a>
            
			<strong>{{resultType}}</strong>{{resultMsg}}
			
        </div>
		
    </div>
	
</div>