<div *ngIf="aprobacion">
    <h2><span jhiTranslate="sccmApp.aprobacion.detail.title">Aprobacion</span> {{aprobacion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.aprobacion.producto">Producto</span></dt>
        <dd>
            <span>{{aprobacion.producto}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.aprobacion.usuario">Usuario</span></dt>
        <dd>
            <span>{{aprobacion.usuario}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.aprobacion.cuadraturaContable">Cuadratura Contable</span></dt>
        <dd>
            <span jhiTranslate="{{aprobacion.cuadraturaContable | approvedTextFromBoolean}}"></span>
        </dd>
        <dt>
            <span *ngIf="product == APPROVAL_PRODUCT_TYPE_BONOS_LETRAS" jhiTranslate="sccmApp.aprobacion.totalesPagados">totalesPagados</span></dt>
            <span *ngIf="product != APPROVAL_PRODUCT_TYPE_BONOS_LETRAS" jhiTranslate="sccmApp.aprobacion.interesesPagados">Intereses Pagados</span></dt>
        <dd>
            <span jhiTranslate="{{aprobacion.interesesPagados | approvedTextFromBoolean}}"></span>
        </dd>
        <dt><span jhiTranslate="sccmApp.aprobacion.aprobacionProducto">Aprobacion Producto</span></dt>
        <dd>
            <span jhiTranslate="{{aprobacion.aprobacionProducto | approvedTextFromBoolean}}"></span>
        </dd>
        <dt><span jhiTranslate="sccmApp.aprobacion.annoTributa">Anno Tributario</span></dt>
        <dd>
            <span>{{aprobacion.annoTributa.annoT}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.aprobacion.fechaUltimaModificacion">Fecha Ultima Modificacion</span></dt>
        <dd>
            <span>{{aprobacion.fechaUltimaModificacion | date: PATTERN_DATE_SHORT}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.aprobacion.comentarios">Comentarios</span></dt>
        <dd>
            <span>{{aprobacion.comentarios}}</span>
        </dd>
    </dl>

    <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/', { outlets: { popup: 'aprobacion/'+ aprobacion.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
