<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="myAprobacionLabel" jhiTranslate="sccmApp.aprobacion.home.createOrEditLabel">Create or edit a Aprobacion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.aprobacion.producto" for="field_producto">Producto</label>
            <input type="text" class="form-control" name="producto" disabled id="field_producto" [(ngModel)]="aprobacion.producto"/>
        </div>
        <!--<div class="form-group">-->
        <!--<label class="form-control-label" jhiTranslate="sccmApp.aprobacion.usuario" for="field_usuario">Usuario</label>-->
        <!--<input type="text" class="form-control" name="usuario" disabled id="field_usuario" [(ngModel)]="aprobacion.usuario"/>-->
        <!--</div>-->
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.aprobacion.cuadraturaContable" for="field_cuadraturaContable">Cuadratura Contable</label>
            <input type="checkbox" class="form-control" name="cuadraturaContable" id="field_cuadraturaContable" [(ngModel)]="aprobacion.cuadraturaContable"/>
        </div>
        <div class="form-group">
            <label *ngIf="product == APPROVAL_PRODUCT_TYPE_BONOS_LETRAS" class="form-control-label" jhiTranslate="sccmApp.aprobacion.totalesPagados"
                   for="field_interesesPagados">totalesPagados</label>
            <label *ngIf="product != APPROVAL_PRODUCT_TYPE_BONOS_LETRAS" class="form-control-label" jhiTranslate="sccmApp.aprobacion.interesesPagados"
                   for="field_interesesPagados">Intereses Pagados</label>
            <input type="checkbox" class="form-control" name="interesesPagados" id="field_interesesPagados" [(ngModel)]="aprobacion.interesesPagados"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.aprobacion.aprobacionProducto" for="field_aprobacionProducto">Aprobacion Producto</label>
            <input type="checkbox" class="form-control" name="aprobacionProducto" id="field_aprobacionProducto" [(ngModel)]="aprobacion.aprobacionProducto"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.aprobacion.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="aprobacion.annoTributa">
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === aprobacion.annoTributa?.id ? aprobacion.annoTributa : annoTributaOption"
                        *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.annoT}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.aprobacion.comentarios" for="field_comentarios">Comentarios</label>
            <span>({{aprobacion.comentarios ? aprobacion.comentarios.length : 0}}/500 caracteres)</span>
            <textarea maxlength="500" rows="4" class="form-control" name="comentarios" id="field_comentarios" [(ngModel)]="aprobacion.comentarios"></textarea>
        </div>
        <!--<div class="form-group">-->
        <!--<label class="form-control-label" jhiTranslate="sccmApp.aprobacion.fechaUltimaModificacion" for="field_fechaUltimaModificacion">Fecha Ultima Modificacion</label>-->
        <!--<div class="input-group">-->
        <!--<input id="field_fechaUltimaModificacion" type="text" class="form-control" name="fechaUltimaModificacion" ngbDatepicker-->
        <!--#fechaUltimaModificacionDp="ngbDatepicker" [(ngModel)]="aprobacion.fechaUltimaModificacion"/>-->
        <!--<span class="input-group-btn">-->
        <!--<button type="button" class="btn btn-secondary" (click)="fechaUltimaModificacionDp.toggle()"><i class="fa fa-calendar"></i></button>-->
        <!--</span>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
