<div>
    <h2>
        <span jhiTranslate="sccmApp.bonos.home.title">Bonos</span>
        <button class="btn btn-primary float-right jh-create-entity create-bonos" [routerLink]="['/', { outlets: { popup: ['bonos-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="sccmApp.bonos.home.createLabel">Create new Bonos</span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bonos">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="sccmApp.bonos.rut">Rut</span></th>
                <th><span jhiTranslate="sccmApp.bonos.dv">Dv</span></th>
                <th><span jhiTranslate="sccmApp.bonos.producto">Producto</span></th>
                <th><span jhiTranslate="sccmApp.bonos.moneda">Moneda</span></th>
                <th><span jhiTranslate="sccmApp.bonos.fechaPago">Fecha Pago</span></th>
                <th><span jhiTranslate="sccmApp.bonos.correlativo">Correlativo</span></th>
                <th><span jhiTranslate="sccmApp.bonos.fechaInv">Fecha Inv</span></th>
                <th><span jhiTranslate="sccmApp.bonos.folio">Folio</span></th>
                <th><span jhiTranslate="sccmApp.bonos.capital">Capital</span></th>
                <th><span jhiTranslate="sccmApp.bonos.capMon">Cap Mon</span></th>
                <th><span jhiTranslate="sccmApp.bonos.intNom">Int Nom</span></th>
                <th><span jhiTranslate="sccmApp.bonos.intReal">Int Real</span></th>
                <th><span jhiTranslate="sccmApp.bonos.monFi">Mon Fi</span></th>
                <th><span jhiTranslate="sccmApp.bonos.numGiro">Num Giro</span></th>
                <th><span jhiTranslate="sccmApp.bonos.codMon">Cod Mon</span></th>
                <th><span jhiTranslate="sccmApp.bonos.tipPlazo">Tip Plazo</span></th>
                <th><span jhiTranslate="sccmApp.bonos.monTasa">Mon Tasa</span></th>
                <th><span jhiTranslate="sccmApp.bonos.tasaEmi">Tasa Emi</span></th>
                <th><span jhiTranslate="sccmApp.bonos.nomCli">Nom Cli</span></th>
                <th><span jhiTranslate="sccmApp.bonos.codInst">Cod Inst</span></th>
                <th><span jhiTranslate="sccmApp.bonos.serieInst">Serie Inst</span></th>
                <th><span jhiTranslate="sccmApp.bonos.perTasa">Per Tasa</span></th>
                <th><span jhiTranslate="sccmApp.bonos.tipoInt">Tipo Int</span></th>
                <th><span jhiTranslate="sccmApp.bonos.codTipoInt">Cod Tipo Int</span></th>
                <th><span jhiTranslate="sccmApp.bonos.fecVcto">Fec Vcto</span></th>
                <th><span jhiTranslate="sccmApp.bonos.onp">Onp</span></th>
                <th><span jhiTranslate="sccmApp.bonos.estCta">Est Cta</span></th>
                <th><span jhiTranslate="sccmApp.bonos.fecCont">Fec Cont</span></th>
                <th><span jhiTranslate="sccmApp.bonos.bipersonal">Bipersonal</span></th>
                <th><span jhiTranslate="sccmApp.bonos.reajustabilidad">Reajustabilidad</span></th>
                <th><span jhiTranslate="sccmApp.bonos.plazo">Plazo</span></th>
                <th><span jhiTranslate="sccmApp.bonos.indPago">Ind Pago</span></th>
                <th><span jhiTranslate="sccmApp.bonos.extranjero">Extranjero</span></th>
                <th><span jhiTranslate="sccmApp.bonos.impExt">Imp Ext</span></th>
                <th><span jhiTranslate="sccmApp.bonos.numCupones">Num Cupones</span></th>
                <th><span jhiTranslate="sccmApp.bonos.numCuponPago">Num Cupon Pago</span></th>
                <th><span jhiTranslate="sccmApp.bonos.ctaCap">Cta Cap</span></th>
                <th><span jhiTranslate="sccmApp.bonos.ctaInt">Cta Int</span></th>
                <th><span jhiTranslate="sccmApp.bonos.ctaReaj">Cta Reaj</span></th>
                <th><span jhiTranslate="sccmApp.bonos.origen">Origen</span></th>
                <th><span jhiTranslate="sccmApp.bonos.annoTributa">Anno Tributa</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bonos of bonos ;trackBy: trackId">
                <td><a [routerLink]="['../bonos', bonos.id ]">{{bonos.id}}</a></td>
                <td>{{bonos.rut}}</td>
                <td>{{bonos.dv}}</td>
                <td>{{bonos.producto}}</td>
                <td>{{bonos.moneda}}</td>
                <td>{{bonos.fechaPago | date:'mediumDate'}}</td>
                <td>{{bonos.correlativo}}</td>
                <td>{{bonos.fechaInv | date:'mediumDate'}}</td>
                <td>{{bonos.folio}}</td>
                <td>{{bonos.capital}}</td>
                <td>{{bonos.capMon}}</td>
                <td>{{bonos.intNom}}</td>
                <td>{{bonos.intReal}}</td>
                <td>{{bonos.monFi}}</td>
                <td>{{bonos.numGiro}}</td>
                <td>{{bonos.codMon}}</td>
                <td>{{bonos.tipPlazo}}</td>
                <td>{{bonos.monTasa}}</td>
                <td>{{bonos.tasaEmi}}</td>
                <td>{{bonos.nomCli}}</td>
                <td>{{bonos.codInst}}</td>
                <td>{{bonos.serieInst}}</td>
                <td>{{bonos.perTasa}}</td>
                <td>{{bonos.tipoInt}}</td>
                <td>{{bonos.codTipoInt}}</td>
                <td>{{bonos.fecVcto | date:'mediumDate'}}</td>
                <td>{{bonos.onp}}</td>
                <td>{{bonos.estCta}}</td>
                <td>{{bonos.fecCont | date:'mediumDate'}}</td>
                <td>{{bonos.bipersonal}}</td>
                <td>{{bonos.reajustabilidad}}</td>
                <td>{{bonos.plazo}}</td>
                <td>{{bonos.indPago}}</td>
                <td>{{bonos.extranjero}}</td>
                <td>{{bonos.impExt}}</td>
                <td>{{bonos.numCupones}}</td>
                <td>{{bonos.numCuponPago}}</td>
                <td>{{bonos.ctaCap}}</td>
                <td>{{bonos.ctaInt}}</td>
                <td>{{bonos.ctaReaj}}</td>
                <td>{{bonos.origen}}</td>
                <td>
                    <div *ngIf="bonos.annoTributa">
                        <a [routerLink]="['../anno-tributa', bonos.annoTributa?.id ]">{{bonos.annoTributa?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [routerLink]="['../bonos', bonos.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'bonos/'+ bonos.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                            <span class="fa fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'bonos/'+ bonos.id + '/delete'} }]" replaceUrl="true" class="btn btn-danger btn-sm">
                            <span class="fa fa-trash"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
