<div *ngIf="bonos">
    <h2><span jhiTranslate="sccmApp.bonos.detail.title">Bonos</span> {{bonos.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.bonos.rut">Rut</span></dt>
        <dd>
            <span>{{bonos.rut}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.dv">Dv</span></dt>
        <dd>
            <span>{{bonos.dv}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.producto">Producto</span></dt>
        <dd>
            <span>{{bonos.producto}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.moneda">Moneda</span></dt>
        <dd>
            <span>{{bonos.moneda}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.fechaPago">Fecha Pago</span></dt>
        <dd>
            <span>{{bonos.fechaPago | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.correlativo">Correlativo</span></dt>
        <dd>
            <span>{{bonos.correlativo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.fechaInv">Fecha Inv</span></dt>
        <dd>
            <span>{{bonos.fechaInv | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.folio">Folio</span></dt>
        <dd>
            <span>{{bonos.folio}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.capital">Capital</span></dt>
        <dd>
            <span>{{bonos.capital}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.capMon">Cap Mon</span></dt>
        <dd>
            <span>{{bonos.capMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.intNom">Int Nom</span></dt>
        <dd>
            <span>{{bonos.intNom}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.intReal">Int Real</span></dt>
        <dd>
            <span>{{bonos.intReal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.monFi">Mon Fi</span></dt>
        <dd>
            <span>{{bonos.monFi}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.numGiro">Num Giro</span></dt>
        <dd>
            <span>{{bonos.numGiro}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.codMon">Cod Mon</span></dt>
        <dd>
            <span>{{bonos.codMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.tipPlazo">Tip Plazo</span></dt>
        <dd>
            <span>{{bonos.tipPlazo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.monTasa">Mon Tasa</span></dt>
        <dd>
            <span>{{bonos.monTasa}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.tasaEmi">Tasa Emi</span></dt>
        <dd>
            <span>{{bonos.tasaEmi}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.nomCli">Nom Cli</span></dt>
        <dd>
            <span>{{bonos.nomCli}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.codInst">Cod Inst</span></dt>
        <dd>
            <span>{{bonos.codInst}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.serieInst">Serie Inst</span></dt>
        <dd>
            <span>{{bonos.serieInst}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.perTasa">Per Tasa</span></dt>
        <dd>
            <span>{{bonos.perTasa}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.tipoInt">Tipo Int</span></dt>
        <dd>
            <span>{{bonos.tipoInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.codTipoInt">Cod Tipo Int</span></dt>
        <dd>
            <span>{{bonos.codTipoInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.fecVcto">Fec Vcto</span></dt>
        <dd>
            <span>{{bonos.fecVcto | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.onp">Onp</span></dt>
        <dd>
            <span>{{bonos.onp}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.estCta">Est Cta</span></dt>
        <dd>
            <span>{{bonos.estCta}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.fecCont">Fec Cont</span></dt>
        <dd>
            <span>{{bonos.fecCont | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.bipersonal">Bipersonal</span></dt>
        <dd>
            <span>{{bonos.bipersonal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.reajustabilidad">Reajustabilidad</span></dt>
        <dd>
            <span>{{bonos.reajustabilidad}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.plazo">Plazo</span></dt>
        <dd>
            <span>{{bonos.plazo}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.indPago">Ind Pago</span></dt>
        <dd>
            <span>{{bonos.indPago}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.extranjero">Extranjero</span></dt>
        <dd>
            <span>{{bonos.extranjero}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.impExt">Imp Ext</span></dt>
        <dd>
            <span>{{bonos.impExt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.numCupones">Num Cupones</span></dt>
        <dd>
            <span>{{bonos.numCupones}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.numCuponPago">Num Cupon Pago</span></dt>
        <dd>
            <span>{{bonos.numCuponPago}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.ctaCap">Cta Cap</span></dt>
        <dd>
            <span>{{bonos.ctaCap}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.ctaInt">Cta Int</span></dt>
        <dd>
            <span>{{bonos.ctaInt}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.ctaReaj">Cta Reaj</span></dt>
        <dd>
            <span>{{bonos.ctaReaj}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.origen">Origen</span></dt>
        <dd>
            <span>{{bonos.origen}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.bonos.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="bonos.annoTributa">
                <a [routerLink]="['/anno-tributa', bonos.annoTributa?.id]">{{bonos.annoTributa?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/', { outlets: { popup: 'bonos/'+ bonos.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
