<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mybonosLabel" jhiTranslate="sccmApp.bonos.home.createOrEditLabel">Create or edit a Bonos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bonos.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="bonos.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.rut" for="field_rut">Rut</label>
            <input type="number" class="form-control" name="rut" id="field_rut" [(ngModel)]="bonos.rut"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.dv" for="field_dv">Dv</label>
            <input type="text" class="form-control" name="dv" id="field_dv" [(ngModel)]="bonos.dv"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.producto" for="field_producto">Producto</label>
            <input type="number" class="form-control" name="producto" id="field_producto" [(ngModel)]="bonos.producto"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.moneda" for="field_moneda">Moneda</label>
            <input type="number" class="form-control" name="moneda" id="field_moneda" [(ngModel)]="bonos.moneda"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.fechaPago" for="field_fechaPago">Fecha Pago</label>
            <div class="input-group">
                <input id="field_fechaPago" type="text" class="form-control" name="fechaPago" ngbDatepicker #fechaPagoDp="ngbDatepicker" [(ngModel)]="bonos.fechaPago"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaPagoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.correlativo" for="field_correlativo">Correlativo</label>
            <input type="number" class="form-control" name="correlativo" id="field_correlativo" [(ngModel)]="bonos.correlativo"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.fechaInv" for="field_fechaInv">Fecha Inv</label>
            <div class="input-group">
                <input id="field_fechaInv" type="text" class="form-control" name="fechaInv" ngbDatepicker #fechaInvDp="ngbDatepicker" [(ngModel)]="bonos.fechaInv"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaInvDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.folio" for="field_folio">Folio</label>
            <input type="text" class="form-control" name="folio" id="field_folio" [(ngModel)]="bonos.folio"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.capital" for="field_capital">Capital</label>
            <input type="number" class="form-control" name="capital" id="field_capital" [(ngModel)]="bonos.capital"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.capMon" for="field_capMon">Cap Mon</label>
            <input type="number" class="form-control" name="capMon" id="field_capMon" [(ngModel)]="bonos.capMon"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.intNom" for="field_intNom">Int Nom</label>
            <input type="number" class="form-control" name="intNom" id="field_intNom" [(ngModel)]="bonos.intNom"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.intReal" for="field_intReal">Int Real</label>
            <input type="number" class="form-control" name="intReal" id="field_intReal" [(ngModel)]="bonos.intReal"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.monFi" for="field_monFi">Mon Fi</label>
            <input type="number" class="form-control" name="monFi" id="field_monFi" [(ngModel)]="bonos.monFi"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.numGiro" for="field_numGiro">Num Giro</label>
            <input type="number" class="form-control" name="numGiro" id="field_numGiro" [(ngModel)]="bonos.numGiro"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.codMon" for="field_codMon">Cod Mon</label>
            <input type="number" class="form-control" name="codMon" id="field_codMon" [(ngModel)]="bonos.codMon"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.tipPlazo" for="field_tipPlazo">Tip Plazo</label>
            <input type="text" class="form-control" name="tipPlazo" id="field_tipPlazo"
                   [(ngModel)]="bonos.tipPlazo"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.monTasa" for="field_monTasa">Mon Tasa</label>
            <input type="number" class="form-control" name="monTasa" id="field_monTasa"
                   [(ngModel)]="bonos.monTasa"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.tasaEmi" for="field_tasaEmi">Tasa Emi</label>
            <input type="number" class="form-control" name="tasaEmi" id="field_tasaEmi"
                   [(ngModel)]="bonos.tasaEmi"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.nomCli" for="field_nomCli">Nom Cli</label>
            <input type="text" class="form-control" name="nomCli" id="field_nomCli"
                   [(ngModel)]="bonos.nomCli"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.codInst" for="field_codInst">Cod Inst</label>
            <input type="number" class="form-control" name="codInst" id="field_codInst"
                   [(ngModel)]="bonos.codInst"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.serieInst" for="field_serieInst">Serie Inst</label>
            <input type="text" class="form-control" name="serieInst" id="field_serieInst"
                   [(ngModel)]="bonos.serieInst"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.perTasa" for="field_perTasa">Per Tasa</label>
            <input type="number" class="form-control" name="perTasa" id="field_perTasa"
                   [(ngModel)]="bonos.perTasa"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.tipoInt" for="field_tipoInt">Tipo Int</label>
            <input type="text" class="form-control" name="tipoInt" id="field_tipoInt"
                   [(ngModel)]="bonos.tipoInt"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.codTipoInt" for="field_codTipoInt">Cod Tipo Int</label>
            <input type="number" class="form-control" name="codTipoInt" id="field_codTipoInt"
                   [(ngModel)]="bonos.codTipoInt"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.fecVcto" for="field_fecVcto">Fec Vcto</label>
            <div class="input-group">
                <input id="field_fecVcto" type="text" class="form-control" name="fecVcto" ngbDatepicker #fecVctoDp="ngbDatepicker" [(ngModel)]="bonos.fecVcto"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fecVctoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.onp" for="field_onp">Onp</label>
            <input type="text" class="form-control" name="onp" id="field_onp"
                   [(ngModel)]="bonos.onp"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.estCta" for="field_estCta">Est Cta</label>
            <input type="text" class="form-control" name="estCta" id="field_estCta"
                   [(ngModel)]="bonos.estCta"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.fecCont" for="field_fecCont">Fec Cont</label>
            <div class="input-group">
                <input id="field_fecCont" type="text" class="form-control" name="fecCont" ngbDatepicker #fecContDp="ngbDatepicker" [(ngModel)]="bonos.fecCont"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fecContDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.bipersonal" for="field_bipersonal">Bipersonal</label>
            <input type="text" class="form-control" name="bipersonal" id="field_bipersonal"
                   [(ngModel)]="bonos.bipersonal"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.reajustabilidad" for="field_reajustabilidad">Reajustabilidad</label>
            <input type="text" class="form-control" name="reajustabilidad" id="field_reajustabilidad"
                   [(ngModel)]="bonos.reajustabilidad"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.plazo" for="field_plazo">Plazo</label>
            <input type="number" class="form-control" name="plazo" id="field_plazo"
                   [(ngModel)]="bonos.plazo"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.indPago" for="field_indPago">Ind Pago</label>
            <input type="text" class="form-control" name="indPago" id="field_indPago"
                   [(ngModel)]="bonos.indPago"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.extranjero" for="field_extranjero">Extranjero</label>
            <input type="text" class="form-control" name="extranjero" id="field_extranjero"
                   [(ngModel)]="bonos.extranjero"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.impExt" for="field_impExt">Imp Ext</label>
            <input type="number" class="form-control" name="impExt" id="field_impExt"
                   [(ngModel)]="bonos.impExt"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.numCupones" for="field_numCupones">Num Cupones</label>
            <input type="number" class="form-control" name="numCupones" id="field_numCupones"
                   [(ngModel)]="bonos.numCupones"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.numCuponPago" for="field_numCuponPago">Num Cupon Pago</label>
            <input type="number" class="form-control" name="numCuponPago" id="field_numCuponPago"
                   [(ngModel)]="bonos.numCuponPago"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.ctaCap" for="field_ctaCap">Cta Cap</label>
            <input type="number" class="form-control" name="ctaCap" id="field_ctaCap"
                   [(ngModel)]="bonos.ctaCap"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.ctaInt" for="field_ctaInt">Cta Int</label>
            <input type="number" class="form-control" name="ctaInt" id="field_ctaInt"
                   [(ngModel)]="bonos.ctaInt"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.ctaReaj" for="field_ctaReaj">Cta Reaj</label>
            <input type="number" class="form-control" name="ctaReaj" id="field_ctaReaj"
                   [(ngModel)]="bonos.ctaReaj"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.origen" for="field_origen">Origen</label>
            <input type="text" class="form-control" name="origen" id="field_origen"
                   [(ngModel)]="bonos.origen"/>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.bonos.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="bonos.annoTributa">
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === bonos.annoTributa?.id ? bonos.annoTributa : annoTributaOption"
                        *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.id}}
                </option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
