<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFutLabel" jhiTranslate="sccmApp.fut.home.createOrEditLabel">Create or edit a Fut</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!fut.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="fut.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.fut.valor" for="field_valor">Valor</label>
            <input type="number" class="form-control" name="valor" id="field_valor"
                [(ngModel)]="fut.valor"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.fut.credImpCategoria" for="field_credImpCategoria">Cred Imp Categoria</label>
            <input type="number" class="form-control" name="credImpCategoria" id="field_credImpCategoria"
                [(ngModel)]="fut.credImpCategoria"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.fut.annoTributa" for="field_annoTributa">Anno Tributa</label>
            <select class="form-control" id="field_annoTributa" name="annoTributa" [(ngModel)]="fut.annoTributa" >
                <option [ngValue]="null"></option>
                <option [ngValue]="annoTributaOption.id === fut.annoTributa?.id ? fut.annoTributa : annoTributaOption" *ngFor="let annoTributaOption of annotributas; trackBy: trackAnnoTributaById">{{annoTributaOption.annoT}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.fut.instrumento" for="field_instrumento">Instrumento</label>
            <select class="form-control" id="field_instrumento" name="instrumento" [(ngModel)]="fut.instrumento" >
                <option [ngValue]="null"></option>
                <option [ngValue]="instrumentoOption.id === fut.instrumento?.id ? fut.instrumento : instrumentoOption" *ngFor="let instrumentoOption of instrumentos; trackBy: trackInstrumentoById">{{instrumentoOption.nombreInstrumento}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
