
<div *ngIf="fut">
    <h2><span jhiTranslate="sccmApp.fut.detail.title">Fut</span> {{fut.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.fut.valor">Valor</span></dt>
        <dd>
            <span>{{fut.valor}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.fut.credImpCategoria">Cred Imp Categoria</span></dt>
        <dd>
            <span>{{fut.credImpCategoria}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.fut.annoTributa">Anno Tributa</span></dt>
        <dd>
            <div *ngIf="fut.annoTributa">
                <a [routerLink]="['/anno-tributa', fut.annoTributa?.id]">{{fut.annoTributa?.annoT}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="sccmApp.fut.instrumento">Instrumento</span></dt>
        <dd>
            <div *ngIf="fut.instrumento">
                <a [routerLink]="['/instrumento', fut.instrumento?.id]">{{fut.instrumento?.nombreInstrumento}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'fut/'+ fut.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
