<div>
    <h2>
        <span jhiTranslate="sccmApp.fut.home.title">Futs</span>
        <button class="btn btn-primary float-right jh-create-entity create-fut" [routerLink]="['/', { outlets: { popup: ['fut-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="sccmApp.fut.home.createLabel">Create new Fut</span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <div class="row">
        <div class="form-group col-lg-3">
            <span class="text-primary-sccm">Seleccione Año Tributario</span>
            <select class="form-control" #idAnnoSelected>
                <option *ngFor="let anno of annosTributarios;" value="{{anno.id}}">
                    {{anno.annoT}}
                </option>
            </select>
        </div>
        <div class="form-group col-lg-3">
            <button style="margin-top: 18px;" class="btn btn-primary" (click)="filterByAnooTributario(idAnnoSelected)">
                <span class="fab fa-searchengin"></span> <span>Buscar</span>
            </button>
        </div>
    </div>
    <br/>

    <div class="table-responsive" *ngIf="futFlag">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="sccmApp.fut.valor">Valor</span></th>
                <th><span jhiTranslate="sccmApp.fut.credImpCategoria">Cred Imp Categoria</span></th>
                <th><span jhiTranslate="sccmApp.fut.instrumento">Instrumento</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fut of futs ;trackBy: trackId">
                <td>{{fut.valor}}</td>
                <td>{{fut.credImpCategoria}}</td>
                <td>
                    <div *ngFor="let instrument of instrumentsList">
                        <div *ngIf="fut.instrumento.id === instrument.id">
                            {{instrument.nombreInstrumento}}
                        </div>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../fut', fut.id ]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fut/'+ fut.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-secondary btn-sm text-white">
                            <span class="fas fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fut/'+ fut.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-trash-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive" *ngIf="futFlagSinData">
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error: </strong> No existen datos para año tributario seleccionado.
        </div>
    </div>
</div>

