<div>
    <h2>
        <span jhiTranslate="sccmApp.tablaMoneda.home.title">Tabla Monedas</span>
        <button class="btn btn-primary float-right jh-create-entity create-tabla-moneda" [routerLink]="['/', { outlets: { popup: ['tabla-moneda-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.tablaMoneda.home.createLabel">
            Create new Tabla Moneda
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tablaMonedas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.tablaMoneda.codMon">Cod Mon</span></th>
            <th><span jhiTranslate="sccmApp.tablaMoneda.glosa">Glosa</span></th>
            <th><span jhiTranslate="sccmApp.tablaMoneda.moneda">Moneda</span></th>
            <th><span jhiTranslate="sccmApp.tablaMoneda.simbolo">Simbolo</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tablaMoneda of tablaMonedas ;trackBy: trackId">
                <td><a [routerLink]="['../tabla-moneda', tablaMoneda.id ]">{{tablaMoneda.id}}</a></td>
                <td>{{tablaMoneda.codMon}}</td>
                <td>{{tablaMoneda.glosa}}</td>
                <td>{{tablaMoneda.moneda}}</td>
                <td>{{tablaMoneda.simbolo}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tabla-moneda', tablaMoneda.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tabla-moneda/'+ tablaMoneda.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tabla-moneda/'+ tablaMoneda.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-trash"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
