<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTablaMonedaLabel" jhiTranslate="sccmApp.tablaMoneda.home.createOrEditLabel">Create or edit a Tabla Moneda</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tablaMoneda.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tablaMoneda.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.tablaMoneda.codMon" for="field_codMon">Cod Mon</label>
            <input type="number" class="form-control" name="codMon" id="field_codMon"
                [(ngModel)]="tablaMoneda.codMon"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.tablaMoneda.glosa" for="field_glosa">Glosa</label>
            <input type="text" class="form-control" name="glosa" id="field_glosa"
                [(ngModel)]="tablaMoneda.glosa"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.tablaMoneda.moneda" for="field_moneda">Moneda</label>
            <input type="number" class="form-control" name="moneda" id="field_moneda"
                [(ngModel)]="tablaMoneda.moneda"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.tablaMoneda.simbolo" for="field_simbolo">Simbolo</label>
            <input type="text" class="form-control" name="simbolo" id="field_simbolo"
                [(ngModel)]="tablaMoneda.simbolo"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
