
<div *ngIf="tablaMoneda">
    <h2><span jhiTranslate="sccmApp.tablaMoneda.detail.title">Tabla Moneda</span> {{tablaMoneda.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.tablaMoneda.codMon">Cod Mon</span></dt>
        <dd>
            <span>{{tablaMoneda.codMon}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.tablaMoneda.glosa">Glosa</span></dt>
        <dd>
            <span>{{tablaMoneda.glosa}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.tablaMoneda.moneda">Moneda</span></dt>
        <dd>
            <span>{{tablaMoneda.moneda}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.tablaMoneda.simbolo">Simbolo</span></dt>
        <dd>
            <span>{{tablaMoneda.simbolo}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tabla-moneda/'+ tablaMoneda.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
