<div>
    <h2>
        <span jhiTranslate="sccmApp.datosFijos.home.title">Datos Fijos</span>
        <button class="btn btn-primary float-right jh-create-entity create-datos-fijos" [routerLink]="['/', { outlets: { popup: ['datos-fijos-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.datosFijos.home.createLabel">
            Create new Datos Fijos
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="datosFijos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.datosFijos.nombreBanco">Nombre Banco</span></th>
            <th><span jhiTranslate="sccmApp.datosFijos.rutBanco">Rut Banco</span></th>
            <th><span jhiTranslate="sccmApp.datosFijos.direccion">Direccion</span></th>
            <th><span jhiTranslate="sccmApp.datosFijos.giro">Giro</span></th>
            <th><span jhiTranslate="sccmApp.datosFijos.tipoSocAnonima">Tipo Soc Anonima</span></th>
            <th><span jhiTranslate="sccmApp.datosFijos.transaccionBolsa">Transaccion Bolsa</span></th>
            <th><span jhiTranslate="sccmApp.datosFijos.imagen">Imagen</span></th>
            <th><span jhiTranslate="sccmApp.datosFijos.rutaExportacion">Ruta Exportacion</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let datosFijos of datosFijos ;trackBy: trackId">
                <td><a [routerLink]="['../datos-fijos', datosFijos.id ]">{{datosFijos.id}}</a></td>
                <td>{{datosFijos.nombreBanco}}</td>
                <td>{{datosFijos.rutBanco}}</td>
                <td>{{datosFijos.direccion}}</td>
                <td>{{datosFijos.giro}}</td>
                <td>{{datosFijos.tipoSocAnonima}}</td>
                <td>{{datosFijos.transaccionBolsa}}</td>
                <td>
                    <a *ngIf="datosFijos.imagen" (click)="openFile(datosFijos.imagenContentType, datosFijos.imagen)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="datosFijos.imagen">{{datosFijos.imagenContentType}}, {{byteSize(datosFijos.imagen)}}</span>
                </td>
                <td>{{datosFijos.rutaExportacion}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../datos-fijos', datosFijos.id ]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'datos-fijos/'+ datosFijos.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-secondary btn-sm text-white">
                            <span class="fas fa-edit"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'datos-fijos/'+ datosFijos.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fas fa-trash-alt"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
