
<div *ngIf="datosFijos">
    <h2><span jhiTranslate="sccmApp.datosFijos.detail.title">Datos Fijos</span> {{datosFijos.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.datosFijos.nombreBanco">Nombre Banco</span></dt>
        <dd>
            <span>{{datosFijos.nombreBanco}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.datosFijos.rutBanco">Rut Banco</span></dt>
        <dd>
            <span>{{datosFijos.rutBanco}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.datosFijos.direccion">Direccion</span></dt>
        <dd>
            <span>{{datosFijos.direccion}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.datosFijos.giro">Giro</span></dt>
        <dd>
            <span>{{datosFijos.giro}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.datosFijos.tipoSocAnonima">Tipo Soc Anonima</span></dt>
        <dd>
            <span>{{datosFijos.tipoSocAnonima}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.datosFijos.transaccionBolsa">Transaccion Bolsa</span></dt>
        <dd>
            <span>{{datosFijos.transaccionBolsa}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.datosFijos.imagen">Imagen</span></dt>
        <dd>
            <div *ngIf="datosFijos.imagen">
                <a (click)="openFile(datosFijos.imagenContentType, datosFijos.imagen)" jhiTranslate="entity.action.open">open</a>
                {{datosFijos.imagenContentType}}, {{byteSize(datosFijos.imagen)}}
            </div>
        </dd>
        <dt><span jhiTranslate="sccmApp.datosFijos.rutaExportacion">Ruta Exportacion</span></dt>
        <dd>
            <span>{{datosFijos.rutaExportacion}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'datos-fijos/'+ datosFijos.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fas fa-edit"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
