<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDatosFijosLabel" jhiTranslate="sccmApp.datosFijos.home.createOrEditLabel">Create or edit a Datos Fijos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!datosFijos.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="datosFijos.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.datosFijos.nombreBanco" for="field_nombreBanco">Nombre Banco</label>
            <input type="text" class="form-control" name="nombreBanco" id="field_nombreBanco"
                [(ngModel)]="datosFijos.nombreBanco"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.datosFijos.rutBanco" for="field_rutBanco">Rut Banco</label>
            <input type="text" class="form-control" name="rutBanco" id="field_rutBanco"
                [(ngModel)]="datosFijos.rutBanco"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.datosFijos.direccion" for="field_direccion">Direccion</label>
            <input type="text" class="form-control" name="direccion" id="field_direccion"
                [(ngModel)]="datosFijos.direccion"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.datosFijos.giro" for="field_giro">Giro</label>
            <input type="text" class="form-control" name="giro" id="field_giro"
                [(ngModel)]="datosFijos.giro"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.datosFijos.tipoSocAnonima" for="field_tipoSocAnonima">Tipo Soc Anonima</label>
            <input type="text" class="form-control" name="tipoSocAnonima" id="field_tipoSocAnonima"
                [(ngModel)]="datosFijos.tipoSocAnonima"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.datosFijos.transaccionBolsa" for="field_transaccionBolsa">Transaccion Bolsa</label>
            <input type="checkbox" class="form-control" name="transaccionBolsa" id="field_transaccionBolsa"
                [(ngModel)]="datosFijos.transaccionBolsa"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.datosFijos.imagen" for="field_imagen">Imagen</label>
            <div>
                <div *ngIf="datosFijos.imagen" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(datosFijos.imagenContentType, datosFijos.imagen)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{datosFijos.imagenContentType}}, {{byteSize(datosFijos.imagen)}}</span>
                    <button type="button" (click)="datosFijos.imagen=null;datosFijos.imagenContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_imagen" (change)="setFileData($event, datosFijos, 'imagen', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="imagen" id="field_imagen"
                [(ngModel)]="datosFijos.imagen"  />
            <input type="hidden" class="form-control" name="imagenContentType" id="field_imagenContentType"
                [(ngModel)]="datosFijos.imagenContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.datosFijos.rutaExportacion" for="field_rutaExportacion">Ruta Exportacion</label>
            <input type="text" class="form-control" name="rutaExportacion" id="field_rutaExportacion"
                [(ngModel)]="datosFijos.rutaExportacion"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
