<form name="editForm" role="form" novalidate>
    <div>
        <h2>
            <span jhiTranslate="sccmApp.entity-changes-audit.home.title"></span>
        </h2>
        <jhi-alert></jhi-alert>
        <div class="row">
        </div>
        <div class="row" *ngIf="tableNames">
            <div class="form-group col-lg-3">
                <span class="text-primary-sccm">Seleccione la Tabla *</span>
                <select class="form-control" #tableNameSelected>
                    <option *ngFor="let table of tableNames;" value="{{table.value}}">
                        {{table.displayName}}
                    </option>
                </select>
            </div>
            <div class="form-group col-lg-3">
                <label style="margin-bottom: 0px;" class="form-control-label" jhiTranslate="sccmApp.entity-changes-audit.startDate" for="field_startDate">Fecha de Inicio</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker #startDateDp="ngbDatepicker" [(ngModel)]="startDate"/>
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
                </div>
            </div>
            <div class="form-group col-lg-3">
                <label style="margin-bottom: 0px;" class="form-control-label" jhiTranslate="sccmApp.entity-changes-audit.endDate" for="field_endDate">Fecha de Fin</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker #endDateDp="ngbDatepicker" [(ngModel)]="endDate"/>
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
                </div>
            </div>
            <div class="form-group col-lg-1">
                <button style="margin-top: 18px;" class="btn btn-primary" (click)="loadAllByTableName(tableNameSelected)"><span
                    class="fab fa-searchengin"></span> <span>Buscar</span></button>
            </div>
            <div class="form-group col-lg-1">
                <button style="margin-top: 18px;" class="btn btn-primary" (click)="clearDates()"><span
                    class="fas fa-eraser"></span> <span>Limpiar</span></button>
            </div>
        </div>
        <br/>
        <div class="table-responsive" *ngIf="entityChangesAuditFlag">
            <table class="table table-striped">
                <thead>
                <tr>
                    <!--<th *ngFor="let col of columnNames">{{col}}</th>-->
                    <th *ngFor="let col of columnNames"><span jhiTranslate="sccmApp.entity-changes-audit.columns.{{col}}"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let element of entityChangesAudit">
                    <td *ngFor="let col of columnNames">{{element[col]}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive" *ngIf="entityChangesAuditFlagSinData">
            <div class="alert alert-danger alert-dismissible">
                No existen datos de auditoría.
            </div>
        </div>
    </div>
</form>
