<div>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <div class="row" *ngIf="auditServiceAccessesFlag">
        <div class="col-lg-9">
            <h2>
                <span jhiTranslate="sccmApp.auditServiceAccess.home.title">Audit Service Accesses</span>
            </h2>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-success float-right jh-create-entity" (click)="generateExcel2()">
                <span class="fas fa-file-excel"></span>
                <span jhiTranslate="entity.action.exportToExcel">Export to Excel</span>
            </button>
        </div>
    </div>
    <div class="table-responsive"  *ngIf="auditServiceAccessesFlag">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="sccmApp.auditServiceAccess.timestamp">Timestamp</span></th>
                <th><span jhiTranslate="sccmApp.auditServiceAccess.method">Method</span></th>
                <th><span jhiTranslate="sccmApp.auditServiceAccess.path">Path</span></th>
                <th><span jhiTranslate="sccmApp.auditServiceAccess.remoteAddress">Remote Address</span></th>
                <th><span jhiTranslate="sccmApp.auditServiceAccess.timeTaken">Time Taken</span></th>
                <th><span jhiTranslate="sccmApp.auditServiceAccess.userPrincipal">User Principal</span></th>
                <th><span jhiTranslate="sccmApp.auditServiceAccess.remoteUser">Remote User</span></th>
                <th><span jhiTranslate="sccmApp.auditServiceAccess.query">Query</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let auditServiceAccess of auditServiceAccesses ;trackBy: trackId">
                <td>{{auditServiceAccess.timestamp | date:PATTERN_DATE_TIME_EXTENDED}}</td>
                <td>{{auditServiceAccess.method}}</td>
                <td>{{auditServiceAccess.path}}</td>
                <td>{{auditServiceAccess.remoteAddress}}</td>
                <td>{{auditServiceAccess.timeTaken}}</td>
                <td>{{auditServiceAccess.userPrincipal}}</td>
                <td>{{auditServiceAccess.remoteUser}}</td>
                <td>{{auditServiceAccess.query}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="auditServiceAccesses && auditServiceAccesses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>

    <div class="table-responsive" *ngIf="auditServiceAccessesFlagSinData">
        <div class="alert alert-danger alert-dismissible">
            No existen datos de auditoría.
        </div>
    </div>
</div>
