<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAuditServiceAccessLabel" jhiTranslate="sccmApp.auditServiceAccess.home.createOrEditLabel">Create or edit a Audit Service Access</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!auditServiceAccess.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="auditServiceAccess.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.auditServiceAccess.timestamp" for="field_timestamp">Timestamp</label>
            <div class="d-flex">
                <input id="field_timestamp" type="datetime-local" class="form-control" name="timestamp" [(ngModel)]="auditServiceAccess.timestamp"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.auditServiceAccess.method" for="field_method">Method</label>
            <input type="text" class="form-control" name="method" id="field_method"
                [(ngModel)]="auditServiceAccess.method"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.auditServiceAccess.path" for="field_path">Path</label>
            <input type="text" class="form-control" name="path" id="field_path"
                [(ngModel)]="auditServiceAccess.path"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.auditServiceAccess.remoteAddress" for="field_remoteAddress">Remote Address</label>
            <input type="text" class="form-control" name="remoteAddress" id="field_remoteAddress"
                [(ngModel)]="auditServiceAccess.remoteAddress"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.auditServiceAccess.timeTaken" for="field_timeTaken">Time Taken</label>
            <input type="number" class="form-control" name="timeTaken" id="field_timeTaken"
                [(ngModel)]="auditServiceAccess.timeTaken"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.auditServiceAccess.userPrincipal" for="field_userPrincipal">User Principal</label>
            <input type="text" class="form-control" name="userPrincipal" id="field_userPrincipal"
                [(ngModel)]="auditServiceAccess.userPrincipal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.auditServiceAccess.remoteUser" for="field_remoteUser">Remote User</label>
            <input type="text" class="form-control" name="remoteUser" id="field_remoteUser"
                [(ngModel)]="auditServiceAccess.remoteUser"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="sccmApp.auditServiceAccess.query" for="field_query">Query</label>
            <input type="text" class="form-control" name="query" id="field_query"
                [(ngModel)]="auditServiceAccess.query"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
