
<div *ngIf="auditServiceAccess">
    <h2><span jhiTranslate="sccmApp.auditServiceAccess.detail.title">Audit Service Access</span> {{auditServiceAccess.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sccmApp.auditServiceAccess.timestamp">Timestamp</span></dt>
        <dd>
            <span>{{auditServiceAccess.timestamp | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.auditServiceAccess.method">Method</span></dt>
        <dd>
            <span>{{auditServiceAccess.method}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.auditServiceAccess.path">Path</span></dt>
        <dd>
            <span>{{auditServiceAccess.path}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.auditServiceAccess.remoteAddress">Remote Address</span></dt>
        <dd>
            <span>{{auditServiceAccess.remoteAddress}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.auditServiceAccess.timeTaken">Time Taken</span></dt>
        <dd>
            <span>{{auditServiceAccess.timeTaken}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.auditServiceAccess.userPrincipal">User Principal</span></dt>
        <dd>
            <span>{{auditServiceAccess.userPrincipal}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.auditServiceAccess.remoteUser">Remote User</span></dt>
        <dd>
            <span>{{auditServiceAccess.remoteUser}}</span>
        </dd>
        <dt><span jhiTranslate="sccmApp.auditServiceAccess.query">Query</span></dt>
        <dd>
            <span>{{auditServiceAccess.query}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'audit-service-access/'+ auditServiceAccess.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
