<div>
    <h2>
        <span jhiTranslate="sccmApp.rut_temp.home.title">Rut Temps</span>
        <button class="btn btn-primary float-right jh-create-entity create-rut-temp" [routerLink]="['/', { outlets: { popup: ['rut-temp-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="sccmApp.rut_temp.home.createLabel">
            Create new Rut Temp
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="rut_temps">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sccmApp.rut_temp.rut">Rut</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rut_temp of rut_temps ;trackBy: trackId">
                <td><a [routerLink]="['../rut-temp', rut_temp.id ]">{{rut_temp.id}}</a></td>
                <td>{{rut_temp.rut}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../rut-temp', rut_temp.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rut-temp/'+ rut_temp.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rut-temp/'+ rut_temp.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
